.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.ui-datatable.borderless thead th {
    background-color: #8794fb !important
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-even {
    background-color: white;
    border-bottom: 2px #f7f7f7 solid;
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-odd {
    border-bottom: 2px #f7f7f7 solid;
}

.ui-datatable .ui-datatable-thead>tr>th {
    background-color: #8794fb !important;
}

body .ui-datatable thead th.ui-state-active {
    background-color: #8794fb !important;
    border-color: #8794fb !important;
    color: black;
}

body .ui-datatable thead th.ui-state-active :hover {
    background-color: #8794fb !important;
    border-color: #8794fb !important;
    color: white;
}

body .ui-datatable .ui-datatable-thead>tr>th,
body .ui-datatable .ui-datatable-tfoot>tr>td {
    background-color: #ffffff;
    padding: .75em;
    border-color: #c7c7c7;
    color: white;
}

body .ui-paginator .ui-paginator-first,
body .ui-paginator .ui-paginator-prev,
body .ui-paginator .ui-paginator-next,
body .ui-paginator .ui-paginator-last {
    color: black;
    transition: background-color 0.3s;
    min-height: 0.875em;
    min-width: 2em;
    padding: 0.5em 0.5em;
    vertical-align: top;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page:hover.ui-state-active {
    background-color: #8794fb;
}

body .ui-state-active,
body .ui-state-highlight {
    background-color: #8794fb;
    color: #ffffff;
}

body .ui-datatable .ui-paginator {
    padding: 0;
    border: none;
    margin-top: 10px;
}

.upload_div {
    display: inline-block;
    height: 250px;
    width: 100%;
    border: 2px solid #d2d2da;
    background-color: white;
    border-style: dashed;
}

body .ui-widget-header {
    padding: 10px;
    border: none;
}

.ui-datatable tbody td,
.ui-datatable thead th {
    word-wrap: break-word;
}

.m-widget3 .m-widget3__item .m-widget3__header .m-widget3__user-img .m-widget3__img {
    width: 5.2rem;
    border-radius: 100%;
    height: 5.2rem;
}

.m-widget3 .m-widget3__item .m-widget3__header {
    display: table;
    margin-top: 0.4rem;
}

body .ui-datatable .ui-datatable-data tr td.ui-editable-column input {
    width: 50%;
    box-sizing: border-box;
    border: 0 none;
    border-radius: 0;
}

.ui-dropdown-label .ui-dropdown-trigger .ui-state-default .ui-corner-right .fa .fa-fw .fa-caret-down:hover {
    background: white !important;
}

.ui-dropdown-label {
    background: white !important;
}

.ng-tns-c1-0 .ui-dropdown .ui-widget .ui-state-default .ui-corner-all .ui-helper-clearfix{
    width: 150%!important;
}

body .ui-state-highlight {
    background-color: white!important;
    color: #575962!important;
    border-style: none;
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
    border-color: #F7F7F7!important;
}

ul.progress-tracker {
    display: table;
    width: 100%;
    padding: 0;
    li {
        display: table-cell;
        text-align: center;
        position: relative;
        .step {
            width: 30px;
            height: 30px;
            margin: 0 auto;
            text-align: center;
            background-color: gray;
            border-radius: 30px;
            line-height: 30px;
            position: relative;
            z-index: 1;
        }
        .label {
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 10px;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            background-color: #efefef;
            height: 5px;
            left: 0;
            top: 10px;
        }
    }
}

.label.arrowed-in-right,
.label.arrowed-right {
    position: relative;
    z-index: 1;
}

.label-success,
.label.label-success {
    background-color: #82AF6F;
}

body .ui-corner-all {
    border-radius: 0em !important;
}



  .ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em .75em;
    background: none;
    overflow: auto;
    overflow-x: hidden !important;
    zoom: 1;
}

.ui-dialog-content .ui-widget-content{
    height:auto!important;
}

.back-test-image{    
    width: 200px;
    height: 200px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    // border: solid 1px;
    background-position: center !important;
    /* margin: auto; */
    border-color: gray;
    margin-bottom: 5px;
    border-style: double;
}

