<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                        <i class="flaticon-file-1"></i>
                                    </span>
                            <h3 class="m-portlet__head-text">
                                {{displayName}}
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                Button
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    Data
                </div>
            </div>

        </div>
    </div>
</div>