<p-growl [(value)]="msgs">
</p-growl>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
                            <i class="la la-cloud-upload"></i>
                        </span> -->
                    <h3 class="m-portlet__head-text" style="font-weight:400!important">
                        <span *ngIf="showPython">{{"UPLOAD PYTHON FILE" | translate}}</span>
                        <span *ngIf="showFirmware">{{"UPLOAD FIRMWARE FILE" | translate}}</span>
                        <small style="text-transform: none;" *ngIf="showPython">{{"UPLOAD PYTHON FILE FOR HUB" | translate}}</small>
                        <small style="text-transform: none;" *ngIf="showFirmware">{{"UPLOAD FIRMWARE FILE FOR HUB" | translate}}</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="col-sm-12">

                <div class="alert alert-success alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert" *ngIf="msgSucess">
                    <strong>
                            {{"FILE UPLOADED SUCCESSFULLY" | translate}}            
                        </strong>
                </div>
                <div class="alert alert-danger alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert" *ngIf="errorMsg">
                    <strong>
                           {{"FILE ALREADY EXISTS SO PLEASE CHECK THE ASSIGNED LIST" | translate}}     
                        </strong>
                </div>


            </div>
            <ul class="nav nav-tabs  m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                <li class="nav-item m-tabs__item" id="python_tab" (click)="tabClick('unassigned')">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_3" role="tab" aria-expanded="false">
                        <!-- <i aria-hidden="true" class="fa fa-arrow-up"></i>  -->
                        {{"UNASSIGNED FILE" | translate}}
                    </a>
                </li>
                <li class="nav-item m-tabs__item" id="firmware_tab" (click)="tabClick('assigned')">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_1" role="tab" aria-expanded="true">
                        <!-- <i aria-hidden="true" class="fa fa-arrow-down"></i>  -->
                        {{"ASSIGNED FILE" | translate}}
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="m_tabs_6_1" role="tabpanel" aria-expanded="true">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12" id="firmware_list">
                            <div style="overflow:auto">
                                <p-dataTable [value]="uploadedList" styleClass="borderless" [globalFilter]="gb" #dt>
                                    <p-column [style]="{'width':'35px'}" styleClass="text-center" header="S.No">
                                        <ng-template let-index="rowIndex" pTemplate="body">
                                            <div style="text-align : center;">
                                                <b>
                                                    <span>{{((pageNo -1) * 10) + (index+1)}}</span>
                                                </b>
                                            </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="filename" [style]="{'width':'100px'}" [sortable]="true" styleClass="text-left" [header]="'FILE NAME'|translate">
                                        <ng-template let-file="rowData" pTemplate="body">
                                            <div style="text-align : left;">
                                                <b> <span>{{file.filename}}</span></b>
                                            </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="updateTime" [style]="{'width':'90px'}" [sortable]="true" styleClass="text-left" [header]="'UPLOADED DATE'|translate">
                                        <ng-template let-file="rowData" pTemplate="body">
                                            <div style="text-align : left;">
                                                <b>
                                                                <i class="fa fa-calendar"> {{file.updateTime | date:'yMd'}}</i>
                                                                <br/>
                                                                <i class="fa fa-clock-o"> {{file.updateTime | date:'jm'}}</i>
                                                            </b>
                                            </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="devices" [style]="{'width':'70px'}" [sortable]="true" styleClass="text-left" [header]="'HUBS AFFECTED'|translate">
                                        <ng-template let-file="rowData" pTemplate="body">
                                            <div style="text-align : left;">
                                                <b>
                                                                            <span *ngIf="file.devices">{{file.devices.length}}</span>
                                                                            <span *ngIf="!file.devices">0</span>
                                                                        </b>
                                            </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column styleClass="text-left" [style]="{'width':'50px'}" [header]="'DEPLOYMENT'|translate">
                                        <ng-template let-file="rowData" pTemplate="body">
                                            <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" (click)="showDevice(file)">
                                                <i class="fa fa-eye" style="cursor:pointer;color:white"></i>
                                            </a>
                                        </ng-template>
                                    </p-column>
                                    <p-column styleClass="text-left" [style]="{'width':'50px'}" [header]="'ASSIGN'|translate">
                                        <ng-template let-file="rowData" pTemplate="body">
                                            <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only" (click)="redirectAssign(file)">
                                                <i class="flaticon-laptop" style="cursor:pointer;color:#fff"></i>
                                            </a>
                                        </ng-template>
                                    </p-column>
                                    <!-- <p-column styleClass="text-left" [style]="{'width':'50px'}" [header]="'UNASSIGN'|translate">
                                        <ng-template let-file="rowData" pTemplate="body">
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill edit-facility" (click)="redirectUnAssign(file)">
                                                <i class="flaticon-circle" style="cursor:pointer"></i>
                                            </a>
                                        </ng-template>
                                    </p-column> -->
                                    <!-- <p-column [style]="{'width':'70px'}" header="Multi-Assign">
                                        <ng-template let-file="rowData" pTemplate="body">
                                            <div style="text-align : center">
                                                <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                                                    <input id="file_select_{{file.id}}" type="checkbox" name="selected" [checked]="checkedFile" (change)="onFileSelected(file)">
                                                                    <span></span>
                                                                </label>
                                            </div>
                                        </ng-template>
                                    </p-column> -->
                                </p-dataTable>
                                <p-paginator rows="10" [totalRecords]="asCount" (onPageChange)="paginatePythonList($event)"></p-paginator>
                            </div>
                            <div class="pull-right" style="margin:12px">
                                {{"Total_Records" | translate}}: <b>{{asCount}} </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="m_tabs_6_3" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-sm-6">
                            <span *ngIf="showPython">{{"LIST OF UNASSIGNED PYTHON FILE. CLICK ASSIGN TO ASSIGN PYTHON FILE FOR THE PARTICULAR CUSTOMER/CENTER" |translate}}</span>
                            <span *ngIf="showFirmware">{{"LIST OF UNASSIGNED FIRMWARE FILE. CLICK ASSIGN TO ASSIGN FIRMWARE FILE FOR THE PARTICULAR CUSTOMER/CENTER" |translate}}</span>
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <a class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" href="" ng-reflect-href="" (click)="uploadActions()">
                                <span>
                                        <i class="fa fa-upload"></i>
                                        <span>
                                           {{"UPLOAD FILE"|translate}}
                                        </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div style="overflow:auto;margin-top:15px">
                        <p-dataTable [value]="unassignedList" styleClass="borderless" [globalFilter]="gb" #dt>
                            <p-column [style]="{'width':'35px'}" styleClass="text-center" header="S.No">
                                <ng-template let-index="rowIndex" pTemplate="body">
                                    <div style="text-align : center;">
                                        <b>
                                                    <span>{{((pageunNo -1) * 10) + (index+1)}}</span>
                                                </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="filename" [style]="{'width':'100px'}" [sortable]="true" styleClass="text-left" [header]="'FILE NAME'|translate">
                                <ng-template let-file="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b> <span>{{file.filename}}</span></b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="updateTime" [style]="{'width':'90px'}" [sortable]="true" styleClass="text-left" [header]="'UPLOADED DATE'|translate">
                                <ng-template let-file="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b>
                                                <i class="fa fa-calendar"> {{file.updateTime | date:'yMd'}}</i>
                                                <br/>
                                                <i class="fa fa-clock-o"> {{file.updateTime | date:'jm'}}</i>
                                            </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <!-- <p-column field="deviceId" [style]="{'width':'70px'}" [sortable]="true" styleClass="text-left" header="Hubs Affected">
                                <ng-template let-file="rowData" pTemplate="body">
                                    <div style="text-align : center;">
                                        <b>
                                                            <span *ngIf="file.deviceId">{{file.deviceId.length}}</span>
                                                            <span *ngIf="!file.deviceId">0</span>
                                                        </b>
                                    </div>
                                </ng-template>
                            </p-column> -->
                            <p-column styleClass="text-left" [style]="{'width':'50px'}" [header]="'ASSIGN'|translate">
                                <ng-template let-file="rowData" pTemplate="body">
                                    <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only" href="#" ng-reflect-href="#" (click)="redirectAssign(file)">
                                        <i class="flaticon-laptop" style="cursor:pointer"></i>
                                    </a>
                                </ng-template>
                            </p-column>
                            <!-- <p-column [style]="{'width':'70px'}" header="Multi-Assign">
                                <ng-template let-file="rowData" pTemplate="body">
                                    <div style="text-align : center">
                                        <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                                    <input id="file_select_{{file.id}}" type="checkbox" name="selected" [checked]="checkedFile" (change)="onFileSelected(file)">
                                                    <span></span>
                                                </label>
                                    </div>
                                </ng-template>
                            </p-column> -->
                        </p-dataTable>
                        <p-paginator rows="10" [totalRecords]="unCount" (onPageChange)="paginateUnPythonList($event)"></p-paginator>
                    </div>
                    <div class="pull-right">
                        {{"Total_Records"|translate}}: <b>{{unCount}} </b>
                    </div>
                </div>
            </div>


            <p-dialog modal="modal" [draggable]="false" [(visible)]="displayUploadModal" [width]="500" [closable]="false">
                <p-header>
                    {{"UPLOAD FILE" | translate}}
                    <div class="pull-right">
                        <i style='color:red;cursor:pointer;font-size:2.0rem;margin-top:-20px' data-dismiss="modal" class="la la-remove" (click)="closeModal()"></i>
                    </div>
                </p-header>
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__body">
                        <div class="alert alert-danger alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert" *ngIf="firmwareAlert">
                            {{"UPLOAD ONLY FIRMWARE FILE" | translate}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert" *ngIf="pyAlert">
                            {{"UPLOAD ONLY PYTHON FILE" | translate}}
                        </div>
                        <div class="alert alert-warning alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert" *ngIf="fileWarning">
                            {{"CHOOSE ONE FILE THEN TRY TO UPLOAD" | translate}}
                        </div>

                        <ul class="progress-tracker">
                            <li class="complete">
                                <div class="step" id="step_one">
                                    <i class=" la la-check-square-o" style="color:white"></i>
                                </div>
                                <div class="label">{{"CHECKSUM" | translate}}</div>
                            </li>
                            <li class="complete">
                                <div class="step" id="step_two">
                                    <i class=" la la-upload" style="color:white"></i>
                                </div>
                                <div class="label">{{"UPLOAD" | translate}}</div>
                            </li>
                        </ul>
                        <br/><br/>
                        <div class="col-lg-12" id="checksum_id">

                            <label class="col-lg-12 col-form-label">
                                            {{"CHECKSUM FOR FILE" | translate}} *
                                         </label>
                            <div class="col-lg-12">
                                <textarea class="form-control m-input" rows="3" [(ngModel)]="checksum" autocomplete="off" (keyup)="check($event)" (keypress)="charCheck($event)" (change)="checkLength(checksum)"></textarea>
                                <span *ngIf="errorCheck" class="text-danger">{{"ENTER CHECKSUM WITH 32 CHARACTER" | translate}}</span>
                                <span *ngIf="lengthCheck" class="text-danger">{{"ENTER VALID 32 CHARACTER" | translate}}</span>
                            </div>

                            <br/><br/>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-8"></div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-primary" [disabled]="errorCheck || lengthCheck || !checksum" type="button" (click)="nextTab()">
                                    <i class="la la-chevron-circle-right"></i>
                                        {{"NEXT" |translate}}
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="drag_drop" style="display:none">
                            <ng4-files-drop (filesSelect)="filesSelect($event)" style="width: 100%;text-align: center;">
                                <div class="upload_div" style="cursor:pointer">
                                    <ng4-files-click (filesSelect)="filesSelect($event)" style="width: 100%;cursor:pointer">
                                        <div style="padding: 80px;cursor:pointer" *ngIf="!fileName">
                                            <img src="./assets/app/media/img/files/cloud-upload.svg" alt="upload img" height="60px">
                                            <br/>
                                            <b><span>Drag file here</span><br/>
                                               <span>OR</span> <br/>
                                               <span>Select a file from your computer</span>
                                            </b>
                                        </div>
                                        <div style="padding: 80px;cursor:pointer" *ngIf="fileName">
                                            <img alt="" height="60px" src="./assets/app/media/img/files/doc.svg"><br/>
                                            <span class="m--font-boldest">{{fileName}}</span>
                                        </div>
                                    </ng4-files-click>
                                </div>
                            </ng4-files-drop>
                            <br/><br/>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <button class="btn btn-primary" type="button" (click)="preTab()">
                                    <i class="la la-chevron-circle-left"></i>
                                            Previous
                                    </button>
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-accent m-btn m-btn--custom m-btn--icon" [disabled]="firmwareAlert || pyAlert" href="" ng-reflect-href="" (click)="uploadCheck()">
                                       <i class="fa fa-upload"></i>                               
                                       Upload                               
                                   </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </p-dialog>
        </div>