<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
						<i class="flaticon-pie-chart"></i>
					</span> -->
                    <h3 class="m-portlet__head-text" style="font-weight:400!important">
                        {{"PATIENTS_STATISTICS_REPORT" | translate}}
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item" *ngIf="userType && userType == 'Admin'">
                                <!-- <div class="input-group m-input-group" *ngIf="facilities">
                                    <span class="input-group-addon" id="basic-addon1">
                                        {{"CUSTOMER" | translate}}
                                    </span>
                                    <select aria-describedby="basic-addon1" name="organisationId" id="select_facility_filter" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
                                        <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                                    </select>
                                </div>                         -->
                                <app-fac-dropdown [id]="'patient-chart-customer'" [value]="chosen" (selected)="facilityChange($event)"></app-fac-dropdown>
                                
                            </li>
                            <li class="m-portlet__nav-item">
                                <div class="input-group m-input-group" *ngIf="centers">
                                    <span class="input-group-addon" id="basic-addon2">
                                                    {{"CENTER" | translate}}
                                                </span>
                                    <select aria-describedby="basic-addon2" id="select_center_filter" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" #centerId="ngModel">
                                        <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                    </select>
                                </div>
                            </li>                           
                            <li class="m-portlet__nav-item" *ngIf="hideFilter">
                                <a class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--pill" style="color: #fff;" (click)="filterReports()">
                                    <span>
                                        <span>
                                            {{"FILTER" | translate}}
                                        </span>
                                    </span>
                                </a>
                            </li>                         
                    </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Patient_Statistics_(Age)"|translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="text-transform:uppercase;padding-top:0px">
                    <app-amchartcomponent *ngIf="ageList.length!=0" [data]="ageList" [id]="'pie_chart_age_statistics'" [title]="'Age Stats'"  [category]="age" [height]="400" [type]="'pie'"></app-amchartcomponent>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Patient_Statistics_(Gender)"|translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="text-transform:uppercase;padding-top:0px">
                    <app-amchartcomponent *ngIf="genderArray.length!=0" [data]="genderArray" [id]="'pie_chart_gender_statistics'" [title]="'gender Stats'" [category]="gender" [height]="400" [type]="'pie'"></app-amchartcomponent>
                </div>
            </div>
        </div>
    </div>
</div>