<div class="m-content">
    <div class="col-lg-12">
        <div class="m-portlet">
            <div class="m-portlet__head" style="padding-left:0px">
                <span class="side-line-header"></span>
                <div class="m-portlet__head-caption" style="padding-left:20px">
                    <div class="m-portlet__head-title">
                        <!-- <span class="m-portlet__head-icon">
                                <img alt=""  class="m-widget3__img" height="50px" width="50px" src="./assets/app/media/img/users/device.jpeg">
                        </span> -->
                        <h3 class="m-portlet__head-text" *ngIf="device.serialNumber">
                            <span> {{device.serialNumber}}</span><br/>
                            <small class="no-cap" style="margin-top:5px">
                               <span *ngIf="device.deviceType">{{device.deviceType}}</span>                               
                            </small>
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <a id="facility_detail_list" routerLink="/devices/list" class="m-link m-link--state m-link--focus m--font-boldest">
                        <span>
                                        <i class="flaticon-laptop"></i>
                                        <span>
                                            {{"HUB_LIST" | translate}}
                                        </span>
                        </span>
                    </a>
                    <a id="facility_detail_edit" *ngIf="!hideEdit" class="m-link m-link--state m-link--success m--font-boldest" style="margin-left:10px" [routerLink]="['/devices/update']" [queryParams]="{deviceId: device.id}">
                        <span>
                            <i class="flaticon-edit-1"></i>
                            <span>
                                {{'Hub Edit' | translate}}
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <form class="m-form m-form--fit" style="padding-top:20px">
                <div class="m-portlet__body">                       
                    <div class="col-lg-12" style="text-align:center">
                            <span class="label label-lg label-success arrowed-in arrowed-in-right" style="background-color:#34bfa3" *ngIf="device.assignmentStatus == 'ASSIGNED'">
                              {{device.assignmentStatus | translate}}
                            </span>
                            <span class="label label-lg label-pink arrowed-in arrowed-in-right" *ngIf="device.assignmentStatus == 'UNASSIGNED'">
                                     {{device.assignmentStatus | translate}} 
                            </span>                        
                       
                    </div>
                        
                    <div class="form-group m-form__group row">
                        <div class="col-10">
                            <h3 class="m-form__section m--font-info">
                                <i class="flaticon-laptop"></i> {{'Hub_Details' | translate}}
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-12">                       
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                        {{'CUSTOMER_NAME' | translate}}
                                         </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-5 col-form-label">
                                                    <span *ngIf="facilty">{{facilty.name}}({{facilty.organizationCode}})</span>
                                                    <span *ngIf="!facilty">{{"NA" | translate}}</span>                          
                                            </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                           {{'CENTER_NAME' | translate}}
                                             </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-5 col-form-label">
                                            <span *ngIf="center">{{center.name}}({{center.centerCode}})</span>
                                            <span *ngIf="!center">{{"NA" | translate}}</span>                          
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                            {{'Activation Date' | translate}}
                                             </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-5 col-form-label">
                                        <span *ngIf="device.activationDate">{{device.activationDate  | date : 'dd-MM-y'}} ({{device.activationDate  | date :'h:mm:ss a'}})</span>
                                        <span *ngIf="!device.activationDate">N/A</span>                          
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                               {{'Hub Status' | translate}}
                                                 </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-5 col-form-label">
                                                <span *ngIf="device.deviceStatus== 'ACTIVE'">
                                                        <span class="m-badge m-badge--success m-badge--wide">
                                                                {{'ACTIVE' | translate}}
                                                        </span>   
                                                </span>
                                                <span *ngIf="device.deviceStatus=='INACTIVE'">
                                                        <span class="m-badge m-badge--danger m-badge--wide">
                                                                {{'Deactive' | translate}}
                                                        </span>
                                                </span>                          
                                        </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                    <div class="form-group m-form__group row">
                        <div class="col-10">
                            <h3 class="m-form__section m--font-info">
                                <i class="fa fa-upload"></i> {{'Uploaded file details' | translate}}
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                                    {{'PYTHON VERSION' | translate}} 
                                            </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-6 col-form-label">
                                                <span *ngIf="device.urtTestScriptVersion">
                                                    {{device.urtTestScriptVersion}}<br/>
                                                    <span *ngIf="device.pythonDownloadTime"> ({{device.pythonDownloadTime | date : 'dd-MM-y'}} - {{device.pythonDownloadTime | date : 'HH:mm'}} )</span>
                                                     
                                                </span>
                                                <span *ngIf="!device.urtTestScriptVersion">{{'No Data' | translate}}</span>
                                            </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                            {{"FIRMWARE VERSION" | translate}}
                                                </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-6 col-form-label">
                                                    <span *ngIf="device.firmwareVersionId">{{device.firmwareVersionId}}<br/>
                                                            <span *ngIf="device.firmwareDownloadTime"> ({{device.firmwareDownloadTime | date : 'dd-MM-y'}} - {{device.firmwareDownloadTime | date : 'HH:mm'}} )</span>
                                                    </span>
                                                    <span *ngIf="!device.firmwareVersionId">{{'No Data' | translate}}</span>                          
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                    <div class="form-group m-form__group row">
                        <div class="col-10">
                            <h3 class="m-form__section m--font-info">
                                <i class="flaticon-file-1"></i> {{'Lookup file details' | translate}}
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                                        {{'RDT lookup file' | translate}}
                                            </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-6 col-form-label">
                                                        <span *ngIf="device.rdtLookupFile">{{device.rdtLookupFile}}</span>
                                                        <span *ngIf="!device.rdtLookupFile">{{"Default RDT lookup file" | translate}}</span>                          
                                                </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                                    {{"Urine lookup file" | translate}}
                                            </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-6 col-form-label">
                                        <span *ngIf="device.urineLookupFile">{{device.urineLookupFile}}</span>
                                        <span *ngIf="!device.urineLookupFile">{{"Default Urine lookup file" | translate}}</span>                          
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                    <div class="form-group m-form__group row">
                        <div class="col-10">
                            <h3 class="m-form__section m--font-info">
                                <i class="flaticon-cogwheel-2"></i> {{"Introspection_Data" |translate}}
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                            {{"Introspection updated time"|translate}}
                                    </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-5 col-form-label" *ngIf="device.introspectionUpdateTime">
                                        <span> {{device.introspectionUpdateTime | date : 'dd-MM-y'}}</span>
                                        <span> ({{device.introspectionUpdateTime | date :'h:mm:ss a'}})</span>
                                    </label>
                                    <label class="col-5 col-form-label" *ngIf="!device.introspectionUpdateTime">
                                            <span> NA</span>                                           
                                    </label>
                                </div>                                
                                    
                            </div>
                            <div class="col-lg-6"></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                            {{"Blood_Pressure_module"|translate}}
                                 </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-5 col-form-label">
                                            <span *ngIf="device.bloodPressureIntro == 'ACTIVE'">
                                                    <span class="m-badge m-badge--success m-badge--wide">
                                                            {{"ACTIVE"|translate}}
                                                        </span>
                                            </span>
                                            <span *ngIf="device.bloodPressureIntro == 'INACTIVE'">
                                                <span class="m-badge m-badge--danger m-badge--wide">
                                                        {{"INACTIVE"|translate}}
                                                    </span>
                                        </span>
                                            <span *ngIf="!device.bloodPressureIntro">
                                                    <span class="m-badge m-badge--warning m-badge--wide">
                                                            {{"NA"|translate}}
                                                     </span>
                                            </span>                          
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                              {{"Pulse_Oximeter_module"|translate}}  
                                </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-6 col-form-label">
                                        <span *ngIf="device.pulseOxIntro == 'ACTIVE'">
                                                <span class="m-badge m-badge--success m-badge--wide">
                                                        {{"ACTIVE"|translate}}
                                                    </span>
                                        </span>
                                        <span *ngIf="device.pulseOxIntro == 'INACTIVE'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                    {{"INACTIVE"|translate}}
                                                </span>
                                        </span>
                                        <span *ngIf="!device.pulseOxIntro">
                                                <span class="m-badge m-badge--warning m-badge--wide">
                                                        {{"NA"|translate}}
                                                    </span>
                                        </span>                          
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                            {{"Blood_glucose_module" | translate}}
                                    </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-5 col-form-label">
                                                <span *ngIf="device.glucometerIntro == 'ACTIVE'">
                                                        <span class="m-badge m-badge--success m-badge--wide">
                                                                {{"ACTIVE"|translate}}
                                                            </span>
                                                </span>
                                                <span *ngIf="device.glucometerIntro == 'INACTIVE'">
                                                    <span class="m-badge m-badge--danger m-badge--wide">
                                                            {{"INACTIVE"|translate}}
                                                        </span>
                                                </span>
                                                <span *ngIf="!device.glucometerIntro">   
                                                    <span class="m-badge m-badge--warning m-badge--wide">
                                                            {{"NA"|translate}}
                                                 </span></span>                          
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                            {{"Hemoglobin_module"|translate}}
                                            </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-6 col-form-label">
                                        <span *ngIf="device.hbIntro == 'ACTIVE'">
                                                <span class="m-badge m-badge--success m-badge--wide">
                                                        {{"ACTIVE"|translate}}
                                                    </span>
                                        </span>
                                        <span *ngIf="device.hbIntro == 'INACTIVE'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                    {{"INACTIVE"|translate}}
                                                </span>
                                        </span>
                                        <span *ngIf="!device.hbIntro">
                                                <span class="m-badge m-badge--warning m-badge--wide">
                                                        {{"NA"|translate}}
                                                 </span>
                                        </span>                          
                                        </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                            {{"Cholestrol/Uric_acid_module"|translate}}
                                        </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-5 col-form-label">
                                        <span *ngIf="device.cholUaIntro == 'ACTIVE'">
                                                <span class="m-badge m-badge--success m-badge--wide">
                                                        {{"ACTIVE"|translate}}
                                                    </span>
                                        </span>
                                        <span *ngIf="device.cholUaIntro == 'INACTIVE'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                    {{"INACTIVE"|translate}}
                                                </span>
                                        </span>
                                        <span *ngIf="!device.cholUaIntro">
                                                <span class="m-badge m-badge--warning m-badge--wide">
                                                        {{"NA"|translate}}
                                                    </span>
                                        </span>                          
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label" for="example-text-input">
                                                {{"Urtcamera_module"|translate}}
                                        </label>
                                    <label class="col-1 col-form-label">:</label>
                                    <label class="col-6 col-form-label">
                                        <span *ngIf="device.urtCam1Intro == 'ACTIVE'">
                                                <span class="m-badge m-badge--success m-badge--wide">
                                                        {{"ACTIVE"|translate}}
                                                    </span>
                                        </span>
                                        <span *ngIf="device.urtCam1Intro == 'INACTIVE'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                    {{"INACTIVE"|translate}}
                                                </span>
                                        </span>
                                        <span *ngIf="!device.urtCam1Intro">
                                                <span class="m-badge m-badge--warning m-badge--wide">
                                                        {{"NA"|translate}}
                                                    </span>
                                        </span>                          
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" *ngIf="device.deviceType == 'HC PRO'|| device.deviceType == 'HC XL'">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-5 col-form-label" for="example-text-input">
                                                {{"ECG module" | translate}}
                                            </label>
                                        <label class="col-1 col-form-label">:</label>
                                        <label class="col-5 col-form-label">
                                            <span *ngIf="device.ecgIntro == 'ACTIVE'">
                                                    <span class="m-badge m-badge--success m-badge--wide">
                                                            {{"ACTIVE"|translate}}
                                                        </span>
                                            </span>
                                            <span *ngIf="device.ecgIntro == 'INACTIVE'">
                                                <span class="m-badge m-badge--danger m-badge--wide">
                                                        {{"INACTIVE"|translate}}
                                                    </span>
                                            </span>
                                            <span *ngIf="!device.ecgIntro">
                                                    <span class="m-badge m-badge--warning m-badge--wide">
                                                            {{"NA"|translate}}
                                                    </span>
                                            </span>                          
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>