<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
                            <i class="flaticon-placeholder-1"></i>
                        </span> -->
                    <h3 class="m-portlet__head-text" style="font-weight:400!important">
                        {{"CUSTOMER_LIST" | translate}}
                        <small style="text-transform: none;">{{"LIST_OF_CUSTOMER" | translate}}. {{"SEARCH" | translate}}, {{"SORT_AND_CLICK_ON" | translate}}
                                <i class="la la-pencil"></i> {{"TO_EDIT_IT" | translate}}. </small>
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-20" style="padding-left: 20px;">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label" for="example-text-input" style="text-align:left">
                                       {{'Search by Name' | translate}}
                                        <br/><span class="hintText">({{"MIN_3_CHARACTER" | translate}})</span>
                                </label>
                            <div class="col-4">
                                <div class="m-input-icon m-input-icon--left form-group">
                                    <input type="text" class="form-control m-input m-input--solid m-input m-input--pill" [(ngModel)]="searchValue" [placeholder]="'SEARCH' | translate" id="m_form_search" (keyup)="pageOne('customer');searchCustomer($event)">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>

                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                                            <span style="border:none;background: transparent" (click)="searchValue='';pageOne('list');list();" [title]="'CLEAR_FILTER' | translate">
                                                                <i style='color:red' class="la la-remove"></i>
                                                            </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a id="facility_add" routerLink="/facilities/add" class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" *ngIf="canAddFacility">
                            <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        {{"NEW_CUSTOMER" | translate}}
                                    </span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="table-responsive" id="local_data">
                  

                <p-dataTable [value]="facilities" styleClass="borderless" [globalFilter]="gb" #dt [responsive]="true">
                    <p-column [style]="{'width':'100px'}" styleClass="text-center" [header]="'S.No' | translate">
                        <ng-template let-index="rowIndex" pTemplate="body">

                            <b>
                                        <span>{{((pageNo -1) * pageSize) + (index+1)}}</span>
                                    </b>
                        </ng-template>
                    </p-column>
                    <p-column field="logo" [style]="{'width':'100px'}" styleClass="text-left" [header]="'Logo' | translate">
                        <ng-template let-facility="rowData" pTemplate="body">
                            <span style="text-align : left;">
                                    <i class="flaticon-placeholder-1" *ngIf="!facility.logo"></i>
                                    <img alt="" *ngIf="facility.logo" class="m-widget3__img" height="30px" width="30px" style="border-radius: 50%;" [src]="facility.logo">
                                </span>
                        </ng-template>
                    </p-column>
                    <p-column field="name" [sortable]="true" styleClass="text-left" [header]="'NAME' | translate">
                        <ng-template let-facility="rowData" pTemplate="body">
                            <div style="word-break: break-all;text-align : left;">
                                <b> {{facility.name}}</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column field="email" styleClass="text-left" [header]="'EMAIL' | translate">
                        <ng-template let-facility="rowData" pTemplate="body">
                            <div style="word-break: break-all;text-align : left;">
                                <b> {{facility.email}}</b>
                            </div>
                        </ng-template>
                    </p-column>

                    <p-column field="type" styleClass="text-left" [header]="'CUSTOMER_TYPE' | translate">
                        <ng-template let-facility="rowData" pTemplate="body">
                            <span>
                                    <b>
                                        <span>{{facility.type | translate}}</span>
                            </b>
                            </span>
                        </ng-template>

                    </p-column>
                    <p-column styleClass="text-left" [header]="'ACTIONS' | translate">
                        <ng-template let-facility="rowData" pTemplate="body">
                            <span style="text-align : center;">
                                    <span>
                                        <a (click)="facilityViewPublicFunc(facility.organizationCode)" class="btn btn-success m-btn m-btn--icon m-btn--icon-only"  [title]="'VIEW' | translate">
                                            <i class="la la-eye" style="color:#fff"></i>
                                        </a>
                                        <a (click)="facilityUpdatePublicFunc(facility.organizationCode)" *ngIf="canAddFacility" class="btn btn-info m-btn m-btn--icon m-btn--icon-only" [title]="'EDIT' | translate">
                                            <i class="la la-pencil" style="color:#fff"></i>
                                        </a>
                                    </span>
                            </span>
                        </ng-template>

                    </p-column>
                </p-dataTable>
                <div class="col-sm-12 text-right" style="margin:12px">
                    {{"Total_Records"|translate}}: <b>{{facilityCount}} </b>
                </div>

                
                <div class="col-sm-12" *ngIf="visiblepagination">
                    <p-paginator [rows]="row" *ngIf="facilityCount !== '0'" [rowsPerPageOptions]="[10,25,50,100]" [totalRecords]="facilityCount" (onPageChange)="paginate($event)"></p-paginator>

                    <!-- <div class="drop" style="margin-top: -45px; margin-left: 120px;">
                        <label for="m_sorthby">{{"ITEMS_PER_PAGE" | translate}}</label>
                        <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>

                    </div> -->
                </div>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>