<div class="m-content">
    <div class="m-portlet m-portlet--mobile" style="margin-bottom:1rem!important">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
                        <i class="fa fa-filter"></i>
                    </span> -->
                    <h3 class="m-portlet__head-text">
                        {{"MY_FILTER" | translate}}
                        <!-- <small>List of users. Search, Sort and click on <i class="la la-pencil"></i> to edit it. </small> -->
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="userType && userType == 'Admin'">
                        <!-- <div class="input-group m-input-group" *ngIf="facilities">
                            <span class="input-group-addon" id="basic-addon1">
                                {{"CUSTOMER" | translate}}
                            </span>
                            <select aria-describedby="basic-addon1" name="organisationId" id="select_facility_filter" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
                                <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                            </select>
                        </div> -->
                        <app-fac-dropdown [id]="'filter-customer'" [value]="chosen" (selected)="facilityChange($event)"></app-fac-dropdown>
                    </li>
                    <li class="m-portlet__nav-item">
                        <div class="input-group m-input-group" *ngIf="centers">
                            <span class="input-group-addon" id="basic-addon2">
                                            {{"CENTER" | translate}}
                                        </span>
                            <select aria-describedby="basic-addon2" id="select_center_filter" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" #centerId="ngModel">
                                <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                            </select>
                        </div>
                    </li>
                    <li class="m-portlet__nav-item">
                        <div class="m-subheader" style="padding:0px;">
                            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                                        <span class="m-subheader__daterange-label">
                                        <span class="m-subheader__daterange-title"></span>
                            <span class="m-subheader__daterange-date m--font-brand"></span>
                            </span>
                            <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                <i class="la la-angle-down"></i>
                            </a>
                            </span>
                        </div>
                    </li>
                    <li class="m-portlet__nav-item">
                        <button class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"  (click)="filterReports()" [disabled]="!something">
                            <span>
                                <span>
                                    {{"APPLY" | translate}}
                                </span>
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-sm-12" style="padding-left:0px;padding-right:0px">
        <div class="row">
            <div class="col-xl-3 col-sm-6" *ngIf="userType !='User'">
                <div class="m-portlet  m-portlet--bordered-semi m-portlet--count-card" (click)="onDeviceCountClick()" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="padding-left: 0px;height:calc(100% - 2.2rem)">
                        <span class="side-line-small"></span>
                        <div class="m-portlet__head-caption" style="padding: 20px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"HUBS" | translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <div class="m-widget7">
                            <div class="m-widget7__user">
                                <div class="m-widget7__user-img">
                                    <img src="./assets/app/media/img/dashboard/hub.png" class="responsive-small" alt="" />
                                </div>
                                <div class="m-widget7__info">
                                    <span class="m-widget7__username">
                                            <span class="m-widget1__number num-css" *ngIf="deviceCount">
                                            {{deviceCount}}
                                            </span>
                                    <span class="m-widget1__number num-css" *ngIf="!deviceCount">
                                                <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                            </span>
                                    </span>
                                </div>
                            </div>
                            <div class="grad-title">
                                {{"ENROLLED_HUBS" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" [ngClass]="{'col-xl-3' : userType !='User','col-xl-4' : userType =='User'}" >
                <div class="m-portlet m-portlet--bordered-semi m-portlet--count-card" id="patient_filter" (click)="onPatientCountClick()" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="padding-left: 0px;height:calc(100% - 2.2rem)">
                        <span class="side-line-small"></span>
                        <div class="m-portlet__head-caption" style="padding: 20px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"PATIENTS" | translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget7">
                            <div class="m-widget7__user">
                                <div class="m-widget7__user-img">
                                    <img src="./assets/app/media/img/dashboard/patient.png" style="max-width:82px" class="responsive-small" alt="" />
                                </div>
                                <div class="m-widget7__info">
                                    <span class="m-widget7__username">
                                            <span class="m-widget1__number num-css" *ngIf="patientCount || patientCount === 0">
                                            {{patientCount}}
                                            </span>
                                    <span class="m-widget1__number num-css" *ngIf="!patientCount && patientCount !== 0">
                                                <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                            </span>
                                    </span>
                                </div>
                            </div>
                            <div class="grad-title">
                                {{"ENROLLED_PATIENTS" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" [ngClass]="{'col-xl-3' : userType !='User','col-xl-4' : userType =='User'}">
                <div class="m-portlet m-portlet--bordered-semi  m-portlet--count-card" (click)="onTestCountClick()" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="padding-left: 0px;height:calc(100% - 2.2rem)">
                        <span class="side-line-small"></span>
                        <div class="m-portlet__head-caption" style="padding: 20px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"DIAGNOSTICS" | translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <div class="m-widget7">
                            <div class="m-widget7__user">
                                <div class="m-widget7__user-img">
                                    <img src="./assets/app/media/img/dashboard/diagnostics.png" class="responsive-small" alt="" />
                                </div>
                                <div class="m-widget7__info">
                                    <span class="m-widget7__username">
                                            <span class="m-widget1__number num-css" *ngIf="testsCount">
                                            {{testsCount}}
                                            </span>
                                    <span class="m-widget1__number num-css" *ngIf="!testsCount">
                                                <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                            </span>
                                    </span>
                                </div>
                            </div>
                            <div class="grad-title">
                                {{"DIAGNOSTICS_DONE" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" [ngClass]="{'col-xl-3' : userType !='User','col-xl-4' : userType =='User'}">
                <div class="m-portlet m-portlet--bordered-semi m-portlet--count-card" style="cursor:auto;" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="padding-left: 0px;height:calc(100% - 2.2rem)">
                        <span class="side-line-small"></span>
                        <div class="m-portlet__head-caption" style="padding: 20px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"VISITS" | translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <div class="m-widget7 ">
                            <div class="m-widget7__user">
                                <div class="m-widget7__user-img">
                                    <img src="./assets/app/media/img/dashboard/visits.png" class="responsive-small" alt="" />
                                </div>
                                <div class="m-widget7__info">
                                    <span class="m-widget7__username">
                                            <span class="m-widget1__number num-css" *ngIf="visitsCount">
                                                {{visitsCount}}
                                            </span>
                                    <span class="m-widget1__number num-css" *ngIf="!visitsCount">
                                                <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                            </span>
                                    </span>
                                </div>
                            </div>
                            <div class="grad-title">
                                {{"VISITS" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" id="patient_chart_byfilter">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{'PATIENT REGISTARTION BASED ON FILTERED DATE'|translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="height:300px" *ngIf="showPatLoad">
                    <div class="progress">
                        <span></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px" *ngIf="!showPatLoad">
                    <app-amchartcomponent [data]="patientChart" [id]="'patients_chart_center'" [title]="patient_week" [height]="300" [type]="'patient'"></app-amchartcomponent>
                </div>
            </div>
        </div>
        <div class="col-lg-6" id="dignostic_charts_byfilter">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{'DIAGNOSTIC DONE BASED ON FILTERED DATE' |translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="height:300px" *ngIf="showDigLoad">
                    <div class="progress">
                        <span></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px" *ngIf="!showDigLoad">
                    <app-amchartcomponent [data]="testChartValue" [graphData]="graphValues" [id]="'tests_chart_filter'" [title]="test" [height]="300" [type]="'serial'"></app-amchartcomponent>
                </div>
            </div>
        </div>
    </div>
</div>