<div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head" style="padding-left:0px">
                        <span class="side-line-header"></span>
                        <div class="m-portlet__head-caption" style="padding-left:25px">
                            <div class="m-portlet__head-title">
                                <!-- <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span> -->
                                <h3 class="m-portlet__head-text">
                                    <!-- <span *ngIf="!device.id">Add </span> -->
                                    <span>{{"STATISTICS" | translate}} </span>
                                </h3>
                            </div>
                        </div>
                        <!-- tools -->
                       
                        <!-- End: tools -->
                    </div>
                    
                    
                       
                    <!--end::charts-->
                </div>
    
                <!--end::Portlet-->
                <!--begin::charts-->
    
                <div class="row">
                            <div class="col-lg-12 " >
                                
                                <div class="m-portlet m-portlet--tab padtp15">
                                        <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                                                <span class="side-line"></span>
                                                <div class="m-portlet__head-caption" style="padding-left:25px">
                                                        <div class="m-portlet__head-title">
                                                            <!-- <span class="m-portlet__head-icon m--hide">
                                                                <i class="la la-gear"></i>
                                                            </span> -->
                                                            <h6 class="m-portlet__head-text">
                                                                <!-- <span *ngIf="!device.id">Add </span> -->
                                                                <span>{{"CC_WISE_REG" | translate}} </span>
                                                            </h6>
                                                        </div>
                                                </div>
                                                    <div class="m-portlet__head-tools">
                                                            
                                                        </div>
                                            </div>
                                    <div class="m-portlet__body" style="padding-top:0px;height:400px">
                                        <div class="progress" [hidden]="!showDigLoad">
                                            <span></span>
                                            <span class="spin-space"></span>
                                            <span class="spin-space"></span>
                                            <span class="spin-space"></span>
                                            <span class="spin-space"></span>
                                            <span class="spin-space"></span>
                                        </div>
                                     <app-amchartcomponent [data]="dataforRegStat" [id]="'regiStat'" [title]="'regiStat'" [height]="450" [type]="'basicpie'" [from]="role" ></app-amchartcomponent>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 " >
                                
                                    <div class="m-portlet m-portlet--tab padtp15">
                                            <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                                                    <span class="side-line"></span>
                                                    <div class="m-portlet__head-caption" style="padding-left:25px">
                                                            <div class="m-portlet__head-title">
                                                                <!-- <span class="m-portlet__head-icon m--hide">
                                                                    <i class="la la-gear"></i>
                                                                </span> -->
                                                                <h6 class="m-portlet__head-text">
                                                                    <!-- <span *ngIf="!device.id">Add </span> -->
                                                                    <span>{{"CC_WISE_DIAGNOSTICS" | translate}} </span>
                                                                </h6>
                                                            </div>
                                                    </div>
                                                        <div class="m-portlet__head-tools">
                                                                
                                                            </div>
                                                </div>
                                        <div class="m-portlet__body" style="padding-top:0px;height:400px">
                                            <div class="progress" [hidden]="!showDigLoad">
                                                <span></span>
                                                <span class="spin-space"></span>
                                                <span class="spin-space"></span>
                                                <span class="spin-space"></span>
                                                <span class="spin-space"></span>
                                                <span class="spin-space"></span>
                                            </div>
                                            <app-amchartcomponent [data]="dataforTestStat" [id]="'testStat'" [title]="'testStat'" [height]="450" [type]="'basicpie'"  [from]="role" ></app-amchartcomponent>
                                     
                                        </div>
                                    </div>
                                </div>
                             <div class="col-lg-12 " >
                            <div class="m-portlet m-portlet--tab padtp15">
                                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                                            <span class="side-line"></span>
                                            <div class="m-portlet__head-caption" style="padding-left:25px">
                                                    <div class="m-portlet__head-title">
                                                        <!-- <span class="m-portlet__head-icon m--hide">
                                                            <i class="la la-gear"></i>
                                                        </span> -->
                                                        <h6 class="m-portlet__head-text">
                                                            <!-- <span *ngIf="!device.id">Add </span> -->
                                                            <span>{{"TEST_PER_REG" | translate}} </span>
                                                        </h6>
                                                    </div>
                                            </div>
                                                <div class="m-portlet__head-tools">
                                                        <ul class="m-portlet__nav">
                                                           <li class="m-portlet__nav-item">
                                                                <div class="input-group m-input-group" >
                                                                    <span class="input-group-addon" id="basic-addon2">
                                                                                    {{"SELECTED" | translate}}
                                                                                </span>
                                                               <select aria-describedby="basic-addon2"  class="form-control m-input m-input--square" [(ngModel)]="selectedoptionTEST" (change)="selectedoptionTESTchanged(selectedoptionTEST)" >
                                                                    <option value="Consumable based test" >{{'CONSUMABLE_BASED_TEST' | translate}}</option>
                                                                    <option value="Diagnostics" >{{'TOTAL DIAGNOSTICS' | translate}}</option>
                                                                </select> 
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                        </div>
                                <div class="m-portlet__body" style="padding-top:0px;height:400px">
                                    <div class="progress" [hidden]="!showDigLoad">
                                        <span></span>
                                        <span class="spin-space"></span>
                                        <span class="spin-space"></span>
                                        <span class="spin-space"></span>
                                        <span class="spin-space"></span>
                                        <span class="spin-space"></span>
                                    </div>
                                    <app-amchartcomponent [data]="dataTESTPerReg"  [id]="'avgconsumablebasedtest'" [title]="avgconsumablebasedtest" [height]="350" [type]="'xy'" [xTitle]="'Patient registered'" [yTitle]="selectedoptionTEST" [baloonvalue]="TESTselectedbaloon"></app-amchartcomponent>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 " >
                                <div class="m-portlet m-portlet--tab padtp15">
                                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                                        <span class="side-line"></span>
                                        <div class="m-portlet__head-caption" style="padding-left:25px">
                                                <div class="m-portlet__head-title">
                                                    <!-- <span class="m-portlet__head-icon m--hide">
                                                        <i class="la la-gear"></i>
                                                    </span> -->
                                                    <h6 class="m-portlet__head-text">
                                                        <!-- <span *ngIf="!device.id">Add </span> -->
                                                        <span>{{"PER MACHINE DATA" | translate}} </span>
                                                    </h6>
                                                </div>
                                        </div>
                                            <div class="m-portlet__head-tools">
                                                    <ul class="m-portlet__nav">
                                                       <li class="m-portlet__nav-item">
                                                            <div class="input-group m-input-group" >
                                                                <span class="input-group-addon" id="basic-addon2">
                                                                                {{"SELECTED" | translate}}
                                                                            </span>
                                                           <select aria-describedby="basic-addon2"  class="form-control m-input m-input--square" [(ngModel)]="selectedoptionPMD" (change)="selectedoptionPMDchanged(selectedoptionPMD)" >
                                                                <option value="Patient registered" >Patient Registered</option>
                                                                <option value="Consumable based test" >{{'CONSUMABLE_BASED_TEST' | translate}}</option>
                                                                <option value="Probe based test" >{{'PROBE_BASED_TEST' | translate}}</option>
                                                            </select> 
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                    </div>
                                    <div class="m-portlet__body" style="padding-top:0px;height:400px">
                                        <div class="progress" [hidden]="!showDigLoad">
                                            <span></span>
                                            <span class="spin-space"></span>
                                            <span class="spin-space"></span>
                                            <span class="spin-space"></span>
                                            <span class="spin-space"></span>
                                            <span class="spin-space"></span>
                                        </div>
                                        <app-amchartcomponent [data]="datapermachinedata"  [id]="'avgpermachinedata'" [title]="avgpermachinedata" [height]="350" [type]="'xy'" [xTitle]="xTitleforPMD" [yTitle]="'Devices'" [baloonvalue]="PMDselectedbaloon" ></app-amchartcomponent>  
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
    
        </div>
    </div>