<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet" style="margin-bottom: 15px;">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:25px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
                                <i class="flaticon-file-1"></i>
                            </span> -->
                    <div class="m-portlet__head-text" style="padding-top:10px">
                        <!-- <span> {{"DEPLOYED" | translate }}</span> -->
                        <h5 *ngIf="fileObj">{{fileObj.filename}}</h5>
                        <small *ngIf="fileObj"><span class="m--font-brand"><i class="fa fa-vimeo-square"></i></span> {{fileObj.version}} Version</small><br/>
                        <small><span class="m--font-danger"><i class="flaticon-laptop"></i></span> {{deviceNo}} Hubs assigned</small>
                        <!-- <small>Add hub on left and all unassigned hubs will be listed on right side. Select multiple hubs to assign them to customer and center. </small> -->
                    </div>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a id="{{displayListName}}_detail_list" class="m-link m-link--state m-link--focus m--font-boldest" (click)="redirect()">
                            <span class="m--font-focus" style="cursor:pointer">
                                                                <i class="flaticon-file-1"></i>
                                                        <span>
                                                                {{displayListName}} List
                                                        </span>
                            </span>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a id="{{displayListName}}_detail_list" class="m-link m-link--state m-link--focus m--font-boldest" *ngIf="deviceNo!=0" (click)="redirectAssign()">
                            <span class="m--font-warning" style="cursor:pointer">
                                                                    <i class="flaticon-laptop"></i>
                                                    <span>
                                                            {{'ASSIGN' | translate}}
                                                    </span>
                            </span>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <a id="{{displayListName}}_detail_list" class="m-link m-link--state m-link--info m--font-boldest" *ngIf="deviceNo!=0" (click)="redirectHistory()">
                                    <span class="m--font-info" style="cursor:pointer">
                                                                        <i class="fa fa-history"></i>
                                                        <span>
                                                                History
                                                        </span>
                                    </span>
                                </a> -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row" style="padding-top:20px">
                <div class="col-lg-3" style="padding-top: 12px;">
                    <h6 class="m-portlet__head-text" style="text-transform:uppercase;font-size: 1.0rem">{{'Select Customer/Center' | translate}}</h6>
                </div>
                <div class="col-lg-3">
                    <div class="ui-g ui-fluid">
                       <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <span class="input-group-addon" id="basic-addon1">
                                                        {{"CUSTOMER" | translate}}
                                                    </span>
                                <p-dropdown [options]="facilitiesLabel" [autoWidth]="false"  [filter]="true" filterBy="label,value.name" [(ngModel)]="selectedFacility" filterBy="label" (onChange)="onFacilityChange()"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12">
                                <div class="ui-inputgroup">
                                    <span class="input-group-addon" id="basic-addon1">
                                                            {{"CENTER" | translate}}
                                                        </span>
                                    <p-dropdown [options]="centersLabel" [autoWidth]="false" [filter]="true" filterBy="label,value.name" [(ngModel)]="selectedCenter" filterBy="label" (onChange)="onCenterChange()"></p-dropdown>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-2" *ngIf="unassign">
                    <button type="button" class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--square m--pull-right" [disabled]="countNo==0?true:false" (click)="unAssign()">Unassign({{countNo}})</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12" style="padding:0px" *ngIf="!unassign">
        <div class="row">
            <div class="col-lg-4">
                <div class="m-portlet m-portlet--mobile  m-portlet--bordered-semi m-portlet--count-card" style="cursor:auto;margin-bottom: 15px;">
                    <div class="m-portlet__head" style="border-bottom:none;height:2rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{'CUSTOMER'}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px;padding-bottom:20px">
                        <div class="m-widget3" *ngIf="selectedFacility">
                            <div class="m-widget3__item">
                                <div class="m-widget3__header">
                                    <div class="m-widget3__user-img">
                                        <img alt="" *ngIf="selectedFacility.logo" width="50px" height="50px" [src]="selectedFacility.logo">
                                        <i class="flaticon-placeholder-1" *ngIf="!selectedFacility.logo" style="font-size: 2.3rem;"></i>
                                    </div>
                                    <div class="m-widget3__info" style="word-break: break-all">
                                        <span class="m-widget3__username" style="font-size: 1.0rem;">
                                                                                    {{selectedFacility.name}}
                                                                                    </span>
                                        <br>
                                        <!-- <span class="m-widget3__time" style="font-size: 1.0rem">
                                                                                   {{selectedFacility.organizationCode}}
                                                                            </span> -->

                                        <span class="m-widget3__time" style="font-size: 1.0rem">
                                                                                {{selectedFacility.email}}
                                                                            </span><br/>
                                        <span class="m-widget3__time" style="font-size: 1.0rem">                                            
                                                                                   {{selectedFacility.mobile}} 
                                                                            </span>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="m-portlet m-portlet--mobile m-portlet--bordered-semi m-portlet--count-card" style="cursor:auto;margin-bottom: 15px;">
                    <div class="m-portlet__head" style="border-bottom:none;height:2rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{'CENTER' | translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px;padding-bottom:20px">
                        <div class="m-widget3" *ngIf="selectedCenter">
                            <div class="m-widget3__item">
                                <div class="m-widget3__header">
                                    <div class="m-widget3__user-img">
                                        <!-- <img alt="" *ngIf="!selectedFacility.logo" class="m-widget3__img" src="./assets/app/media/img/users/user-avatar.png">
                                                                            <img alt="" *ngIf="selectedFacility.logo" class="m-widget3__img" src="selectedFacility.logo"> -->
                                        <i class="la la-building" style="font-size: 2.3rem; color:00CEC7"></i>
                                    </div>
                                    <div class="m-widget3__info" style="word-break: break-all">
                                        <span class="m-widget3__username" style="font-size: 1.0rem;">
                                                                                    {{selectedCenter.name}} ({{selectedCenter.centerCode}})
                                                                                    </span>
                                        <br>
                                        <span class="m-widget3__username" *ngIf="selectedFacility.address.address" style="font-size: 1.0rem;color:white">
                                                                                    {{selectedFacility.address.address}}
                                                                                </span>
                                        <br>
                                        <span class="m-widget3__username" *ngIf="selectedFacility.address.city || selectedCenter.address.country" style="font-size: 1.0rem;color:white">
                                                                                    {{selectedFacility.address.city}}, {{selectedCenter.address.country}}
                                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="m-portlet m-portlet--mobile m-portlet--bordered-semi m-portlet--count-card" style="cursor:auto;margin-bottom: 15px;">
                    <div class="m-portlet__head" style="border-bottom:none;height:2rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{'USER' | translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px;padding-bottom:20px">
                        <div class="m-widget3" *ngIf="fileObj && user.user">
                            <div class="m-widget3__item">
                                <div class="m-widget3__header">
                                    <div class="m-widget3__user-img">
                                        <img alt="" *ngIf="user.user.profilePictureUrl" style="border-radius:100%;" width="50px" height="50px" [src]="user.user.profilePictureUrl">
                                        <img alt="" *ngIf="!user.user.profilePictureUrl" width="50px" height="50px" src="./assets/app/media/img/users/user-avatar.png">

                                    </div>
                                    <div class="m-widget3__info" style="word-break: break-all" *ngIf="user.user.firstName">
                                        <span class="m-widget3__time" style="font-size: 1.0rem;">
                                              <b>  {{user.user.firstName}} {{user.user.lastName}} </b>
                                                </span>
                                        <br>
                                        <span class="m-widget3__time" style="font-size: 1.0rem">
                                                        {{user.user.email}} 
                                                </span>
                                        <br>
                                        <span class="m-widget3__time" style="font-size: 1.0rem" *ngIf="user.user.dial_code || user.user.phone">                                            
                                                                                    <span class="flag_cls flag_{{country_code.toLowerCase()}}"></span> {{user.user.dial_code}} {{user.user.phone}}
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
            <span class="side-line-div"></span>
            <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                <div class="m-portlet__head-title">
                    <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{'Hubs Assigned' | translate}}</h6>
                </div>
            </div>
        </div>
        <div class="m-portlet__body" style="padding-top:0px">
            <div class="col-lg-12 col-sm-12">
                <p-dataTable [value]="devices" styleClass="borderless" [rows]="10" [paginator]="true">
                    <p-column [style]="{'width':'5%'}" styleClass="text-center" [header]="'S.No' | translate">
                        <ng-template let-index="rowIndex" pTemplate="body">
                            <b>
                                                <span>{{index+1}}</span>
                                            </b>
                        </ng-template>
                    </p-column>
                    <p-column [header]="'SELECT' | translate" styleClass="text-center" [style]="{'width':'10%'}" *ngIf="unassign">
                        <ng-template let-device="rowData" pTemplate="body">
                            <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                                    <input id="dev_select_{{device.id}}" type="checkbox" name="selected" [checked]="device.selected" (change)="onDeviceCheck(device)">
                                                    <span></span>
                                            </label>
                        </ng-template>
                    </p-column>

                    <p-column field="serialNumber" styleClass="text-left" [header]="'SERIAL_NUMBER' | translate">
                        <ng-template let-col let-device="rowData" pTemplate="body">
                            <strong>{{device.serialNumber}}</strong>
                        </ng-template>
                    </p-column>
                    <p-column field="deviceType" styleClass="text-left" [header]="'DEVICE_TYPE' | translate">
                        <ng-template let-col let-device="rowData" pTemplate="body">
                            <strong>{{device.deviceType}}</strong>
                        </ng-template>
                    </p-column>
                    <p-column field="deviceType" styleClass="text-center" *ngIf="!showPython" [header]="'RDT_DOWNLOAD_TIME' | translate">
                        <ng-template let-device="rowData" pTemplate="body">
                            <div style="text-align : center;">
                                <b *ngIf="device.rdtDownloadTime">
                                                            <i class="fa fa-calendar"> {{device.rdtDownloadTime | date:'yMd'}}</i>
                                                            <br/>
                                                            <i class="fa fa-clock-o"> {{device.rdtDownloadTime | date:'jm'}}</i>
                                                        </b>
                                <b *ngIf="!device.rdtDownloadTime">No Data</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="text-center" *ngIf="showPython" styleClass="text-left" [header]="'Last Update'|translate">
                        <ng-template let-device="rowData" pTemplate="body">
                            <span *ngIf="displayListName == 'FIRMWARE'">
                                                <span *ngIf="device.firmwareSuccessUpdateTime">
                                                    <i class="fa fa-calendar"> {{device.firmwareSuccessUpdateTime | date:'yMd'}}</i>
                                                    <br/>
                                                    <i class="fa fa-clock-o"> {{device.firmwareSuccessUpdateTime | date:'jm'}}</i>
                                                </span>
                            <span *ngIf="!device.firmwareSuccessUpdateTime">
                                                    <b>No Data</b>
                                                </span>

                            </span>
                            <span *ngIf="displayListName == 'Python'">
                                                <span *ngIf="device.pythonSuccessUpdateTime">
                                                    <i class="fa fa-calendar">  {{device.pythonSuccessUpdateTime | date:'yMd'}}</i><br/>
                                                    <i class="fa fa-clock-o"> {{device.pythonSuccessUpdateTime | date:'jm'}}</i>
                                                </span>
                            <span *ngIf="!device.pythonSuccessUpdateTime">
                                                    <b>{{'No Data' | translate}}</b>
                                                </span>
                            </span>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="text-center" *ngIf="showPython" styleClass="text-left" header="Updated Status">
                        <ng-template let-device="rowData" pTemplate="body">
                            <span *ngIf="displayListName == 'FIRMWARE'">
                                                  <span *ngIf="device.firmwareSuccessUpdateTime ">
                                                      <i class="fa fa-check"></i>
                                                      <b>{{'Success' | translate}}</b>
                                                  </span>
                            <span *ngIf="!device.firmwareSuccessUpdateTime ">                                                       
                                                            <b>{{'No Data' | translate}}</b>
                                                   </span>
                            </span>
                            <span *ngIf="displayListName == 'Python'">
                                                    <span *ngIf="device.pythonSuccessUpdateTime ">
                                                            <i class="fa fa-check"></i>
                                                            <b>{{'Success' | translate}}</b>
                                                    </span>
                            <span *ngIf="!device.pythonSuccessUpdateTime ">                                                      
                                                            <b>{{'No Data' | translate}}</b>
                                            </span>
                            </span>
                        </ng-template>
                    </p-column>
                    <p-column field="deviceStatus" styleClass="text-left" header="Hub Status">
                        <ng-template let-device="rowData" pTemplate="body">
                            <span *ngIf="device.deviceStatus== 'ACTIVE'">
                                <span class="m-badge m-badge--success m-badge--wide">
                                        {{'ACTIVE' | translate}}
                                </span>
                            </span>
                            <span *ngIf="device.deviceStatus=='INACTIVE'">
                                <span class="m-badge m-badge--danger m-badge--wide">
                                        {{'Deactive' | translate}}
                                </span>
                            </span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>