
<div class="m-content">
        <div class="m-portlet m-portletc m-portlet--mobile">
            <div class="m-portlet__head" style="padding-left:0px">
                <span class="side-line-header"></span>
                <div class="m-portlet__head-caption" style="padding-left:20px">
                  
                        <!-- <span class="m-portlet__head-icon">
                            <i class="flaticon-map-location"></i>
                        </span> -->
                        <div class="pull-left">
                            <h5 class="m-portlet__head-text" *ngIf="config.language!=undefined">
                                <!-- Patient Registrations Map -->                               
                                 {{ config.language}}<br/>
                                <small>
                                        <i class="flaticon-placeholder-1 m--font-danger"></i> {{config.facilityName}}
                                </small>
                            </h5>
                        </div>
                        <div class="row pull-right" style="padding-top: 10px;">
                                <a id="facility_detail_details" routerLink = "/skin/list" class="m-link m-link--state m-link--focus m--font-boldest" style="cursor:pointer">
                                    <span>
                                        <i class="la la-gear m--font-primary"></i>
                                        <span class="m--font-primary">
                                            {{"AVAILABLE CONFIGURATIONS" | translate}}
                                        </span>
                                    </span>
                                </a>
                        </div>
                    
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-12" >
                        <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--primary" role="tablist">
                            
                            <li class="nav-item m-tabs__item ">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#testmapped" (click)="tabClick('testmap')" role="tab">{{"TEST_MAPPING"| translate}} </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#testunit" (click)="tabClick('unit')" role="tab">{{"Test Unit"| translate}} </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#testrange" (click)="tabClick('range')" role="tab">{{"Test Ranges"| translate}} </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#mandatory" (click)="tabClick('mandatory')" role="tab">{{"Mandatory Fields"| translate}} </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div  class="tab-pane active" id="testmapped" role="tabpanel">
                                <div class="m-section m-sectionc"> 
                                    <div class="row"  >
                                        <div class="row" *ngIf="mappedList.length !=0">
                                            <div class="col-lg-4 col-sm-12 col-xs-12" *ngFor="let test of mappedList">
                                                <div class="m-alert m-alert--icon m-alert--air alert alert-dismissible fade show" id="enable_map">
                                                    <div class="m-alert__icon">
                                                        <i class="la la-warning" *ngIf="!test.testIconUrl"></i>
                                                        <img *ngIf="test.testIconUrl" [src]="test.testIconUrl" alt="" style="height:auto" width="70px">
                                                    </div>
                                                    <div class="m-alert__text" *ngIf="test">
                                                        <strong>
                                                                {{test.testName | translate}}
                                                            </strong> <br/>{{test.testType | translate}}
                                                    </div>
                                                    <div class="m-alert__actions">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>  
                            </div>
                            <div class="tab-pane" id="testunit" role="tabpanel">
                                <div class="m-section m-sectionc">
                                
                                     <div class="row"  *ngIf="config.testUnitMapping!=undefined"> 
                                            <p-dataTable  [value]="config.testUnitMapping"  [responsive]="true" >
                                                    <p-column styleClass="text-center" [header]="'S.No' | translate">
                                                        <ng-template let-index="rowIndex" pTemplate="body">
                                                            <div class="text-center">
                                                                <b>
                                                                            <span>{{index+1}}</span>
                                                                        </b>
                                                            </div>
                                                        </ng-template>
                                                    </p-column>
                                                    <p-column field="testName"  styleClass="text-center" [header]="'TEST' | translate">
                                                        <ng-template let-test="rowData" pTemplate="body">
                                                            <div class="text-left">
                                                                <b>
                                                                    <span>
                                                                        <strong>
                                                                                {{(test.testName | translate).split('_').join(' ')}}
                                                                            </strong> 
                                                                       
                                                                    </span>                                           
                                                                </b>
                                                            </div>
                                                        </ng-template>
                                                    </p-column>
                                                    <p-column field="testUnit"  styleClass="text-center" [header]="'Unit' | translate" >
                                                        <ng-template let-test="rowData" pTemplate="body">
                                                            <div >
                                                                <b>
                                                                        <span>{{test.testUnit}}</span>
                                                                    </b>
                                                            </div>
                                                        </ng-template>
                                                    </p-column> 
                                                    <p-column field="conversionFactor"  styleClass="text-center" [header]="'Conversion Factor' | translate" >
                                                            <ng-template let-test="rowData" pTemplate="body">
                                                                <div >
                                                                    <b>
                                                                            <span>{{test.conversionFactor}}</span>
                                                                        </b>
                                                                </div>
                                                            </ng-template>
                                                        </p-column> 
                                
                                                </p-dataTable>
                                    </div> 
                                </div>
                            </div>
                            <div class="tab-pane" id="testrange" role="tabpanel">
                                <div class="m-section m-sectionc">
                            <div class="row"  style="padding-left:0px;padding-right:0px;padding-top: 20px" *ngIf="config.testRanges!=undefined" >                          
                             <div class="col-lg-6" *ngFor="let range of config.testRanges; let i= index">
                                <div class="m-portlet m-portlet--head-sm m-portlet--collapse" data-portlet="true" id="m_portlet_tools_7">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                                <div class="col-lg-12" style="font-size:1.0rem;font-weight:400;">
                                                    <div class="row">
                                                        <div class="col-lg-12 pad0">
                                                            <i class="la la-calendar-check-o m--font-danger" ></i> {{'TEST' | translate}} : 
                                                            <span>{{(range.testName | translate).split('_').join(' ') || 'NA'}}</span> 
                                                        </div> 
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="m-portlet__head-tools">
                                            <ul class="m-portlet__nav">
                                                <li class="m-portlet__nav-item">
                                                    <a class="m-portlet__nav-link m-portlet__nav-link--icon" id="exicon{{i}}" (click)="expand(i)" data-portlet-tool="fullscreen"  data-original-title="Fullscreen" style="cursor: pointer;">
                                                        <i class="la la-chevron-down"></i>
                                                    </a>
                                                    <a class="m-portlet__nav-link m-portlet__nav-link--icon"  id="compicon{{i}}" (click)="compress(i)" data-portlet-tool="fullscreen"   data-original-title="Fullscreen" style="display:none;cursor: pointer;">
                                                        <i class="la la-chevron-up"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
    
                                    <div class="m-portlet__body" id="visit{{i}}" style="display: none;">
                                        <div class="col-sm-12" style="padding:0px;padding-top: 10px">
                                            <div class="row" *ngIf="range.testName=='BLOOD_PRESSURE'">
                                                <div class="col-sm-6">
                                                    <p><b>{{'SYS' | translate}}</b></p>
                                                    <strong>{{'Lower Limit' | translate}} :</strong> {{range.ranges.systolic[0]}}
                                                    <p></p>
                                                    <strong>{{'Upper Limit' | translate}} :</strong> {{range.ranges.systolic[1]}}
                                                </div>
                                                <div class="col-sm-6">
                                                    <p><b>{{'DIA' | translate}}</b></p>
                                                    <strong>{{'Lower Limit' | translate}} :</strong> <b>{{range.ranges.diastolic[0]}}</b>
                                                    <p></p>
                                                    <strong>{{'Upper Limit' | translate}} :</strong> <b>{{range.ranges.diastolic[1]}}</b>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="range.testName=='URIC_ACID' || range.testName=='HEMOGLOBIN'">
                                                    <div class="col-sm-6">
                                                        <p><b>{{'MEN' | translate}}</b></p>
                                                        <strong>{{'Lower Limit' | translate}} :</strong> {{range.ranges.men[0]}}
                                                        <p></p>
                                                        <strong>Upper Limit :</strong> {{range.ranges.men[1]}}
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p><b>{{'WOMEN' | translate}}</b></p>
                                                        <strong>{{'Lower Limit' | translate}} :</strong> <b>{{range.ranges.women[0]}}</b>
                                                        <p></p>
                                                        <strong>{{'Upper Limit' | translate}} :</strong> <b>{{range.ranges.women[1]}}</b>
                                                    </div>
                                            </div>
                                            <div class="row" *ngIf="range.testName!='URIC_ACID' && range.testName!='HEMOGLOBIN' && range.testName!='BLOOD_PRESSURE' && range.testName!='BLOOD_GLUCOSE'">
                                                    <div class="col-sm-12">
                                                        <p><b></b></p>
                                                        <strong>{{'Lower Limit' | translate}} :</strong> {{range.ranges.result[0]}}
                                                        <p></p>
                                                        <strong>{{'Upper Limit' | translate}} :</strong> {{range.ranges.result[1]}}
                                                    </div>
                                            </div>
                                            <div class="row" *ngIf="range.testName=='BLOOD_GLUCOSE'">
                                                    <div class="col-sm-12">
                                                        <p><b>{{'Fasting Diabetic' | translate}} : </b> >={{range.ranges.fasting[2]}}</p>
                                                        <p><b>{{'Fasting Normal' | translate}} : </b> {{range.ranges.fasting[0]}} - {{range.ranges.fasting[1]}}</p>
                                                        <p><b>{{'Fasting Pre Diabetic' | translate}} : </b> >={{range.ranges.fasting[1]}} &amp; <={{range.ranges.fasting[2]}}</p>
                                                    </div>
                                                    <div class="divider"></div>
                                                    <div class="col-sm-12">
                                                        <p><b>{{'Post Prandial Diabetic' | translate}} : </b> >={{range.ranges.post_prandial[2]}}</p>
                                                        <p><b>{{'Post Prandial Normal' | translate}} : </b> {{range.ranges.post_prandial[0]}} - {{range.ranges.post_prandial[1]}}</p>
                                                        <p><b>{{'Post Prandial Pre Diabetic' | translate}} : </b> >={{range.ranges.post_prandial[1]}} &amp; <={{range.ranges.post_prandial[2]}}</p>
                                                    </div>
                                                    <div class="divider"></div>
                                                    <div class="col-sm-12">
                                                        <p><b>{{'Random Diabetic' | translate}} : </b> >={{range.ranges.random[2]}}</p>
                                                        <p><b>{{'Random Normal' | translate}} : </b> {{range.ranges.random[0]}} - {{range.ranges.random[1]}}</p>
                                                        <p><b>{{'Random Pre Diabetic' | translate}} : </b> >={{range.ranges.random[1]}} &amp; <={{range.ranges.random[2]}}</p>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            </div>
    
                                </div>
                            </div>
                            <div class="tab-pane" id="mandatory" role="tabpanel">
                                <div class="m-section m-sectionc">
                                     <div class="row"  >
                                        <div class="col-md-6">
                                                <div class="m-demo" >
                                                    <div class="m-demo__preview">
                                                            {{'Fields that are Mandatory in patient registration form' | translate}}
                                                        <ul *ngIf="mandatoryFields">
                                                            <li *ngFor="let fields of mandatoryFields">                                                               
                                                                     {{(fields.toLowerCase()).split('_').join(' ')}}                                                               
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="m-demo" >
                                                    <div class="m-demo__preview">
                                                        Field label for <b>'State'</b> in patient registration form =>
                                                        <b *ngIf="config.fieldLabels">{{config.fieldLabels.STATE}}</b> <br/>
                                                        Field label for <b>'City Or Village'</b> in patient registration form =>
                                                        <b *ngIf="config.fieldLabels">{{config.fieldLabels.CITY_OR_VILLAGE}}</b> <br/><br/>
                                                        <span><b>Report Details</b></span><br/>
                                                        <span *ngIf="config.customLogo">
                                                            Custom logo available in the report
                                                        </span>
                                                        <span *ngIf="!config.customLogo">
                                                                Custom logo not available in the report
                                                        </span><br/>
                                                        <span *ngIf="config.customRanges">
                                                                Test ranges are shown in andriod app
                                                        </span>
                                                        <span *ngIf="!config.customRanges">
                                                                Test ranges are not shown in andriod app
                                                        </span>
                                                    </div>                                                   
                                                </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
