<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet" *ngIf="!assignHub">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon">
                                <i class="flaticon-file-1"></i>
                            </span> -->
                            <h3 class="m-portlet__head-text">
                                <span>{{"IPAN_REPORTS" | translate}}</span>
                                <!-- <span class="m-badge m-badge--warning m-badge--wide">Few features not yet implemented</span> -->
                                <!-- <small>Add hub on left and all unassigned hubs will be listed on right side. Select multiple hubs to assign them to customer and center. </small> -->
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <!--  <a class="btn m-btn--square btn-success btn-sm btn" (click)="showSelected()"> Reports Selected ({{selectedCount}})</a> -->
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">                       
                        <div class="col-lg-12" style="padding-top: 10px;padding-bottom: 10px;">
                             <b><i class="fa fa-info-circle"></i> {{'A list of reports showing from last 24Hrs. To see the details of the test select the action button and can reject there.' | translate}} </b>                                      
                        </div>

                        <!-- table:start -->

                        <p-dataTable [value]="visits" styleClass="borderless" #dt [responsive]="true">
                            <p-column [style]="{'width':'5%'}" styleClass="text-left" [header]="'S.No' | translate">
                                <ng-template let-index="rowIndex" pTemplate="body">
                                    <b>
                                        <span>{{((pageNo - 1) * 10) + (index+1)}}</span>
                                    </b>
                                </ng-template>
                            </p-column>

                            <p-column field="center" [style]="{'width':'25%'}" styleClass="text-left" [header]="'CENTER' | translate">
                                <ng-template let-visit="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span>{{visit.centerName}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="text-left" [style]="{'width':'30%'}" [header]="'TESTS' | translate">
                                <ng-template let-visit="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span *ngFor="let test of visit.tests">
                                            <div class="alert m-alert m-alert-sm m-alert--default">
                                                {{test.type | translate }} : {{test.name | translate}}
                                            </div>
                                        </span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="text-left" [style]="{'width':'20%'}" [header]="'VISIT_TIME' | translate">
                                <ng-template let-visit="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <div class="row">
                                            <div class="col-12">
                                                <i class="fa fa-calendar"></i>
                                                <span>{{visit.createTime | date: 'dd/MM/yyyy'}}</span>
                                            </div>
                                            <div class="col-12">
                                                <i class="fa fa-clock-o"></i>
                                                <span>{{visit.createTime | date: 'shortTime'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="rejected" [style]="{'width':'12%'}" styleClass="text-left" [header]="'STATUS' | translate">
                                <ng-template let-visit="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span class="m-badge m-badge--wide m-badge--danger m-badge--rounded" *ngIf="visit.rejected">{{'Rejected' | translate}}</span>
                                        <span class="m-badge m-badge--wide m-badge--success m-badge--rounded" *ngIf="!visit.rejected">{{'Approved' | translate}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="col-button" [style]="{'width':'10%'}">
                                <ng-template pTemplate="header">
                                    {{"ACTION" | translate}}
                                </ng-template>
                                <ng-template let-visit="rowData" pTemplate="body">
                                    <div style="text-align : center">
                                        <button type="button" [disabled]="visit.reject" class="btn btn-info m-btn m-btn--icon m-btn--icon-only" (click)="showPdfDetails(visit)" [title]="'DETAILS' | translate ">
                                            <i class="la la-eye"></i>
                                        </button>
                                    </div>
                                </ng-template>
                            </p-column>
                            <ng-template pTemplate="emptymessage">
                                <div style="text-align:center">{{"NO_RECORD_FOUND" | translate}}</div>
                            </ng-template>
                        </p-dataTable>
                        <div class="col-sm-12 text-right" style="margin:12px">
                            {{"Total_Records"|translate}}:
                            <b>{{testCounts}} </b>
                        </div>
                        <div class="col-sm-12" *ngIf="testCounts">
                            <p-paginator rows="10" *ngIf="testCounts !== 0" styleClass="eh-pagination" [totalRecords]="testCounts" [rowsPerPageOptions]="[10,25,50,100]" (onPageChange)="paginate($event)"></p-paginator>

                        </div>
                        <!-- table:end -->

                    </div>
                    <div class="col-lg-12" *ngIf="selectedTests">
                        <span *ngFor="let test of selectedTests; index as i">
                            <b>{{i+1}}</b> {{test.id}}
                            <br> </span>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
<p-dialog header="Report Details" [(visible)]="showPdfReport" [width]="960" modal="true" [responsive]="true">
        <div class="col-12 mb-5">
            <pdf-viewer [src]="pdfData" [show-all]="true" [render-text]="true" style="height: 80vh; display: inline-block;" [autoresize]="true" [original-size]="false" ></pdf-viewer>
        </div>
    
  <!--   <p-footer > -->
    <div class="col-12 mt-5" *ngIf="showReject">
            <form (ngSubmit)="rejectReport(f)" #f="ngForm">
                <div class="m-section">
                    <label for="exampleTextarea"><b>Comment: </b></label>
                    <textarea class="form-control m-input"
                    id="exampleTextarea"
                    name="comment"
                    required
                    [(ngModel)]="comment"
                    rows="3"></textarea>
                </div>
                <div class="m-form__actions m-form__actions">
                    <button type="submit" [disabled]="!f.valid"
                    class="btn m-btn--square  btn-primary btn-sm m-btn m-btn--custom">Reject</button>
                </div>
            </form>
        </div>
 <!--    </p-footer> -->
</p-dialog>

<style>
        body .ui-dialog .ui-dialog-content {
            padding: 0em;
            overflow: auto;
            height: 88%;
        }
</style>