$eh-primary: #5867dd;

.bg-primary > tr > th {
  color: #fff;
}
.eh-check {
  padding: 2px 5px;
}
.eh-pagination {
  border: 0px !important;

  .ui-paginator-element.ui-state-active {
    background-color: $eh-primary;
  }

  .ui-paginator-element.ui-state-highlight {
    background-color: $eh-primary;
  }

  .ui-paginator-element {
    color: $eh-primary;
  }

  .ui-paginator-element.ui-paginator-first,
  .ui-paginator-last,
  .ui-paginator-prev,
  .ui-paginator-next {
    color: $eh-primary !important;
  }
}
