<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon">
                                <i class="flaticon-placeholder-1"></i>
                            </span> -->
                            <h3 class="m-portlet__head-text" style="font-weight:400">
                                <span *ngIf="!facility.id">{{"ADD" | translate}} </span>
                                <span *ngIf="facility.id">{{"UPDATE" | translate}} </span>
                                <span>{{"CUSTOMER" | translate}}</span>

                                <small style="text-transform:none">{{"ENTER_CUSTOMER_DETAILS_AND_SELECT_APPROPRIATE_TYPE" | translate}}. {{"CLICK_ON" | translate}} '+'
                                     {{"BUTTON_TO_ADD_CENTER_WHICH_WILL_BE_ADDED_UNDER_THIS_CUSTOMER_FOR_CONSUMABLE" | translate}}, {{"HUB_AND_USER_MANAGEMENT" | translate}}.</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form (ngSubmit)="f.form.valid && save()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right" id="m_form_1" action="">
                    <div class="m-portlet__body">
                        <div class="col-xl-12" style="padding-top:20px">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                        {{"CUSTOMER_NAME" | translate}} *
                                                                    </label>
                                        <div class="col-lg-8">
                                            <input id="facility_name" type="text" name="name" class="form-control m-input m-input--square" [(ngModel)]="facility.name" #name="ngModel" required>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                            {{"CUSTOMER_TYPE" | translate}} *
                                        </label>
                                        <div class="col-lg-8">
                                            <select id="facility_type" name="type" class="form-control m-input m-input--square" [(ngModel)]="facility.type" #type="ngModel" required>
                                                <option value="INDIVIDUAL_HOME">{{"INDIVIDUAL" | translate}}/{{"HOME" | translate}}</option>
                                                <option value="LABORATORY_SOCIALENTREPRENEUR">{{"LABORATORY" | translate}}/{{"SOCIAL_ENTREPRENEUR" | translate}}</option>
                                                <option value="HOSPITAL_PHC">{{"HOSPITAL" | translate}}/{{"PHC" | translate}}</option>
                                                <option value="HEALTH_WORKER">{{"HEALTHWORKER" | translate}}</option>
                                                <option value="ORGANIZATION">{{'Organization' | translate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                    {{"COUNTRY" | translate}}
                                                                </label>
                                        <div class="col-lg-8">
                                            <select id="facility_country" name="country" class="form-control m-input m-input--square" name="country" [(ngModel)]="facility.address.country" #country="ngModel" (change)="countrySelect($event)">
                                                                        <option value="{{country.name}}" *ngFor="let country of countires">{{country.name}}</option>
                                                                    </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                    {{"STATE" | translate}}
                                                                </label>
                                        <div class="col-lg-8">
                                            <input id="facility_state" type="text" class="form-control m-input m-input--square" name="state" [(ngModel)]="facility.address.state" #state="ngModel">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                    {{"CITY" | translate}}
                                                                </label>
                                        <div class="col-lg-8">
                                            <input id="facility_city" type="text" class="form-control m-input m-input--square" name="city" [(ngModel)]="facility.address.city" #city="ngModel">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                    {{"ADDRESS" | translate}}
                                                                </label>
                                        <div class="col-lg-8">
                                            <textarea id="facility_address" class="form-control m-input m-input--square" name="address" [(ngModel)]="facility.address.address" #address="ngModel"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                  {{"POSTAL_CODE" | translate}}
                                                                </label>
                                        <div class="col-lg-8">
                                            <input id="facility_postcode" type="number" class="form-control m-input m-input--square" name="postalcode" [(ngModel)]="facility.address.postcode" #postcode="ngModel">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                    {{"TIN/TAN/GST_NO" | translate}}
                                                                </label>
                                        <div class="col-lg-8">
                                            <input id="device_gstnumber" type="text" name="gstNumber" class="form-control m-input m-input--square" [(ngModel)]="facility.gstNumber" #gstNumber="ngModel">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                  {{"PAN_NO" | translate}}
                                                                </label>
                                        <div class="col-lg-8">
                                            <input id="facility_pannumber" type="text" name="panNumber" class="form-control m-input m-input--square" [(ngModel)]="facility.panNumber" (keypress)="charCheck($event)" (keyup)="valPan()" #panNumber="ngModel">
                                            <span class="text-danger" *ngIf="errorPan">{{errorPan | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                            {{"MANAGER" | translate}}
                                                                        </label>
                                        <div class="col-lg-8">
                                            <input id="facility_manager" type="text" name="manager" class="form-control m-input m-input--square" [(ngModel)]="facility.managerId" #manager="ngModel">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                    {{"CUSTOMER_CODE" | translate}} *
                                                                </label>
                                        <div class="col-lg-8" *ngIf="cusCode">
                                            <!-- <input id="facility_code" type="text" class="form-control m-input m-input--square" name="organizationCode" [(ngModel)]="facility.organizationCode" #organizationCode="ngModel" required (change)="checkOrgCode(facility.organizationCode)"> -->
                                            <div class="m-input-icon m-input-icon--right">
                                                <input id="facility_code" type="text" class="form-control m-input m-input--square" name="organizationCode" (keypress)="charCheck($event)" (keyup)="showError = false" [(ngModel)]="facility.organizationCode" #organizationCode="ngModel" required (change)="checkOrgCode(facility.organizationCode)">
                                                <span class="m-input-icon__icon m-input-icon__icon--right" id="loading_icon" style="display:none">
                                                    <span>
                                                            <div class="m-loader m-loader--brand" style="width: 30px; display: inline-block;"></div>
                                                    </span>
                                                </span>
                                            </div>
                                            <span class="m--font-danger" *ngIf="showError">{{"CUSTOMER_CODE_ALREADY_EXISTS" | translate}}</span>
                                        </div>
                                        <div class="col-lg-8" *ngIf="!cusCode">
                                            <input id="facility_code" type="text" class="form-control m-input m-input--square m-input--solid" readonly name="organizationCode" [(ngModel)]="facility.organizationCode" #organizationCode="ngModel" required>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                    {{"DEPARTMENT" | translate}}
                                                                </label>
                                        <div class="col-lg-8">
                                            <input id="facility_department" type="text" class="form-control m-input m-input--square" name="department" [(ngModel)]="facility.department" #department="ngModel">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                    {{"EMAIL" | translate}} *
                                                                </label>
                                        <div class="col-lg-8">
                                            <input id="facility_email" type="email" name="email" autocomplete="off" class="form-control m-input m-input--square" [(ngModel)]="facility.email" #email="ngModel" (keyup)="valEmail()" required>
                                            <span class="text-danger" *ngIf="errorEmail">{{errorEmail | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                            {{"MOBILE" | translate}} *
                                        </label>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <button class="flag_btn">                            
                                                    <span class="flag_cls flag_{{country_code.toLowerCase()}}"></span>
                                                    <span id="basic-addon1">{{facility.dial_code}}</span>
                                                </button>
                                                <input id="facility_mobile" type="text" name="mobile" class="form-control m-input m-input--square" (keyup)="valPhone()" [(ngModel)]="facility.mobile" #mobile="ngModel" (change)="numberChange(facility.mobile)" required>
                                            </div>
                                            <span class="text-danger" *ngIf="errorPhone">{{errorPhone | translate}}</span>
                                            <!-- <span class="text-danger" *ngIf="digitLength">{{digitLength}}</span> -->
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                                    {{"TELEPHONE" | translate}}
                                                                </label>
                                        <div class="col-lg-8">
                                            <input id="facility_telephone" type="number" name="phone" class="form-control m-input m-input--square" [(ngModel)]="facility.phone" #phone="ngModel">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row" style="padding-bottom :0px!important">
                                        <label class="col-lg-4 col-form-label">
                                        {{"UPLOAD_LOGO" | translate}}                                              
                                        </label>
                                        <div class="col-lg-8">
                                            <ng4-files-drop (filesSelect)="filesSelect($event)" style="width: 100%;text-align: center;">
                                                <ng4-files-click (filesSelect)="filesSelect($event)" style="width: 100%">
                                                    <div class="m-card-profile" style="margin-top: -36px; cursor:pointer" title="Upload Customer Logo">
                                                        <div class="m-card-profile__pic" style="text-align: left">
                                                            <div class="m-card-profile__pic-wrapper" style="border-radius:0%">                                                                
                                                                <img *ngIf="facility.logo" id="fac-img" style="border-radius:0%;height:130px" alt="" [src]="facility.logo">
                                                                <img *ngIf="!facility.logo" id="fac-img" style="border-radius:0%" alt="" src="./assets/app/media/img/users/index.jpeg">
                                                                <!-- <i class="flaticon-placeholder-1" *ngIf="!facility.logo" style="font-size:6.6rem;color:#d5d9de"></i> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng4-files-click>
                                            </ng4-files-drop>                                          
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-8">
                                            <span class="text-info" *ngIf="submitMsg && !showNo && !uploadMsg">{{'Once you click "submit" button logo will automatically upload' | translate}}</span>
                                            <span class="text-info" *ngIf="!submitMsg && !showNo && !uploadMsg">{{'Upload greater than 100 X 100 & less than 512 X 512 logo' | translate}}</span>
                                            <span class="text-danger" *ngIf = "showNo && !uploadMsg">{{'Warning: Upload greater than 100 X 100 & less than 512 X 512 logo' | translate}}</span>
                                            <span class="text-danger" *ngIf="uploadMsg">{{uploadMsg}} so it won't upload</span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        
                                    </div>
                                </div>

                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                            {{"CENTERS" | translate}}
                                        </label>
                                <div class="col-lg-10" style="padding:0px">
                                    <!-- <div class="btn-group dropup" *ngFor="let center of facility.centers" style="margin-top: 5px; margin-right: 5px;">
                                        <button class="btn btn-outline-accent m-btn--square" type="button" (click)="updateCenter(center)">
                                                                            {{center.name}}
                                                                        </button>
                                        <button class="btn btn-outline-accent dropdown-toggle-split m-btn--square" type="button" (click)="removeCenter(center)" *ngIf="userType && userType == 'Admin'">
                                                                            <i class="la la-times"></i>
                                                                        </button>
                                    </div> -->
                                    <div class="m-portlet m-portlet--head-sm m-portlet--collapse" data-portlet="true" id="m_portlet_tools_7">
                                        <div class="m-portlet__head">
                                            <div class="m-portlet__head-caption">
                                                <div class="m-portlet__head-title">
                                                    <span class="m-portlet__head-icon">
                                                            <img alt="" class="m-widget3__img" height="20px" width="20px" src="./assets/app/media/img/users/building.png">
                                                        </span>
                                                    <h3 class="m-portlet__head-text" style="font-weight:400">
                                                        {{'Centers for the customer' | translate}}({{facility.centers.length}})
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="m-portlet__head-tools">
                                                <ul class="m-portlet__nav">
                                                    <li class="m-portlet__nav-item">
                                                        <a class="m-portlet__nav-link m-portlet__nav-link--icon" data-portlet-tool="fullscreen" href="" title="" data-original-title="Fullscreen" ng-reflect-href="" (click)="expand()">
                                                            <i class="la la-chevron-down" id="exicon"></i>
                                                        </a>
                                                    </li>
                                                    <li class="m-portlet__nav-item">
                                                        <button id="m_modal_center_add_button" type="button" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--square" [title]="'ADD_CENTER' |  translate" data-toggle="modal" data-target="#m_modal_center_add" (click)="addNewCenter()" *ngIf="userType && userType == 'Admin'">
                                                            <i class="la la-plus"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="m-portlet__body" id="center_expand" style="display: none;">
                                            <div class="col-sm-12" style="height:300px;overflow:auto">
                                                <div class="row">
                                                    <div class="col-xl-4 col-lg-6 col-sm-12 col-xs-12" *ngFor="let center of facility.centers" style="padding-top: 10px;padding-left:1px">
                                                        <div class="m-alert m-alert--icon m-alert--air alert alert-dismissible fade show" style="cursor:pointer" id="{{center.name}}" (click)="updateCenter(center)">
                                                            <div class="m-alert__icon">
                                                                <i class="fa fa-building-o" style="font-size:1rem"></i>
                                                            </div>
                                                            <div class="m-alert__text" *ngIf="center">
                                                                <strong>
                                                                    {{center.name}}
                                                                </strong>
                                                            </div>
                                                            <!-- <div class="m-alert__actions" *ngIf="userType && userType == 'Admin'">
                                                                <span (click)="removeCenter(center)">
                                                                        <i style='color:red;cursor:pointer' class="la la-remove"></i>
                                                                </span>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <p-paginator [rows]="10" [totalRecords]="centerCount"></p-paginator> -->
                                        </div>
                                    </div>

                                    <!-- <button id="m_modal_center_add_button" type="button" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--square" [title]="'ADD_CENTER' |  translate" data-toggle="modal" data-target="#m_modal_center_add" (click)="addNewCenter()" *ngIf="userType && userType == 'Admin'">
                                                                        <i class="la la-plus"></i>
                                                                    </button> -->
                                    <span class="text-danger" *ngIf="centerNull">{{centerNull | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row" *ngIf="msg">
                                <div class="col-lg-12">
                                    <div id="device_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-danger" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                <!-- {{"ERROR" | translate}}! -->
                                            </strong> {{msg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="msgStatus">
                                <div class="col-lg-12">
                                    <div id="device_updating" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-info" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                <!-- {{"SUCCESS" | translate}} -->
                                            </strong> {{msgStatus | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row" *ngIf="centerNull">
                                <div class="col-lg-12">
                                    <div id="device_updating" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-primary" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-placeholder-1"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                    Note
                                            </strong> {{centerNull}}
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row" *ngIf="fieldError">
                                <div class="col-lg-12">
                                    <div id="user_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-warning" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                <!-- {{"WARNING" | translate}}! -->
                                            </strong> {{fieldError | translate}}
                                            <strong>
                                                
                                                </strong> {{facility.name}}
                                            <strong>
                                                       {{DETAILS | translate}}
                                                    </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row" *ngIf="uploadMsg">
                                <div class="col-lg-12">
                                    <div id="user_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-warning" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                {{"WARNING" | translate}}!
                                            </strong> {{uploadMsg}}
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <button id="device_submit" type="submit" class="btn btn-success m-btn--square blue">
                                        {{"SUBMIT" | translate}}
                                    </button>                                   
                                    <!-- <button id="device_cancel" routerLink="/facilities/list" class="btn btn-secondary m-btn--square" *ngIf="userType && userType == 'Admin'"> -->
                                    <button id="device_cancel" (click)="checkRoute()" class="btn btn-secondary m-btn--square">
                                        {{"CANCEL" | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

    <p-dialog modal="modal" [draggable]="false" [(visible)]="showDialog" [width]="800" [closable]="false">
        <p-header>
            {{"ENTER_CENTER_INFORMATION" | translate}}
            <div class="pull-right">
                <i style='color:red;cursor:pointer;font-size:2.0rem;margin-top:-20px' data-dismiss="modal" class="la la-remove" (click)="closeCenterModal()"></i>
            </div>
        </p-header>
        <div class="m-portlet__body">
            <form (ngSubmit)="f1.form.valid && saveNewCenter(selectedCenter)" #f1="ngForm" id="center_form">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group" id="c_name">
                                <label for="recipient-name" class="form-control-label">
                                                {{"NAME"| translate}} *
                                            </label>
                                <input id="center_name" type="text" class="form-control m-input--square" id="recipient-name" name="cname" [(ngModel)]="selectedCenter.name" #cname="ngModel" required>

                            </div>
                            <div class="form-group">
                                <label for="center-address" class="form-control-label">
                                                {{"ADDRESS" | translate}}
                                            </label>
                                <input id="center_address" class="form-control m-input--square" id="center-address" name="caddress" [(ngModel)]="selectedCenter.address.address" #caddress="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="center-country" class="form-control-label">
                                                {{"COUNTRY" | translate}}
                                            </label>
                                <input id="center_state" type="text" class="form-control m-input--square" id="center-state" name="ccountry" [(ngModel)]="selectedCenter.address.country" #ccountry="ngModel">
                                <!-- <select id="center_country" name="ccountry" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.address.country" #ccountry="ngModel">
                                                <option value="{{country.name}}" *ngFor="let country of countires">{{country.name}}</option>
                                            </select> -->
                            </div>
                            <div class="form-group">
                                <label for="center-state" class="form-control-label">
                                                {{"STATE" | translate}}
                                            </label>
                                <input id="center_state" type="text" class="form-control m-input--square" id="center-state" name="cstate" [(ngModel)]="selectedCenter.address.state" #cstate="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="center-city" class="form-control-label">
                                                {{"CITY" | translate}}
                                            </label>
                                <input id="center_city" type="text" class="form-control m-input--square" id="center-city" name="ccity" [(ngModel)]="selectedCenter.address.city" #ccity="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="center-district" class="form-control-label">
                                                {{"DISTRICT" | translate}}
                                            </label>
                                <input id="center_district" type="text" class="form-control m-input--square" id="center-district" name="cdistrict" [(ngModel)]="selectedCenter.address.district" #cdistrict="ngModel">
                            </div>
                            <div class="form-group">
                                <label for="center-postcode" class="form-control-label">
                                                {{"POSTAL_CODE" | translate}}
                                            </label>
                                <input id="center_postcode" type="text" class="form-control m-input--square" id="center-postcode" name="cpostcode" [(ngModel)]="selectedCenter.address.postcode" #cpostcode="ngModel">
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">
                                    {{"DESCRIPTION" | translate}}
                                </label>
                                <textarea id="center_description" class="form-control m-input--square" id="message-text" name="cdescription" [(ngModel)]="selectedCenter.description" #cdescription="ngModel"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="searchaddress" class="form-control-label">
                                          <span *ngIf="!showAddError"> {{'SEARCH' | translate}}</span>    
                                          <span *ngIf="showAddError" class="text-danger"> {{'SEARCH' | translate}}*</span>     
                                                    </label><br/>
                                <div style="width:100%">
                                    <p-autoComplete id="search_map" [(ngModel)]="text" [placeholder]="'Search Your Address' | translate" [disabled]="disabled" field="description" [suggestions]="results" name="searchaddress" (onClear)="clearPoint()" (onSelect)="selected($event)" (completeMethod)="search($event)"></p-autoComplete>
                                </div>
                            </div>
                            <div class="form-group">
                                <div style=" margin-top: 12px">
                                    <p-gmap [options]="options" [style]="{'width':'100%','height':'280px'}" [overlays]="overlays" (onOverlayDragEnd)="handleDragEnd($event,this)" (onMapReady)="setMap($event)"></p-gmap>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="showAddress">
                                {{'By default, center location will be your current location. You can also choose your center location by search/drag and drop of marker' | translate}}
                            </div>
                            <div class="form-group" *ngIf="showMsg">
                                {{'Unable to get proper location of your center.You can choose your center location by search' | translate}}
                            </div>                          
                        </div>
                    </div>
                </div>
                <p-footer>                       
                    <span class="text-danger" *ngIf="showAddError" style="padding-left:10px"> {{'No Geolocation detected for center search the location and try to save' | translate}}</span>                           
                    <span class="text-danger" *ngIf="showName">{{'Enter center name then try to close' | translate}}</span>
                    <div class="pull-right" style="padding:10px">
                        <button id="center_submit" type="submit" class="btn btn-success m-btn--square blue"  [disabled]="singleClick">
                            {{"SUBMIT" | translate}}
                        </button>                      
                        <button id="close_center_modal" type="button" class="btn btn-secondary m-btn--square" data-dismiss="modal" (click)="closeCenterModal()">
                            {{"CLOSE" | translate}}
                        </button>
                    </div>
                </p-footer>
            </form>

        </div>

    </p-dialog>

    <!--begin::Modal-->
    <!-- <div class="modal fade" id="m_modal_center_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{"ENTER_CENTER_INFORMATION" | translate}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeCenterModal()">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <form (ngSubmit)="f1.form.valid && addCenter(selectedCenter)" #f1="ngForm" id="center_form">
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">
                                            {{"NAME"| translate}} *
                                        </label>
                                        <input id="center_name" type="text" class="form-control m-input--square" id="recipient-name" name="cname" [(ngModel)]="selectedCenter.name" #cname="ngModel" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="center-address" class="form-control-label">
                                            {{"ADDRESS" | translate}}
                                        </label>
                                        <input id="center_address" class="form-control m-input--square" id="center-address" name="caddress" [(ngModel)]="selectedCenter.address.address" #caddress="ngModel">
                                    </div>
                                    <div class="form-group">
                                        <label for="center-country" class="form-control-label">
                                            {{"COUNTRY" | translate}}
                                        </label>
                                        <input id="center_state" type="text" class="form-control m-input--square" id="center-state" name="ccountry" [(ngModel)]="selectedCenter.address.country" #ccountry="ngModel">
                                        <select id="center_country" name="ccountry" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.address.country" #ccountry="ngModel">
                                            <option value="{{country.name}}" *ngFor="let country of countires">{{country.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="center-state" class="form-control-label">
                                            {{"STATE" | translate}}
                                        </label>
                                        <input id="center_state" type="text" class="form-control m-input--square" id="center-state" name="cstate" [(ngModel)]="selectedCenter.address.state" #cstate="ngModel">
                                    </div>
                                    <div class="form-group">
                                        <label for="center-city" class="form-control-label">
                                            {{"CITY" | translate}}
                                        </label>
                                        <input id="center_city" type="text" class="form-control m-input--square" id="center-city" name="ccity" [(ngModel)]="selectedCenter.address.city" #ccity="ngModel">
                                    </div>
                                    <div class="form-group">
                                        <label for="center-district" class="form-control-label">
                                            {{"DISTRICT" | translate}}
                                        </label>
                                        <input id="center_district" type="text" class="form-control m-input--square" id="center-district" name="cdistrict" [(ngModel)]="selectedCenter.address.district" #cdistrict="ngModel">
                                    </div>
                                    <div class="form-group">
                                        <label for="center-postcode" class="form-control-label">
                                            {{"POSTAL_CODE" | translate}}
                                        </label>
                                        <input id="center_postcode" type="text" class="form-control m-input--square" id="center-postcode" name="cpostcode" [(ngModel)]="selectedCenter.address.postcode" #cpostcode="ngModel">
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="message-text" class="form-control-label">
                                                                            {{"DESCRIPTION" | translate}}
                                                                        </label>
                                        <textarea id="center_description" class="form-control m-input--square" id="message-text" name="cdescription" [(ngModel)]="selectedCenter.description" #cdescription="ngModel"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="search-address" class="form-control-label">
                                                Search
                                                </label><br/>
                                        <p-autoComplete placeholder="Search Your Address" [disabled]="disabled" field="description" [suggestions]="results" (onSelect)="selected($event)" (completeMethod)="search($event)"></p-autoComplete>
                                    </div>
                                    <div class="form-group">
                                        <div style=" margin-top: 12px">
                                            <p-gmap [options]="options" [style]="{'width':'100%','height':'280px'}" [overlays]="overlays" (onOverlayDragEnd)="handleDragEnd($event,this)" (onMapReady)="setMap($event)"></p-gmap>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="center_submit" type="submit" class="btn btn-success m-btn--square">
                            {{"SUBMIT" | translate}}
                        </button>
                        <button id="close_center_modal" type="button" class="btn btn-secondary m-btn--square" data-dismiss="modal" (click)="closeCenterModal()">
                            {{"CLOSE" | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <!--end::Modal-->
</div>
<style>
    body .ui-dialog .ui-dialog-content {
        padding: 0em;
        overflow: auto;
        height: 88%;
    }
</style>
