<div class="m-content">
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__body">
                    <div class="m-card-profile" *ngIf="user.user">
                        <div class="m-card-profile__title m--hide">
                            Your Profile
                        </div>
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                <img alt="" *ngIf="user.user.profilePictureUrl" style="border-radius:100%;" height="80px" width="80px" class="m-widget3__img" [src]="user.user.profilePictureUrl">
                                <img alt="" *ngIf="!user.user.profilePictureUrl" class="m-widget3__img" height="80px" width="80px" src="./assets/app/media/img/users/user-avatar.png">
                            </div>
                        </div>
                        <div class="m-card-profile__details" style="word-break: break-all">
                            <span class="m-card-profile__name">
                                        {{user.user.firstName}} {{user.user.lastName}}
                                    </span>
                            <a class="m-card-profile__email m-link" href="" ng-reflect-href="">
                                        {{user.user.email}} 
                                </a><br/>
                            <span class="m-card-profile__email">
                                        <span class="flag_cls flag_{{country_code.toLowerCase()}}"></span> {{user.user.dial_code}} {{user.user.phone}}
                            </span><br/>
                            <span class="label label-lg label-success arrowed-in arrowed-in-right" style="margin-top:10px" *ngIf="user.user.active">{{'ACTIVE' | translate}}</span>
                            <span class="label label-lg label-pink arrowed-in arrowed-in-right" style="margin-top:10px" *ngIf="!user.user.active">{{'Deactive' | translate}}</span>
                        </div>
                    </div>

                    <div class="m-portlet__body-separator"></div>

                    <div class="m-widget1 m-widget1--paddingless" style="margin-top:-20px">
                        <div class="m-widget1__item" style="word-break: break-all">
                            <div class="align-items-left">
                                <div class="row">
                                    <span>
                                            <i class="flaticon-placeholder-1" *ngIf="!fLogo"></i>
                                            <img alt="" *ngIf="fLogo" class="m-widget3__img" height="50px" width="50px" style="border-radius: 50%;" [src]="fLogo">
                                    </span>
                                    <span style="margin-left:10px;word-break: break-all" *ngIf="facilityName!=''">
                                            {{facilityName}}<br/> {{centerName}}
                                    </span>
                                    <span style="margin-left:10px;" *ngIf="facilityName==''">
                                        <b>{{'No Data' | translate}}</b>   
                                        <!-- <div class="m-loader m-loader--success" style="width: 30px; display: inline-block;"></div>  -->
                                    </span>
                                </div>
                                <div class="row" style="word-break: break-all" *ngIf="role">
                                    <!-- <i class="flaticon-user-settings" style="font-size:1.8rem"></i> -->
                                    <span style="margin-left:10px;"> <b>  {{role}}</b>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body-separator"></div>
                    <div class="m-widget1 m-widget1--paddingless" style="margin-top:-20px">
                        <div class="m-widget1__item" (click)="tableSelectClick('chart')" style="cursor:pointer">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        {{"PATIENTS" | translate}}
                                    </h3>
                                    <span class="m-widget1__desc">
                                            {{"ENROLLED_PATIENTS" | translate}}
                                            </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand" *ngIf="patientCount">
                                            {{patientCount}}
                                            </span>
                                    <span class="m-widget1__number m--font-brand" *ngIf="!patientCount">
                                            <div class="m-loader m-loader--success" style="width: 30px; display: inline-block;"></div>             
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item" (click)="tableSelectClick('log')" style="cursor:pointer">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        {{"DIAGNOSTICS" | translate}}
                                    </h3>
                                    <span class="m-widget1__desc">
                                            {{"DIAGNOSTICS_DONE" | translate}}
                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-danger" *ngIf="digCount">
                                            {{digCount}}
                                    </span>
                                    <span class="m-widget1__number m--font-danger" *ngIf="!digCount">
                                            <div class="m-loader m-loader--success" style="width: 30px; display: inline-block;"></div>      
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item" (click)="tableSelectClick('test')" style="cursor:pointer">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        {{'TEST' | translate}}
                                    </h3>
                                    <span class="m-widget1__desc">
                                                {{'Test_Mapped' | translate}}
                                            </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success" *ngIf="user.user.testMapping">
                                               {{user.user.testMapping.length}}
                                    </span>
                                    <span class="m-widget1__number m--font-danger" *ngIf="!user.user.testMapping">
                                        <div class="m-loader m-loader--success" style="width: 30px; display: inline-block;"></div>      
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8" style="padding:0px">
            <div class="m-portlet" style="min-height:735px">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:25px">
                        <div class="pull-left">
                            <h5 class="m-portlet__head-text">
                                {{'User Details' | translate}}
                            </h5>
                        </div>
                        <div class="row pull-right" *ngIf="userType !='User'">
                            <a id="facility_detail_details" (click)="redirectDetail()" class="m-link m-link--state m-link--focus m--font-boldest" style="cursor:pointer" *ngIf="this.facilityId != '/'">
                                <span>
                                            <i class="flaticon-placeholder-1 m--font-success"></i>
                                            <span class="m--font-success">
                                               {{"CUSTOMER_DETAILS" | translate}}
                                            </span>
                                </span>
                            </a>
                            <a id="user_detail_list" class="m-link m-link--state m-link--success m--font-boldest" (click)="redirectList()" *ngIf="this.facilityId == '/'" style="margin-left:10px; cursor:pointer">
                                <span>
                                            <i class="flaticon-users m--font-success"></i>
                                            <span class="m--font-success">
                                                {{"USER_LIST" | translate}}
                                            </span>
                                </span>
                            </a>
                            <a id="user_detail_edit" class="m-link m-link--state m-link--info m--font-boldest" (click)="userEdit()" *ngIf="this.facilityId == '/' && !hideUserEdit" style="margin-left:10px; cursor:pointer">
                                <span>
                                            <i class="flaticon-edit-1 m--font-info"></i>
                                            <span class="m--font-info">
                                               {{"USER_EDIT" | translate}}
                                            </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="col-12" *ngIf="showDelete">
                        <div class="alert alert-danger" role="alert">
                            <strong>
                                        Delete!
                                    </strong> {{"User_Deleted_successfully"|translate}}.
                        </div>
                    </div>
                    <!-- <div class="col-12">
                        <div class="row">
                            <div class="col-8">
                                <span><b>Once you delete {{user.user.firstName}} {{user.user.lastName}} means not able to login to HealthCube App </b> </span>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="float:right" (click)="deleteUser()">
                                    <span style="color:#fff">
                                        <i class="fa fa-warning"></i>
                                        <span>
                                            Delete
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--primary" role="tablist">
                        <li class="nav-item m-tabs__item" style="cursor:pointer">
                            <a class="nav-link m-tabs__link active show" id="chart_link" data-toggle="tab" href="#m_tabs_6_1" role="tab" ng-reflect-href="#m_tabs_6_1" aria-selected="true">
                                           {{"Patient_Chart"|translate}}
                                        </a>
                        </li>
                        <li class="nav-item m-tabs__item" style="cursor:pointer">
                            <a class="nav-link m-tabs__link" id="log_link" data-toggle="tab" href="#m_tabs_6_3" role="tab" ng-reflect-href="#m_tabs_6_3" aria-selected="false">
                                            {{"Diagnostic_Done"|translate}}
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item" style="cursor:pointer;">
                            <a class="nav-link m-tabs__link" data-toggle="tab" id="hub_link" href="#m_tabs_6_4" role="tab" ng-reflect-href="#m_tabs_6_4" aria-selected="false">
                                      {{"Hub_Details"|translate}}
                                </a>
                        </li>
                        <li class="nav-item m-tabs__item" (click)="tableSelectClick('test')" style="cursor:pointer">
                            <a class="nav-link m-tabs__link" id="test_link" data-toggle="tab" href="#m_tabs_6_5" role="tab" ng-reflect-href="#m_tabs_6_5" aria-selected="false">
                                      {{"Test_Mapped"|translate}}
                                </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="m_tabs_6_1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-6" id="patientCountbygender" style="margin-top:20px" *ngIf="genderArray.length!=0">
                                    <h6 style="text-align:center;text-transform:uppercase">{{'Patient_Statistics_(Gender)'|translate}}</h6>
                                    <!-- <div id="pie_chart_gender_statistics" style="height: 400px;"></div> -->
                                    <app-amchartcomponent [data]="genderArray" [id]="'pie_chart_gender_statistics'" [title]="gender" [category]="'gender'" [height]="380" [type]="'pie'"></app-amchartcomponent>
                                </div>
                                <div class="col-lg-6" id="patientCountbyage" style="margin-top:20px" *ngIf="ageList.length!=0">
                                    <h6 style="text-align:center;text-transform:uppercase">{{'Patient_Statistics_(Age)' | translate}}</h6>
                                    <!-- <div id="pie_chart_age_statistics" style="height: 400px;"></div> -->
                                    <app-amchartcomponent [data]="ageList" [id]="'pie_chart_age_statistics'" [title]="age" [category]="'age'" [height]="400" [type]="'pie'"></app-amchartcomponent>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">

                            <div class="col-lg-12" id="dignostic_charts_by_center">
                                <h6 style="text-align:center;text-transform:uppercase">{{"Diagnostics_done_based_on_user"|translate}}</h6>
                                <!-- <div id="tests_chart_week" style="height: 400px;"></div> -->
                                <div class="m-portlet__body" *ngIf="showDigLoad" style="height: 400px;">
                                    <div class="progress">
                                        <span></span>
                                        <span class="spin-space"></span>
                                        <span class="spin-space"></span>
                                        <span class="spin-space"></span>
                                        <span class="spin-space"></span>
                                        <span class="spin-space"></span>
                                    </div>
                                </div>
                                <app-amchartcomponent *ngIf="!showDigLoad" [data]="testChartValue" [graphData]="graphValues" [id]="'tests_chart_week'" [title]="test" [height]="400" [type]="'userserial'"></app-amchartcomponent>
                            </div>

                            <div class="col-lg-12" id="eachtest" style="display:none;margin-top:10px">
                                <div class="m-separator m-separator--dashed"></div>
                                <h6 style="text-align:center;text-transform:uppercase">{{"Diagnostics_done_for_each_test_from"|translate}} {{time}}</h6>
                                <div id="each_test_chart" style="height: 350px;"></div>
                            </div>

                        </div>
                        <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">
                            <p-dataTable [value]="deviceList" styleClass="borderless" *ngIf="deviceList">
                                <p-column [style]="{'width':'30px'}" styleClass="text-center" header="S.No">
                                    <ng-template let-index="rowIndex" pTemplate="body">
                                        <div style="text-align : center;">
                                            <b>
                                                        <span>{{index+1}}</span>
                                                    </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="deviceSerialNumber" [style]="{'width':'90px'}" [sortable]="true" styleClass="text-left" [header]="'HUB SERIAL NUMBER' | translate">
                                    <ng-template let-file="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b> <span>{{file.deviceSerialNumber}}</span></b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column [style]="{'width':'130px'}" styleClass="text-left" [header]="'Device Details'|translate">
                                    <ng-template let-file="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>
                                                {{'EZDX app version' | translate}} <br/>
                                                <span *ngIf="file.ezdxAppVersion">{{file.ezdxAppVersion}}</span>
                                                <span *ngIf="!file.ezdxAppVersion">{{'No Data' | translate}}</span> <br/>
                                                {{'Andriod version' | translate}} <br/>
                                                <span *ngIf="file.androidVersion">{{file.androidVersion}}</span>
                                                <span *ngIf="!file.androidVersion">{{'No Data' | translate}}</span>
                                            </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <!-- <p-column [style]="{'width':'60px'}" styleClass="text-left" header="Last Used">
                                    <ng-template let-file="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>                                                    
                                                <span *ngIf="file.deviceLastUsed">
                                                    <span> <i class="fa fa-calendar"></i>{{file.deviceLastUsed | date : 'dd-MM-y'}} </span> <br/>
                                                    <span><i class="fa fa-clock-o"></i>{{file.deviceLastUsed | date : 'HH:mm'}} </span>
                                                </span>
                                                <span *ngIf="!file.deviceLastUsed">No Data</span>                                                    
                                            </b>
                                        </div>
                                    </ng-template>
                                </p-column> -->
                                <p-column field="deviceFirmwareVersion" [style]="{'width':'120px'}" [sortable]="true" styleClass="text-left" [header]="'FIRMWARE VERSION' | translate">
                                    <ng-template let-file="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b> <span>{{file.deviceFirmwareVersion}}</span><br/>
                                                <span *ngIf="file.deviceFirmwareLastUpdated">
                                                        <span> <i class="fa fa-calendar"></i>{{file.deviceFirmwareLastUpdated | date : 'dd-MM-y'}} </span> <br/>
                                                        <span><i class="fa fa-clock-o"></i>{{file.deviceFirmwareLastUpdated | date : 'HH:mm'}} </span>
                                                </span></b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="devicePyVersion" [style]="{'width':'120px'}" [sortable]="true" styleClass="text-left" [header]="'PYTHON VERSION' | translate">
                                    <ng-template let-file="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b> <span>{{file.devicePyVersion}}</span><br/>
                                                <span *ngIf="file.devicePyLastUpdated">
                                                        <span> <i class="fa fa-calendar"></i>{{file.devicePyLastUpdated | date : 'dd-MM-y'}} </span> <br/>
                                                        <span><i class="fa fa-clock-o"></i>{{file.devicePyLastUpdated | date : 'HH:mm'}} </span>
                                                </span>
                                            </b>

                                        </div>
                                    </ng-template>
                                </p-column>
                                <!-- <p-column field="devicePyLastUpdated" [style]="{'width':'100px'}" [sortable]="true" styleClass="text-left" header="Python Updated Time">
                                    <ng-template let-file="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <i class="fa fa-calendar">  {{file.devicePyLastUpdated | date:'yMd'}}</i><br/>
                                            <i class="fa fa-clock-o"> {{file.devicePyLastUpdated | date:'jm'}}</i>

                                        </div>
                                    </ng-template>
                                </p-column> -->

                                <!-- <p-column field="deviceFirmwareLastUpdated" [style]="{'width':'100px'}" [sortable]="true" styleClass="text-left" header="FIRMWARE Updated Time">
                                    <ng-template let-file="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <i class="fa fa-calendar">  {{file.deviceFirmwareLastUpdated | date:'yMd'}}</i><br/>
                                            <i class="fa fa-clock-o"> {{file.deviceFirmwareLastUpdated | date:'jm'}}</i>
                                        </div>
                                    </ng-template>
                                </p-column> -->
                            </p-dataTable>

                        </div>
                        <div class="tab-pane" id="m_tabs_6_5" role="tabpanel">
                            <div class="col-sm-12">
                                <span class="m-switch m-switch--icon m-switch--success" *ngIf="userType == 'Admin' && user.user.active==true">
                                    <label>
                                        <input type="checkbox" [checked]="mapping" (change)="enableMapping(mapping)">
                                        <span></span>
                                </label>
                                </span>
                                <span *ngIf="userType == 'Admin' && user.user.active==true"> {{"Click_here_to_map_test_to"|translate}} {{user.user.firstName}} {{user.user.lastName}}</span>
                                <div class="pull-right" *ngIf="mapping">
                                    <!-- <span>
                                        <b>Select/Deselect all tests for user</b>
                                    </span>
                                    <span class="m-switch m-switch--icon">
                                    <label>
                                        <input [checked]="checkAllTest" (change)="oncheckAllTest($event)" name="" type="checkbox">
                                        <span></span>
                                    </label>
                                    </span> -->
                                    <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="checkSave()">
                                        <span>
                                        <span>
                                            {{'SAVE' | translate}}
                                        </span>
                                        </span>
                                    </a>
                                </div>
                                <br/><br/>
                                <div class="col-sm-12">
                                    <div class="alert alert-success alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert" *ngIf="msg">
                                        <strong>
                                                {{msg | translate}}          
                                            </strong>
                                    </div>
                                </div>
                                <div class="row" *ngIf="newtests.length !=0 && mapping">
                                    <div class="col-xl-6 col-lg-6 col-sm-12 col-xs-12" *ngFor="let test of newtests">
                                        <div class="m-alert m-alert--icon m-alert--air alert alert-dismissible fade show" id="enable_map" style="cursor:pointer" (click)="sTest(test)">
                                            <div class="m-alert__icon">
                                                <i class="la la-warning" *ngIf="!test.testIconUrl"></i>
                                                <img *ngIf="test.testIconUrl" [src]="test.testIconUrl" alt="" style="height:auto" width="70px">
                                            </div>
                                            <div class="m-alert__text" *ngIf="test">
                                                <strong>
                                                        {{test.testName | translate}}
                                                    </strong> <br/>{{test.testType | translate}}
                                            </div>
                                            <div class="m-alert__actions">
                                                <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                                        <input id="test_select_{{test.id}}" type="checkbox" [checked]="test.selected" (change)="sTest(test)">
                                                        <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="noMap">
                                    <div class="row" *ngIf="newtests.length !=0">
                                        <div class="col-xl-6 col-lg-6 col-sm-12 col-xs-12" *ngFor="let test of newtests">
                                            <div class="m-alert m-alert--icon m-alert--air alert alert-dismissible fade show" id="{{test.testName}}" style=" opacity: 0.1;filter: alpha(opacity=50);">
                                                <div class="m-alert__icon">
                                                    <i class="la la-warning" *ngIf="!test.testIconUrl"></i>
                                                    <img *ngIf="test.testIconUrl" [src]="test.testIconUrl" alt="" style="height:auto" width="70px">
                                                </div>
                                                <div class="m-alert__text" *ngIf="test">
                                                    <strong>
                                                            {{test.testName | translate}}
                                                        </strong> <br/>{{test.testType | translate}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>