<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
                        <i class="flaticon-users"></i>
					</span> -->
                    <h3 class="m-portlet__head-text" style="font-weight:400">
                        {{"USER_LIST" | translate}}
                        <small class="no-cap">{{"LIST_OF_USERS" | translate}}.{{"SEARCH" | translate}}, {{"SORT_AND_CLICK_ON" | translate}}
                            <i class="la la-pencil"></i> {{"TO_EDIT_IT" | translate}}. </small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="userType && userType == 'Admin'">
                        <!-- <div class="input-group m-input-group" *ngIf="facilities">
                            <span class="input-group-addon" id="basic-addon1">
                                    {{"CUSTOMER" | translate}}
                                    
                                </span>
                            <select aria-describedby="basic-addon1" name="organisationId" id="select_facility" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
                                    <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                                </select>
                        </div> -->
                        <app-fac-dropdown [id]="'user-filter-customer'" [value]="chosen" (selected)="facilityChange($event)"></app-fac-dropdown>
                    </li>
                    <li class="m-portlet__nav-item">
                        <div class="input-group m-input-group" *ngIf="centers">
                            <span class="input-group-addon" id="basic-addon2">
                                    {{"CENTER" | translate}}
                                </span>
                            <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" #centerId="ngModel">
                                    <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                </select>
                        </div>
                    </li>
                    <!-- <li class="m-portlet__nav-item">
                            <div class="m-subheader" style="padding:0px;">
                                <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                                    <span class="m-subheader__daterange-label">
                                        <span class="m-subheader__daterange-title"></span>
                                        <span class="m-subheader__daterange-date m--font-brand"></span>
                                    </span>
                                    <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                        <i class="la la-angle-down"></i>
                                    </a>
                                </span>
                            </div>
                        </li> -->
                    <li class="m-portlet__nav-item" *ngIf="!hideFilter">
                        <a class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--pill yellow" style="color: #fff;" (click)="pageNo=1;onFilterClick()">
                            <span>
                                    <span>
                                        {{"FILTER" | translate}}
                                    </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-left m--margin-top-10 m--margin-bottom-10" style="padding-left: 20px;">
                <div class="row align-items-center">
                    <div class="col-xl-9 order-2 order-xl-1">
                        <div class="form-group m-form__group row">                            
                            <label class="col-form-label" for="example-text-input" style="text-align:left">
                                {{"SEARCH_TEXT" | translate}}
                                <br/>
                                <span class="hintText">({{"MIN_3_CHARACTER" | translate}})</span>
                           </label>
                            <div class="col-4">
                                <div class="m-input-icon m-input-icon--right m-input-icon--left form-group">
                                    <input type="text" class="form-control m-input m-input--solid m-input m-input--pill" [(ngModel)]="searchString" [placeholder]="'SEARCH' | translate" id="m_form_search" (keyup)="pageOne('user');searchUser($event)">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                            <span>
                                                                <i class="la la-search"></i>
                                                            </span>
                                    </span>
                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                        <span style="border:none;background: transparent;cursor:pointer" (click)="searchString='';pageNo=1;onFilterClick()">
                                        <i style='color:red' class="la la-remove"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-xl-3 order-1 order-xl-2 m--align-right" *ngIf="isOperator || userType == 'Admin'">
                        <a id="user_add" routerLink="/users/add" class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
								<span>
                                    {{"NEW_USER" | translate}}
								</span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
                <div class="row align-items-center" *ngIf="searchString.length>=3">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label">{{"SEARCH_BY" | translate}}                                               
                                                        </label>
                                    <div class="col-6">
                                        <select [(ngModel)]="selectedSearchBy" (change)="onChangeSeachBy($event)" style="padding-left: 1rem" class="form-control m-input m-input--pill">
                                                        <option *ngFor="let c of SearchBylist" [ngValue]="c">{{c.name}}</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label">{{"SEARCH_BY" | translate}}                                           
                                    </label>
                                    <div class="col-6">
                                        <select [(ngModel)]="selectedBySort" (change)="onChangeSortBy($event)" style="padding-left: 1rem" class="form-control m-input m-input--pill">
                                    <option *ngFor="let c of sortBylist" [ngValue]="c">{{c.name}}</option>
                                </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="table-responsive" id="local_data">
                <table class="table m-table m-table--head-bg-brand">
                    <thead>
                        <tr>
                            <th>
                                {{'S.No' | translate}}
                            </th>
                            <th>
                               {{'PROFILE  PICTURE' | translate}}
                            </th>
                            <th>
                                {{'NAME' | translate}}
                            </th>
                            <th>
                                {{'ROLE' | translate}}
                            </th>
                            <th *ngIf="userType == 'Admin'">
                                {{'CUSTOMER' | translate}}/<br/>{{'CENTER' | translate}}
                            </th>
                            <th *ngIf="userType == 'Facility' || userType =='Center'">
                                {{'CENTER' | translate}}
                            </th>
                            <th *ngIf="userType !='Center' && !isDoctor">
                                {{'ACTIVATE/DEACTIVATE' | translate}}
                            </th>
                            <th>
                                {{'ACTIONS' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let user of users; let i = index">
                            <th>
                                {{(pageNo -1) * pageSize + (i+1)}}
                            </th>
                            <td>
                                <img alt="" *ngIf="!user.profilePictureUrl" class="m-widget19__img" height="40px" style="border-radius:50%" src="./assets/app/media/img/users/user-avatar.png">
                                <img alt="" *ngIf="user.profilePictureUrl" height="40px" width="40px" style="border-radius:50%" class="m-widget19__img" [src]="user.profilePictureUrl">
                            </td>
                            <th>
                                <div style="word-break: break-all">
                                <span *ngIf="user.displayName">{{user.displayName}}</span>
                                <span *ngIf="!user.displayName">
                                            {{user.firstName}} {{user.lastName}}</span>
                                </div>
                                <span *ngIf="user.email"> {{user.email}}           </span>
                            </th>
                            <th>
                                <span>{{user.roleString}}</span>
                            </th>
                            <th *ngIf="userType == 'Admin'">
                                <span *ngIf="user.facilityName">{{user.facilityName}}</span>
                                <span *ngIf="!user.facilityName" style="color:white">
                                                                               {{'No Data' | translate}} </span><br/>
                                <span *ngIf="user.centerName">{{user.centerName}}</span><br/>
                            </th>
                            <th *ngIf="userType == 'Facility' || userType =='Center'">
                                <span *ngIf="user.centerName">{{user.centerName}}</span>
                            </th>
                            <td *ngIf="userType !='Center' && !isDoctor">
                                <span class="m-switch m-switch--sm m-switch--icon">
                                <label>
                                    <input type="checkbox" [(ngModel)]="user.active" [title]="'ACTIVATE/DEACTIVATE' | translate" (ngModelChange)="statusChange($event, user)">
                                    <span></span>
                                </label>
                                </span>
                            </td>
                            <td>
                                <div class="row">
                                    <a (click)="userViewPublicFunc(user.id)" style="margin-right:5px" class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'VIEW' | translate">
                                        <i class="la la-eye" style="color:#fff"></i>
                                    </a>
                                    <a (click)="userUpdatePublicFunc(user.id)" *ngIf="userType !='Center' && !isDoctor" class="btn btn-info m-btn m-btn--icon m-btn--icon-only" [title]="'EDIT' | translate">
                                        <i class="la la-pencil" style="color:#fff"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="text-center" *ngIf="userCount=='0'">
                            <td colspan="7"> {{'No records found' | translate}} </td>
                        </tr>
                    </tbody>
                   
                </table>
                <!-- <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12" *ngFor="let user of users; let i = index">
                            <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--bordered" style="opacity:0.8">
                                <div class="m-portlet__head" style="cursor:pointer" (click)="userViewPublicFunc(user.id)">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon">
                                                    <img alt="" *ngIf="!user.profilePictureUrl" class="m-widget19__img" height="50px" style="border-radius:50%" src="./assets/app/media/img/users/user-avatar.png">
                                                    <img alt="" *ngIf="user.profilePictureUrl" height="50px" width="50px" style="border-radius:50%" class="m-widget19__img" [src]="user.profilePictureUrl">
                                            </span>
                                <div style="word-break: break-all;">
                                    <h6 style="color:white;margin-top:15px">
                                        <span *ngIf="user.displayName">{{user.displayName}}</span>
                                        <span *ngIf="!user.displayName">
                                                            {{user.firstName}} {{user.lastName}}
                                                </span>
                                    </h6>
                                    <small style="color:white">                                              
                                                    {{user.email}}                                                                                   
                                                </small>
                                </div>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <span class="m--font-boldest" style="color:white">
                                                        {{(pageNo -1) * row + (i+1)}}
                                                </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body" style="cursor:pointer" (click)="userViewPublicFunc(user.id)">
        <b>                                                  
                                                    <div>{{user.roleString}}</div></b>
        <span *ngIf="user.facilityName">{{user.facilityName}}</span><br/>
        <span *ngIf="!user.facilityName" style="color:white">
                                                   No Data </span>
        <span *ngIf="user.centerName">{{user.centerName}}</span><br/>
    </div>
    <div class="m-portlet__foot">
        <div class="row align-items-center">
            <div class="col-lg-6 m--valign-left">
                <b> Activate/Deactivate</b>
            </div>
            <div class="col-lg-6 m--align-right">
                <b>View</b>
                <b>Edit</b>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 m--valign-middle">
                <span class="m-switch m-switch--sm m-switch--icon">
                                                        <label>
                                                            <input type="checkbox" [(ngModel)]="user.active" title="Activate/Deactivate" (ngModelChange)="statusChange($event, user)">
                                                            <span></span>
                </label>
                </span>
            </div>
            <div class="col-lg-6 m--align-right">
                <a (click)="userViewPublicFunc(user.id)" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill edit-facility" [title]="'VIEW' | translate">
                    <i class="la la-eye"></i>
                </a>
                <a (click)="userUpdatePublicFunc(user.id)" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill edit-facility" [title]="'EDIT' | translate">
                    <i class="la la-pencil"></i>
                </a>

            </div>
        </div>
    </div>
</div>
</div>
</div>
</div> -->
<!-- 
                <div class="pull-right" style="margin:12px">
                    {{"Total_Records"|translate}}: <b>{{userCount}} </b>
                </div> -->
                <div  style="position: relative;" *ngIf="visiblepagination">
                    <p-paginator [rows]="row" [totalRecords]="userCount" (onPageChange)="paginate($event)"></p-paginator>
                    <span style="position: absolute; top:3px; right:5px; margin: 5px;">
                            <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                            
                          <span> {{"Total_Records"|translate}}: <b>{{userCount}} </b> </span> 
                    </span>
                    <!-- <div class="drop" style="margin-top: -45px; margin-left: 120px;">
                        <label for="m_sorthby">{{"ITEMS_PER_PAGE" | translate}}</label>
                        <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>

                    </div> -->
                </div>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
    <p-dialog modal="modal" [(visible)]="displayDialog" styleClass="ccd-user" [draggable]="false" [width]="600" [dismissableMask]="true" [closable]="false" [closeOnEscape]="false">
        <div class="ccd-header">
            <span class="icon"><i class="flaticon-danger" style="font-size:3.5rem;"></i></span>
            <div class="header-text">{{'CONF_DEACTIVATION_HD' | translate }}</div>
        </div>
        <div class="ccd-body">
            <div class="ccd-body-sub-text">
                {{'CONF_DEACTIVATION_MSG' | translate }} <span *ngIf="userToDeactivate"><strong>{{userToDeactivate.displayName}}</strong></span>?
            </div>
            <div class="ccd-body-text">{{'DEACTIVATION_WARNING_MSG' | translate}}</div>
        </div>
        <p-footer>
            <div class="ccd-footer">
                <div class="col-md-6">
                    <button class="btn m-btn--square btn-block btn-danger btn-sm" (click)="deactivate()"><i class="fa fa-ban"></i> {{'DEACTIVE' | translate}}</button>
                </div>
                <div class="col-md-6">
                    <button class="btn m-btn--square btn-block btn-secondary btn-sm" (click)="deactivationCancel()"><i class="fa fa-times"></i> {{'CANCEL' | translate}} </button>
                </div>
            </div>
        </p-footer>
    </p-dialog>
</div>