.ccd-user{
    .ui-dialog-titlebar {
        padding: 0em !important;
        border-bottom: 0px !important;
    }
    .ui-dialog-content {
        padding: 0em;
    }
}

.ccd-header{
    display: flex;
    margin: 1em;
    padding: 0 1em;
    justify-content: flex-start;
    color: #D62839;

    .icon{
        padding: 1em 1em;
    }


    .header-text{
        padding: 1em 0.5em;
        font-size: 2em;

    }
}

.ccd-body{
    display: flex;
    margin: 1em;
    padding: 1em;
    flex-flow: row wrap;

    .ccd-body-sub-text{
        font-size: 1.5em;
    }
}

.ccd-footer{
    display: flex;
    margin: 1em;
}