.ehc-label-group{
  margin: 10px;
  padding: 5px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .ehc-label-item{
    margin: 5px;
    padding: 5px;
    border: none;
    display: flex;
  }
}

.ehc-test-result{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ehc-test-container{
  display: -webkit-box;
  width: 45%;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 10px #ccc;
  box-shadow: 0px 0px 10px #ccc;
  margin: 15px;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .ehc-test-container {
    width: 100% !important;
  }
}


.ehc-test-content{
  margin: 10px;
  padding: 5px;
}

.ehc-card{
  border-top: 2px solid #36a3f7;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}


.ehc-card-strech{
  display: flex;
  align-items: stretch !important;
}

.ehc-vlabel{
  padding: 2px 0;
}