<section class="card ehc-card">
  <div class="row">
    <div class="col-12">
      <div class="ehc-label-group">
      <div class="ehc-label-item">
        <span class="ehc-vlabel"><h6>Center:  </h6> </span><label> {{visit.centerName? visit.centerName : '&nbsp;&nbsp;&nbsp;&nbsp;--'}}</label>
    </div>
      <div class="ehc-label-item">
        <span class="ehc-vlabel"><h6>Visit Date: </h6> </span><label> {{visit.createTime | date: 'd/M/yy'}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
      <div class="row align-items-md-stretch">
      
    <div class="ehc-test-container" *ngFor="let test of visit.tests">
        <!-- <div class="ehc-test-container"> -->
        <div class="col-12">
          <label><h6>Test time:</h6></label> {{test.startTime | date: 'shortTime'}}
        </div>
        <div class="col-12">
          <label><h6>Test :</h6></label> {{test.name | translate}}
        </div> 
<!--         <div class="col-12">
          <label><h6>Test type:</h6></label> {{test.type| translate}}
        </div> -->

        <div *ngIf="test.type == 'WHOLE_BLOOD_RDT'">
                <div class="col-lg-12">
                    <label><h6>Result: </h6></label>
                    <b>{{(!test.machineResultValid && test.mismatched)?test.userRdtResult : test.rdtResult}}</b>
                </div>
                <div class="col-lg-12">
                    <label for="result"><h6>Result image: </h6></label>
                    <button class="btn btn-sm m-btn m-btn--sm btn-primary" (click)="toShowImage(test.imageUrl)">
                      Show Image
                    </button>
                        
                </div>
        </div>

        <div *ngIf="test.name == 'BLOOD_GLUCOSE'">
            <div class="col-lg-12">
            <label for="result"><h6>Result: </h6></label>
            <b>{{test.result}} {{test.unit}}</b>
            </div>
        </div>

        <div *ngIf="test.name == 'BLOOD_GROUPING'">
            <div class="col-lg-12">
            <label for="result"><h6>Result: </h6></label>
            <b>{{test.bloodGroupResult}}</b>
            </div>
        </div>
        <div *ngIf="test.name == 'BMI'">
            <div class="col-lg-12">
            <label for="bmiValue"><h6>BMI value: </h6></label>
                <b>{{test.bmiValue}}</b>
            </div>
            <div class="col-lg-12">
                <label for="Weight"><h6>Weight : </h6></label>
                <b>{{test.weightValue}} {{test.weightUnit}}</b>
            </div>
            <div class="col-lg-12">
                <label for="Height"><h6>Height : </h6></label>
                <b>{{test.heightValue}} {{test.heightUnit}}</b>
            </div>
        </div>
        <div *ngIf="test.name == 'TEMPERATURE'">
            <div class="col-lg-12">
                <label for="temperature"><h6>Temperature : </h6></label>
                <b>{{test.result}} {{test.unit}}</b>
            </div>
        </div>
        <div *ngIf="test.name == 'PULSE_OXIMETER'">
            <div class="col-lg-12">
                <label for="bmiValue"><h6>SPO : </h6></label>
                <b>{{test.spoValue}} {{test.spoUnit}}</b>
            </div>
            <div class="col-lg-12">
                <label for="bmiValue"><h6>Pulse : </h6></label>
                <b>{{test.pulseRate}} {{test.pulseRateUnit}}</b>
            </div>
        </div>
        <div *ngIf="test.name == 'URIC_ACID'">
            <div class="col-lg-12">
            <label for="temperature"><h6>Result : </h6></label>
            <b>{{test.result}} {{test.unit}}</b>
            </div>
        </div>
        <div *ngIf="test.name == 'URINE'">
            <div class="col-lg-12">
                <label for="temperature"><h6>Protein : </h6></label>
                <b>{{test.rdtResultProtein}}</b>
            </div>
            <div class="col-lg-12">
                <label for="temperature"><h6>Gulcose : </h6></label>
                <b>{{test.rdtResultProtein}}</b>
            </div>
        </div>
        <div *ngIf="test.name == 'BLOOD_PRESSURE'">
            <div class="col-lg-12">
                <label for="temperature"><h6>Systolic : </h6></label>
                <b>{{test.sys}}</b>
            </div>
            <div class="col-lg-12">
                <label for="temperature"><h6>Diastolic : </h6></label>
                <b>{{test.dia}}</b>
            </div>
            <div class="col-lg-12">
                <label for="temperature"><h6>Heart Rate : </h6></label>
                <b>{{test.heartRate}} {{test.unit}}</b>
            </div>
        </div>
        <div *ngIf="test.name == 'HEIGHT' || test.name == 'WEIGHT' || test.name == 'ECG' || test.name == 'MID_ARM_CIRCUMFERENCE' || test.name == 'HEMOGLOBIN' || test.name == 'CHOLESTEROL' || test.name == 'LEUKOCYTES' || test.name == 'UROBILINOGEN' || test.name == 'NITRITE' || test.name == 'PH'|| test.name == 'KETONE' || test.name == 'BLOOD'|| test.name == 'SPECIFIC_GRAVITY' || test.name == 'BILIRUBIN'">
            <div class="col-lg-12">
                <label for="temperature"><h6>Result :</h6></label>
                <b>{{test.result}} {{test.unit}}</b>
            </div>
        </div>
        <div *ngIf="test.name == 'PREGNANCY'">
            <div class="col-lg-12">
                <label for="temperature"><h6>Result :</h6></label>
                <b>{{test.rdtResult}}</b>
            </div>  
        </div>
      </div>
<!--     </div> -->
  </div>
</div>
</section>