<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="flaticon-users"></i>
                            </span>
                            <h3 class="m-portlet__head-text" style="font-weight:400">
                                <span *ngIf="!user.user.id">{{"ADD" | translate}}</span>
                                <span *ngIf="user.user.id">{{"UPDATE" | translate}} </span>
                                <span>{{"USER" | translate}}</span>
                                <small class="no-cap">{{"ENTER_USER_DETAILS_AND_SELECT_PROPER_USER_ROLES" | translate}}. {{"YOU_CAN_ASSIGN_MULTIPLE_ROLES_FOR_EITHER_HEALTHCUBE_OR_CUSTOMER_USER_TYPE"
                                    | translate}}.</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form (ngSubmit)="save(f.form.valid)" #f="ngForm" class="m-form m-form--fit m-form--label-align-right" id="m_form_user" action="">
                    <div class="m-portlet__body">
                        <div class="col-lg-12" style="padding-top:20px">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"FIRST_NAME" | translate}} *
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <input type="text" id="user_fname" name="fName" class="form-control m-input m-input--square" [(ngModel)]="user.user.firstName"
                                                            #fName="ngModel" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"LAST_NAME" | translate}} *
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <input type="text" id="user_lName" name="lName" class="form-control m-input m-input--square" [(ngModel)]="user.user.lastName"
                                                            #lName="ngModel" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"GENDER" | translate}}
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <select id="user_gender" name="gender" class="form-control m-input m-input--square" [(ngModel)]="user.user.gender" #gender="ngModel">
                                                            <option value="MALE">{{"MALE" | translate}}</option>
                                                            <option value="FEMALE">{{"FEMALE" | translate}}</option>
                                                            <option value="OTHER">{{"OTHER" | translate}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"EMAIL" | translate}} 
                                                    </label>
                                                    <div class="col-lg-8" *ngIf="emailID">
                                                        <div class="m-input-icon m-input-icon--right">
                                                            <input type="text" id="user_email" class="form-control m-input m-input--square" name="email" autocomplete="off" (change)="checkEmail(user.user.email)"
                                                                (keyup)="valEmail()" [(ngModel)]="user.user.email" #email="ngModel" >
                                                            <span class="m-input-icon__icon m-input-icon__icon--right" id="loading_icon" style="display:none">
                                                                <span>
                                                                    <div class="m-loader m-loader--brand" style="width: 30px; display: inline-block;"></div>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <span class="text-danger" *ngIf="errorEmail">{{errorEmail | translate }}</span>
                                                        <span class="text-danger" *ngIf="userPresent">{{'User email id already exists' | translate}}</span>
                                                    </div>
                                                    <div class="col-lg-8" *ngIf="!emailID">
                                                        <input type="text" id="user_email" class="form-control m-input m-input--square m-input--solid" autocomplete="off" readonly
                                                            name="email" (keyup)="valEmail()" [(ngModel)]="user.user.email" #email="ngModel"
                                                            required>
                                                        <span class="text-danger" *ngIf="errorEmail">{{errorEmail | translate }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;" *ngIf="!user.user.id">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"PASSWORD" | translate}} *
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                                            <input type="password" id="user_password" class="form-control m-input m-input--square" name="password" [(ngModel)]="user.password"
                                                                (keyup)="keyupPassowrd()" (change)="handlePassword(user.password)" #password="ngModel"
                                                                required>
                                                            <span class="m-input-icon__icon m-input-icon__icon--left" style="cursor:pointer">
                                                                <span>
                                                                    <i class="fa fa-refresh" (click)="generatePassword()"></i>
                                                                </span>
                                                            </span>
                                                            <span class="m-input-icon__icon m-input-icon__icon--right" style="cursor:pointer" id="eye">
                                                                <span>

                                                                    <i class="fa fa-eye" (click)="showPassword('show')"></i>
                                                                    <i class="fa fa-remove" style="color:red" (click)="user.password = ''"></i>
                                                                </span>
                                                            </span>
                                                            <span class="m-input-icon__icon m-input-icon__icon--right" style="display:none; cursor:pointer" id="eyehide">
                                                                <span>
                                                                    <i class="fa fa-eye-slash" (click)="showPassword('hide')"></i>
                                                                    <i class="fa fa-remove" style="color:red" (click)="user.password = ''"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"COUNTRY" | translate}}
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <select name="country" id="user_country" class="form-control m-input m-input--square" name="country" [(ngModel)]="user.user.addressInfo.country"
                                                            #country="ngModel" (change)="countrySelect($event)">
                                                            <option value="{{country.name}}" *ngFor="let country of countires">{{country.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"PHONE" | translate}} *
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <div class="input-group">
                                                            <button class="flag_btn">
                                                                <span class="flag_cls flag_{{country_code.toLowerCase()}}"></span>
                                                                <span id="basic-addon1">{{user.user.dial_code}}</span>
                                                            </button>
                                                            <input type="text" id="user_phone" name="phone" class="form-control m-input m-input--square" (keyup)="valPhone()" [(ngModel)]="user.user.phone"
                                                                #phone="ngModel" (change)="numberChange(user.user.phone)" required>
                                                            <span class="m-input-icon__icon m-input-icon__icon--right" id="loading_icon_phone" style="display:none">
                                                                <span>
                                                                    <div class="m-loader m-loader--brand" style="width: 30px; display: inline-block;"></div>
                                                                </span>
                                                            </span>

                                                        </div>
                                                        <span class="text-danger" *ngIf="errorPhone">{{errorPhone | translate}}</span>
                                                        <span class="text-danger" *ngIf="userPhonePresent">{{'User phone already exists' | translate}}</span>
                                                        <!-- <span class="text-danger" *ngIf="digitLength">{{digitLength}}</span> -->
                                                        <label></label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"QUALIFICATION" | translate}}
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <input type="text" id="user_qualification" name="qualification" class="form-control m-input m-input--square" [(ngModel)]="user.user.qualification"
                                                            #qualification="ngModel">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"AGE" | translate}}
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <input type="number" id="user_age" name="age" class="form-control m-input m-input--square" [(ngModel)]="user.user.age" #age="ngModel">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"ADDRESS" | translate}}
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <input type="text" id="user_address" class="form-control m-input m-input--square" name="address" [(ngModel)]="user.user.addressInfo.address"
                                                            #address="ngModel">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"CITY" | translate}}
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <input type="text" id="user_city" class="form-control m-input m-input--square" name="city" [(ngModel)]="user.user.addressInfo.city"
                                                            #city="ngModel">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"STATE" | translate}}
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <input type="text" id="user_state" class="form-control m-input m-input--square" name="state" [(ngModel)]="user.user.addressInfo.state"
                                                            #state="ngModel">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 15px;">
                                            <div class="col-lg-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-lg-4 col-form-label">
                                                        {{"POSTAL_CODE" | translate}}
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <input type="text" id="user_postcode" class="form-control m-input m-input--square" name="postcode" [(ngModel)]="user.user.addressInfo.postcode"
                                                            #postcode="ngModel">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        {{"UPLOAD_PROFILE_PICTURE" | translate}}
                                        <br/>
                                        <br/>
                                        <ng4-files-drop (filesSelect)="filesSelect($event)" style="width: 100%;text-align: center;">
                                            <ng4-files-click (filesSelect)="filesSelect($event)" style="width: 100%">
                                                <div class="m-card-profile" style="margin-top: -36px; cursor:pointer" [title]="'UPLOAD_PROFILE_PICTURE' | translate">
                                                    <div class="m-card-profile__pic" style="text-align: left">
                                                        <div class="m-card-profile__pic-wrapper" style="border-radius:0%">
                                                            <img *ngIf="user.user.profilePictureUrl" id="user-image" style="border-radius:0%;height:130px" alt="" [src]="user.user.profilePictureUrl">
                                                            <img *ngIf="!user.user.profilePictureUrl" id="user-image" style="border-radius:0%" alt="" src="./assets/app/media/img/users/user-avatar.png">
                                                            <!-- <div *ngIf="imgLoad" style="height: 130px;width: 130px;background-color: gainsboro;">
                                                                <div class="m-loader m-loader--success" style="width: 109px; display: inline-block;height:109px"></div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng4-files-click>
                                        </ng4-files-drop>
                                        <span class="text-info" *ngIf="submitMsg">{{'Once you click "submit" button profile picture will automatically upload' | translate}}</span>


                                    <div class="m-section" style="margin-right: 20px;">
                                        <div class="m-section__sub">
                                            {{"USER_ROLE" | translate}}
                                        </div>
                                        <div class="m-section__content" *ngIf="currentUserType && currentUserType == 'Admin'">
                                            <div class="m-demo" data-code-html="true" data-code-js="false" data-code-preview="true">
                                                <div class="m-demo__preview">
                                                    <div class="m-form">
                                                        <div class="form-group">
                                                            <label class="m-radio m-radio--bold m-radio--state-success">
                                                                <input id="user_usertype_healthcube" name="userType" type="radio" value="HC" [(ngModel)]="userType" (change)="onUserTypeChange('HC')">
                                                                <b>{{"HEALTHCUBE" | translate}}</b>
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="m-form__group form-group" style="padding-top: 0px;">
                                                            <div class="m-checkbox-inline">
                                                                <label class="m-checkbox m-checkbox--state-primary" *ngFor="let role of hcRoles">
                                                                    <input id="user_roletype_{{role.type}}" type="checkbox" value="{{role.type}}" [checked]="role.selected" (change)="onSelectRole(role)"
                                                                        [disabled]="userType !== 'HC'"> {{role.name | translate}}
                                                                    <span></span>
                                                                </label>
                                                            </div>
                                                            <span class="m-form__help">
                                                                {{"YOU_CAN_SELECT_MULTIPLE_ROLES" | translate}}
                                                            </span>
                                                        </div>
                                                        <div class="row" style="padding-top: 0px;" *ngIf="selectedType">
                                                            <label class="col-lg-12 m--font-success">
                                                              <b> {{"ASSIGN_THE_CENTER_TO_USER_WITHIN" | translate}} {{facilityName}} </b> 
                                                            </label>
                                                            <div class="col-lg-1"></div>
                                                            <div class="col-lg-6" style="margin-left:-25px; margin-top:10px">
                                                                <select id="user_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="user.user.centerId" #centerId="ngModel">
                                                                    <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-section__content">
                                            <div class="m-demo" data-code-html="true" data-code-js="false" data-code-preview="true">
                                                <div class="m-demo__preview">
                                                    <div class="m-form">
                                                        <div class="form-group" *ngIf="currentUserType && currentUserType == 'Admin'">
                                                            <label class="m-radio m-radio--bold m-radio--state-success">
                                                                <input id="user_usertype_client" name="userType" type="radio" value="facility" [(ngModel)]="userType" (change)="onUserTypeChange('facility')">
                                                                <b>{{"CUSTOMER" | translate}}</b>
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="m-form__group form-group" style="padding-top: 0px;">
                                                            <div class="m-checkbox-inline">
                                                                <label class="m-checkbox m-checkbox--state-primary" *ngFor="let role of facilityRoles">
                                                                    <input id="user_roletype_{{role.type}}" type="checkbox" value="{{role.type}}" [checked]="role.selected" (change)="role.selected = !role.selected"
                                                                        [disabled]="userType !== 'facility'"> {{role.name | translate}}
                                                                    <span></span>
                                                                </label>
                                                            </div>
                                                            <span class="m-form__help">
                                                                {{"YOU_CAN_SELECT_MULTIPLE_ROLES_THEN_SELECT_CUSTOMER_AND_CENTER_FOR_USER_TO_ASSIGN" | translate}}.
                                                            </span>
                                                        </div>
                                                        <div class="form-group m-form__group row" style="padding-top: 0px;" *ngIf="userType !== 'HC' &&  userType !== 'IAP' && (currentUserType && currentUserType === 'Admin') ">
                                                            <label class="col-lg-6 col-form-label">
                                                                {{"CUSTOMER" | translate}}
                                                            </label>
                                                            <div class="col-lg-6">                                                            
                                                                <app-fac-dropdown [value]="chosen" [id]="'user-assign-customer'" [active]="disableCustomer" [FacilityId]="user.user.facilityId"
                                                                    [hideCus]="true" (selected)="facilityChange($event)" [noLabel]="'type'"></app-fac-dropdown>
                                                                <span class="m-form__help text-danger" *ngIf="!centers">
                                                                    {{"THIS_CUSTOMER_DOES_NOT_HAVE_CENTERS_CONFIGURED" | translate}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row" style="padding-top: 0px;" *ngIf="userType !== 'HC' && userType !== 'IAP' && centers">

                                                            <label class="col-lg-6 col-form-label">
                                                                {{"CENTER" | translate}}
                                                            </label>
                                                            <div class="col-lg-6">
                                                                <select id="user_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="user.user.centerId" #centerId="ngModel">
                                                                    <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-section__content" *ngIf="currentUserType && currentUserType == 'Admin'">
                                            <div class="m-demo" data-code-html="true" data-code-js="false" data-code-preview="true">
                                                <div class="m-demo__preview">
                                                    <div class="m-form">
                                                        <div class="form-group">
                                                            <label class="m-radio m-radio--bold m-radio--state-success">
                                                                <input id="user_usertype_iap" name="userType" type="radio" value="IAP" [(ngModel)]="userType" (change)="onUserTypeChange('IAP')">
                                                                <b>{{"IAP (IPAN)" | translate}}</b>
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <div class="m-form__group form-group" style="padding-top: 0px;">
                                                            <div class="m-checkbox-inline">
                                                                <label class="m-checkbox m-checkbox--state-primary" *ngFor="let role of ipanRoles">
                                                                    <input id="user_roletype_{{role.type}}" type="checkbox" value="{{role.type}}" [checked]="role.selected" (change)="selectedRoleipan(role)"
                                                                        [disabled]="userType !== 'IAP'"> {{role.name | translate}}
                                                                    <span></span>
                                                                </label>
                                                            </div>
                                                        </div>                                                        

                                                        <div class="col-lg-12" style="padding-top: 0px;padding-left:0px" *ngIf="userType !== 'HC' && userType !== 'facility' && centers">
                                                            <label class="col-lg-12 m--font-success" style="text-align:left">
                                                                 <b> {{"ASSIGN_THE_CENTER_TO_USER_WITHIN" | translate}} {{panName}} </b> 
                                                            </label>
                                                            <div class="col-lg-6">
                                                                <select id="user_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="user.user.centerId" #centerId="ngModel">
                                                                    <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                            <div style="padding-top:10px;padding-left:0px" *ngIf="showpathologistSignature">                                                                 
                                                                <div class="col-lg-12">
                                                                    <div class="row">
                                                                        <div class="col-lg-7">
                                                                            <span class="m-form__help m--font-brand">
                                                                                    <b> {{"UPLOAD SIGNATURE FOR THE PATHOLOGIST ONLY"|translate}}</b>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                            <ng4-files-click (filesSelect)="signatureUpload($event)" [configId]="'sign-config'">
                                                                                <span class="btn btn-accent m-btn--pill upload-signature" style="cursor: pointer;">
                                                                                    <i *ngIf="!isSignatureUpload" class="fa fa-upload"></i>
                                                                                    <i *ngIf="isSignatureUpload" class="fa fa-check"></i>
                                                                                    {{"SELECT SIGNATURE" | translate}}
                                                                                </span>                                                                         
                                                                            </ng4-files-click>
                                                                        </div>                                                        
                                                                    </div> 
                                                                </div> 
                                                                <div class="col-lg-12" style="padding-top:10px">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <div class="form-group">
                                                                                <label for="passcode">{{"PASSCODE" | translate}} </label>
                                                                                <input type="password" class="form-control m-input m-input--square" name="pathologistpasscode" [(ngModel)]="passcode" id="passcode"
                                                                                    #pathologistpasscode="ngModel" pattern="[0-9]{6}">

                                                                                <span class="m-form__help text-danger" *ngIf="!pathologistpasscode.valid && pathologistpasscode.touched">{{'Invalid passcode. Passcode should be numeric and
                                                                                    6 digit' | translate}}.</span>
                                                                            </div>        
                                                                        </div>        
                                                                        <div class="col-lg-6">        
                                                                            <div class="form-group">        
                                                                                <label for="confirm-passcode">{{"CONFIRM PASSCODE" | translate}}</label>
                                                                                <input type="text" class="form-control m-input m-input--square" name="pathologistcfpasscode" [(ngModel)]="cfpasscode" #pathologistcfpasscode="ngModel"
                                                                                    id="confirm-passcode">
                                                                                <span class="m-form__help text-danger" *ngIf="passcode !== cfpasscode && pathologistcfpasscode.touched">{{"CONFIRM PASSCODE DOES NOT MATCH" | translate}}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>                                                        

                                                        </div>

                                                        

                                                    </div>

                                                </div>

                                            </div>

                                        </div>


                                    </div>
                                    </div>
                                </div>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row" *ngIf="activeUser">
                                <div id="user_Active" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-info" role="alert">
                                    <div class="m-alert__icon">
                                        <i class="la la-info-circle"></i>
                                    </div>
                                    <div class="m-alert__text">
                                        {{user.user.firstName}} {{user.user.lastName}} activated successfully
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="msg">
                                <div class="col-lg-12">
                                    <div id="user_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-danger" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                <!-- {{"ERROR" | translate}}! -->
                                            </strong> {{msg | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="showsuccess">
                                <div class="col-lg-12">
                                    <div id="user_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-info" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                <!-- {{"ERROR" | translate}}! -->
                                            </strong> {{'New User was Successfully Added' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="fieldError">
                                <div class="col-lg-12">
                                    <div id="user_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-warning" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                <!-- {{"WARNING" | translate}}! -->
                                            </strong> {{fieldError | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="updated">
                                <div class="col-lg-12">
                                    <div id="user_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-info" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                <!-- {{"WARNING" | translate}}! -->
                                            </strong> {{'Updated Successfully' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" *ngIf="invalidFrom">
                                    <div id="user_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-warning" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                <!-- {{"WARNING" | translate}}! -->
                                            </strong> {{"WARNING_INVALID_FORM" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <button id="user_submit" type="submit" class="btn btn-success m-btn--square blue" [disabled]="loading">
                                        {{"SUBMIT" | translate}}
                                    </button>
                                    <button id="user_cancel" routerLink="/users/list" class="btn btn-secondary m-btn--square" (click)="cancelClick()">
                                        {{"CANCEL" | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
    <!--             <p-dialog [header]="'Upload Signature'" [(visible)]="showSignatureUpload" modal="modal" width="500">
                <form (ngSubmit)="submitSignature(f)" #f="ngForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary m-btn--square" (click)="showSignatureUpload = false">Close</button>
                        <button type="submit" class="btn btn-success m-btn--square" [disabled]="passcode !== cfpasscode || !isSignatureUpload || f.form.invalid">Upload Signature</button>
                    </div>
                </form>
            </p-dialog> -->
</div>