<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				{{"PRIVACY_POLICY" | translate}}
				<!-- <small>Get defferent type of statistics below for selected duration on right side</small> -->
			</h3>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
</div>