<!-- <!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                {{"USER_TEST_MAPPING" | translate}}
            </h3>
        </div>
    </div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head" style="padding-left:0px">
                <span class="side-line-header"></span>
                <div class="m-portlet__head-caption" style="padding-left:20px">
                    <div class="m-portlet__head-title">
                        <!-- <span class="m-portlet__head-icon">
                                        <i class="flaticon-users"></i>
                                    </span> -->
                        <h3 class="m-portlet__head-text">
                            {{"USER_TEST_MAPPING" | translate}} <br/>
                            <small class="no-cap"> {{"TO_MAP_TESTS_TO_USER(S)" | translate}}</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" style="min-height:600px">
                <ul class="progress-tracker" style="padding-top:20px">
                    <li class="complete">
                        <div class="step" id="step_one" style="background-color:#ffb822">
                            <i class=" flaticon-placeholder-1" style="color:white"></i>
                        </div>
                        <div class="m--font-bold">{{"SELECT_CUSTOMER_AND_CENTER" | translate}}</div>
                    </li>
                    <li class="complete">
                        <div class="step" id="step_two">
                            <i class="fa fa-user-o" style="color:white"></i>
                        </div>
                        <div class="m--font-bold">{{"SELECT_USER(S)" | translate}}
                            <!-- <br/>{{"MULTI_SELECT_OF_USER_WORKS_WHEN_NO_TESTS_ARE_CONFIGURED" | translate}} -->
                        </div>
                    </li>
                    <li class="complete">
                        <div class="step" id="step_three">
                            <i class=" la la-check-square-o" style="color:white"></i>
                        </div>
                        <div class="m--font-bold">{{"SELECT_TEST(S)" | translate}}<br/> {{"SAVE_MAPPED_TEST_TO_USER" | translate}}
                        </div>
                    </li>
                    <!-- <li class="complete">
                        <div class="step" id="step_four">
                            <i class="flaticon-user-ok" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">{{"SAVE_MAPPED_TEST_TO_USER" | translate}}</div>
                    </li> -->
                </ul>
                <div class="col-lg-12  m--margin-top-10" id="checksum_id">
                    <div class="row" >
                            <div class="col-lg-5">
                                <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                            <b>  {{"CUSTOMER" | translate}} </b>
                                            </label>
                                        <div class="col-lg-8">
                                            <app-fac-dropdown [value]="chosen" [id]="'user-testmap-customer'" [active]="false" [FacilityId]="selectedFacility.id" (selected)="pageOne();facilityChange($event)" [noLabel]="'type'"></app-fac-dropdown>
                                        </div>                     
                                </div>                       
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group m-form__group row" *ngIf="selectedFacility.id">
                                        <label class="col-lg-2 col-form-label">
                                        <b> {{"CENTER" | translate}} </b>
                                        </label>
                                    <div class="col-lg-6">
                                        <select id="device_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" (change)="pageOne();onCenterChange()" #centerId="ngModel" *ngIf="centers">
                                                    <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                        </select>
                                        <span class="m-form__help text-danger" *ngIf="centers.length ==0">
                                                    {{"THIS_CUSTOMER_DOES_NOT_HAVE_CENTERS_CONFIGURED" | translate}}
                                        </span>
                                    </div>                   
                                </div>                     
                            </div>                   
                            <div class="col-lg-2">
                                    <button class="btn m-btn m-btn--gradient-from-info m-btn--gradient-to-accent" id="next_map" style="display:none;background-color:#00c5dc" type="button" (click)="next()">
                                            <span style="color:white"> {{"NEXT" | translate}}</span>   
                                    </button>
                            </div>
                            <div class="col-lg-12" style="text-align:center" *ngIf="!selectedFacility.id">
                                    <img alt="" class="res-testmap" src="./assets/app/media/img/users/testmap.png">
                            </div>
                            <div class="table-responsive m--margin-top-10" *ngIf="selectedFacility.id && centers">
                                    <p-dataTable [value]="facilityUser" styleClass="borderless">
                                        <p-column styleClass="text-center" [header]="'S.No' | translate">
                                            <ng-template let-index="rowIndex" pTemplate="body">
                                                <div style="text-align : center;">
                                                    <b>
                                                                <span>{{index+1}}</span>
                                                            </b>
                                                </div>
                                            </ng-template>
                                        </p-column> 
                                        <p-column  styleClass="text-center" [header]="'SELECT' | translate">
                                            <ng-template let-user="rowData" pTemplate="body">
                                                <label class="m-checkbox m-checkbox--air m-checkbox--state-success " *ngIf="user.active">
                                                        <input id="user_select_{{user.id}}" type="checkbox" name="selected" [checked]="user.selected" (change)="selectingUser(user,$event)">
                                                        <span></span>
                                                </label>
                                                <label class="m-checkbox m-checkbox--solid " *ngIf="!user.active">
                                                        <input id="user_select_{{user.id}}" type="checkbox" disabled name="selected" [checked]="user.selected" (change)="selectingUser(user,$event)">
                                                        <span></span>
                                                </label>
                                            </ng-template>
                                        </p-column>
                                        <!-- <p-column field="profilePictureUrl" [style]="{'width':'150px'}" styleClass="text-center" header="Profile Picture">
                                            <ng-template let-user="rowData" pTemplate="body">
                                                <div style="text-align : center;">
                                                    <i class="fa fa-user-circle" *ngIf="!user.profilePictureUrl" style="font-size:1.8rem"></i>
                                                    <img alt="" *ngIf="user.profilePictureUrl" class="m-widget3__img" height="30px" width="30px" style="border-radius: 50%;" [src]="user.profilePictureUrl">
                                                </div>
                                            </ng-template>
                                        </p-column> -->
                                        <p-column field="displayName"  styleClass="text-left" [header]="'NAME' | translate">
                                            <ng-template let-user="rowData" pTemplate="body">
                                                <div style="text-align : left;">
                                                    <b>
                                                        <span>
                                                            <i class="la la-user" style="color: #656565;"></i>&nbsp;&nbsp;
                                                            <span *ngIf="user.displayName">
                                                                {{user.displayName}}
                                                            </span>
                                                            <span *ngIf="!user.displayName">
                                                                    {{user.firstName}} {{user.lastName}}
                                                            </span>
                                                        <div style="word-break: break-all" *ngIf="user.email">
                                                                <i class="fa fa-envelope-o" style="color: #656565; font-size: 14px"></i>&nbsp;&nbsp;{{user.email}}
                                                        </div>
                                                            
                                                        </span>                                           
                                                    </b>
                                                </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="roleString"  styleClass="text-left" [header]="'ROLE' | translate">
                                            <ng-template let-user="rowData" pTemplate="body">
                                                <div style="text-align : left;">
                                                    <b>
                                                            <span>{{user.roleString}}</span>
                                                        </b>
                                                </div>
                                            </ng-template>
                                        </p-column> 
                                        <p-column styleClass="text-left" [header]="'Test_Mapped' | translate">
                                            <ng-template let-user="rowData" pTemplate="body">
                                                <div style="text-align : left;">
                                                    <b>
                                                            <span *ngIf="user.testMapping">
                                                                {{user.testMapping.length}}
                                                            </span>
                                                            <span *ngIf="!user.testMapping">
                                                                0
                                                            </span>
                                                    </b>
                                                </div>
                                            </ng-template>
                                        </p-column> 
                                        <p-column styleClass="text-left"[header]="'USER STATUS' | translate">
                                            <ng-template let-user="rowData" pTemplate="body">
                                                <span class="label label-lg label-success arrowed-in arrowed-in-right" style="margin-top:10px;background-color: #34bfa3;" *ngIf="user.active">Active</span>
                                                <span class="label label-lg label-pink arrowed-in arrowed-in-right" style="margin-top:10px" *ngIf="!user.active">Deactive</span>
                                            </ng-template>
                                        </p-column>
                    
                                    </p-dataTable>
                                    <div class="pull-right" style="margin:12px">
                                        {{"Total_Records" |translate}}: <b>{{userCount}} </b>
                                    </div>
                                    <div *ngIf="visiblePagination">
                                      <p-paginator [rows]="userRowCount" [totalRecords]="userCount" (onPageChange)="paginate($event)"></p-paginator>
                                   </div>
                            </div>
                    </div>
                </div>
                <div id="drag_drop" style="display:none">
                        <div class="col-sm-12">
                            <div class="alert alert-success alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert" *ngIf="msg">
                                <strong>
                                        {{msg | translate}}          
                                </strong>
                            </div>
                        </div>
                        <div class="col-xl-12 order-2 order-xl-1">
                            <div class="form-group m-form__group row">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="text-align:center" *ngIf="multi">
                                        <span class="text-danger">{{"WARNING: THIS_WILL_OVERWRITE_ALL_EXISTING_TEST_MAPPING_FOR_SELECTED_USER(S)" | translate}}.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-xl-12" *ngIf="selectedFacility.id && centers">
                            <div class="row">
                                <div class="col-xl-3">
                                    <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="back()">
                                        <span>
                                        <span>
                                            {{"BACK" | translate}}
                                        </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="col-xl-6" style="text-align:center" *ngIf="selectUser">
                                    <b> {{'Test_mapped_for' | translate}} {{selectUser.displayName}}
                                        <span *ngIf="selectUser.testMapping"> ({{selectUser.testMapping.length}}) </span>
                                        <span *ngIf="!selectUser.testMapping">0</span>
                                    </b>
                                </div>
                                <div class="col-xl-3  m--align-right">
                                    <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="checkSave()">
                                        <span>
                                    <span>
                                        {{"SAVE" | translate}}
                                    </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div>
                        </div>
            
                        <div class="col-xl-12 m--margin-top-10">
                            <div class="col-xl-4" style="text-align:center">
                                <span>
                                        <b>{{"Select/Deselect_all_tests_for_user"|translate}}</b>
                                </span>
                                <span class="m-switch m-switch--icon">
                            <label>
                                <input [checked]="checkAllTest" (change)="oncheckAllTest($event)" name="" type="checkbox">
                                <span></span>
                                </label>
                                </span>
                            </div>
                            <div class="col-xl-2"></div>
                        </div>
            
                        <div class="col-sm-12 m--margin-top-10" *ngIf="selectedFacility.id && centers">
                            <div class="row" *ngIf="newtests.length !=0">
                                <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12" *ngFor="let test of newtests">
                                    <div class="m-alert m-alert--icon m-alert--air alert alert-dismissible fade show" style="cursor:pointer" (click)="sTest(test)" id="{{test.testName}}">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning" *ngIf="!test.testIconUrl"></i>
                                            <img *ngIf="test.testIconUrl" [src]="test.testIconUrl" alt="" style="height:auto;" width="70px">
                                        </div>
                                        <div class="m-alert__text" *ngIf="test">
                                            <strong>
                                                {{test.testName | translate}}
                                            </strong> <br/>{{test.testType | translate}}
                                        </div>
                                        <div class="m-alert__actions">
                                            <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                                <input id="test_select_{{test.id}}" type="checkbox" [checked]="test.selected" (change)="sTest(test)">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
            
                            </div>
            
                        </div>
                    </div>
               
            </div>
          
           
    
    
    
    
        </div>