<!-- BEGIN: Left Aside -->
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light" data-auto-scroll="true" appunwraptag="">
        <!-- BEGIN: Aside Menu -->
        <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light" data-menu-vertical="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500" *ngIf="showSidebar">
    
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow" style="background:#fff">
                <li class="m-menu__section marginclassAside">
                    <div id="hideonfolded" class="userDetails m-menu__section-text">
                        <div><img src="{{user.profilePictureUrl==null || user.profilePictureUrl==undefined || user.profilePictureUrl=='' ? './assets/app/media/img/users/user-avatar.png' : user.profilePictureUrl}}" class="mCS_img_loaded" class="imginUserDetails"></div>
                        <div class="name">{{user.displayName}}</div>
                        <div class="email">{{user.email}}</div>
                    </div>
                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                    <a id="sidebar_dashboard" routerLink="/index" class="m-menu__link" [title]="'DASHBOARD' | translate">
                        <i class="m-menu__link-icon flaticon-dashboard"></i>
                        <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"DASHBOARD" | translate}}
                                        </span>
                        </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole != 'PATHOLOGIST'">
                    <a id="sidebar_filter" routerLink="/filters/all" class="m-menu__link" [title]="'MY_FILTER' | translate">
                        <i class="m-menu__link-icon fa fa-filter"></i>
                        <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"MY_FILTER" | translate}}
                                        </span>
                        </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole != 'PATHOLOGIST'">
                    <a id="sidebar_dashboard" routerLink="/report/tests" class="m-menu__link" [title]="'DIAGNOSTICS_REPORT' | translate">
                        <i class="m-menu__link-icon flaticon-pie-chart"></i>
                        <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"DIAGNOSTICS_REPORT" | translate}}
                                        </span>
                        </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__section" *ngIf="userRole != 'PATHOLOGIST'">
                    <h4 class="m-menu__section-text">
                        {{"MANAGEMENT" | translate}}
                    </h4>
                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN' || userRole == 'HC_MANAGER'">
                    <a id="sidebar_facility_open1" class="m-menu__link m-menu__toggle" [title]="'CUSTOMER' | translate">
                        <i class="m-menu__link-icon flaticon-placeholder-1"></i>
                        <span class="m-menu__link-text">
                                    {{"CUSTOMER" | translate}}
                                </span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                <a id="sidebar_facility_open2" class="m-menu__link">
                                    <span class="m-menu__link-text">
                                                {{"CUSTOMER" | translate}}
                                            </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                <a id="sidebar_facility_list" routerLink="/facilities/list" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                    <span class="m-menu__link-text">
                                                {{"LIST" | translate}}
                                            </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                <a id="sidebar_facility_add" routerLink="/facilities/add" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                    <span class="m-menu__link-text">
                                                {{"ADD_CUSTOMER" | translate}}
                                            </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                    <a id="sidebar_facility_add" routerLink="/skin/list" class="m-menu__link">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                    <span></span>
                                                </i>
                                        <span class="m-menu__link-text">
                                                    {{"SKIN_CONFIG" | translate}}
                                                </span>
                                    </a>
                                </li>
                        </ul>
                    </div>
                </li>
                <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'CENTER_ADMIN'">
                            <a id="sidebar_update_facility" (click)="CenterNavigate()" class="m-menu__link" [title]="'Center Details' | translate">
                                <i class="m-menu__link-icon flaticon-placeholder-1"></i>
                                <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                {{"Center Details" | translate}}
                                            </span>
                                </span>
                                </span>
                            </a>
                        </li>
                <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" [routerLink]="['/facilities/details']" [queryParams]="{facilityId:fCode}" *ngIf="userRole == 'TECHNICIAN'"
                    aria-haspopup="true">
                    <a id="sidebar_test" href="#" class="m-menu__link" [title]="'Customer_Details' | translate">
                        <i class="m-menu__link-icon flaticon-placeholder-1"></i>
                        <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"Customer_Details" | translate}}
                                        </span>
                        </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" [routerLink]="['/users/details']" [queryParams]="{userId:user.id}" *ngIf="userRole == 'OPERATOR'"
                aria-haspopup="true">
                <a id="sidebar_test" href="#" class="m-menu__link" [title]="'Customer_Details' | translate">
                    <i class="m-menu__link-icon fa fa-user"></i>
                    <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">
                                        User Details
                                    </span>
                    </span>
                    </span>
                </a>
            </li>
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="userRole != 'PATHOLOGIST' && userRole != 'HC_MANAGER' && userRole != 'OPERATOR' && userRole != 'DOCTOR'">
                    <a id="sidebar_device_open1" class="m-menu__link m-menu__toggle" [title]="'HUBS' | translate">
                        <i class="m-menu__link-icon flaticon-laptop"></i>
                        <span class="m-menu__link-text">
                                    {{"HUBS" | translate}}
                                </span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div id="hub-tab" class="m-menu__submenu">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                <a id="sidebar_device_open2" class="m-menu__link">
                                    <span class="m-menu__link-text">
                                                {{"HUBS" | translate}}
                                            </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'CENTER_ADMIN' || userRole == 'TECHNICIAN'  || userRole == 'HC_ADMIN'">
                                <a id="sidebar_device_list" routerLink="/devices/list" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                    <span class="m-menu__link-text">
                                                {{"LIST" | translate}}
                                    </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                <a id="sidebar_device_add" routerLink="/devices/add" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                    <span class="m-menu__link-text">
                                                {{"ADD_HUBS" | translate}}
                                            </span>
                                </a>
                            </li>
                            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                <a id="sidebar_rdt_open1" class="m-menu__link m-menu__toggle" [title]="'LOOKUP_FILES' | translate">
                                    <!-- <a id="sidebar_rdt_open1" class="m-menu__link m-menu__toggle" [title]="'LOOKUP_FILES' | translate"> -->
                                    <i class="m-menu__link-icon flaticon-file-1"></i>
                                    <span class="m-menu__link-text">
                                               {{'LOOKUP_FILES' | translate}}
                                            </span>
                                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div id="rdt-tab" class="m-menu__submenu">
                                    <span class="m-menu__arrow"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                            <a id="sidebar_lookup_open2" class="m-menu__link">
                                                <span class="m-menu__link-text">
                                                            {{ "LOOKUP_FILES" | translate}}
                                                        </span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                            <a id="sidebar_rdt_list" [routerLink]="['/rdt/list']" [queryParams]="{type:'RL'}" class="m-menu__link">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                            <span></span>
                                                        </i>
                                                <span class="m-menu__link-text">
                                                            {{ "RDT_LOOKUP" | translate }}
                                                        </span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                            <a id="sidebar_urinetd_list" [routerLink]="['/rdt/list']" [queryParams]="{type:'UL'}" class="m-menu__link">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                            <span></span>
                                                        </i>
                                                <span class="m-menu__link-text">
                                                            {{"URINE_LOOKUP_FILES" | translate }}
                                                        </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                <a id="sidebar_uploadfile_open1" class="m-menu__link m-menu__toggle" routerLink="/upload/python" [title]="'UPLOAD FILES' | translate">
                                    <i class="m-menu__link-icon fa fa-upload"></i>
                                    <span class="m-menu__link-text">
                                                {{"UPLOAD FILES" | translate}}
                                            </span>
                                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div id="rdt-tab" class="m-menu__submenu">
                                    <span class="m-menu__arrow"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                            <a id="sidebar_uploade_file_list" href="#" class="m-menu__link">
                                                <span class="m-menu__link-text">
                                                            {{"UPLOAD FILES" | translate}}
                                                        </span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                            <a id="sidebar_python_list" routerLink="/upload/python" class="m-menu__link">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                            <span></span>
                                                        </i>
                                                <span class="m-menu__link-text">
                                                            {{'Python Upload' | translate}}
                                                        </span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                            <a id="sidebar_firmware_add" routerLink="/upload/firmware" class="m-menu__link">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                            <span></span>
                                                        </i>
                                                <span class="m-menu__link-text">
                                                            {{'FIRMWARE Upload' | translate}}
                                                        </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
    
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="userRole != 'PATHOLOGIST' && userRole != 'HC_MANAGER'&& userRole != 'OPERATOR'">
                    <a id="sidebar_user_open1" class="m-menu__link m-menu__toggle" [title]="'USERS' | translate">
                        <i class="m-menu__link-icon flaticon-users"></i>
                        <span class="m-menu__link-text">
                                    {{"USERS" | translate}}
                                </span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                <a id="sidebar_user_open2" class="m-menu__link">
                                    <span class="m-menu__link-text">
                                                {{"USERS" | translate}}
                                            </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN' || userRole == 'DOCTOR' || userRole == 'CENTER_ADMIN'">
                                <a id="sidebar_user_list" routerLink="/users/list" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                    <span class="m-menu__link-text">
                                                {{"LIST" | translate}}
                                            </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN'">
                                <a id="sidebar_user_add" routerLink="/users/add" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                    <span class="m-menu__link-text">
                                                {{"ADD_USER" | translate}}
                                            </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                <a id="sidebar_user_test" routerLink="/users/tests" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                    <span class="m-menu__link-text">
                                                {{"TEST_MAPPING" | translate}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="m-menu__section" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                            <h4 class="m-menu__section-text">
                                Inventory
                            </h4>
                            <i class="m-menu__section-icon flaticon-more-v3"></i>
                        </li>
                        <!-- <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER'">
                            <a id="sidebar_consumables_open1" href="#" class="m-menu__link m-menu__toggle" title="Consumables">
                                <i class="m-menu__link-icon flaticon-list-3"></i>
                                <span class="m-menu__link-text">
                                    Consumables
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                                        aria-haspopup="true">
                                        <a id="sidebar_consumables_open2" href="#" class="m-menu__link">
                                            <span class="m-menu__link-text">
                                                Consumables
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a id="sidebar_consumables_list" routerLink="/consumables/list" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                List
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a id="sidebar_consumables_add" routerLink="/consumables/add" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Add User
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a id="sidebar_consumables_test" routerLink="/consumables/map" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Test Mapping
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li> -->
                <!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                            <a id="sidebar_reorder" routerLink="/consumables/list" href="#" class="m-menu__link" title="Consumables and Reorder">
                                <i class="m-menu__link-icon flaticon-time-3"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Consumables and Reorder
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                            <a id="sidebar_reorder" routerLink="/consumables/shipment" href="#" class="m-menu__link" title="Consumables and Reorder">
                                <i class="m-menu__link-icon fa fa-exchange"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Shipment log
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li>-->
                <!-- <li class="m-menu__section" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN'">
                            <h4 class="m-menu__section-text">
                                {{"INVENTORY" | translate}}
                            </h4>
                            <i class="m-menu__section-icon flaticon-more-v3"></i>
                        </li>
                        <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                            <a id="sidebar_diagnosis" routerLink="/consumables/list" class="m-menu__link" [title]="'MASTER_INVENTORY' | translate">
                                <i class="m-menu__link-icon flaticon-list-3"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"MASTER_INVENTORY" | translate}}
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN'">
                            <a id="sidebar_diagnosis" routerLink="/consumables/reorder" class="m-menu__link" [title]="'REORDER' | translate">
                                <i class="m-menu__link-icon fa fa-repeat"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"REORDER" | translate}}
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li> -->
                <li class="m-menu__section" *ngIf="userRole != 'PATHOLOGIST' && userRole != 'HC_MANAGER'">
                    <h4 class="m-menu__section-text">
                        {{"MISCELLANEOUS" | translate}}
                    </h4>
                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'OPERATOR' || userRole == 'TECHNICIAN' || userRole == 'DOCTOR' || userRole == 'HC_ADMIN'">
                            <a id="sidebar_diagnosis" routerLink="/consumables/manage" class="m-menu__link" [title]="'CONSUMABLES_AND_REORDERS' | translate">
                                <i class="m-menu__link-icon fa fa-truck"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"CONSUMABLES_AND_REORDERS" | translate}}
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li> -->
                <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'CENTER_ADMIN' || userRole == 'TECHNICIAN' || userRole == 'DOCTOR' || userRole == 'HC_ADMIN' || userRole == 'OPERATOR'">
                    <a id="sidebar_diagnosis" routerLink="/visits/list" class="m-menu__link" [title]="'DIAGNOSTICS_AND_STATISTICS' | translate">
                        <i class="m-menu__link-icon flaticon-list-2"></i>
                        <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"DIAGNOSTICS_AND_STATISTICS" | translate}}
                                        </span>
                        </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                    <a id="reg_map" routerLink="/visits/map" class="m-menu__link" [title]="'NAV_PATIENTS_REGISTRATION_MAP' | translate">
                        <i class="m-menu__link-icon flaticon-map-location"></i>
                        <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"NAV_PATIENTS_REGISTRATION_MAP" | translate}}
                                        </span>
                        </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS'|| userRole == 'CENTER_ADMIN'|| userRole == 'HC_ADMIN'|| userRole == 'TECHNICIAN'|| userRole == 'OPERATOR'">
                    <a id="sidebar_patients_card" routerLink="/patients/list" class="m-menu__link" [title]="'PATIENTS' | translate">
                        <i class="m-menu__link-icon fa fa-id-card-o"></i>
                        <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"PATIENTS" | translate}}
                                        </span>
                        </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                    <a id="sidebar_test_edit" routerLink="/tests/update" class="m-menu__link" [title]="'MASTER TEST LIST' | translate">
                        <i class="m-menu__link-icon flaticon-squares-2"></i>
                        <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                                {{"MASTER TEST LIST" | translate}}
                                        </span>
                        </span>
                        </span>
                    </a>
                </li>

                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN' || userRole == 'CENTER_ADMIN'">
                        <a id="sidebar_user_open1" class="m-menu__link m-menu__toggle" [title]="'STATISTICS' | translate">
                            <i class="m-menu__link-icon flaticon-analytics"></i>
                            <span class="m-menu__link-text">
                                        {{"STATISTICS" | translate}}
                                    </span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="m-menu__submenu">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                    <a id="sidebar_user_open2" class="m-menu__link">
                                        <span class="m-menu__link-text">
                                                    {{"STATISTICS" | translate}}
                                                </span>
                                    </a>
                                </li>
                                <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN'">
                                    <a id="sidebar_user_list" routerLink="/analytics/charts"  class="m-menu__link">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                    <span></span>
                                                </i>
                                        <span class="m-menu__link-text">
                                                    {{"CENTER STATS" | translate}}
                                                </span>
                                    </a>
                                </li>
                                <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN'|| userRole == 'CENTER_ADMIN'">
                                    <a id="sidebar_user_add" routerLink="/analytics/usercharts" class="m-menu__link">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                    <span></span>
                                                </i>
                                        <span class="m-menu__link-text">
                                                    {{"USER STATS" | translate}}
                                                </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                <!-- <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="(userRole == 'HC_OPS' || userRole == 'HC_ADMIN') && userRole != 'PATHOLOGIST'">
                    <a id="sidebar_user_open1" class="m-menu__link m-menu__toggle" [title]="'USERS' | translate">
                        <i class="m-menu__link-icon flaticon-analytics"></i>
                        <span class="m-menu__link-text">
                                        {{"STATISTICS" | translate}}
                                    </span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                            <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                <a id="sidebar_user_open2" href="#" class="m-menu__link">
                                    <span class="m-menu__link-text">
                                                    {{"STATISTICS" | translate}}
                                                </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN' || userRole == 'DOCTOR' || userRole == 'OPERATOR'">
                                <a id="sidebar_user_list" routerLink="/analytics/charts" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                    <span></span>
                                                </i>
                                    <span class="m-menu__link-text">
                                                    {{"CHARTS" | translate}}
                                                </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN' || userRole == 'DOCTOR' || userRole == 'OPERATOR'">
                                <a id="sidebar_user_list" routerLink="/analytics/visitlog" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                    <span></span>
                                                </i>
                                    <span class="m-menu__link-text">
                                                    {{"VISITORS_LOG" | translate}}
                                                </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN' || userRole == 'TECHNICIAN'">
                                <a id="sidebar_user_add" routerLink="/analytics/centerwiseregistration" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                    <span></span>
                                                </i>
                                    <span class="m-menu__link-text">
                                                    {{"REGISTRATION STATS" | translate}}
                                                </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                <a id="sidebar_user_test" routerLink="/analytics/centerwisetest" class="m-menu__link">
                                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                    <span></span>
                                                </i>
                                    <span class="m-menu__link-text">
                                                    {{"DIAGNOSTICS STATS" | translate}}
                                                </span>
                                </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                    <a id="sidebar_user_test" routerLink="/analytics/avgdiagnostics" class="m-menu__link">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                        <span></span>
                                                    </i>
                                        <span class="m-menu__link-text">
                                                        {{"TEST / REGISTRATION" | translate}}
                                                    </span>
                                    </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                    <a id="sidebar_user_test" routerLink="/analytics/avgconsumablebasedtest" class="m-menu__link">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                        <span></span>
                                                    </i>
                                        <span class="m-menu__link-text">
                                                        {{"CONSUMABLE TEST / REGISTRATION" | translate}}
                                                    </span>
                                    </a>
                            </li>
                            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                    <a id="sidebar_user_test" routerLink="/analytics/permachinedata" class="m-menu__link">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                        <span></span>
                                                    </i>
                                        <span class="m-menu__link-text">
                                                        {{"PER MACHINE DATA" | translate}}
                                                    </span>
                                    </a>
                            </li>
                        </ul>
                    </div>
                </li> -->
                <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'PATHOLOGIST'">
                    <a id="sidebar_test_edit" routerLink="/ipan/reports" class="m-menu__link" title="IPAN Reports">
                        <i class="m-menu__link-icon flaticon-list"></i>
                        <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                  {{"IPAN REPORTS"|translate}}
                                            </span>
                        </span>
                        </span>
                    </a>
                </li>
                <!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a id="sidebar_notification" href="#" class="m-menu__link" [title]="'NOTIFICATION_SETUP' | translate">
                                <i class="m-menu__link-icon flaticon-alert-1"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"NOTIFICATION_SETUP" | translate}}
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li> -->
    
                <!-- <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                            <a id="sidebar_rdt_open1" [routerLink]="['/rdt/list']" [queryParams]="{type:'RL'}" class="m-menu__link m-menu__toggle" title="Lookup Files">
                                <i class="m-menu__link-icon flaticon-file-1"></i>
                                <span class="m-menu__link-text">
                                    Lookup Files
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div id="rdt-tab" class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a id="sidebar_device_open2" href="#" class="m-menu__link">
                                            <span class="m-menu__link-text">
                                                {{ "LOOKUP_FILES" | translate}}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                                        <a id="sidebar_device_list" [routerLink]="['/rdt/list']" [queryParams]="{type:'RL'}" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                {{ "RDT_LOOKUP" | translate }}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                                        <a id="sidebar_device_add" [routerLink]="['/rdt/list']" [queryParams]="{type:'UL'}" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                {{"URINE_LOOKUP_FILES" | translate }}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li> -->
    
                <!--             <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'OPERATOR' || userRole == 'TECHNICIAN' || userRole == 'DOCTOR' || userRole == 'HC_ADMIN'">
                            <a id="sidebar_diagnosis" routerLink="/rdt/list" [queryParams]="{type:'RL'}" class="m-menu__link" [title]="'DIAGNOSTICS_AND_STATISTICS' | translate">
                                <i class="m-menu__link-icon flaticon-list-2"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"RDT_LOOKUP" | translate}}
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'OPERATOR' || userRole == 'TECHNICIAN' || userRole == 'DOCTOR' || userRole == 'HC_ADMIN'">
                            <a id="sidebar_diagnosis" routerLink="/rdt/list" [queryParams]="{type:'UL'}" class="m-menu__link" [title]="'DIAGNOSTICS_AND_STATISTICS' | translate">
                                <i class="m-menu__link-icon flaticon-list-2"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            {{"URINE_LOOKUP" | translate}}
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li> -->
                <!--             <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                            <a id="sidebar_rdt_open1" class="m-menu__link m-menu__toggle"  [routerLink]="['/rdt/list']" [queryParams]="{type: 'RL'}" class="m-menu__link m-menu__toggle" title="Upload Files">
                                <i class="m-menu__link-icon flaticon-file-1"></i>
                                <span class="m-menu__link-text">
                                            {{"LOOKUP_FILES"|translate}}
                                        </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div id="rdt-tab" class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a id="sidebar_device_open2" href="#" class="m-menu__link">
                                            <span class="m-menu__link-text">
                                                {{ "LOOKUP_FILES" | translate}}
                                                    </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                                        <a id="sidebar_device_add" [routerLink]="['/rdt/list']" [queryParams]="{type: 'RL'}" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                        <span></span>
                                                    </i>
                                            <span class="m-menu__link-text">
                                                {{ "RDT_LOOKUP" | translate }}
                                                    </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                                        <a id="sidebar_device_list" [routerLink]="['/rdt/list']" [queryParams]="{type: 'UL'}" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                        <span></span>
                                                    </i>
                                            <span class="m-menu__link-text">
                                                {{"URINE_LOOKUP_FILES" | translate }}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li> -->
    
                <!-- <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover" *ngIf="showUpload">
                            <a id="sidebar_rdt_open1" [routerLink]="['/upload/python']" class="m-menu__link m-menu__toggle" title="Upload Files">
                                <i class="m-menu__link-icon fa fa-upload"></i>
                                <span class="m-menu__link-text">
                                    {{"UPLOAD FILES" | translate}}
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div id="rdt-tab" class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a id="sidebar_device_open2" href="#" class="m-menu__link">
                                            <span class="m-menu__link-text">
                                                {{"UPLOAD FILES" | translate}}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'OPERATOR' || userRole == 'TECHNICIAN' || userRole == 'DOCTOR' || userRole == 'HC_ADMIN'">
                                        <a id="sidebar_device_list" routerLink="/upload/python" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Python Upload
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN'">
                                        <a id="sidebar_device_add" routerLink="/upload/firmware" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                FIRMWARE Upload
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li> -->
    
                <!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER'|| userRole == 'HC_ADMIN'">
                            =======
                            <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER'|| userRole == 'HC_ADMIN'">
                                >>>>>>> 97a721dad0bab4cbf5ba049f2d4130ca3e9028e0
                                <a id="sidebar_upload" routerLink="/upload" class="m-menu__link" title="Upload">
                                    <i class="m-menu__link-icon la 	la-cloud-upload"></i>
                                    <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Upload
                                        </span>
                                    </span>
                                    </span>
                                </a>
                            </li> -->
                <!--             <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_MANAGER'|| userRole == 'OPERATOR'|| userRole == 'DOCTOR'|| userRole == 'TECHNICIAN'">
                            <a id="sidebar_upload" routerLink="/upload" class="m-menu__link" title="Upload">
                                <i class="m-menu__link-icon la 	la-cloud-upload"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            ID Cards
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li> -->
                <!-- <li class="m-menu__section" *ngIf="(userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN') &&  userRole !== 'PATHOLOGIST'">
                    <h4 class="m-menu__section-text">
                        {{"ANALYTICS" | translate}}
                    </h4>
                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="(userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN') && userRole !== 'PATHOLOGIST'">
                    <a id="sidebar_diagnosis" routerLink="/analytics/visitlog" class="m-menu__link" [title]="'VISITORS_LOG' | translate">
                        <i class="m-menu__link-icon flaticon-file-1"></i>
                        <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">                                   
                                        <span class="m-menu__link-text">
                                            {{"VISITORS_LOG" | translate}}
                                        </span>
                        </span>
                        </span>
                    </a>
                </li>
                <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" *ngIf="(userRole == 'HC_OPS' || userRole == 'HC_MANAGER' || userRole == 'HC_ADMIN') && userRole !== 'PATHOLOGIST'">
                    <a id="sidebar_center_diagnosis" routerLink="/analytics/centerwiseregistration" class="m-menu__link" [title]="'CENTER_WISE_REG' | translate">
                        <i class="m-menu__link-icon flaticon-analytics"></i>
                        <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                {{"CENTER_WISE_REG" | translate}}
                                            </span>
                        </span>
                        </span>
                    </a>
                </li> -->
            </ul>
            <!-- <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow" *ngIf="!isAdmin">
                        <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/index" class="m-menu__link" title="Dashboard">
                                <i class="m-menu__link-icon flaticon-line-graph"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Dashboard
                                        </span>
                                </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a id="sidebar_dashboard" routerLink="/report/tests" class="m-menu__link" title="Diagnosis Report">
                                <i class="m-menu__link-icon flaticon-pie-chart"></i>
                                <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                Diagnostics Report
                                            </span>
                                </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__section">
                            <h4 class="m-menu__section-text">
                                Management
                            </h4>
                            <i class="m-menu__section-icon flaticon-more-v3"></i>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle" title="Centers">
                                <i class="m-menu__link-icon flaticon-placeholder-1"></i>
                                <span class="m-menu__link-text">
                                    Centers
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a href="#" class="m-menu__link">
                                            <span class="m-menu__link-text">
                                                Center
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/facilities/list" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                List
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/facilities/add" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Add Center
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle" title="Devices">
                                <i class="m-menu__link-icon flaticon-laptop"></i>
                                <span class="m-menu__link-text">
                                    Devices
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a href="#" class="m-menu__link">
                                            <span class="m-menu__link-text">
                                                Devices
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/devices/list" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                List
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/devices/add" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Add Device
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle" title="Users">
                                <i class="m-menu__link-icon flaticon-users"></i>
                                <span class="m-menu__link-text">
                                    Users
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a href="#" class="m-menu__link">
                                            <span class="m-menu__link-text">
                                                Users
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/users/list" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                List
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                                        <a routerLink="/users/add" class="m-menu__link">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                Add User
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul> -->
                    </div>
        <!-- END: Aside Menu -->
    </div>
    <!-- END: Left Aside -->
    