<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
                            <i class="flaticon-file-1"></i>
                        </span> -->
                    <h3 *ngIf="type === 'RDT_LOOKUP'" class="m-portlet__head-text" style="font-weight:400">
                        {{"RDT_LOOKUP_LIST" | translate}}
                    </h3>
                    <h3 *ngIf="type === 'URINE_LOOKUP'" class="m-portlet__head-text" style="font-weight:400">
                        {{"URINE_LOOKUP_LIST" | translate}}
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <button *ngIf="type === 'RDT_LOOKUP'" class="btn btn-accent m-btn m-btn--custom m-btn--air m-btn--pill m--pull-right" [routerLink]="['/rdt/add']">
                                <i class="la la-plus"></i> {{"NEW_RDT" | translate}}
                            </button>
                        <button *ngIf="type === 'URINE_LOOKUP'" class="btn btn-accent m-btn m-btn--custom m-btn--air m-btn--pill m--pull-right" [routerLink]="['/urine/add']" [queryParams]="{lookupId:'new'}">
                                <i class="la la-plus"></i> {{"NEW_URINE" | translate}}
                            </button>
                    </li>
                </ul>
            </div>
        </div>
        <p-dialog [header]="'DETAILS' | translate" [width]="1024" [(visible)]="urineDisplay">
            <p-dataTable [value]="urineLookup" styleClass="borderless" [responsive]="true">
                <p-column [header]="'S.No' | translate" [style]="{'width':'60px'}">
                    <ng-template let-col let-i="rowIndex" pTemplate="body">
                        <span>{{i + 1}}</span>
                    </ng-template>
                </p-column>
                <p-column field="name" [header]="'NAME' | translate" [style]="{'text-align':'center','width':'320px'}">
                    <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                        <strong>{{urineLookup.testName}}</strong>
                    </ng-template>
                </p-column>
                <p-column field="result" [header]="'RESULT_TYPE' | translate" [style]="{'text-align': 'center'}">
                    <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                        <strong>{{urineLookup.result}}</strong>
                    </ng-template>
                </p-column>
                <p-column field="min" [header]="'LBL_MIN' | translate" [style]="{'text-align':'center', 'width':'15%'}" [editable]="true">
                    <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                        <span>{{urineLookup.min}}</span>
                    </ng-template>
                </p-column>
                <p-column field="max" [header]="'LBL_MAX' | translate" [editable]="true" [style]="{'text-align': 'center', 'width':'15%'}">
                    <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                        <strong>{{urineLookup.max}}</strong>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </p-dialog>
        <p-dialog [header]="'DETAILS' | translate" [width]="1024" [(visible)]="display">
            <p-dataTable [value]="rdtJsonLookup" styleClass="borderless" [responsive]="true">
                <p-column [header]="'S.No'| translate" [style]="{'width':'60px'}">
                    <ng-template let-col let-i="rowIndex" pTemplate="body">
                        <span>{{i + 1}}</span>
                    </ng-template>
                </p-column>
                <p-column field="name" [header]="'NAME' | translate" [style]="{'width':'320px', 'text-align': 'center'}">
                    <ng-template let-col let-rdt="rowData" pTemplate="body">
                        <strong>{{rdt.testName}}</strong>
                    </ng-template>
                </p-column>
                <p-column field="l1Position" [header]="'L1_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                    <ng-template let-col let-rdt="rowData" pTemplate="body">
                        <strong>{{rdt.l1Position}}</strong>
                        <br>
                        <small>{{rdt.l1Position - rdt.l1Range}} - {{rdt.l1Position + rdt.l1Range}}</small>
                    </ng-template>
                </p-column>
                <p-column field="l1Range" [header]="'L1_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                    <ng-template let-col let-rdt="rowData" pTemplate="body">
                        <span>+/- {{rdt.l1Range}}</span>
                    </ng-template>
                </p-column>
                <p-column field="l2Position" [header]="'L2_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                    <ng-template let-col let-rdt="rowData" pTemplate="body">
                        <strong>{{rdt.l2Position}}</strong>
                        <br>
                        <small>{{(rdt.l2Position - rdt.l2Range)}} - {{(rdt.l2Position +
                                rdt.l2Range)}}
                            </small>
                    </ng-template>
                </p-column>
                <p-column field="l2Range" [header]="'L2_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                    <ng-template let-col let-rdt="rowData" pTemplate="body">
                        <span>+/- {{rdt.l2Range}}</span>
                    </ng-template>
                </p-column>
                <p-column field="l3Position" [header]="'L3_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                    <ng-template let-col let-rdt="rowData" pTemplate="body">
                        <strong>{{rdt.l3Position}}</strong>
                        <br>
                        <small>{{(rdt.l3Position - rdt.l3Range)}} - {{(rdt.l3Position +
                                rdt.l3Range)}}
                            </small>
                    </ng-template>
                </p-column>
                <p-column field="l3Range" [header]="'L3_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                    <ng-template let-col let-rdt="rowData" pTemplate="body">
                        <span>+/- {{rdt.l3Range}}</span>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </p-dialog>
        <div class="m-portlet__body">
            <div class="col-lg-12" style="padding-top:10px;padding-bottom:10px">               
                <div class="text" *ngIf="type ==='RDT_LOOKUP'">
                    <b>
                            <i class="fa fa-info-circle"></i> {{"INFO_LABEL_RDT_LIST" | translate}}.
                        </b>
                </div>
                <div class="text" *ngIf="type ==='URINE_LOOKUP'">
                    <b>
                            <i class="fa fa-info-circle"></i> {{"INFO_LABEL_URINE_LIST" | translate}}.
                        </b>
                </div>                
            </div>
            
            <div class="col-lg-12" *ngIf="default">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <label class="col-3" for="">Default Lookup file:</label>
                            <span class="col-3">
                                    <a class="csr-hand" (click)="goToDetails(default.id)">
                                        <h5>{{default.filename}}</h5>
                                    </a>
                                </span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air m--pull-right" (click)="goToEdit(default.id)"><i class="la la-pencil"
                            ></i>{{"BTN_UPDATE_DEFAULT"| translate}}</a>
                    </div>
                </div>                   
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--primary" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#unassigned_rdt" role="tab">{{"UNASSIGNED" | translate }}</a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#assigned_rdt" role="tab">{{"ASSIGNED"| translate}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="unassigned_rdt" role="tabpanel">
                        <p-dataTable [value]="unassignedRDT" styleClass="borderless" [responsive]="true">
                            <p-column [style]="{'width':'5%'}" styleClass="text-left" [header]="'S.No' | translate">
                                <ng-template let-index="rowIndex" pTemplate="body">
                                    <b>
                                            <span>{{((uPageNo -1) * 10) + (index+1)}}</span>
                                        </b>
                                </ng-template>
                            </p-column>
                            <p-column field="filename" [sortable]="true" styleClass="text-left" [header]="'FILE_NAME' | translate">
                          <!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head" style="padding-left:0px">
                <span class="side-line-header"></span>
                <div class="m-portlet__head-caption" style="padding-left:20px">
                    <div class="m-portlet__head-title">
                        <!-- <span class="m-portlet__head-icon">
                                <i class="flaticon-file-1"></i>
                            </span> -->
                        <h3 *ngIf="type === 'RDT_LOOKUP'" class="m-portlet__head-text" style="font-weight:400">
                            {{"RDT_LOOKUP_LIST" | translate}}
                        </h3>
                        <h3 *ngIf="type === 'URINE_LOOKUP'" class="m-portlet__head-text" style="font-weight:400">
                            {{"URINE_LOOKUP_LIST" | translate}}
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <button *ngIf="type === 'RDT_LOOKUP'" class="btn btn-accent m-btn m-btn--custom m-btn--air m-btn--pill m--pull-right" [routerLink]="['/rdt/add']">
                                    <i class="la la-plus"></i> {{"NEW_RDT" | translate}}
                                </button>
                            <button *ngIf="type === 'URINE_LOOKUP'" class="btn btn-accent m-btn m-btn--custom m-btn--air m-btn--pill m--pull-right" [routerLink]="['/urine/add']" [queryParams]="{lookupId:'new'}">
                                    <i class="la la-plus"></i> {{"NEW_URINE" | translate}}
                                </button>
                        </li>
                    </ul>
                </div>
            </div>
            <p-dialog [header]="'DETAILS' | translate" [width]="1024" [(visible)]="urineDisplay">
                <p-dataTable [value]="urineLookup" styleClass="borderless" [responsive]="true">
                    <p-column [header]="'S.No' | translate" [style]="{'width':'60px'}">
                        <ng-template let-col let-i="rowIndex" pTemplate="body">
                            <span>{{i + 1}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="name" [header]="'NAME' | translate" [style]="{'text-align':'center','width':'320px'}">
                        <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                            <strong>{{urineLookup.testName}}</strong>
                        </ng-template>
                    </p-column>
                    <p-column field="result" [header]="'RESULT_TYPE' | translate" [style]="{'text-align': 'center'}">>
                        <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                            <strong>{{urineLookup.result}}</strong>
                        </ng-template>
                    </p-column>
                    <p-column field="min" [header]="'LBL_MIN' | translate" [style]="{'text-align':'center', 'width':'15%'}" [editable]="true">
                        <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                            <span>{{urineLookup.min}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="max" [header]="'LBL_MAX' | translate" [editable]="true" [style]="{'text-align': 'center', 'width':'15%'}">
                        <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                            <strong>{{urineLookup.max}}</strong>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </p-dialog>
            <p-dialog [header]="'DETAILS' | translate" [width]="1024" [(visible)]="display">
                <p-dataTable [value]="rdtJsonLookup" styleClass="borderless" [responsive]="true">
                    <p-column [header]="'S.No'| translate" [style]="{'width':'60px'}">
                        <ng-template let-col let-i="rowIndex" pTemplate="body">
                            <span>{{i + 1}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="name" [header]="'NAME' | translate" [style]="{'width':'320px', 'text-align': 'center'}">
                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                            <strong>{{rdt.testName}}</strong>
                        </ng-template>
                    </p-column>
                    <p-column field="l1Position" [header]="'L1_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                            <strong>{{rdt.l1Position}}</strong>
                            <br>
                            <small>{{rdt.l1Position - rdt.l1Range}} - {{rdt.l1Position + rdt.l1Range}}</small>
                        </ng-template>
                    </p-column>
                    <p-column field="l1Range" [header]="'L1_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                            <span>+/- {{rdt.l1Range}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="l2Position" [header]="'L2_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                            <strong>{{rdt.l2Position}}</strong>
                            <br>
                            <small>{{(rdt.l2Position - rdt.l2Range)}} - {{(rdt.l2Position +
                                    rdt.l2Range)}}
                                </small>
                        </ng-template>
                    </p-column>
                    <p-column field="l2Range" [header]="'L2_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                            <span>+/- {{rdt.l2Range}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="l3Position" [header]="'L3_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                            <strong>{{rdt.l3Position}}</strong>
                            <br>
                            <small>{{(rdt.l3Position - rdt.l3Range)}} - {{(rdt.l3Position +
                                    rdt.l3Range)}}
                                </small>
                        </ng-template>
                    </p-column>
                    <p-column field="l3Range" [header]="'L3_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                            <span>+/- {{rdt.l3Range}}</span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </p-dialog>
            <div class="m-portlet__body">
                <div class="col-lg-12">
                    <div class="m-section">
                        <div class="m-section__sub" *ngIf="type ==='RDT_LOOKUP'">
                            <b>
                                   <i class="fa fa-info-circle"></i> {{"INFO_LABEL_RDT_LIST" | translate}}.
                                </b>
                        </div>
                        <div class="m-section__sub" *ngIf="type ==='URINE_LOOKUP'">
                            <b>
                                    <i class="fa fa-info-circle"></i> {{"INFO_LABEL_URINE_LIST" | translate}}.
                                </b>
                        </div>
                    </div>
                </div>
                <div class="m-section" *ngIf="default">
                    <div class="m-section__content">
    
                        <div class="col-lg-12 m-margin--bottom-30">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <label class="col-3" for="">Default Lookup file:</label>
                                        <span class="col-3">
                                                <a class="csr-hand" (click)="goToDetails(default.id)">
                                                    <h5>{{default.filename}}</h5>
                                                </a>
                                            </span>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-4">
                                    <a class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air m--pull-right" (click)="goToEdit(default.id)"><i class="la la-pencil"
                                        ></i>{{"BTN_UPDATE_DEFAULT"| translate}}</a>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-lg-12">
                    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--primary" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#unassigned_rdt" role="tab">{{"UNASSIGNED" | translate }}</a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#assigned_rdt" role="tab">{{"ASSIGNED"| translate}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="unassigned_rdt" role="tabpanel">
                            <p-dataTable [value]="unassignedRDT" styleClass="borderless" [responsive]="true">
                                <p-column [style]="{'width':'5%'}" styleClass="text-left" [header]="'S.No' | translate">
                                    <ng-template let-index="rowIndex" pTemplate="body">
                                        <b>
                                                <span>{{((uPageNo -1) * 10) + (index+1)}}</span>
                                            </b>
                                    </ng-template>
                                </p-column>
                                <p-column field="filename" [sortable]="true" styleClass="text-left" [header]="'FILE_NAME' | translate">
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>
                                                    <a class="csr-hand"
                                                        (click)="goToDetails(RdtLookup.id)">{{RdtLookup.filename}} </a>
                                                </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="updateTime" [sortable]="true" styleClass="text-left" [header]="'LAST_UPDATED' | translate">
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>
                                                    <i class="fa fa-calendar"> {{RdtLookup.updateTime | date:'yMd'}}</i>
                                                    <br/>
                                                    <i class="fa fa-clock-o"> {{RdtLookup.updateTime | date:'jm'}}</i>
                                                </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column styleClass="col-button" [style]="{'width':'10%'}">
                                    <ng-template pTemplate="header">
                                        {{"UPDATE" | translate}}
                                    </ng-template>
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : center">
                                            <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only" [title]="'UPDATE' | translate">
                                                <i class="la la-pencil" (click)="goToEdit(RdtLookup.id)" style="color:#fff"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column styleClass="col-button" [style]="{'width':'10%'}">
                                    <ng-template pTemplate="header">
                                        {{"ASSIGN" | translate}}
                                    </ng-template>
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : center" *ngIf="RdtLookup.fileType !== 'DEFAULT_RDT_LOOKUP'">
                                            <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'ASSIGN' | translate">
                                                <i class="flaticon-laptop" (click)="assignLookup(RdtLookup.id)" style="color:#fff"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                            <p-paginator rows="10" *ngIf="uCount !== 0" [totalRecords]="uCount" (onPageChange)="paginateUnRDT($event)"></p-paginator>
                        </div>
                        <div class="tab-pane" id="assigned_rdt" role="tabpanel">
                            <p-dataTable [value]="assignedRDT" styleClass="borderless" [responsive]="true">
                                <p-column [style]="{'width':'5%'}" styleClass="text-left" [header]="'S.No' | translate">
                                    <ng-template let-index="rowIndex" pTemplate="body">
                                        <b>
                                                <span>{{((aPageNo -1) * 10) + (index+1)}}</span>
                                            </b>
                                    </ng-template>
                                </p-column>
                                <p-column field="filename" [sortable]="true" styleClass="text-left" [header]="'FILE_NAME' | translate">
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>
                                                    <a  class="csr-hand"
                                                        (click)="goToDetails(RdtLookup.id)">{{RdtLookup.filename}}</a>
                                                </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="updateTime" [sortable]="true" styleClass="text-left" [header]="'LAST_UPDATED' | translate">
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>
                                                    <i class="fa fa-calendar"> {{RdtLookup.updateTime | date:'yMd'}}</i>
                                                    <br/>
                                                    <i class="fa fa-clock-o"> {{RdtLookup.updateTime | date:'jm'}}</i>
                                                </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column [style]="{'width':'180px'}" [sortable]="true" styleClass="text-left" header="Hubs Affected">
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>
                                                    <span *ngIf="RdtLookup.devices">{{RdtLookup.devices.length}}</span>
                                                    <span *ngIf="!RdtLookup.devices">0</span>
                                                </b>
                                        </div>
                                    </ng-template>
                                </p-column>
    
                                <p-column styleClass="col-button" [style]="{'width':'10%'}">
                                    <ng-template pTemplate="header">
                                        {{"DEPLOYED" | translate}}
                                    </ng-template>
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : center">
                                            <a class="btn btn-accent m-btn m-btn--icon m-btn--icon-only" (click)="assignedDetails(RdtLookup.id)" [title]="'DETAILS' | translate">
                                                <i class="fa fa-eye" style="color:#fff"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </p-column>
    
                                <p-column styleClass="col-button" [style]="{'width':'15%'}">
                                    <ng-template pTemplate="header">
                                        {{"UPDATE" | translate}}
                                    </ng-template>
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : center">
                                            <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only" [title]="'UPDATE' | translate">
                                                <i class="la la-pencil" (click)="goToEdit(RdtLookup.id)" style="color:#fff"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column styleClass="col-button" [style]="{'width':'15%'}">
                                    <ng-template pTemplate="header">
                                        {{"ASSIGN" | translate}}
                                    </ng-template>
                                    <ng-template let-RdtLookup="rowData" pTemplate="body">
                                        <div style="text-align : center">
                                            <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'ASSIGN' | translate">
                                                <i class="flaticon-laptop" (click)="assignLookup(RdtLookup.id)" style="color:#fff"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <!-- <p-column styleClass="text-left" header="Unassign">
                                        <ng-template let-file="rowData" pTemplate="body">
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill edit-facility" (click)="redirectUnAssign(file)">
                                                <i class="flaticon-circle" style="cursor:pointer"></i>
                                            </a>
                                        </ng-template>
                                    </p-column> -->
                            </p-dataTable>
                            <p-paginator rows="10" *ngIf="aCount !== 0" [totalRecords]="aCount" (onPageChange)="paginateRDT($event)"></p-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b>
                                                <a class="csr-hand"
                                                    (click)="goToDetails(RdtLookup.id)">{{RdtLookup.filename}} </a>
                                            </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="updateTime" [sortable]="true" styleClass="text-left" [header]="'LAST_UPDATED' | translate">
                                <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b>
                                                <i class="fa fa-calendar"> {{RdtLookup.updateTime | date:'yMd'}}</i>
                                                <br/>
                                                <i class="fa fa-clock-o"> {{RdtLookup.updateTime | date:'jm'}}</i>
                                            </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="col-button" [style]="{'width':'10%'}">
                                <ng-template pTemplate="header">
                                    {{"UPDATE" | translate}}
                                </ng-template>
                                <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : center">
                                        <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only" [title]="'UPDATE' | translate">
                                            <i class="la la-pencil" (click)="goToEdit(RdtLookup.id)" style="color:#fff"></i>
                                        </a>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="col-button" [style]="{'width':'10%'}">
                                <ng-template pTemplate="header">
                                    {{"ASSIGN" | translate}}
                                </ng-template>
                                <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : center" *ngIf="RdtLookup.fileType !== 'DEFAULT_RDT_LOOKUP'">
                                        <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'ASSIGN' | translate">
                                            <i class="flaticon-laptop" (click)="assignLookup(RdtLookup.id)" style="color:#fff"></i>
                                        </a>
                                    </div>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                        <p-paginator rows="10" *ngIf="uCount !== 0" [totalRecords]="uCount" (onPageChange)="paginateUnRDT($event)"></p-paginator>
                    </div>
                    <div class="tab-pane" id="assigned_rdt" role="tabpanel">
                        <p-dataTable [value]="assignedRDT" styleClass="borderless" [responsive]="true">
                            <p-column [style]="{'width':'5%'}" styleClass="text-left" [header]="'S.No' | translate">
                                <ng-template let-index="rowIndex" pTemplate="body">
                                    <b>
                                            <span>{{((aPageNo -1) * 10) + (index+1)}}</span>
                                        </b>
                                </ng-template>
                            </p-column>
                            <p-column field="filename" [sortable]="true" styleClass="text-left" [header]="'FILE_NAME' | translate">
                                <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b>
                                                <a  class="csr-hand"
                                                    (click)="goToDetails(RdtLookup.id)">{{RdtLookup.filename}}</a>
                                            </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="updateTime" [sortable]="true" styleClass="text-left" [header]="'LAST_UPDATED' | translate">
                                <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b>
                                                <i class="fa fa-calendar"> {{RdtLookup.updateTime | date:'yMd'}}</i>
                                                <br/>
                                                <i class="fa fa-clock-o"> {{RdtLookup.updateTime | date:'jm'}}</i>
                                            </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column [style]="{'width':'180px'}" [sortable]="true" styleClass="text-left" header="Hubs Affected">
                                <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b>
                                                <span *ngIf="RdtLookup.devices">{{RdtLookup.devices.length}}</span>
                                                <span *ngIf="!RdtLookup.devices">0</span>
                                            </b>
                                    </div>
                                </ng-template>
                            </p-column>

                            <p-column styleClass="col-button" [style]="{'width':'10%'}">
                                <ng-template pTemplate="header">
                                    {{"DEPLOYED" | translate}}
                                </ng-template>
                                <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : center">
                                        <a class="btn btn-accent m-btn m-btn--icon m-btn--icon-only" (click)="assignedDetails(RdtLookup.id)" [title]="'DETAILS' | translate">
                                            <i class="fa fa-eye" style="color:#fff"></i>
                                        </a>
                                    </div>
                                </ng-template>
                            </p-column>

                            <p-column styleClass="col-button" [style]="{'width':'15%'}">
                                <ng-template pTemplate="header">
                                    {{"UPDATE" | translate}}
                                </ng-template>
                                <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : center">
                                        <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only" [title]="'UPDATE' | translate">
                                            <i class="la la-pencil" (click)="goToEdit(RdtLookup.id)" style="color:#fff"></i>
                                        </a>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="col-button" [style]="{'width':'15%'}">
                                <ng-template pTemplate="header">
                                    {{"ASSIGN" | translate}}
                                </ng-template>
                                <ng-template let-RdtLookup="rowData" pTemplate="body">
                                    <div style="text-align : center">
                                        <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'ASSIGN' | translate">
                                            <i class="flaticon-laptop" (click)="assignLookup(RdtLookup.id)" style="color:#fff"></i>
                                        </a>
                                    </div>
                                </ng-template>
                            </p-column>
                            <!-- <p-column styleClass="text-left" header="Unassign">
                                    <ng-template let-file="rowData" pTemplate="body">
                                        <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill edit-facility" (click)="redirectUnAssign(file)">
                                            <i class="flaticon-circle" style="cursor:pointer"></i>
                                        </a>
                                    </ng-template>
                                </p-column> -->
                        </p-dataTable>
                        <p-paginator rows="10" *ngIf="aCount !== 0" [totalRecords]="aCount" (onPageChange)="paginateRDT($event)"></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>