<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <ul class="progress-tracker">
                <li class="complete" *ngIf="userType && userType === 'Admin'">
                    <a routerLink="/consumables/add">
                        <div class="step" id="step_one" style="background-color: rgb(52, 191, 163);">
                            <i class="flaticon-add" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"ADD_CONSUMABLES_TO_MASTER_INVENTORY" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete" *ngIf="userType && userType === 'Admin'">
                    <a routerLink="/consumables/list">
                        <div class="step" id="step_two" style="background-color: rgb(52, 191, 163);">
                            <i class="fa fa-list" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"MASTER_INVENTORY_LIST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/reorder/add">
                        <div class="step" id="step_three" style="background-color: rgb(52, 191, 163);">
                            <i class="flaticon-placeholder-1" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"CREATE_REORDER_REQUEST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                    <a routerLink="/consumables/reorder">
                        <div class="step" id="step_four" style="background-color: rgb(255, 184, 34);">
                            <i class="la la-check-square-o" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"REORDER_LIST_ALLOCATION" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete" *ngIf="userRole == 'OPERATOR'|| userRole == 'DOCTOR'|| userRole == 'TECHNICIAN'">
                    <a routerLink="/consumables/reorder">
                        <div class="step" id="step_four" style="background-color: rgb(255, 184, 34);">
                            <i class="la la-check-square-o" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            Reorder List
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/center">
                        <div class="step" id="step_five">
                            <i class="flaticon-list" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"CENTER_WISE_INVENTORY_LIST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <p-messages [(value)]="msgs"></p-messages>
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--head-solid-bg m-portlet--bordered" [ngClass]="{ 'm-portlet--brand': (!enableAssignMod && !isShipped), 'm-portlet--info': isShipped, 'm-portlet--success': (enableAssignMode && enableShipMode && !isShipped) }">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon" *ngIf="!enableAssignMode">
                                <i class="flaticon-list-3"></i>
                            </span>
                            <!-- <a class="m-portlet__head-icon" *ngIf="enableAssignMode && !enableShipMode" (click)="toggleAssignMode()">
								<i class="fa fa-arrow-left"></i>
							</a> -->
                            <a class="m-portlet__head-icon" *ngIf="enableAssignMode && enableShipMode && !isShipped" style="cursor:pointer" (click)="toggleShipMode()">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <h3 class="m-portlet__head-text">
                                <span *ngIf="!enableAssignMode && !isShipped">{{"REORDER_REQUESTS" | translate}} </span>
                                <span *ngIf="isShipped">{{"SHIPMENT_STATUS" | translate}} </span>
                                <span *ngIf="enableAssignMode && enableShipMode && !isShipped">Reorder Request
                                </span>
                                <span *ngIf="enableAssignMode && !enableShipMode && !isShipped">{{"SELECT_CONSUMABLES" | translate}}</span>
                                <br/>
                                <small *ngIf="enableAssignMode && enableShipMode && !isShipped">View reorders and perform allocations on this page.</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" *ngIf="!enableAssignMode && !isShipped">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 style="margin-top: 5px;" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">{{"SELECT_REORDER_REQUEST_TO_SEND_CONSUMABLES" | translate}}.</h5>
                            <h5 style="margin-top: 5px;" *ngIf="!(userRole == 'HC_OPS' || userRole == 'HC_ADMIN')">Click on reoder to view details.</h5>
                        </div>
                        <div class="col-lg-6 text-right">
                            Click on this button to add reorder request. &nbsp;
                            <a id="consumable_add" routerLink="/consumables/reorder/add" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        {{"REORDER" | translate}}
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <br>
                    <!--begin: Datatable -->
                    <div style="max-height: 550px;overflow-y: auto;">
                        <!-- <table id="test_list" class="table table-hover m-table m-table--head-bg-info table-clickable-header" style="margin-top:15px; ">
							<thead>
								<tr>
									<th>Customer
										<span></span>
										<span></span>
									</th>
									<th>Center
										<span></span>
										<span></span>
									</th>
									<th>Consumable
										<span></span>
										<span></span>
									</th>
									<th>Packs Ordered
										<span></span>
										<span></span>
									</th>
									<th>Requested by
										<span></span>
										<span></span>
									</th>
									<th>Time
										<span></span>
										<span></span>
									</th>
									<th>
									</th>
								</tr>
							</thead>
							<tbody *ngIf="reorders">
								<tr *ngFor="let req of reorders" (click)="toggleShipMode()">
									<th scope="row">{{ req.orgName }}</th>
									<th scope="row">{{ req.center }}</th>
									<th scope="row">{{ req.consumableName }}</th>
									<th scope="row">{{ req.quantity }}</th>
									<th scope="row">{{ req.name }}</th>
									<th scope="row">{{ req.datetime }}</th>
									<th scope="row">
										<button id="consumable_submit_reorder" type="button" class="btn btn-success m-btn--square" (click)="toggleAssignMode()" *ngIf="centers">
											Post
										</button>
									</th>
								</tr>
							</tbody>
						</table> -->
                        <p-dataTable [value]="reorders" styleClass="borderless clickable" [globalFilter]="gb" #dt [responsive]="true" (onRowClick)="toggleShipMode($event.data)"
                            [rows]="10" [paginator]="true">
                            <p-column [style]="{'width':'100px'}" styleClass="text-center" [header]="'S.No' | translate">
                                <ng-template let-index="rowIndex" pTemplate="body">
                                    <b>
                                        <span>{{(index+1)}}</span>
                                    </b>
                                </ng-template>
                            </p-column>
                            <p-column [sortable]="true" field="orderNumber" styleClass="text-left" [header]="'ORDER_NUMBER' | translate">
                                <ng-template let-req="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span>{{req.orderNumber}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column [sortable]="true" field="createTime" styleClass="text-left" [header]="'CREATED_TIME' | translate">
                                <ng-template let-req="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span>{{req.createTimeString}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column [sortable]="true" field="facilityName" styleClass="text-left" [header]="'CUSTOMER' | translate">
                                <ng-template let-req="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span>{{req.facilityName}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column [sortable]="true" field="centerName" styleClass="text-left" [header]="'CENTER' | translate">
                                <ng-template let-req="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span>{{req.centerName}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="orderItems" styleClass="text-left" [header]="'REQUESTED_CONSUMABLES' | translate">
                                <ng-template let-req="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span *ngFor="let ordr of req.orderItems; let i = index">{{ordr.testName | translate}}({{ordr.quantity}})
                                            <span *ngIf="i != (req.orderItems.length - 1)">, </span>
                                        </span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column [sortable]="true" field="orderStatus" styleClass="text-left" [header]="'Status' | translate">
                                <ng-template let-req="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span *ngIf="req.orderStatus == 'DISPATCHED'">
                                            <span class="m-badge m-badge--success m-badge--wide">
                                                shipped
                                            </span>
                                        </span>
                                        <span *ngIf="req.orderStatus == 'FULFILLED'">
                                            <span class="m-badge m-badge--info m-badge--wide">
                                                allocated
                                            </span>
                                        </span>
                                        <span *ngIf="req.orderStatus == 'PARTIALLY_ALLOCATED'">
                                            <span class="m-badge m-badge--warning m-badge--wide">
                                                partially allocated
                                            </span>
                                        </span>
                                        <span *ngIf="req.orderStatus == 'ORDER_PLACED'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                open
                                            </span>
                                        </span>
                                        <span *ngIf="req.orderStatus == 'CANCELLED'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                cancelled
                                            </span>
                                        </span>
                                        <span *ngIf="req.orderStatus == 'RECEIVED'">
                                            <span class="m-badge m-badge--brand m-badge--wide">
                                                received
                                            </span>
                                        </span>
                                        <span *ngIf="req.orderStatus == 'REJECTED'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                rejected
                                            </span>
                                        </span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <!-- <p-column field="orderedBy" styleClass="text-left" [header]="'ORDERED_BY' | translate">
								<ng-template let-req="rowData" pTemplate="body">
									<div style="text-align : left">
										<span>{{req.orderedBy}}</span>
									</div>
								</ng-template>
							</p-column> -->
                            <ng-template pTemplate="emptymessage">
                                <div style="text-align:center">{{"NO_REORDER_REQUESTS_FOUND" | translate}}. </div>
                            </ng-template>
                        </p-dataTable>
                    </div>
                    <!--end: Datatable -->
                    <!-- <p-dataTable [value]="reorders" styleClass="borderless" sortMode="multiple" [globalFilter]="gb" #dt [responsive]="true" [rows]="10"
					 [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">

						<p-column field="orgName" [sortable]="true" styleClass="text-left" header="Customer">
							<ng-template let-reorder="rowData" pTemplate="body">
								<div style="text-align : left;">
									<b> <span>{{reorder.orgName}}</span></b>
								</div>
							</ng-template>
						</p-column>
						<p-column styleClass="col-button">
                            <ng-template pTemplate="header">
                                Action
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : center">
                                    <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill edit-facility" title="View ">
                                        <i class="la la-pencil" (click)="goToDeviceEdit(device.id)"></i>
                                    </a>
                                </div>
                            </ng-template>
                        </p-column>
						<ng-template pTemplate="emptymessage">
							<div style="text-align:center">No record found</div>
						</ng-template>
					</p-dataTable> -->
                </div>

                <div class="m-portlet__body" *ngIf="enableAssignMode && !enableShipMode && !isShipped">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>{{"SELECTED_REORDER_REQUEST: CHOLESTEROL_STRIPS" | translate}}</h5>
                            <h6>{{"PACKS" | translate}}: 200</h6>
                            <h6>{{"CUSTOMER" | translate}}: Healthcubed</h6>
                            <h6>{{"CENTER" | translate}}: Bangalore</h6>
                            <hr>
                            <h5>{{"Select_CONSUMABLES_TO_DISPATCH" | translate}}</h5>
                        </div>
                    </div>
                    <!--begin: Datatable -->
                    <div style="max-height: 520px;overflow-y: auto;">
                        <table id="device_list" class="table table-hover m-table m-table--head-bg-primary table-clickable-header" style="margin-top:15px; ">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                            <input id="device_selectall" type="checkbox" name="selected" [checked]="checkAll" (change)="oncheckAll()">

                                            <span>
                                            </span>
                                        </label>
                                    </th>
                                    <th (click)="sortTypeCons = 'name'; sortCons = !sortCons">{{"NAME" | translate}}
                                        <span *ngIf="sortTypeCons == 'name' && !sortCons" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortTypeCons == 'name' && sortCons" class="fa fa-caret-up"></span>
                                    </th>
                                    <th (click)="sortTypeCons = 'lotno'; sortCons = !sortCons">{{"LOT" | translate}}#
                                        <span *ngIf="sortTypeCons == 'lotno' && !sortCons" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortTypeCons == 'lotno' && sortCons" class="fa fa-caret-up"></span>
                                    </th>
                                    <th (click)="sortTypeCons = 'manufacturer'; sortCons = !sortCons">{{"MANUFACTURER" | translate}}
                                        <span *ngIf="sortTypeCons == 'manufacturer' && !sortCons" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortTypeCons == 'manufacturer' && sortCons" class="fa fa-caret-up"></span>
                                    </th>
                                    <th (click)="sortTypeCons = 'test'; sortCons = !sortCons">{{"TEST" | translate}}
                                        <span *ngIf="sortTypeCons == 'test' && !sortCons" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortTypeCons == 'test' && sortCons" class="fa fa-caret-up"></span>
                                    </th>
                                    <th (click)="sortTypeCons = 'qntpack'; sortCons = !sortCons">{{"PACKS" | translate}}
                                        <span *ngIf="sortTypeCons == 'qntpack' && !sortCons" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortTypeCons == 'qntpack' && sortCons" class="fa fa-caret-up"></span>
                                    </th>
                                    <th (click)="sortTypeCons = 'qntperpack'; sortCons = !sortCons">{{"QUANTITY_PER_UNIT" | translate}}
                                        <span *ngIf="sortTypeCons == 'qntperpack' && !sortCons" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortTypeCons == 'qntperpack' && sortCons" class="fa fa-caret-up"></span>
                                    </th>
                                    <th (click)="sortTypeCons = 'totalunits'; sortCons = !sortCons">{{"TOTAL_UNITS" | translate}}
                                        <span *ngIf="sortTypeCons == 'totalunits' && !sortCons" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortTypeCons == 'totalunits' && sortCons" class="fa fa-caret-up"></span>
                                    </th>
                                    <th (click)="sortTypeCons = 'expirydt'; sortCons = !sortCons">{{"EXPIRY_DATE" | translate}}
                                        <span *ngIf="sortTypeCons == 'expirydt' && !sortCons" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortTypeCons == 'expirydt' && sortCons" class="fa fa-caret-up"></span>
                                    </th>

                                    <!-- <th>Test Map</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cons of consumables | orderBy: sortTypeCons : sortCons" [ngClass]="{'row-selected': cons.selected}">
                                    <td class="text-center">
                                        <label class="m-checkbox m-checkbox--air m-checkbox--state-success">
                                            <input id="consumable_select_{{cons.id}}" type="checkbox" name="selected" [checked]="cons.selected">
                                            <span></span>
                                        </label>
                                    </td>
                                    <td scope="row">{{ cons.name }}</td>

                                    <td>{{ cons.lotno }}</td>
                                    <td>{{ cons.manufacturer }}</td>
                                    <td>{{ cons.test }}</td>
                                    <td>{{ cons.qntpack }}</td>
                                    <td>{{ cons.qntperpack }}</td>
                                    <td>{{ cons.totalunits }}</td>
                                    <td>{{ cons.expirydt }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end: Datatable -->
                    <div class="text-right">
                        <button id="consumable_submit_reorder" type="button" class="btn btn-success m-btn--square" (click)="toggleShipMode()">
                            {{"MARK_AS_DISPATCHED" | translate}}
                        </button>
                    </div>
                </div>

                <div class="m-portlet__body" *ngIf="enableAssignMode && enableShipMode && !isShipped">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="row" *ngIf="reorderRequest.orderNumber">
                                <div class="col-lg-12">

                                    <h5>
                                        {{"ORDER_NUMBER" | translate}} :
                                        <small>{{reorderRequest.orderNumber}}</small>
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">

                                    <h5>
                                        {{"ORDER_DATE" | translate}} :
                                        <small>{{reorderRequest.createTimeString}}</small>
                                    </h5>
                                </div>
                            </div>
                            <div class="row" *ngIf="reorderRequest.comment">
                                <div class="col-lg-12">
                                    <h5>Comment :
                                        <small>{{reorderRequest.comment}}</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 text-right">
                            <h5 *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">{{"CUSTOMER" | translate}} :
                                <small>{{reorderRequest.facilityName}}</small>
                            </h5>
                            <h5>{{"CENTER" | translate}} :
                                <small>{{reorderRequest.centerName}}</small>
                            </h5>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>Status :
                                        <span *ngIf="reorderRequest.orderStatus == 'DISPATCHED'">
                                            <span class="m-badge m-badge--success m-badge--wide">
                                                shipped
                                            </span>
                                        </span>
                                        <span *ngIf="reorderRequest.orderStatus == 'FULFILLED'">
                                            <span class="m-badge m-badge--info m-badge--wide">
                                                allocated
                                            </span>
                                        </span>
                                        <span *ngIf="reorderRequest.orderStatus == 'PARTIALLY_ALLOCATED'">
                                            <span class="m-badge m-badge--warning m-badge--wide">
                                                partially allocated
                                            </span>
                                        </span>
                                        <span *ngIf="reorderRequest.orderStatus == 'ORDER_PLACED'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                open
                                            </span>
                                        </span>
                                        <span *ngIf="reorderRequest.orderStatus == 'CANCELLED'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                cancelled
                                            </span>
                                        </span>
                                        <span *ngIf="reorderRequest.orderStatus == 'RECEIVED'">
                                            <span class="m-badge m-badge--brand m-badge--wide">
                                                received
                                            </span>
                                        </span>
                                        <span *ngIf="reorderRequest.orderStatus == 'REJECTED'">
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                rejected
                                            </span>
                                        </span>
                                    </h5>
                                </div>
                            </div>
                            <!-- <h5 *ngIf="reorderRequest.orderedBy"><small>{{"ORDER_BY" | translate}}: <span class="m-badge m-badge--danger m-badge--wide m-badge--rounded">
									TBD
								</span></small></h5> -->
                        </div>
                    </div>
                    <br>
                    <div class="m-widget4__item">

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>
                                <small>{{"LIST_OF_ORDERED_CONSUMABLES" | translate}} </small>
                            </h4>
                        </div>
                        <div class="col-lg-6 text-right" *ngIf="(userRole == 'HC_OPS' || userRole == 'HC_ADMIN') && (reorderRequest.orderStatus == 'ORDER_PLACED' || reorderRequest.orderStatus == 'PARTIALLY_ALLOCATED')">
                            <h5>
                                <small>Click on allocate button on right to find and allocate requested type of consumables</small>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p-dataTable [value]="reorderRequest.orderItems" styleClass="borderless" [globalFilter]="gb" #dt [responsive]="true" [rows]="10"
                                [paginator]="true">
                                <p-column [style]="{'width':'100px'}" styleClass="text-center" [header]="'S.No' | translate">
                                    <ng-template let-index="rowIndex" pTemplate="body">
                                        <b>
                                            <span>{{(index+1)}}</span>
                                        </b>
                                    </ng-template>
                                </p-column>
                                <p-column field="testName" styleClass="text-left" [header]="'TEST' | translate">
                                    <ng-template let-item="rowData" pTemplate="body">
                                        <div style="text-align : left">
                                            <span>{{item.testName | translate}}</span>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="quantity" styleClass="text-left" [header]="'PACKS_REQUESTED' | translate">
                                    <ng-template let-item="rowData" pTemplate="body">
                                        <div style="text-align : left">
                                            <span>{{item.quantity}}</span>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="fulfilledQuantity" styleClass="text-left" [header]="'PACKS_FILLED' | translate">
                                    <ng-template let-item="rowData" pTemplate="body">
                                        <div style="text-align : left">
                                            <span>{{item.fulfilledQuantity}}</span>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column styleClass="col-button" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                                    <ng-template pTemplate="header">
                                        {{"ACTION" | translate }}
                                    </ng-template>
                                    <ng-template let-item="rowData" pTemplate="body">
                                        <div style="text-align : center">
                                            <button type="button" class="btn btn-brand m-btn--square" data-toggle="modal" data-target="#m_modal_order_fill" (click)="openOrderModal(item)"
                                                [disabled]="item.fulfilledQuantity >= item.quantity">
                                                {{"ALLOCATE" | translate}}
                                            </button>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <ng-template pTemplate="emptymessage">
                                    <div style="text-align:center">{{"NO_REQUEST_CONSUMABLES" | translate}}. </div>
                                </ng-template>
                            </p-dataTable>
                        </div>
                    </div>
                    <br>
                    <div class="m-form__actions m-form__actions--solid" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
                        <div class="row">
                            <div class="col-lg-6">

                            </div>
                            <div class="col-lg-6">
                                <div class="m-stack m-stack--hor m-stack--general m-stack--demo" style="height: 110px">
                                    <div class="m-stack__item">
                                        <div class="m-stack__demo-item">
                                            <div class="text-center">
                                                <span class="m-badge m-badge--brand">
                                                    <i class="fa fa-info"></i>
                                                </span>
                                            </div>
                                            <ul>
                                                <li>Click "Allocate" to fetch stocks from Master Inventory, and Post to re-order
                                                    requested.
                                                </li>
                                                <li>Go to Godown/Warehouse, and PHYSICALLY SHIP the goods.</li>
                                                <li>Come back to system, and update status as "Mark as Shipped".</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- <em>
                                    <span class="m-badge m-badge--brand">
                                                <i class="fa fa-info"></i>
                                            </span>Click "Allocate" to fetch stocks from Master Inventory, and Post to re-order requested. Go to Godown/Warehouse, and PHYSICALLY SHIP the goods. Come back to system, and update status as "Mark as Shipped".
                                        </em> -->
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-8">

                            </div>
                            <div class="col-lg-4 text-right">
                                <button id="consumable_submit" type="button" class="btn btn-success m-btn--square" (click)="updateReorder(true)" *ngIf="reorderRequest.orderStatus == 'FULFILLED' && (userRole == 'HC_OPS' || userRole == 'HC_ADMIN')">
                                    <i class="fa fa-truck"></i> {{"MARK_AS_SHIPPED" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="m-form__actions m-form__actions--solid" *ngIf="reorderRequest.orderStatus == 'DISPATCHED' && (userRole == 'OPERATOR'|| userRole == 'DOCTOR'|| userRole == 'TECHNICIAN')">
                        <div class="row">
                            <div class="col-lg-6">

                            </div>
                            <div class="col-lg-6">
                                <div class="m-stack m-stack--hor m-stack--general m-stack--demo" style="height: 110px">
                                    <div class="m-stack__item">
                                        <div class="m-stack__demo-item">
                                            <div class="text-center">
                                                <span class="m-badge m-badge--brand">
                                                    <i class="fa fa-info"></i>
                                                </span>
                                            </div>
                                            <ul>
                                                <li>Click "Accept" to acknowledge that you received order.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-8">

                            </div>
                            <div class="col-lg-4 text-right">
                                <button id="consumable_accpet" type="button" class="btn btn-success m-btn--square" (click)="acceptOrder()">
                                    <i class="fa fa-check"></i> Accept Order
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body" *ngIf="isShipped">
                    <h5>{{"YOU_HAVE_SUCCESSFULLY_ASSIGNED_CONSUMABLES_WITH_TXN_ID: 83948573. CLICK_BELOW_BUTTON_WHEN_YOU_HAVE_SUCCESSFULLY_SHIPPED_CONSUMABLES_SO_CLIENT_WILL_BE_NOTIFIED_YOU_CAN_GO_TO"
                        | translate}}.
                        <a routerLink="/consumables/shipment">{{"SHIPMENT_LOG" | translate}}</a> {{"TO_VIEW_STATUS_OF_SHIPMENT"}}.
                    </h5>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button id="consumable_submit" type="submit" class="btn btn-success m-btn--square" (click)="toggleAssignMode()">
                                        <i class="fa fa-truck"></i> {{"MARK_AS_SHIPPED" | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
    <!--begin::Modal-->
    <div class="modal fade" id="m_modal_order_fill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="selectedOrder">
                        {{selectedOrder.testName | translate}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeOrderModal()">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="row modal-body">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-6">
                                <h5 *ngIf="selectedOrder">{{"REQUIRED_QUANTITY" | translate}}: {{selectedOrder.quantity - selectedOrder.fulfilledQuantity}}
                                    packs
                                </h5>
                                <br>
                                <h5>
                                    <small>{{"AVAILABLE_CONSUMABLES" | translate}}</small>
                                </h5>
                            </div>
                            <div class="col-xl-6 text-right">
                                <!-- <a id="consumable_add" routerLink="/consumables/add" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square">
											<span>
												<i class="la la-plus"></i>
												<span>
													{{"CONSUMABLE" | translate}}
												</span>
											</span>
                                        </a> -->
                                <h5 *ngIf="selectedOrder">Quantity to be Allocated: {{getTotalToBeAllocated()}}
                                    <span *ngIf="getTotalToBeAllocated() > 0">packs</span>
                                </h5>
                            </div>
                        </div>
                        <p-dataTable [value]="consumables" styleClass="borderless" [globalFilter]="gb" #dt [responsive]="true" [rows]="10" [paginator]="true">
                            <p-column [style]="{'width':'100px'}" styleClass="text-center" [header]="'S.No' | translate">
                                <ng-template let-index="rowIndex" pTemplate="body">
                                    <b>
                                        <span>{{(index+1)}}</span>
                                    </b>
                                </ng-template>
                            </p-column>
                            <p-column field="lotNumber" styleClass="text-left" [header]="'LOT_NO' | translate">
                                <ng-template let-item="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span>{{item.lotNumber}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="manufacturer" styleClass="text-left" [header]="'MANUFACTURER' | translate">
                                <ng-template let-item="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span>{{item.manufacturer}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="expiryDate" styleClass="text-left" [header]="'EXPIRY_DATE' | translate">
                                <ng-template let-item="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span class="m-badge m-badge--wide m-badge--rounded" [ngClass]="{'m-badge--danger': (item.expiryDate < currMonth), 'm-badge--success': (item.expiryDate > currMonth) }">{{item.expiryDate | date: 'MM-y'}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="allocatedQuantity" styleClass="text-left" [header]="'ALLOCATED_PACKS' | translate">
                                <ng-template let-item="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span>{{item.allocatedQuantity}} {{"PACKS" | translate}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="quantity" styleClass="text-left" [header]="'AVAILABLE_PACKS' | translate">
                                <ng-template let-item="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <span>{{item.quantity}} {{"PACKS" | translate}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <!-- <p-column styleClass="col-button">
								<ng-template pTemplate="header">
									{{"REQUIRED_QUANTITY" | translate}}
								</ng-template>
								<ng-template let-item="rowData" pTemplate="body">
									<div style="text-align : center">
										{{ selectedOrder.quantity }}
									</div>
								</ng-template>
							</p-column> -->
                            <p-column styleClass="col-button">
                                <ng-template pTemplate="header">
                                    {{"PACKS_TO_ALLOCATE" | translate}}
                                </ng-template>
                                <ng-template let-item="rowData" pTemplate="body">
                                    <div style="text-align : center">
                                        <input type="number" name="filledQuantity" class="form-control m-input m-input--square" [(ngModel)]="item.fulfilledQuantity"
                                            #filledQuantity="ngModel" (change)="onQuantityChange()" min="0" [disabled]="item.expiryDate < currMonth">
                                    </div>
                                </ng-template>
                            </p-column>
                            <ng-template pTemplate="emptymessage">
                                <div style="text-align:center">{{"NO_CONSUMABLE_FOUND" | translate}}. </div>
                            </ng-template>
                        </p-dataTable>
                    </div>
                    <div class="col-xl-12">
                        <p-messages [(value)]="msgsAllocate"></p-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <span class="text-danger" *ngIf="!isValid">Please check your input</span> -->
                    <button id="order_submit" type="button" class="btn btn-success m-btn--square" (click)="fulfillOrder()" *ngIf="consumables && consumables.length > 0">
                        {{"ALLOCATE" | translate}}
                    </button>
                    <button id="close_order_modal" type="button" class="btn btn-secondary m-btn--square" data-dismiss="modal" (click)="closeOrderModal()">
                        {{"CLOSE" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end::Modal-->
</div>