<div class="m-content">
    <div class="alert alert-danger alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert" *ngIf="msg">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
        <strong>
                   {{"ERROR" | translate}}
        </strong> {{"FAILED_TO_GENERATE" | translate}} {{pdfHead}}.

    </div>
    <div class="row">
        <div class="col-lg-12 padlr5">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head" style="padding-left:0px">
                <span class="side-line-header"></span>
                <div class="m-portlet__head-caption" style="padding-left:20px">
                    <div class="m-portlet__head-title" style="padding: 10px 0px;">
                        <span class="m-portlet__head-icon"> 
                                    <i class="fa fa-building-o" aria-hidden="true" *ngIf="!reportData.logoUrl"></i>
                                    <img alt="" *ngIf="reportData.logoUrl" class="m-widget3__img" height="50px" width="50px" style="border-radius: 50%;" [src]="reportData.logoUrl">
                                </span>
                        <h3 class="m-portlet__head-text">
                            <span *ngIf="selectedCenter.name">{{selectedCenter.name}} ({{selectedCenter.centerCode}})</span><br/>
                            <!-- <small><span class="m--font-brand"><i class="flaticon-list-3"></i></span> {{selectedCenter.description}}</small><br/> -->
                            <small><span class="m--font-danger"><i class="flaticon-placeholder-1"></i></span> {{selectedFacility.name}}</small><br/>
                            <!-- <small><span> <i class="fa fa-download"></i> Download as PDF helps to download weekly report of {{selectedCenter.name}}</span></small> -->
                        </h3>
                    </div>
                </div>
                <div class="row pull-right" style="margin-top: 22px;margin-right:18px">
                    <a id="download_pdf" class="m-link m-link--state m-link--focus m--font-boldest" style="margin-top:6px;cursor:pointer" (click)="download()">
                        <span>
                                    <i class="fa fa-download m--font-focus"></i>
                                    <span class="m--font-focus m--font-boldest">
                                    {{'Download Weekly Report Pdf' | translate}}
                                    </span>
                        </span>
                    </a>
                    <a id="facility_detail_edit" class="m-link m-link--state m-link--success m--font-boldest" style="margin-left:10px" *ngIf="!hideLink" [routerLink]="['/facilities/details']" [queryParams]="{facilityId: facilityCode}">
                        <span>
                                <i class="flaticon-placeholder-1"></i>
                                <span>
                                {{"CUSTOMER_DETAILS" | translate}}
                                </span>
                        </span>
                    </a>
                </div>

            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2 col-md-6 col-sm-6 paddingdiv">
            <div class="m-portlet  m-portlet--bordered-semi m-portlet--count-card" style="cursor:auto">
                <div class="m-portlet__head" style="padding-left: 0px;">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 10px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"HUBS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-left:10px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/hub.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                            <span class="m-widget1__number num-re-css" *ngIf="deviceCount">
                                            {{deviceCount}}
                                            </span>
                                <span class="m-widget1__number num-re-css" *ngIf="!deviceCount">
                                                <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                            </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_HUBS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-md-6 col-sm-6 paddingdiv">
            <div class="m-portlet  m-portlet--bordered-semi  m-portlet--count-card" id="hub_center" style="cursor:auto">
                <div class="m-portlet__head" style="padding-left: 0px;">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 10px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"PATIENTS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-left:10px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/patient.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                            <span class="m-widget1__number num-re-css" *ngIf="patientCount || patientCount === 0">
                                            {{patientCount}}
                                            </span>
                                <span class="m-widget1__number num-re-css" *ngIf="!patientCount && patientCount !== 0">
                                                <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                            </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_PATIENTS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 paddingdiv">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--count-card" id="user_center" style="cursor:auto">
                <div class="m-portlet__head" style="padding-left: 0px;">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 10px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"USERS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-left:10px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/user-recovered.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                    <span class="m-widget1__number num-re-css" *ngIf="userCount || userCount === 0">
                                      {{userCount}}
                                    </span>
                                <span class="m-widget1__number num-re-css" *ngIf="!userCount && userCount !== 0">
                                        <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_USERS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 paddingdiv">
            <div class="m-portlet m-portlet--bordered-semi  m-portlet--count-card" style="cursor:auto">
                <div class="m-portlet__head" style="padding-left: 0px;">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 10px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"DIAGNOSTICS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-left:10px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/diagnostics.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                            <span class="m-widget1__number num-re-css" *ngIf="testsCount">
                                            {{testsCount}}
                                            </span>
                                <span class="m-widget1__number num-re-css" *ngIf="!testsCount">
                                                <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                            </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"DIAGNOSTICS_DONE" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 paddingdiv">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--count-card" style="cursor:auto;">
                <div class="m-portlet__head" style="padding-left: 0px;">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 10px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"FEMALE" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-left:10px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/lady.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username num-css">
                                            <span class="m-widget1__number num-re-css" *ngIf="femalePercent">
                                                {{femalePercent}}%
                                            </span>
                                <span class="m-widget1__number num-re-css" *ngIf="!femalePercent">
                                                <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                            </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_FEMALE_PATIENT" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-sm-6 paddingdiv">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--count-card" style="cursor:auto;">
                <div class="m-portlet__head" style="padding-left: 0px;">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 10px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"VISITS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-left:10px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/visits.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                                <span class="m-widget1__number num-re-css" *ngIf="visitsCount">
                                                    {{visitsCount}}
                                                </span>
                                <span class="m-widget1__number num-re-css" *ngIf="!visitsCount">
                                                    <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                                </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"VISITS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 paddingdiv " id='patient_chart_by_center'>
            <div class="m-portlet m-portlet--tab" style="height: 500px;">
                <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{'Patient registartion based on center' | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" *ngIf="showPatLoad" >
                    <div class="progress">
                        <span></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                    </div>
                </div>
                <div class="m-portlet__body" style="text-transform:uppercase;padding-top:0px" *ngIf="!showPatLoad">
                    <app-amchartcomponent [data]="patientChart" [id]="'patients_chart_center'" [title]="patient_week" [height]="350" [type]="'patient'"></app-amchartcomponent>
                </div>
            </div>
        </div>

        <div class="col-lg-6 paddingdiv " id='dignostic_charts_by_center'>
            <div class="m-portlet m-portlet--tab" style="height: 500px;">
                <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{'Diagnostic Done based on center' | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" *ngIf="showDigLoad" >
                    <div class="progress">
                        <span></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                    </div>
                </div>

                <div class="m-portlet__body" style="text-transform:uppercase" *ngIf="!showDigLoad">
                    <app-amchartcomponent [data]="testChartValue" [graphData]="graphValues" [id]="'tests_chart_week'" [title]="test" [height]="350" [type]="'serial'"></app-amchartcomponent>
                </div>
            </div>
        </div>
    </div>
    <p-dialog [header]="pdfHead" [(visible)]="showPdfModel" width="900" modal="true" [responsive]="true">
        <!-- {{objectURL}} -->
        <div class="col-md-12" *ngIf="objectURL" style="position:relative;height:700px;">
            <pdf-viewer [src]="objectURL" [show-all]="true" [original-size]="true" [fit-to-page]="true" [render-text]="true" [stick-to-page]="true" style="height: 700px"></pdf-viewer>

        </div>
        <p-footer>
            <a class="btn btn-primary m-btn m-btn--custom m-btn--icon" href="" ng-reflect-href="" (click)="downloadPdfLocal()">
                <span>
                    <i class="fa fa-download"></i>
                    <span>
                        {{"DOWNLOAD" | translate}}
                    </span>
                </span>
            </a>
        </p-footer>
    </p-dialog>



</div>