<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">

            <ul class="progress-tracker">
                <li class="complete">
                    <a routerLink="/consumables/add">
                        <div class="step" id="step_one" style="background-color: rgb(255, 184, 34);">
                            <i class="flaticon-add" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"ADD_CONSUMABLES_TO_MASTER_INVENTORY" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/list">
                        <div class="step" id="step_two">
                            <i class="fa fa-list" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"MASTER_INVENTORY_LIST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/reorder/add">
                        <div class="step" id="step_three">
                            <i class="flaticon-placeholder-1" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"CREATE_REORDER_REQUEST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/reorder">
                        <div class="step" id="step_four">
                            <i class="la la-check-square-o" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"REORDER_LIST_ALLOCATION" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/center">
                        <div class="step" id="step_five">
                            <i class="flaticon-list" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"CENTER_WISE_INVENTORY_LIST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="fa fa-plus"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                <span *ngIf="!consumable.id">{{"ADD" | translate}} </span>
                                <span *ngIf="consumable.id">{{"UPDATE" | translate}} </span>
                                <span>{{"CONSUMABLE" | translate}}</span> to Master Inventory
                                <small></small>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form (ngSubmit)="f.form.valid && save()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right" id="m_form_1"
                    action="">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row" *ngIf="tests">
                                    <label class="col-lg-4 col-form-label">
                                        {{"TEST" | translate}} *
                                    </label>
                                    <div class="col-lg-8">
                                        <select aria-describedby="basic-addon1" name="test" id="consumable_test" class="form-control m-input m-input--square" [(ngModel)]="consumable.testName"
                                            #test="ngModel" (change)="onTestChange()">
                                            <option value="{{test.testName}}" *ngFor="let test of tests">{{test.testName | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                        {{"TOTAL_QUANTITY_IN_PACKS" | translate}} *
                                    </label>
                                    <div class="col-lg-8">
                                        <input id="consumable_quantity" type="number" name="quantity" class="form-control m-input m-input--square" [(ngModel)]="consumable.quantity"
                                            #quantity="ngModel" (change)="onQuantityChange()" required>
                                        <span class="m-form__help">
                                            {{"NOTE: PACKS_CAN_BE_PACKAGINGS_LIKE_BOXES_OR_BOTTLES" | translate}} .
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                        {{"TYPE" | translate}} *
                                    </label>
                                    <div class="col-lg-8">
                                        <input id="consumable_name" type="text" name="name" class="form-control m-input m-input--square" [(ngModel)]="consumable.consumableType"
                                            #name="ngModel" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                        {{"TOTAL_UNITS_IN_EACH_PACK" | translate}}*
                                    </label>
                                    <div class="col-lg-8">
                                        <input id="consumable_perpack" type="number" name="itemsPerPackage" class="form-control m-input m-input--square" [(ngModel)]="consumable.itemsPerPackage"
                                            #itemsPerPackage="ngModel" (change)="onQuantityChange()" required>
                                        <span class="m-form__help">
                                            {{"NOTE: UNITS_CAN_BE_STRIPS_CARTRIDGES_ETC" | translate}}.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                        {{"MANUFACTURER" | translate}} *
                                    </label>
                                    <div class="col-lg-8">
                                        <input id="consumable_manufacturer" type="text" name="manufacturer" class="form-control m-input m-input--square" [(ngModel)]="consumable.manufacturer"
                                            #manufacturer="ngModel" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                        {{"TOTAL_UNITS" | translate}}
                                    </label>
                                    <div class="col-lg-8">
                                        <input id="consumable_totalunit" type="text" name="items" class="form-control m-input m-input--square" [(ngModel)]="consumable.items"
                                            #items="ngModel" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                        {{"LOT" | translate}}# *
                                    </label>
                                    <div class="col-lg-8">
                                        <input id="consumable_lotno" type="text" name="lotNumber" class="form-control m-input m-input--square" [(ngModel)]="consumable.lotNumber"
                                            #lotNumber="ngModel" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                        {{"CALIBRATION_CODE" | translate}}
                                    </label>
                                    <div class="col-lg-8">
                                        <input id="consumable_calcode" type="text" name="calcode" class="form-control m-input m-input--square" [(ngModel)]="consumable.lotCode"
                                            #calcode="ngModel">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                        {{"LOT_EXPIRY_DATE" | translate}}
                                    </label>
                                    <div class="col-lg-8">
                                        <!-- <input id="consumable_lotno" type="text" name="lotno" class="form-control m-input m-input--square" [(ngModel)]="consumable.lotno"
										 #lotno="ngModel" required> -->
                                        <input type='text' class="form-control" id="consumable_expirydate" [placeholder]="'SELECT_DATE' | translate" (change)="selectDate($event)"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                        {{"RE_ORDER_LEVELS(IN_PACKS)" | translate}}
                                    </label>
                                    <div class="col-lg-8">
                                        <input id="consumable_reorderLevel" type="text" name="reorderLevel" class="form-control m-input m-input--square" [(ngModel)]="consumable.reorderLevel"
                                            #reorderLevel="ngModel">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row" *ngIf="msg">
                                <div class="col-lg-12">
                                    <div id="device_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-danger" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                {{"ERROR" | translate}}!
                                            </strong> {{msg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <button id="consumable_submit" type="submit" class="btn btn-success m-btn--square" [disabled]="loading">
                                        {{"SUBMIT" | translate}}
                                    </button>
                                    <button id="consumable_cancel" routerLink="/consumables/list" class="btn btn-secondary m-btn--square">
                                        {{"CANCEL" | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>