<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon">
                                <i class="flaticon-file-1"></i>
                            </span> -->
                            <h3 class="m-portlet__head-text">
                                <span *ngIf="ULID === 'new'">{{"CREATE_CUSTOM_URINE_LOOKUP" | translate}}</span>
                                <span *ngIf="ULID !== 'new'">{{"UPDATE_URINE_LOOKUP" | translate}}</span>
                                <!-- <small>Add hub on left and all unassigned hubs will be listed on right side. Select multiple hubs to assign them to customer and center. </small> -->
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button class="btn btn-warning m-btn m-btn--custom m-btn--air m-btn--pill m--pull-right" [routerLink]="['/rdt/list']" [queryParams]="{type:'UL'}">
                                    {{"BTN_URINE_LOOKUP_LIST" | translate}}
                                </button>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <!--  <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30" *ngIf="textTemplate"> -->
                    <div class="row">
                        <div class="col-lg-12" *ngIf="ULID !== 'new'">
                            <div class="m-section">
                                1. Make changes in table below(Min, Max), &nbsp; 2. Enter Reason &nbsp; 3. Click "Save" .
                            </div>
                        </div>
                        <div class="col-lg-12" *ngIf="textTemplate">
                            <div class="m-portlet m-portlet--responsive-mobile m-portlet--accent m-portlet--head-solid-bg m-portlet--bordered">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <span class="m-portlet__head-icon">
                                                <i class="fa fa-info-circle"
                                                    style="color:white"></i>
                                            </span>
                                            <h3 class="m-portlet__head-text" style="color:white">
                                                {{"INSTRUCTIONS" | translate}}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item">
                                                <a class="m-portlet__nav-link m-portlet__nav-link--icon" data-portlet-tool="toggle" (click)="textBody = !textBody" data-original-title="Collapse">
                                                    <i class="la la-angle-down" style="color:white;cursor:pointer"></i>
                                                </a>
                                            </li>
                                            <li class="m-portlet__nav-item">
                                                <a class="m-portlet__nav-link m-portlet__nav-link--icon" data-portlet-tool="toggle" (click)="textTemplate = !textTemplate" data-original-title="Collapse">
                                                    <i class="la la-close" style="color:white;cursor:pointer"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="m-portlet__body" *ngIf="textBody">
                                    <div class="m-section">
                                        <div class="m-section__sub">
                                            {{"HD_INSTRUCTION_URINE" | translate}}
                                        </div>
                                        <div class="m-section__content">
                                            <div class="m-list-timeline">
                                                <div class="m-list-timeline__items">
                                                    <div class="m-list-timeline__item">
                                                        <span class="m-list-timeline__badge"></span>
                                                        <span class="m-list-timeline__text"> {{"EDIT_VALUES" | translate}}</span>
                                                    </div>
                                                    <div class="m-list-timeline__item">
                                                        <span class="m-list-timeline__badge"></span>
                                                        <span class="m-list-timeline__text"> {{"ENTER_A_NAME" | translate}}</span>
                                                    </div>
                                                    <div class="m-list-timeline__item">
                                                        <span class="m-list-timeline__badge"></span>
                                                        <span class="m-list-timeline__text">{{"SAVE_INSTRUCTION" | translate}}.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="m-portlet__body" style="padding-top:0px">
                        <div class="row" *ngIf="ULID !== 'new'">
                            <div class="col-lg-4">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                                {{"FILE_NAME" | translate}}:
                                            </label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control m-input m-input--square" readonly pInputText [(ngModel)]="urineLookupJson.fileName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
                                                        {{"REASON_FOR_UPDATE" | translate}}: *
                                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control m-input m-input--square" pInputText [(ngModel)]="urineLookupJson.reason">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <button type="button" class="btn btn-success m-btn--square" (click)="update()" [disabled]="!urineLookupJson.reason">
                                                            {{"BTN_SAVE" | translate}}
                                                        </button>
                                <!--                                             <a id="device_cancel"
                                                            (click)="goToList()"
                                                            class="btn btn-secondary m-btn--square">
                                                            {{"CANCEL" | translate}}
                                                        </a> -->
                            </div>
                        </div>
                        <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p-dataTable [value]="urineLookup" styleClass="borderless" [editable]="true">
                                        <p-column [header]="'S.No' | translate" [style]="{'width':'60px'}">
                                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                                <span>{{i + 1}}</span>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="name" [header]="'NAME' | translate" [style]="{'text-align':'center','width':'320px'}">
                                            <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                                                <strong>{{urineLookup.testName}}</strong>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="result" [header]="'RESULT_TYPE' | translate" [style]="{'text-align': 'center'}">>
                                            <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                                                <strong>{{urineLookup.result}}</strong>
                                            </ng-template>
                                        </p-column>
                                        <p-column field="min" [header]="'LBL_MIN' | translate" [style]="{'text-align':'center', 'width':'15%'}" [editable]="true">
                                            <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                                                <span>{{urineLookup.min}}</span>
                                                <!-- <i class="fa fa-pencil "
                                                    style="padding: 0 30px;"></i> -->
                                            </ng-template>
                                            <ng-template let-col let-urineLookup="rowData" pTemplate="editor">
                                                <input type="number" pInputText [(ngModel)]="urineLookup[col.field]" appendTo="body" />
                                            </ng-template>
                                        </p-column>
                                        <p-column field="max" [header]="'LBL_MAX' | translate" [editable]="true" [style]="{'text-align': 'center', 'width':'15%'}">
                                            <ng-template let-col let-urineLookup="rowData" pTemplate="editor">
                                                <input type="number" pInputText [(ngModel)]="urineLookup[col.field]" appendTo="body" />
                                            </ng-template>
                                            <ng-template let-col let-urineLookup="rowData" pTemplate="body">
                                                <strong>{{urineLookup.max}}</strong>
                                                <!-- <i class="fa fa-pencil "
                                                    style="padding: 0 30px;"></i> -->
                                            </ng-template>
                                        </p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tab" *ngIf="ULID === 'new'">
                    <div class="m-portlet__body">
                        <div class="row m--margin-bottom-25">&nbsp;</div>
                        <form (submit)="pushToServer()" #formData='ngForm'>
                            <div class="row">
                                <div class="col-lg-8">
                                    <label for="fileName">{{"FILE_NAME" | translate}}:*</label>
                                    <div class="form-group m-form__group has-danger">
                                        <input type="text" name="fileName" [(ngModel)]="urineLookupJson.fileName" class="form-control m-input m-input--square" required="true" (keyup)="onKeyUpEvent()" #fileName='ngModel'>
                                        <span *ngIf="hasUnderscore" class="form-control-feedback">{{"underscore_ not_allowed"|translate}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 m--padding-20">
                                    <button class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--square m--pull-right" type="submit" [disabled]="!formData.valid || hasUnderscore">
                                        <i class="fa fa-check"></i> {{"BTN_SAVE" | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Portlet-->
    </div>
</div>