<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{"PATENTS_VISITS_LOG" | translate}}
                    </h3>
                </div>
                <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                        <button class="btn m-btn--square m-portlet__nav-link btn-outline-brand btn-sm" [routerLink]="['/patients/list']" style="display: inline;position: absolute;top: 120px;right: 50px;">Back </button>	
                                    </li>
                            </ul>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-section">
                <div class="m-section--header">
                    Below showing the visits of the patient and the curresponding results of the tests. 
                </div>
            </div>
                <div class="col-md-12" *ngIf="patientData">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label><h6>Patient MRN: </h6></label> {{patientData.mrn}}
                        </div>
                    </div>
                </div>
            <!-- <div class="row" *ngIf="visits.lenght > 0"> -->
                <div class="col-md-12" *ngFor='let visit of visits | orderBy: orderOn: true'>
                    <app-patient-visit-card [visit]="visit" (getImage)="onShowImage($event)"></app-patient-visit-card>
                </div>
                <div class="col-md-12" *ngIf="!visits">
                    <div class="text-center">
                            No records found		
                    </div>	
                </div>
            <!-- </div> -->
<!--             <div class="row" *ngIf="visits.lenght == 0">
                <div class="col-md-12">
                    <h6>No results found!</h6>
                </div>
            </div> -->
            <div class="col-sm-12 text-right" style="margin:12px">
                Total Records:
                <b>{{visitsCount}} </b>
            </div>
            <div class="col-sm-12" *ngIf="visitsCount > 0">
                <p-paginator rows="10" *ngIf="visitsCount !== 0" styleClass="eh-pagination" [totalRecords]="visitsCount" [rowsPerPageOptions]="[10,25,50,100]" (onPageChange)="paginate($event)"></p-paginator>
            </div>
        </div>
    </div>
    <p-dialog header="RDT Result Image" [(visible)]="showImage" width="900" height="600" modal="true" [responsive]="true">
        <div class="col-md-12">
           <div class="text-center">
               {{!imageUrl? "IMAGE_NOT_FOUND": ''}}
           </div>
        </div>
        <div class="text-center">
            <img src="{{imageUrl}}">
        </div>
    </p-dialog>
</div>