<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portletc m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
						<i class="flaticon-map-location"></i>
					</span> -->
                    <h3 class="m-portlet__head-text" style="font-weight:400">
                        <!-- Patient Registrations Map -->
                        {{"HD_MAPS" | translate }}
                        <small></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-lg-12" *ngIf="mapLoaded">
                    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--primary" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#patient" (click)="tabClick('patient',$event)" role="tab">{{"PATIENTS_GEO" | translate }} {{'LOCATION' | translate}}</a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#centers" (click)="tabClick('center',$event)" role="tab">{{"CENTER"| translate}} {{'LOCATION' | translate}}</a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#tests" (click)="tabClick('tests',$event)" role="tab">{{"TESTS_GEO"| translate}} {{'LOCATION' | translate}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div  class="tab-pane active" id="patient" role="tabpanel">
                            <div class="m-section m-sectionc">{{"INFO_PATIENT_MAP"| translate}}</div>  
                            <!-- <p-gmap [options]="patientsOptions" [overlays]="patientsOverlays" [style]="{'width':'100%','height':'45vh'}" (onMapClick)="handleMapClickPatients($event)" (onOverlayClick)="handleOverlayClickPatients($event)" (onMapReady)="setMapPatients($event)"></p-gmap>                           -->
                        </div>
                        <div class="tab-pane" id="centers" role="tabpanel">
                            <div class="m-section m-sectionc">{{"INFO_CENTER_MAP"| translate}}</div>
                            <!-- <p-gmap [options]="centersOptions" [overlays]="centersOverlays" [style]="{'width':'100%','height':'55vh'}" (onMapClick)="handleMapClickCenters($event)" (onOverlayClick)="handleOverlayClickCenters($event)" (onMapReady)="setMapPatients($event)"></p-gmap> -->
                        </div>
                        <div class="tab-pane" id="tests" role="tabpanel">
                            <div class="m-section m-sectionc">{{"INFO_TEST_MAP"| translate}}</div>
                            <!-- <p-gmap [options]="testsOptions" [overlays]="testsOverlays" [style]="{'width':'100%','height':'55vh'}" (onMapClick)="handleMapClickTests($event)" (onOverlayClick)="handleOverlayClickTests($event)" (onMapReady)="setMapPatients($event)"></p-gmap> -->
                        </div>
                        <div style="min-height:400px" *ngIf="!showmap">  
                                <div class="progress">
                                    <span></span>
                                    <span class="spin-space"></span>
                                    <span class="spin-space"></span>
                                    <span class="spin-space"></span>
                                    <span class="spin-space"></span>
                                    <span class="spin-space"></span>
                                </div>                            
                        </div>
                        <div *ngIf="showmap">
                         <p-gmap [options]="patientsOptions" #gmap [overlays]="overlays" [style]="{'width':'100%','height':'55vh'}" (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" (onMapReady)="setMapPatients($event)"></p-gmap>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>