<div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head" style="padding-left:0px">
                        <span class="side-line-header"></span>
                        <div class="m-portlet__head-caption" style="padding-left:25px">
                            <div class="m-portlet__head-title">
                                <!-- <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span> -->
                                <h3 class="m-portlet__head-text">
                                    <!-- <span *ngIf="!device.id">Add </span> -->
                                    <span>{{"PER MACHINE DATA" | translate}} </span>
                                </h3>
                            </div>
                        </div>
                        <!-- tools -->
                        <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                   <li class="m-portlet__nav-item">
                                        <div class="input-group m-input-group" >
                                            <span class="input-group-addon" id="basic-addon2">
                                                            {{"SELECTED" | translate}}
                                                        </span>
                                       <select aria-describedby="basic-addon2"  class="form-control m-input m-input--square" [(ngModel)]="selectedoption" (change)="selectedoptionchanged(selectedoption)" >
                                            <option value="Patient registered" >Patient Registration</option>
                                            <option value="Consumable based test" >Consumable based test</option>
                                            <option value="Probe based test" >Probe based test</option>
                                        </select> 
                                        </div>
                                    </li>
                                    <li class="m-portlet__nav-item">
                                            <a class="btn m-btn--pill m-portlet__nav-link btn-outline-brand" (click)="goBack()" >
                                                 <span>
                                                         <i class="fa fa-arrow-left"></i>
                                                         &nbsp;
                                                         <span>
                                                             {{"BACK" | translate}}
                                                         </span>
                                                 </span>
                                             </a>
                                 </li>
                                </ul>
                            </div> 
                        <!-- End: tools -->
                    </div>
                    
                    <!--begin::table-->
    
                    <div class="m-portlet__body">
                        <div class="col-lg-12">
                            <div class="m-section">
                                <div class="m-section__sub">
                                    <p><b>   {{'This page is to administer data of '+selectedoption+' made per device'| translate }}</b></p>
                                    <!-- <small>* Sorted based on patient registration</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded text-center" >
                                   <div class="table-responsive" >
                                        <table class="table m-table m-table--head-bg-brand ">
                                            <thead >
                                                <tr >
                                                    <th>Sl No</th>
                                                    <th class="text-center">Customer</th>
                                                    <th class="text-center">Center</th>
                                                    <th class="text-center">Devices</th>
                                                    <th class="text-center" *ngIf="selectedoption=='Patient registered'">Patient registered</th>
                                                    <th class="text-center" *ngIf="selectedoption=='Patient registered'">Registration per device</th>
                                                    <th class="text-center" *ngIf="selectedoption=='Consumable based test'">Total consumable based test</th>
                                                    <th class="text-center" *ngIf="selectedoption=='Consumable based test'">Consumable based test per device</th>  
                                                    <th class="text-center" *ngIf="selectedoption=='Probe based test'">Total probe based test</th>
                                                    <th class="text-center" *ngIf="selectedoption=='Probe based test'">Probe based test per device</th>   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let pmd of avgdiagnostic; let i=index" [ngClass]="{'selectedRowClass': (pmd.facilityName==selectedItem && pmd.centerName==selectedcenter)|| (pmd.displayName==selectedItem && pmd.centerName==selectedcenter)}">
                                                    <td>{{((pageNo -1) * limit) + (i+1)}}</td>
                                                    <td>{{pmd.facilityName}}</td>
                                                    <td>{{pmd.centerName}}</td>
                                                    <td>{{pmd.totalDevices}}</td>
                                                    <td *ngIf="selectedoption=='Patient registered'">{{pmd.totalRegistrations}}</td>
                                                    <td *ngIf="selectedoption=='Patient registered'">{{(pmd.registrationPerDevice.toFixed(2))}}</td>
                                                    <td *ngIf="selectedoption=='Consumable based test'">{{pmd.totalConsumableTests}}</td>
                                                    <td *ngIf="selectedoption=='Consumable based test'">{{(pmd.consumableTestsPerDevice).toFixed(2)}}</td>
                                                    <td *ngIf="selectedoption=='Probe based test'">{{(pmd.totalProbeTests).toFixed(2)}}</td>
                                                    <td *ngIf="selectedoption=='Probe based test'">{{pmd.totalDevices!=0 ? ((pmd.totalProbeTests)/(pmd.totalDevices)).toFixed(2) : 0}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    <!-- <div *ngIf="visiblePagination"> -->
                                        <p-paginator [rows]="row" [totalRecords]="avgdiagnosticCount" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10,25,50,100]"></p-paginator>
                                    <!-- </div> -->
    
                                    <div class="col-sm-12" style="margin:20px">
                                        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12 pull-left text-left">
                                            <!-- <div class="drop">
                                                <label for="m_sorthby">{{"Items_per_Page" | translate}}</label>
                                                <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>
                                            </div> -->
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12 pull-right text-right">
                                            <p>{{"Total_Records"|translate}}: <b>{{avgdiagnosticCount}} </b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::table-->
                </div>
    
                <!--end::Portlet-->
            </div>
    
        </div>
    </div>