<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <ul class="progress-tracker">
                <li class="complete" *ngIf="userType && userType === 'Admin'">
                    <a routerLink="/consumables/add">
                        <div class="step" id="step_one" style="background-color: rgb(52, 191, 163);">
                            <i class="flaticon-add" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"ADD_CONSUMABLES_TO_MASTER_INVENTORY" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete" *ngIf="userType && userType === 'Admin'">
                    <a routerLink="/consumables/list">
                        <div class="step" id="step_two" style="background-color: rgb(52, 191, 163);">
                            <i class="fa fa-list" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"MASTER_INVENTORY_LIST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/reorder/add">
                        <div class="step" id="step_three" style="background-color: rgb(52, 191, 163);">
                            <i class="flaticon-placeholder-1" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"CREATE_REORDER_REQUEST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete" *ngIf="userType && userType === 'Admin'">
                    <a routerLink="/consumables/reorder">
                        <div class="step" id="step_four" style="background-color: rgb(52, 191, 163);">
                            <i class="la la-check-square-o" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"REORDER_LIST_ALLOCATION" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete" *ngIf="userType && userType === 'Facility'">
                    <a routerLink="/consumables/reorder">
                        <div class="step" id="step_four" style="background-color: rgb(52, 191, 163);">
                            <i class="la la-check-square-o" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            Reorder List
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/center">
                        <div class="step" id="step_five" style="background-color: rgb(255, 184, 34);">
                            <i class="flaticon-list" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"CENTER_WISE_INVENTORY_LIST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--head-solid-bg m-portlet--bordered" [ngClass]="{ 'm-portlet--brand': (!enableAssignMod && !isShipped), 'm-portlet--info': isShipped, 'm-portlet--success': (enableAssignMode && enableShipMode && !isShipped) }">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon" *ngIf="!enableAssignMode">
                                <i class="flaticon-list-3"></i>
                            </span>
                            <!-- <a class="m-portlet__head-icon" *ngIf="enableAssignMode && !enableShipMode" (click)="toggleAssignMode()">
								<i class="fa fa-arrow-left"></i>
							</a> -->
                            <a class="m-portlet__head-icon" *ngIf="enableAssignMode && enableShipMode && !isShipped" (click)="toggleShipMode()">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <h3 class="m-portlet__head-text">
                                <span *ngIf="!enableAssignMode && !isShipped">{{"COSUMABLES_CENTER_LIST" | translate}}</span>
                                <span *ngIf="isShipped">{{"SHIPMENT_STATUS" | translate}}</span>
                                <span *ngIf="enableAssignMode && enableShipMode && !isShipped">{{"SHIP_CONSUMABLES" | translate}}</span>
                                <br/>
                                <small>Displaying Inventory allocated and received by Center</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" *ngIf="!enableAssignMode && !isShipped">
                    <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="form-group m-form__group row align-items-center">
                                    <!-- <div class="col-md-4">
										<div class="m-input-icon m-input-icon--left">
											<input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="m_form_search">
											<span class="m-input-icon__icon m-input-icon__icon--left">
													<span>
														<i class="la la-search"></i>
													</span>
											</span>
										</div>
									</div> -->
                                </div>
                            </div>
                            <div class="col-xl-12 order-1 order-xl-2 m--align-right">
                                <div class="row">
                                    <div class="col-xl-5" *ngIf="userType && userType === 'Admin'">
                                        <div class="input-group m-input-group" *ngIf="facilities">
                                            <span class="input-group-addon" id="basic-addon1" style="border-color: transparent;background-color: transparent;">
                                                {{"CUSTOMER" | translate}}
                                            </span>
                                            <select aria-describedby="basic-addon1" name="organisationId" id="select_facility" class="form-control m-input m-input--square"
                                                [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)"
                                                #organisationId="ngModel">
                                                <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-5">
                                        <div class="input-group m-input-group" *ngIf="centers">
                                            <span class="input-group-addon" id="basic-addon2" style="border-color: transparent;background-color: transparent;">
                                                {{"CENTER" | translate}}
                                            </span>
                                            <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id"
                                                (change)="onCenterChange(centerId.value)" #centerId="ngModel">
                                                <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 text-left">
                                        <button id="consumable_submit_center" type="button" class="btn btn-success m-btn--square" (click)="filterByCenter()" *ngIf="centers">
                                            {{"FILTER" | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Search Form -->
                    <!--begin: Datatable -->
                    <!-- <div class="m_datatable" id="local_data"></div> -->
                    <!--end: Datatable -->
                    <div style="max-height: 520px;">
                        <!-- <table id="device_list" class="table table-hover m-table m-table--head-bg-primary table-clickable-header" style="margin-top:15px; ">
							<thead>
								<tr>
									<th class="text-center">
										<label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                            <input id="device_selectall" type="checkbox" name="selected" [checked]="checkAll" (change)="oncheckAll()">

                                            <span>
                                            </span>
                                        </label>
									</th>
									<th (click)="sortTypeCons = 'name'; sortCons = !sortCons">{{"NAME" | translate}}
										<span *ngIf="sortTypeCons == 'name' && !sortCons" class="fa fa-caret-down"></span>
										<span *ngIf="sortTypeCons == 'name' && sortCons" class="fa fa-caret-up"></span>
									</th>
									<th (click)="sortTypeCons = 'lotno'; sortCons = !sortCons">{{"LOT" | translate}}#
										<span *ngIf="sortTypeCons == 'lotno' && !sortCons" class="fa fa-caret-down"></span>
										<span *ngIf="sortTypeCons == 'lotno' && sortCons" class="fa fa-caret-up"></span>
									</th>
									<th (click)="sortTypeCons = 'manufacturer'; sortCons = !sortCons">{{"MANUFACTURER" | translate}}
										<span *ngIf="sortTypeCons == 'manufacturer' && !sortCons" class="fa fa-caret-down"></span>
										<span *ngIf="sortTypeCons == 'manufacturer' && sortCons" class="fa fa-caret-up"></span>
									</th>
									<th (click)="sortTypeCons = 'test'; sortCons = !sortCons">{{"TEST" | translate}}
										<span *ngIf="sortTypeCons == 'test' && !sortCons" class="fa fa-caret-down"></span>
										<span *ngIf="sortTypeCons == 'test' && sortCons" class="fa fa-caret-up"></span>
									</th>
									<th (click)="sortTypeCons = 'qntpack'; sortCons = !sortCons">{{"PACKS" | translate}}
										<span *ngIf="sortTypeCons == 'qntpack' && !sortCons" class="fa fa-caret-down"></span>
										<span *ngIf="sortTypeCons == 'qntpack' && sortCons" class="fa fa-caret-up"></span>
									</th>
									<th (click)="sortTypeCons = 'qntperpack'; sortCons = !sortCons">{{"QUANTITY_PER_PACK" | translate}}
										<span *ngIf="sortTypeCons == 'qntperpack' && !sortCons" class="fa fa-caret-down"></span>
										<span *ngIf="sortTypeCons == 'qntperpack' && sortCons" class="fa fa-caret-up"></span>
									</th>
									<th (click)="sortTypeCons = 'totalunits'; sortCons = !sortCons">{{"TOTAL_UNITS" | translate}}
										<span *ngIf="sortTypeCons == 'totalunits' && !sortCons" class="fa fa-caret-down"></span>
										<span *ngIf="sortTypeCons == 'totalunits' && sortCons" class="fa fa-caret-up"></span>
									</th>
									<th (click)="sortTypeCons = 'expirydt'; sortCons = !sortCons">{{"EXPIRY_DATE" | translate}}
										<span *ngIf="sortTypeCons == 'expirydt' && !sortCons" class="fa fa-caret-down"></span>
										<span *ngIf="sortTypeCons == 'expirydt' && sortCons" class="fa fa-caret-up"></span>
									</th>
									<th>Test Map</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let cons of consumables | orderBy: sortTypeCons : sortCons" [ngClass]="{'row-selected': cons.selected}">
									<td class="text-center">
										<label class="m-checkbox m-checkbox--air m-checkbox--state-success">
                                            <input id="consumable_select_{{cons.id}}" type="checkbox" name="selected" [checked]="cons.selected">
                                            <span></span>
                                        </label>
									</td>
									<td scope="row">{{ cons.consumableType }}</td>

									<td>{{ cons.lotNumber }}</td>
									<td>{{ cons.manufacturer }}</td>
									<td>{{ cons.testName }}</td>
									<td>{{ cons.quantity }}</td>
									<td>{{ cons.itemsPerPackage }}</td>
									<td>{{ cons.items }}</td>
									<td>{{ cons.expiryDate }}</td>
								</tr>
							</tbody>
						</table> -->
                        <p-dataTable [value]="consumables" styleClass="borderless" [globalFilter]="gb" #dt [responsive]="true">
                            <p-column [style]="{'width':'100px'}" styleClass="text-center" [header]="'S.No' | translate">
                                <ng-template let-index="rowIndex" pTemplate="body">
                                    <div style="text-align : center;">
                                        <b>
                                            <span>{{index+1}}</span>
                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="testName" [sortable]="true" styleClass="text-left" [header]="'TEST_TYPE' | translate">
                                <ng-template let-cons="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <b>
                                            <span>{{cons.testName | translate}}</span>
                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="lotNumber" [sortable]="true" styleClass="text-left" [header]="'LOT' | translate">
                                <ng-template let-cons="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b>
                                            <span>{{cons.lotNumber}}</span>
                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="expiryDate" styleClass="text-left" header="Expiry Date">
                                <ng-template let-cons="rowData" pTemplate="body">
                                    <div style="text-align : left" [ngClass]="{ 'text-danger': cons.isExpired }">
                                        <b>
                                            <span>{{cons.expiryDate}}</span>
                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="manufacturer" [sortable]="true" styleClass="text-left" [header]="'MANUFACTURER' | translate">
                                <ng-template let-cons="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <b>
                                            <span>{{cons.manufacturer}}</span>
                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="quantity" [sortable]="true" styleClass="text-left" [header]="'QUANTITY_IN_PACKS' | translate">
                                <ng-template let-cons="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <b>
                                            <span>{{cons.quantity}}</span>
                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="itemsPerPackage" [sortable]="true" styleClass="text-left" [header]="'QUANTITY_PER_PACK' | translate">
                                <ng-template let-cons="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <b>
                                            <span>{{cons.itemsPerPackage}}</span>
                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <!-- <p-column field="items" styleClass="text-left" header="Units#">
                                <ng-template let-cons="rowData" pTemplate="body">
                                    <div style="text-align : left">
                                        <b>  <span>{{cons.items}}</span></b>
                                    </div>
                                </ng-template>
                            </p-column> -->
                            <ng-template pTemplate="emptymessage">
                                <div style="text-align:center">{{"NO_RECORD_FOUND" | translate}}</div>
                            </ng-template>
                        </p-dataTable>
                        <p-paginator rows="10" [totalRecords]="consumableCount" (onPageChange)="paginateConsumable($event)"></p-paginator>
                    </div>
                    <!-- end: Datatable comm start -->
                    <!-- <div class="m-form">
                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <div class="m-form__section m-form__section--last">
                            <div class="m-form__heading">
                                <h5 class="m-form__heading-title">
                                    {{"SELECT_CONSUMABLES_AND_ASSIGN_TO_CENTER" | translate}}
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="input-group m-input-group" *ngIf="facilities">
                                <span class="input-group-addon" id="basic-addon1" style="border-color: transparent;background-color: transparent;">
									{{"CUSTOMER" | translate}}
								</span>
                                <select aria-describedby="basic-addon1" name="organisationId" id="select_facility" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
									<option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
								</select>
                            </div>
                        </div>
                        <div class="col-xl-5">
                            <div class="input-group m-input-group" *ngIf="centers">
                                <span class="input-group-addon" id="basic-addon2" style="border-color: transparent;background-color: transparent;">
									{{"CENTER" | translate}}
								</span>
                                <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" (change)="onCenterChange(centerId.value)" #centerId="ngModel">
									<option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
								</select>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <button id="consumable_submit_center" type="button" class="btn btn-success m-btn--square" (click)="toggleShipMode()" *ngIf="centers" disabled>
								{{"DISPATCH" | translate}}
							</button>
                        </div>
                    </div> -->
                    <!-- <br>
                    <div class="m-form">
                        <div class="m-form__seperator m-form__seperator--dashed"></div>
                    </div>
                    <br> begin: Datatable -->
                    <!-- <div style="max-height: 500px;overflow-y: auto;">
                        <table id="test_list" class="table table-hover m-table m-table--head-bg-info table-clickable-header" style="margin-top:15px; ">
                            <thead>
                                <tr>
                                    <th>Requested by
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>Customer
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>Center
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>Consumable
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>Packs
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>Time
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="reorders">
                                <tr *ngFor="let req of reorders" (click)="toggleShipMode()">
                                    <th scope="row">{{ req.name }}</th>
                                    <th scope="row">{{ req.orgName }}</th>
                                    <th scope="row">{{ req.center }}</th>
                                    <th scope="row">{{ req.consumableName }}</th>
                                    <th scope="row">{{ req.quantity }}</th>
                                    <th scope="row">{{ req.datetime }}</th>
                                    <th scope="row">
                                        <button id="consumable_submit_reorder" type="button" class="btn btn-success m-btn--square" (click)="toggleShipMode()" *ngIf="centers">
											Assign
										</button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    end: Datatable end com -->
                </div>

                <div class="m-portlet__body" *ngIf="enableAssignMode && !enableShipMode">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>{{"SELECTED_CONSUMABLES: CHOLESTEROL_STRIPS" | translate}}(H17006057)</h5>
                            <h6>{{"LOT_NO" | translate}}: 5</h6>
                            <h6>{{"PACKS" | translate}}: 200</h6>
                            <hr>
                            <h5>{{"LIST_OF_REORDER_REQUESTS" | translate}}</h5>
                        </div>
                    </div>
                    <!--begin: Datatable -->
                    <div style="max-height: 500px;overflow-y: auto;">
                        <table id="test_list" class="table table-hover m-table m-table--head-bg-info table-clickable-header" style="margin-top:15px; ">
                            <thead>
                                <tr>
                                    <th>{{"REQUESTED_BY" | translate}}
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>{{"CUSTOMER" | translate}}
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>{{"CENTER" | translate}}
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>{{"PACKS" | translate}}
                                        <span></span>
                                        <span></span>
                                    </th>
                                    <th>{{"TIME" | translate}}
                                        <span></span>
                                        <span></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="reorders">
                                <tr *ngFor="let req of reorders" (click)="toggleShipMode()">
                                    <th scope="row">{{ req.name }}</th>
                                    <th scope="row">{{ req.orgName }}</th>
                                    <th scope="row">{{ req.center }}</th>
                                    <th scope="row">{{ req.quantity }}</th>
                                    <th scope="row">{{ req.datetime }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end: Datatable -->
                </div>

                <div class="m-portlet__body" *ngIf="enableAssignMode && enableShipMode && !isShipped">
                    <!--begin::Form-->
                    <form (ngSubmit)="f.form.valid" #f="ngForm" class="m-form m-form--fit m-form--label-align-right" id="m_form_1" action="">
                        <div class="m-portlet__body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                            {{"NAME" | translate}}
                                        </label>
                                        <div class="col-lg-8">
                                            <input id="consumable_name" type="text" name="name" class="form-control m-input m-input--square" value="Cholesterol strips"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                            {{"PACKS_TO_SHIP" | translate}} *
                                        </label>
                                        <div class="col-lg-8">
                                            <input id="consumable_quantity" type="text" name="quantity" class="form-control m-input m-input--square" value="100" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                            {{"CUSTOMER" | translate}}
                                        </label>
                                        <div class="col-lg-8">
                                            <input id="consumable_customer" type="text" name="customer" class="form-control m-input m-input--square" value="Healthcubed"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                            {{"CENTER" | translate}}
                                        </label>
                                        <div class="col-lg-8">
                                            <input id="consumable_center" type="text" name="center" class="form-control m-input m-input--square" value="Bangalore" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions--solid">
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-10">
                                        <button id="consumable_submit" type="submit" class="btn btn-success m-btn--square" (click)="toggleShipped()">
                                            {{"MARK_AS_DISPATCHED" | translate}}
                                        </button>
                                        <button id="consumable_cancel" (click)="toggleAssignMode()" class="btn btn-secondary m-btn--square">
                                            {{"CANCEL" | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="m-portlet__body" *ngIf="isShipped">
                    <h5>{{"YOU_HAVE_SUCCESSFULLY_ASSIGNED_CONSUMABLES_WITH_TXN_ID: 83948573. CLICK_BELOW_BUTTON_WHEN_YOU_HAVE_SUCCESSFULLY_SHIPPED_CONSUMABLES_SO_CLIENT_WILL_BE_NOTIFIED_YOU_CAN_GO_TO"
                        | translate}}.
                        <a routerLink="/consumables/shipment">{{"SHIPMENT_LOG" | translate}}</a> {{"TO_VIEW_STATUS_OF_SHIPMENT"}}.
                    </h5>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button id="consumable_submit" type="submit" class="btn btn-success m-btn--square" (click)="toggleAssignMode()">
                                        <i class="fa fa-truck"></i>{{"MARK_AS_SHIPPED" | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>