.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.ui-datatable.borderless thead th {
    background-color: #5867dd !important
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-even {
    background-color: white;
    border-bottom: 2px #f7f7f7 solid;
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-odd {
    border-bottom: 2px #f7f7f7 solid;
}

.ui-datatable .ui-datatable-thead>tr>th {
    background-color: #5867dd !important;
}

body .ui-datatable thead th.ui-state-active {
    background-color: #5867dd !important;
    border-color: #5867dd !important;
    color: black;
}

body .ui-datatable thead th.ui-state-active :hover {
    background-color: #5867dd !important;
    border-color: #5867dd !important;
    color: white;
}

body .ui-datatable .ui-datatable-thead>tr>th,
body .ui-datatable .ui-datatable-tfoot>tr>td {
    background-color: #ffffff;
    padding: .75em;
    border-color: #c7c7c7;
    color: white;
}

body .ui-paginator .ui-paginator-first,
body .ui-paginator .ui-paginator-prev,
body .ui-paginator .ui-paginator-next,
body .ui-paginator .ui-paginator-last {
    color: black;
    transition: background-color 0.3s;
    min-height: 0.875em;
    min-width: 2em;
    padding: 0.5em 0.5em;
    vertical-align: top;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page:hover.ui-state-active {
    background-color: #716aca;
}

body .ui-state-active,
body .ui-state-highlight {
    background-color: #716aca;
    color: #ffffff;
}

body .ui-datatable .ui-paginator {
    padding: 0;
    border: none;
    margin-top: 10px;
}