<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet" *ngIf="!assignHub">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon">
                                <i class="flaticon-file-1"></i>
                            </span> -->
                            <h3 class="m-portlet__head-text">
                                <span>{{"CREATE_CUSTOM_RDT_LOOKUP" | translate}}</span>
                                <!-- <small>Add hub on left and all unassigned hubs will be listed on right side. Select multiple hubs to assign them to customer and center. </small> -->
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button class="btn btn-accent m-btn m-btn--custom m-btn--air m-btn--square m--pull-right" [routerLink]="['/rdt/list']" [queryParams]="{type:'RL'}">
                                        {{"BTN_RDT_LOOKUP_LIST" | translate}}
                                    </button>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30" *ngIf="textTemplate">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-portlet m-portlet--responsive-mobile m-portlet--accent m-portlet--head-solid-bg m-portlet--bordered">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <span class="m-portlet__head-icon">
                                                            <i class="fa fa-info-circle"
                                                                style="color:white"></i>
                                                        </span>
                                                <h3 class="m-portlet__head-text" style="color:white">
                                                    {{"INSTRUCTIONS" | translate}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="m-portlet__head-tools">
                                            <ul class="m-portlet__nav">
                                                <li class="m-portlet__nav-item">
                                                    <a class="m-portlet__nav-link m-portlet__nav-link--icon" data-portlet-tool="toggle" (click)="textBody = !textBody" data-original-title="Collapse">
                                                        <i class="la la-angle-down" style="color:white;cursor:pointer"></i>
                                                    </a>
                                                </li>
                                                <li class="m-portlet__nav-item">
                                                    <a class="m-portlet__nav-link m-portlet__nav-link--icon" data-portlet-tool="toggle" (click)="textTemplate = !textTemplate" data-original-title="Collapse">
                                                        <i class="la la-close" style="color:white;cursor:pointer"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body" *ngIf="textBody">
                                        <div class="m-section">
                                            <div class="m-section__sub">
                                                {{"FOLLOWING_IS_A_COPY_FROM_DEFAULT_RDT_LOOKUP_TABLE_YOU_CAN" | translate}}
                                            </div>
                                            <div class="m-section__content">
                                                <div class="m-list-timeline">
                                                    <div class="m-list-timeline__items">
                                                        <div class="m-list-timeline__item">
                                                            <span class="m-list-timeline__badge"></span>
                                                            <span class="m-list-timeline__text"> {{"EDIT_VALUES" | translate}}</span>
                                                        </div>
                                                        <div class="m-list-timeline__item">
                                                            <span class="m-list-timeline__badge"></span>
                                                            <span class="m-list-timeline__text"> {{"ENTER_A_NAME" | translate}}</span>
                                                        </div>
                                                        <div class="m-list-timeline__item">
                                                            <span class="m-list-timeline__badge"></span>
                                                            <span class="m-list-timeline__text">{{"SAVE_WHICH_CREATES_A_NEW_CUSTOM_RDT_LOOKUP" | translate}}.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                        <p-dataTable [value]="rdts" [editable]="true">
                            <p-column [header]="'S.No' | translate" [style]="{'width':'60px'}">
                                <ng-template let-col let-i="rowIndex" pTemplate="body">
                                    <span>{{i + 1}}</span>
                                </ng-template>
                            </p-column>
                            <p-column field="name" [header]="'NAME' | translate" [style]="{'width':'320px'}">
                                <ng-template let-col let-rdt="rowData" pTemplate="body">
                                    <strong>{{rdt.testName}}</strong>
                                </ng-template>
                            </p-column>
                            <p-column field="l1Position" [header]="'L1_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                    <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                </ng-template>
                                <ng-template let-col let-rdt="rowData" pTemplate="body">
                                    <strong>{{rdt.l1Position}}</strong>
                                    <br>
                                    <small>{{rdt.l1Position - rdt.l1Range}} - {{rdt.l1Position
                                        + rdt.l1Range}}</small>
                                </ng-template>
                            </p-column>
                            <p-column field="l1Range" [header]="'L1_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                <ng-template let-col let-rdt="rowData" pTemplate="body">
                                    <span>+/- {{rdt.l1Range}}</span>
                                </ng-template>
                                <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                    <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                </ng-template>
                            </p-column>
                            <p-column field="l2Position" [header]="'L2_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                    <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                </ng-template>
                                <ng-template let-col let-rdt="rowData" pTemplate="body">
                                    <strong>{{rdt.l2Position}}</strong>
                                    <br>
                                    <small>{{(rdt.l2Position - rdt.l2Range)}} - {{(rdt.l2Position
                                        + rdt.l2Range)}}</small>
                                </ng-template>
                            </p-column>
                            <p-column field="l2Range" [header]="'L2_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                <ng-template let-col let-rdt="rowData" pTemplate="body">
                                    <span>+/- {{rdt.l2Range}}</span>
                                </ng-template>
                                <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                    <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                </ng-template>
                            </p-column>
                            <p-column field="l3Position" [header]="'L3_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                    <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                </ng-template>
                                <ng-template let-col let-rdt="rowData" pTemplate="body">
                                    <strong>{{rdt.l3Position}}</strong>
                                    <br>
                                    <small>{{(rdt.l3Position - rdt.l3Range)}} - {{(rdt.l3Position
                                        + rdt.l3Range)}}</small>
                                </ng-template>
                            </p-column>
                            <p-column field="l3Range" [header]="'L3_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                <ng-template let-col let-rdt="rowData" pTemplate="body">
                                    <span>+/- {{rdt.l3Range}}</span>
                                </ng-template>
                                <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                    <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                    <div class="row m--margin-bottom-25">&nbsp;</div>
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__body">
                            <div class="row m--margin-bottom-25">&nbsp;</div>
                            <form (submit)="pushToServer()" #formData='ngForm'>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <label for="fileName">{{"FILE_NAME" | translate}}:*</label>
                                        <div class="form-group m-form__group has-danger">
                                            <input type="text" name="fileName" [(ngModel)]="rdtLookupJson.fileName" placeholder="e.g: RDT" class="form-control m-input m-input--square" required="true" (keyup)="onKeyUpEvent()" #fileName='ngModel'>
                                            <span *ngIf="hasUnderscore" class="form-control-feedback">{{"underscore_ not_allowed"|translate}}</span>
                                        </div>
                                    </div>
                                    <!--                                     <div class="col-lg-1">
                                            <span *ngIf="rdtLookupJson.fileName">
                                                <i class="fa fa-check success"></i>
                                            </span>
                                            <span *ngIf="!rdtLookupJson.fileName">
                                                <i class="fa fa-times error"></i>
                                            </span>
                                    </div> -->
                                    <div class="col-lg-4 m--padding-20">

                                        <button class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--square blue m--pull-right" type="submit" [disabled]="!formData.valid || hasUnderscore">

                                            <i class="fa fa-check"></i> {{"BTN_SAVE" | translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>