<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:25px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span> -->
                            <h3 class="m-portlet__head-text">
                                <!-- <span *ngIf="!device.id">Add </span> -->
                                <span *ngIf="from!='user'">{{"CC_WISE_REG" | translate}} </span>
                                <span *ngIf="from=='user'">{{"User wise registration" | translate}} </span>
                            </h3>
                        </div>
                    </div>
                    <!-- tools -->
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <!-- <li class="m-portlet__nav-item">
                                <div class="input-group m-input-group" *ngIf="facilities">
                                    <span class="input-group-addon" id="basic-addon1">
                                                {{"CUSTOMER" | translate}}
                                            </span>
                                    <p-dropdown [options]="facilities" [style]="{'border-radius': '0px', 'width': '175px'}" [(ngModel)]="selectedFacility" [filter]="true" filterBy="label,value.name" (onChange)="onfacilitychange(selectedFacility.id)"></p-dropdown>
                                    <!-- <select aria-describedby="basic-addon1" name="organisationId" id="select_facility" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
                                                <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                                            </select> --
                                </div>
                            </li>
                            <li class="m-portlet__nav-item">
                                <div class="input-group m-input-group" *ngIf="centers">
                                    <span class="input-group-addon" id="basic-addon2">
                                                    {{"CENTER" | translate}}
                                                </span>
                                    <p-dropdown [options]="centers" [style]="{'border-radius': '0px','width':'175px'}" [(ngModel)]="selectedCenter" [filter]="true" filterBy="label,value.name"></p-dropdown>
                                    <!--                             <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" #centerId="ngModel">
                                                                  <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                                              </select> --
                                </div>
                            </li> -->
                            <li class="m-portlet__nav-item">
                                <!-- <a class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="onfilter(selectedFacility,selectedCenter)"> -->
                                        <a class="btn m-btn--pill m-portlet__nav-link btn-outline-brand" (click)="goBack()">
                                    <span>
                                            <i class="fa fa-arrow-left"></i>
                                            &nbsp;
                                            <span>
                                                {{"BACK" | translate}}
                                            </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End: tools -->
                </div>
                <div class="alert alert-warning alert-dismissible fade show   m-alert m-alert--square m-alert--air" role="alert" *ngIf="warning">
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                    <strong>
                         {{"WARNING" | translate}} : 
                        </strong> {{"Please Select Center" | translate}}.

                </div>
                <!--begin::table-->

                <div class="m-portlet__body">
                    <div class="col-lg-12">
                        <div class="m-section">
                            <div class="m-section__sub">
                                <p><b>   {{'NOTE_CU_CE_REG_LIST'| translate }}</b></p>
                                <!-- <small>* Sorted based on patient registration</small> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded text-center">
                                <div class="table-responsive" >
                                        <table class="table m-table m-table--head-bg-brand">
                                            <thead>
                                                <tr >
                                                    <th class="text-center">Sl No</th>
                                                    <th class="text-center" *ngIf="from=='user'">User</th>
                                                    <th class="text-center">Customer</th>
                                                    <th class="text-center">Center</th>
                                                    <th class="text-center">Patient registered</th>
                                                    <th class="text-center">% of registration to total registration</th>  
                                               </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let cc of ccWisereg; let i=index" [ngClass]="{'selectedRowClass': (cc.facilityName==selectedItem && cc.centerName==selectedcenter) || (cc.displayName==selectedItem && cc.centerName==selectedcenter)}">
                                                    <td>{{((pageNo -1) * limit) + (i+1)}}</td>
                                                    <td *ngIf="from=='user'">{{cc.displayName}}</td>
                                                    <td>{{cc.facilityName}}</td>
                                                    <td>{{cc.centerName}}</td>
                                                    <td>{{cc.totalRegistrations}}</td>
                                                    <td>{{patientsTotalCount!=0 ? ((cc.totalRegistrations/patientsTotalCount)*100).toFixed(2) : 0.00}} %</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                <div *ngIf="visiblePagination">
                                    <p-paginator [rows]="row" [totalRecords]="ccWiseregCount" [rowsPerPageOptions]="[10,25,50,100]" (onPageChange)="paginate($event)"></p-paginator>
                                </div>

                                <div class="col-sm-12" style="margin:20px">
                                    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12 pull-left text-left">
                                        <!-- <div class="drop">
                                            <label for="m_sorthby">{{"Items_per_Page" | translate}}</label>
                                            <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>
                                        </div> -->
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12 pull-right text-right">
                                        <p>{{"Total_Records"|translate}}: <b>{{ccWiseregCount}} </b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::table-->
            </div>

            <!--end::Portlet-->
        </div>

    </div>
</div>