<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--brand m-portlet--bordered">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon">
						<i class="fa fa-truck"></i>
					</span>
					<h3 class="m-portlet__head-text">
						{{"CONSUMABLES_AND_REORDERS" | translate}}
						<small></small>
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<ul class="progress-tracker">
				<li class="complete" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
					<a routerLink="/consumables/add">
						<div class="step" id="step_one">
							<i class="flaticon-add" style="color:white"></i>
						</div>
						<div class="label m--font-bold">
							{{"ADD_CONSUMABLES_TO_MASTER_INVENTORY" | translate}}
						</div>
					</a>
					<div style="margin-top: 50px;">
						<h6>
							Enter details like reorder level, expiry date, lot number etc.
						</h6>
					</div>
				</li>
				<li class="complete" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
					<a routerLink="/consumables/list">
						<div class="step" id="step_two">
							<i class="fa fa-list" style="color:white"></i>
						</div>
						<div class="label m--font-bold">
							{{"MASTER_INVENTORY_LIST" | translate}}
						</div>
					</a>
					<div style="margin-top: 50px;">
						<h6>
							You can check quantities available in master inventory
						</h6>
					</div>
				</li>
				<li class="complete">
					<a routerLink="/consumables/reorder/add">
						<div class="step" id="step_three">
							<i class="flaticon-placeholder-1" style="color:white"></i>
						</div>
						<div class="label m--font-bold">
							{{"CREATE_REORDER_REQUEST" | translate}}
							<!-- <br/>{{"MULTI_SELECT_OF_USER_WORKS_WHEN_NO_TESTS_ARE_CONFIGURED" | translate}} -->
						</div>
					</a>
					<div style="margin-top: 50px;">
						<h6>
							Select center and enter which consumables you need to request
						</h6>
					</div>
				</li>
				<li class="complete" *ngIf="userRole == 'HC_OPS' || userRole == 'HC_ADMIN'">
					<a routerLink="/consumables/reorder">
						<div class="step" id="step_four">
							<i class="la la-check-square-o" style="color:white"></i>
						</div>
						<div class="label m--font-bold">
							{{"REORDER_LIST_ALLOCATION" | translate}}
						</div>
					</a>
					<div style="margin-top: 50px;">
						<h6>
							View reorders and perform allocations on this page
						</h6>
					</div>
				</li>
				<li class="complete" *ngIf="userRole == 'OPERATOR'|| userRole == 'DOCTOR'|| userRole == 'TECHNICIAN'">
					<a routerLink="/consumables/reorder">
						<div class="step" id="step_four">
							<i class="la la-check-square-o" style="color:white"></i>
						</div>
						<div class="label m--font-bold">
							Reorder List
						</div>
					</a>
					<div style="margin-top: 50px;">
						<h6>
							View reorders and accept shipped orders
						</h6>
					</div>
				</li>
				<li class="complete">
					<a routerLink="/consumables/center">
						<div class="step" id="step_five">
							<i class="flaticon-list" style="color:white"></i>
						</div>
						<div class="label m--font-bold">
							{{"CENTER_WISE_INVENTORY_LIST" | translate}}
						</div>
					</a>
					<div style="margin-top: 50px;">
						<h6>
							Displaying Inventory allocated and received by Center
						</h6>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>