<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
						<i class="flaticon-list-2"></i>
					</span> -->
                    <h3 class="m-portlet__head-text" style="font-weight:400">
                        {{"DIAGNOSTICS_AND_STATISTICS" | translate}}
                        <small class="no-cap">{{"LIST_OF_DIAGNOSTICS" | translate}}. {{"SEARCH" | translate}}, {{"SORT" | translate}}</small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="userType && userType == 'Admin'">
                        <!-- <div class="input-group m-input-group" *ngIf="facilities">
                            <span class="input-group-addon" id="basic-addon1">
									{{"CUSTOMER" | translate}}
								</span>
                            <select aria-describedby="basic-addon1" name="organisationId" id="select_facility" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
													  <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
												  </select>
                        </div> -->
                        <app-fac-dropdown [value]="chosen" [id]="'visit-filter-customer'" (selected)="facilityChange($event)"></app-fac-dropdown>                       
                    </li>
                    <li class="m-portlet__nav-item">
                        <div class="input-group m-input-group" *ngIf="centers">
                            <span class="input-group-addon" id="basic-addon2">
									{{"CENTER" | translate}}
								</span>
                            <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" #centerId="ngModel">
												  <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
							</select>
                        </div>
                    </li>
                    <li class="m-portlet__nav-item">
                        <div class="m-subheader" style="padding:0px;">
                            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
								<span class="m-subheader__daterange-label">
								<span class="m-subheader__daterange-title"></span>
                            <span class="m-subheader__daterange-date m--font-brand"></span>
                            </span>
                            <a class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                <i class="la la-angle-down" style="color:#fff"></i>
                            </a>
                            </span>
                        </div>
                    </li>
                    <li class="m-portlet__nav-item">
                        <a class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--pill yellow" style="color: #fff;" (click)="pageNo=1;visiblepagination=false;onFilterClick()">
                            <span>
									<span>
										{{"FILTER" | translate}}
									</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            <div class="col-xl-12 order-2 order-xl-1" style="padding-top:20px">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group m-form__group row">
                                <label class="col-form-label" style="text-align:right">{{"SEARCH_BY" | translate}}                                               
                                                    </label>
                                <div class="col-6">
                                    <select [(ngModel)]="selectedSearchBy" (change)="onChangeSeachBy(selectedSearchBy)" style="padding-left: 1rem" class="form-control m-input m-input--square">
                                        <option *ngFor="let c of SearchBylist" [ngValue]="c">{{c.name | translate}}</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                    <div class="col-xl-3" *ngIf="showType">
                        <app-fac-dropdown [typeOfSearch]="'test'" (selectedTest)="pageOne();testChange($event)" [selectedFacilityId]="selectedFacility.id" [selectedCenterId]="selectedCenter.id" [id]="'test-search-log'"></app-fac-dropdown>
                    </div>
                    <div class="col-xl-3" *ngIf="showUser">
                        <app-fac-dropdown [typeOfSearch]="'user'"  [clearText]="!isFilter" (selectedUser)="pageOne();userChange($event)" [selectedFacilityId]="selectedFacility.id" [selectedCenterId]="selectedCenter.id" [id]="'user-search-log'"></app-fac-dropdown>
                    </div>
                </div>
            </div>

            <div class="table-responsive">               
                <p-dataTable [value]="tests" styleClass="borderless"  [globalFilter]="gb" #dt [emptyMessage]="null" >
                    <p-column styleClass="text-center" [header]="'S.No' | translate">
                        <ng-template let-index="rowIndex" pTemplate="body">
                            <div style="text-align : center;">
                                <b>
									<span>{{((pageNo -1) * size) + (index+1)}}</span>
								</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="text-left" filed="endTimeDate">
                        <ng-template pTemplate="header">
                            {{'TIME' | translate}}<br/> {{'DURATION(hh:mm:ss)' | translate}}
                        </ng-template>
                        <ng-template let-tests="rowData" pTemplate="body">
                            <div style="text-align : left;">
                                <b>
                                    <span> <i class="fa fa-calendar"></i> {{tests.endTimeDate | date : 'dd-MM-y' }}</span>
                                    <span> ({{tests.endTimeDate | date : 'HH:mm' }})</span><br/>
                                    <span> <i class="fa fa-clock-o"></i> {{fmtMSS(tests.eTime - tests.sTime) }}</span>
                                </b>
                            </div>
                        </ng-template>
                    </p-column>
                    <!-- <p-column styleClass="text-left" [header]="'DURATION(hh:mm:ss)' | translate">
                        <ng-template let-tests="rowData" pTemplate="body">
                            <div style="text-align : left;">
                                <b>														
														<span> <i class="fa fa-clock-o"></i> {{fmtMSS(tests.eTime - tests.sTime) }}</span>
													</b>
                            </div>
                        </ng-template>
                    </p-column> -->
                    <p-column styleClass="text-left" [header]="'TYPE_AND_RESULTS' | translate">
                        <ng-template let-tests="rowData" pTemplate="body">
                            <div style="text-align : left;">
                                <b>														
														<span>{{ tests.type | translate }}</span><br/>
														<span innerHTML="{{tests.diaResults}}"></span>
								</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <!-- <p-column styleClass="text-left" [header]="'PATIENTID_AND_MRN' | translate">
                        <ng-template let-tests="rowData" pTemplate="body">
                            <div style="text-align : left;">
                                <b>														
														<span><i class="fa fa-user-o"></i> {{tests.patientId}}</span><br/>
														<span><i class="fa fa-list-ol"></i> {{tests.mrn}}</span>
													</b>
                            </div>
                        </ng-template>
                    </p-column> -->
                    <p-column styleClass="text-left" [header]="'CUSTOMER / CENTERS' | translate" *ngIf="userType == 'Admin'">
                        <ng-template let-tests="rowData" pTemplate="body">
                            <div style="text-align : left;">
                                <b>														
                                    <span class="capitalizeString">{{tests.facilityName}}</span><br/>
                                    <span class="capitalizeString">{{tests.centerName}}</span>
								</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="text-left" [header]="'CENTERS' | translate" *ngIf="userType == 'Facility'">
                        <ng-template let-tests="rowData" pTemplate="body">
                            <div style="text-align : left;">
                                <b>	<span class="capitalizeString">{{tests.centerName}}</span>
								</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="text-left">
                        <ng-template pTemplate="header">
                            {{'SERIAL_NUMBER'| translate}} {{'IMEI' |translate}}
                        </ng-template>
                        <ng-template let-tests="rowData" pTemplate="body">
                            <div style="text-align : left;">
                                <b>														
                                    <span *ngIf="tests.serialNumber">{{tests.serialNumber}}</span>
                                    <span *ngIf="!tests.serialNumber">
                                        <span *ngIf="tests.test.hcDeviceId">{{tests.test.hcDeviceId}}</span>
                                        <span *ngIf="!tests.test.hcDeviceId">No Data</span>
                                    </span>
                                    <br/>
                                    <span *ngIf="tests.test.tabletId">{{tests.test.tabletId}}</span>
                                    <span *ngIf="!tests.test.tabletId">No Data</span>														
								</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="text-left" [header]="'OPERATOR' | translate">
                        <ng-template let-tests="rowData" pTemplate="body">
                            <div style="text-align : left;">
                                <b>				
                        <span class="capitalizeString">{{tests.operatorName}}</span></b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="col-button">
                        <ng-template pTemplate="header">
                            {{"ACTION" | translate}}
                        </ng-template>
                        <ng-template let-tests="rowData" pTemplate="body">
                            <div style="text-align : center">
                                <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" id="model-btn" data-toggle="modal" data-target="#m_modal_center_add" (click)="showTestDetail(tests)" [title]="'VIEW' | translate ">
                                    <i class="fa fa-eye" style="color:#fff"></i>
                                </a>
                            </div>
                        </ng-template>
                    </p-column>

                </p-dataTable>
                <p class="text-center" *ngIf="resNull">No records found</p>
                <!-- <div class="pull-right" style="margin:12px">
                    {{"Total_Records"|translate}}: <b>{{visitCount}} </b>
                </div> -->
                <div style="position: relative;" *ngIf="visiblepagination">
                    <p-paginator [rows]="row" [totalRecords]="visitCount"  (onPageChange)="paginate($event)"></p-paginator>
                    <span style="position: absolute; top:3px; right:5px; margin: 5px;">
                            <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                         
                          <span> {{"Total_Records"|translate}}: <b>{{visitCount}} </b> </span> 
                    </span>
                    <!-- <div class="drop" style="margin-top: -45px; margin-left: 120px;">
                        <label for="m_sorthby">{{"ITEMS_PER_PAGE" | translate}}</label>
                        <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>
                    </div> -->
                </div>
            </div>
            <!-- <div class="col-sm-6">
						<div class="m_datatable" id="local_data">
								
											</div>
					</div> -->


            <!--end: Datatable -->
        </div>
    </div>

    <p-dialog modal="modal"  [draggable]="false" [width]="800" [(visible)]="showDialog" responsive="true"  [showHeader]="false" [closable]="false">
        <div class="m-portlet--mobile" *ngIf="testData">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <div class="m-portlet__head-text" style="font-size:1.0rem">
                            <div class="col-lg-12" *ngIf="testData">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <i class="la la-warning" *ngIf="!testIconUrl"></i>
                                        <img *ngIf="testIconUrl" [src]="testIconUrl" alt="" height="auto" width="65px">
                                    </div>
                                    <div class="col-lg-10" style="margin-left:8px"><b>
                                        <span *ngIf="testData.test.name">{{reduce(testData.test.name) | translate}}</span><br/>
                                        <span *ngIf="testData.test.type">{{reduce(testData.test.type) | translate}}</span><br/>
                                        <span *ngIf="testData.patientId || testData.mrn">{{testData.patientId}} ({{testData.mrn}})</span></b>
                                        <div class="pull-right">
                                                <i style='color:red;cursor:pointer;font-size:2.0rem;margin-top:-20px' (click)="showDialog=false" class="la la-remove"></i>
                                            </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="m-separator m-separator--dashed m-separator--lg" style="margin-top: 10px;"></div>
            </div>                
            <div class="m-portlet__body" style="padding:10px!important">
                    <div class="form-group m-form__group row" style="margin-top:-20px">
                        <label class="col-lg-6 m--font-boldest">
                                <i class="flaticon-notes"></i>&nbsp;{{'Test Details' | translate}}
                            </label>
                        <label class="col-lg-6">
                            <span style="text-align : center" *ngIf="testData.test.imageUrl">
                                <b> <span *ngIf="reduce(testData.test.name) != 'BLOOD GROUPING'">{{'RDT Test Image' | translate}}</span>
                                <span *ngIf="reduce(testData.test.name) == 'BLOOD GROUPING'">{{'Blood Grouping Test Image' | translate}}</span>
                            </b>
                            </span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-12">
                                <table class="table m-table m-table--head-bg-brand" *ngIf="testData.test.name == 'ECG'">
                                        <thead>
                                            <tr>
                                                <th>
                                                    {{'Heart Rate' | translate}}
                                                </th>
                                                <th>
                                                    {{'P Duration' | translate}}
                                                </th>
                                                <th>
                                                    {{'PR Interval' | translate}}
                                                </th>
                                                <th>
                                                    {{'QRS Duration' | translate}}
                                                </th>
                                                <th>
                                                    {{'QT Interval' | translate}}
                                                </th>
                                                <th>
                                                    {{'T Duration' | translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                   <span *ngIf="testData.test.ecgData.heartRate">
                                                    <b>{{testData.test.ecgData.heartRate}}  {{'bpm' | translate}}</b>
                                                   </span>
                                                   <span *ngIf="!testData.test.ecgData.heartRate">
                                                        <b>0 {{'bpm' | translate}}</b>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span *ngIf="testData.test.ecgData.pDuration">
                                                        <b>{{testData.test.ecgData.pDuration}}  {{'ms' | translate}}</b>
                                                    </span>
                                                    <span *ngIf="!testData.test.ecgData.pDuration">
                                                        <b>0 {{'ms' | translate}}</b>
                                                    </span>
                                                      
                                                </td>
                                                <td>
                                                    <span *ngIf="testData.test.ecgData.prInterval">
                                                            <b>{{testData.test.ecgData.prInterval}}  {{'ms' | translate}}</b>
                                                    </span>
                                                    <span *ngIf="!testData.test.ecgData.prInterval">
                                                            <b>0 {{'ms' | translate}}</b>
                                                    </span>                                                    
                                                </td>
                                                <td>
                                                    <span *ngIf="testData.test.ecgData.qrsDuration">
                                                       <b>{{testData.test.ecgData.qrsDuration}} {{'ms' | translate}}</b>
                                                    </span>
                                                    <span *ngIf="!testData.test.ecgData.qrsDuration">
                                                       <b>0 {{'ms' | translate}}</b>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span *ngIf="testData.test.ecgData.qtInterval">
                                                        <b>{{testData.test.ecgData.qtInterval}} {{'ms' | translate}}</b>
                                                    </span>
                                                    <span *ngIf="!testData.test.ecgData.qtInterval">
                                                            <b>0 {{'ms' | translate}}</b>
                                                    </span>                                                    
                                                </td>
                                                <td>
                                                    <span *ngIf="testData.test.ecgData.qtcInterval">
                                                        <b>{{testData.test.ecgData.qtcInterval}} {{'ms' | translate}}</b>
                                                    </span>
                                                    <span *ngIf="!testData.test.ecgData.qtcInterval">
                                                            <b>0 {{'ms' | translate}}</b>
                                                    </span>
                                                </td>
                                            </tr>
                                           
                                           
                                        </tbody>
                                    </table>                              
                                <div class="form-group m-form__group row" *ngIf="testData.test.name == 'ECG'">
                                    <label class="col-2" for="example-text-input">
                                        <b> {{'Comments' | translate}} </b> 
                                    </label>
                                    <label class="col-7">
                                        :   <b [innerHTML]="testData.test.ecgData.comments"></b>
                                    </label>    
                                </div>
                                <div class="form-group m-form__group row" style="float:right;padding-right:20px" *ngIf="testData.test.name == 'ECG'">
                                    <a *ngIf="testData.test.name == 'ECG' && !showSpinner" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="downloadECG()">
                                            <span style="color:#fff">
                                                <i class="fa fa-download"></i>                               
                                                
                                                <span>
                                                    {{'Download Report' | translate}}
                                                </span>
                                            </span>
                                    </a>
                                    <a class="btn m-btn btn-info m-btn--pill m-loader m-loader--light m-loader--left" *ngIf="showSpinner">
                                            <span style="color:#fff">
                                                    {{'Downloading' | translate}}
                                            </span>
                                    </a>
                                </div>
                        </div>
                        <div class="col-7" *ngIf="testData.test.name != 'ECG'">
                            <div class="form-group m-form__group row">
                                    <label class="col-5" for="example-text-input">
                                <b> {{'Test Result' | translate}} </b> 
                                </label>
                                    <label class="col-6" *ngIf="showResult">
                                :   <b [innerHTML]="showResult">  </b>
                                </label>
                                    <label class="col-6" *ngIf="!showResult">N/A</label>                                
                                   
                            </div>
                            <div class="form-group m-form__group row" *ngIf="testData.test.resultLines">
                                    <label class="col-5" for="example-text-input">
                                            <b> {{'Result Values' | translate}} </b> 
                                    </label>                                      
                                   
                                    <label class="col-6" *ngIf="testData.test.resultLines" style="word-wrap:break-word">
                                       : <b style="font-weight: 500"> [{{conString(testData.test.resultLines)}}]</b>
                                    </label>
                            </div>                            
                            <div class="form-group m-form__group row">
                                <label class="col-5" for="example-text-input">
                                <b> {{'Test Time & Duration' | translate}} </b>
                                </label>
                                <label class="col-6" *ngIf="testData.duration && testData.endTimeDate">
                                :   <b>   {{testData.endTimeDate | date : 'dd-MM-y' }} - {{testData.endTimeDate | date : 'HH:mm'  }} &nbsp;&nbsp;({{testData.duration}}) </b>
                                </label>
                                <label class="col-6" *ngIf="!testData.duration && !testData.endTimeDate"> : <b>N/A </b></label>
                            </div>  
                            <div class="form-group m-form__group row" *ngIf="testData.test.type !='WHOLE_BLOOD_POCT' && testData.test.type !='PHYSICAL'">
                                <label class="col-5" for="example-text-input">
                                <b> {{'Remark' | translate}} </b>
                                </label>
                                <label class="col-6" *ngIf="testData.remark">
                                :   <b>   {{testData.remark }} </b>
                                </label>
                                <label class="col-6" *ngIf="!testData.remark"> : <b>N/A </b></label>
                            </div>  
                        </div>
                        <div class="col-5 div-top">
                            <div *ngIf="testData.test.imageUrl" class="back-test-image" [ngStyle]="{'background': 'url('+testData.test.imageUrl+')'}"></div>
                            <a *ngIf="testData.test.imageUrl" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" download [attr.href]="testData.test.imageUrl">
                                <span style="color:#fff">
                                        <i class="fa fa-download"></i>
                                        <span>
                                            {{'DOWNLOAD' | translate}}
                                        </span>
                                </span>
                            </a>                      
                           
                           
                        </div>   
                    </div>
                    <div class="form-group m-form__group row" style="padding-top:25px">
                            <label class="col-lg-6 m--font-boldest">
                                            <i class="flaticon-placeholder-1"></i> &nbsp;{{'Customer_Details' | translate}}
                                    </label>
                            <label class="col-lg-6">
                                <span style="text-align : center">
                                   <b> {{'Test done location' | translate}} </b> 
                                </span>
                            </label>
                    </div>
                    <div class="row">
                            <div class="col-7">
                                <div class="form-group m-form__group row">
                                    <label class="col-5" for="example-text-input">
                                    <b> {{'CUSTOMER NAME' | translate}} </b> 
                                    </label>
                                    <label class="col-6" *ngIf="testData.facilityName">
                                    :   <b> {{testData.facilityName}} </b>
                                    </label>
                                    <label class="col-6" *ngIf="!testData.facilityName">{{'No Data' | translate}}</label>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-5" for="example-text-input">
                                        <b>{{'CENTER NAME' | translate}}</b>
                                    </label>
                                    <label class="col-6" *ngIf="testData.centerName">
                                        :   <b>   {{testData.centerName }} </b>
                                    </label>
                                    <label class="col-6" *ngIf="!testData.centerName"> : <b>{{'No Data' | translate}}</b></label>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-5" for="example-text-input">
                                            <b> {{'OPERATOR NAME' | translate}} </b>
                                        </label>
                                    <label class="col-6" *ngIf="testData.operatorName">
                                            :   <b>   {{testData.operatorName }} </b>
                                        </label>
                                    <label class="col-6" *ngIf="!testData.operatorName"> : <b>{{'No Data' | translate}}</b></label>
                                </div>
                            </div>
                            <div class="col-5">
                                <p-gmap [options]="options" [overlays]="overlays" *ngIf="!showLocation" [style]="{'width':'100%','height':'175px','margin-top':'-25px'}" (onMapReady)="setMap($event)"></p-gmap>
                                <span class="m--font-warning m--font-boldest" *ngIf="showLocation"><i class="flaticon-placeholder-2">                                
                                </i>{{'Unable to get location' | translate}}</span>
                            </div>
                    </div>
                    <div class="form-group m-form__group row">
                            <label class="col-lg-12 m--font-boldest">
                                   <i class="fa fa-tablet"></i>&nbsp;{{'Device Details' | translate}}
                            </label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-3" for="example-text-input">
                                                                <b> {{'IMEI' | translate}} </b>
                                                            </label>
                        <label class="col-3" *ngIf="testData.test.tabletId">
                            :   <b> {{testData.test.tabletId}} </b>
                        </label>
                        <label class="col-3" *ngIf="!testData.test.tabletId"> : <b>{{'No Data' | translate}}  </b></label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-3" for="example-text-input">
                                                            <b> {{'ANDRIOD VERSION'}} </b>
                                                        </label>
                        <label class="col-3" *ngIf="testData.androidVersion">
                                                            :   <b> {{testData.androidVersion}} </b>
                                                        </label>
                        <label class="col-3" *ngIf="!testData.androidVersion"> : <b>{{'No Data' | translate}} </b></label>
                        <label class="col-3" for="example-text-input">
                                <b> {{'HEALTHCUBE APP VERSION' | translate}} </b>
                                </label>
                        <label class="col-3" *ngIf="testData.ezdxAppVersion">
                                :   <b> {{testData.ezdxAppVersion}} </b>
                                </label>
                        <label class="col-3" *ngIf="!testData.ezdxAppVersion"> : <b>{{'No Data' | translate}}  </b></label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-12 m--font-boldest">
                                    <i class="flaticon-laptop"></i>&nbsp;{{'Hub_Details' | translate}}
                            </label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-3" for="example-text-input">
                            <b> {{'HUB_SERIAL_NUMBER' | translate}} </b>
                        </label>
                        <label class="col-9" *ngIf="testData.serialNumber">
                            :  <b> {{testData.serialNumber}} </b>
                        </label>
                        <label class="col-9" *ngIf="!testData.serialNumber"> : 
                               <b><span *ngIf="testData.test.hcDeviceId">{{testData.test.hcDeviceId}}</span>
                                <span *ngIf="!testData.test.hcDeviceId">{{'No Data' | translate}}</span></b> 
                        </label>
                    </div>
                    <div class="form-group m-form__group row">
                            <label class="col-3" for="example-text-input">
                            <b> {{'FIRMWARE VERSION' | translate}} </b>
                        </label>
                        <label class="col-9" *ngIf="testData.deviceFirmwareVersion">
                            :    <b> {{testData.deviceFirmwareVersion}} </b>
                        </label>
                        <label class="col-9" *ngIf="!testData.deviceFirmwareVersion ">: <b>{{'No Data' | translate}} </b></label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-3" for="example-text-input">
                            <b> {{'PYTHON VERSION' | translate}} </b>
                        </label>
                        <label class="col-9" *ngIf="testData.devicePyVersion">
                            :   <b> {{testData.devicePyVersion}}  </b>
                        </label>
                        <label class="col-9" *ngIf="!testData.devicePyVersion">: <b>{{'No Data' | translate}} </b></label>
                    </div>
                        

            </div>
         
            <div class="m-portlet__foot">
                <div class="text-center">
                    <button class="btn btn-info" type="button" (click)="showDialog=false">
                        {{'CLOSE' | translate}}
                    </button>
                </div>
            </div>
        </div>

    </p-dialog>

    <!-- <div class="modal fade" id="m_modal_center_add" >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-lg-12" *ngIf="testData">
                        <div class="row">
                            <div class="col-lg-1">
                                <i class="la la-warning" *ngIf="!testIconUrl"></i>
                                <img *ngIf="testIconUrl" [src]="testIconUrl" alt="" height="60px" width="60px">
                            </div>
                            <div class="col-lg-10" style="margin-left:8px"><b>
                                <span *ngIf="testData.test.name">{{testData.test.name}}</span><br/>
                                <span *ngIf="testData.test.type">{{testData.test.type}}</span><br/>
                                <span *ngIf="testData.patientId && testData.mrn">{{testData.patientId}} ({{testData.mrn}})</span></b>
                                <div class="pull-right">
                                    <i style='color:red;cursor:pointer;font-size:2.0rem;margin-top:-20px' data-dismiss="modal" class="la la-remove"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body" *ngIf="testData" style="height:800">
                    <div class="form-group m-form__group row">
                        <label class="col-lg-6 m--font-boldest">
                                <i class="flaticon-notes"></i>&nbsp;Test Details
                         </label>
                        <label class="col-lg-6">
                            <span style="text-align : center" *ngIf="testData.test.imageUrl">
                               <b> <span *ngIf="testData.test.name != 'BLOOD GROUPING'">RDT Test Image</span>
                                <span *ngIf="testData.test.name == 'BLOOD GROUPING'">Blood Grouping Test Image</span>
                            </b>
                            </span>
                         </label>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group m-form__group row">
                                <label class="col-5" for="example-text-input">
                            <b> Test Result </b> 
                            </label>
                                <label class="col-6" *ngIf="showResult">
                            :   <b> {{showResult}} </b>
                            </label>
                                <label class="col-6" *ngIf="!showResult">N/A</label>
                            </div>
                            <div class="form-group m-form__group row" *ngIf="testData.test.name == 'ECG'">
                                <label class="col-3" for="example-text-input">
                                     <b> Heart Rate </b> 
                                </label>
                                <label class="col-3" *ngIf="testData.test.ecgData.heartRate">
                                    : <b>{{testData.test.ecgData.heartRate}}</b>
                                </label>
                                <label class="col-3" for="example-text-input">
                                        <b>P-Duration </b> 
                                   </label>
                                <label class="col-3" *ngIf="testData.test.ecgData.heartRate">
                                        :   <b>{{testData.test.ecgData.pDuration}}</b>
                                 </label>
                            </div>
                            <div class="form-group m-form__group row" *ngIf="testData.test.name == 'ECG'">
                                <label class="col-3" for="example-text-input">
                                         <b> prInterval </b> 
                                    </label>
                                <label class="col-3" *ngIf="testData.test.ecgData.prInterval">
                                        : <b>{{testData.test.ecgData.prInterval}}</b>
                                    </label>
                                <label class="col-3" for="example-text-input">
                                            <b> qrsDuration </b> 
                                       </label>
                                <label class="col-3" *ngIf="testData.test.ecgData.qrsDuration">
                                            :   <b>{{testData.test.ecgData.qrsDuration}}</b>
                                       </label>
                            </div>
                            <div class="form-group m-form__group row" *ngIf="testData.test.name == 'ECG'">
                                <label class="col-3" for="example-text-input">
                                             <b> qtInterval </b> 
                                        </label>
                                <label class="col-3" *ngIf="testData.test.ecgData.qtInterval">
                                            : <b>{{testData.test.ecgData.qtInterval}}</b>
                                        </label>
                                <label class="col-3" for="example-text-input">
                                                <b> qtcInterval </b> 
                                           </label>
                                <label class="col-3">
                                                :   <b>{{testData.test.ecgData.qtcInterval}}</b>
                                           </label>
                            </div>
                            <div class="form-group m-form__group row" *ngIf="testData.test.name == 'ECG'">
                                <label class="col-3" for="example-text-input">
                                    <b> Comments </b> 
                                </label>
                                <label class="col-6">
                                    :   <b>{{testData.test.ecgData.comments}}</b>
                                </label>

                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-5" for="example-text-input">
                                <b> Test Time & Duration </b>
                               </label>
                                <label class="col-6" *ngIf="testData.duration && testData.endTimeDate">
                                :   <b>   {{testData.endTimeDate | date : 'dd-MM-y' }} - {{testData.endTimeDate | date : 'HH:mm'  }} &nbsp;&nbsp;({{testData.duration}}) </b>
                               </label>
                                <label class="col-6" *ngIf="!testData.duration && !testData.endTimeDate"> : <b>N/A </b></label>
                            </div>
                        </div>
                        <div class="col-5 div-top">
                                <img [src]="testData.test.imageUrl" class="responsive-test" *ngIf="testData.test.imageUrl " alt="test-image">
                                <br/><br/>
                                <a *ngIf="testData.test.imageUrl" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" download [attr.href]="testData.test.imageUrl">
                                    <span style="color:#fff">
                                            <i class="fa fa-download"></i>
                                            <span>
                                                Download
                                            </span>
                                    </span>
                                </a>
                                <i *ngIf="testData.test.name == 'ECG'" class="fa fa-heartbeat" style="font-size: 80px;padding-left: 37px;
                                color: red;"></i><br/><br/><br/>
                                <a *ngIf="testData.test.name == 'ECG'" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="downloadECG()">
                                    <span style="color:#fff">
                                        <i class="fa fa-download"></i>
                                        <span>
                                            Download Report
                                        </span>
                                    </span>
                                </a>
                            </div>                     
                    </div>
                    <div class="form-group m-form__group row" style="padding-top:25px">
                        <label class="col-lg-6 m--font-boldest">
                                        <i class="flaticon-placeholder-1"></i> &nbsp;Customer Details
                                </label>
                        <label class="col-lg-6">
                            <span style="text-align : center">
                               <b> Test done location </b> 
                            </span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group m-form__group row">
                                <label class="col-5" for="example-text-input">
                                <b> Customer Name </b> 
                                </label>
                                <label class="col-6" *ngIf="testData.facilityName">
                                :   <b> {{testData.facilityName}} </b>
                                </label>
                                <label class="col-6" *ngIf="!testData.facilityName">No Data</label>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-5" for="example-text-input">
                                    <b> Center Name </b>
                                </label>
                                <label class="col-6" *ngIf="testData.centerName">
                                    :   <b>   {{testData.centerName }} </b>
                                </label>
                                <label class="col-6" *ngIf="!testData.centerName"> : <b>No Data </b></label>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-5" for="example-text-input">
                                        <b> Operator Name </b>
                                    </label>
                                <label class="col-6" *ngIf="testData.operatorName">
                                        :   <b>   {{testData.operatorName }} </b>
                                    </label>
                                <label class="col-6" *ngIf="!testData.operatorName"> : <b>No Data </b></label>
                            </div>
                        </div>
                        <div class="col-5">
                            <p-gmap [options]="options" [overlays]="overlays" *ngIf="!showLocation" [style]="{'width':'100%','height':'175px','margin-top':'-25px'}" (onMapReady)="setMap($event)"></p-gmap>
                            <span class="m--font-warning m--font-boldest" *ngIf="showLocation"><i class="flaticon-placeholder-2">                                
                            </i>Unable to get location</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label class="col-lg-12 m--font-boldest">
                               <i class="fa fa-tablet"></i>&nbsp;Device Details
                        </label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-3" for="example-text-input">
                                                               <b> IMEI </b>
                                                            </label>
                        <label class="col-3" *ngIf="testData.test.tabletId">
                            :   <b> {{testData.test.tabletId}} </b>
                        </label>
                        <label class="col-3" *ngIf="!testData.test.tabletId"> : <b>No Data </b></label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-3" for="example-text-input">
                                                           <b> Andriod Version </b>
                                                        </label>
                        <label class="col-3" *ngIf="testData.androidVersion">
                                                           :   <b> {{testData.androidVersion}} </b>
                                                        </label>
                        <label class="col-3" *ngIf="!testData.androidVersion"> : <b>No Data </b></label>
                        <label class="col-3" for="example-text-input">
                                <b> Healthcube App Version </b>
                             </label>
                        <label class="col-3" *ngIf="testData.ezdxAppVersion">
                                :   <b> {{testData.ezdxAppVersion}} </b>
                             </label>
                        <label class="col-3" *ngIf="!testData.ezdxAppVersion"> : <b>No Data </b></label>
                    </div>

                    <div class="form-group m-form__group row">
                        <label class="col-lg-12 m--font-boldest">
                                   <i class="flaticon-laptop"></i>&nbsp;Hub Details
                            </label>
                    </div>

                    <div class="form-group m-form__group row">
                        <label class="col-3" for="example-text-input">
                            <b> Hub Serial Number </b>
                        </label>
                        <label class="col-9" *ngIf="testData.serialNumber">
                            :  <b> {{testData.serialNumber}} </b>
                        </label>
                        <label class="col-9" *ngIf="!testData.serialNumber"> : <b>
                                <span *ngIf="tests.test.hcDeviceId">{{tests.test.hcDeviceId}}</span>
                                <span *ngIf="!tests.test.hcDeviceId">No Data</span> </b></label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-3" for="example-text-input">
                            <b> FIRMWARE Version & Updated Time </b>
                        </label>
                        <label class="col-9" *ngIf="testData.deviceFirmwareVersion && testData.deviceFirmwareLastUpdated">
                            :    <b> {{testData.deviceFirmwareVersion}} ({{testData.deviceFirmwareLastUpdated | date : 'dd-MM-y' }} &nbsp;-{{testData.deviceFirmwareLastUpdated | date : 'HH:mm'  }})</b>
                        </label>
                        <label class="col-9" *ngIf="!testData.deviceFirmwareVersion && !testData.deviceFirmwareLastUpdated">: <b>No Data </b></label>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-3" for="example-text-input">
                            <b> Python Version & Updated Time</b>
                        </label>
                        <label class="col-9" *ngIf="testData.devicePyVersion && testData.devicePyLastUpdated">
                            :   <b> {{testData.devicePyVersion}} ({{testData.devicePyLastUpdated | date : 'dd-MM-y' }} &nbsp;- {{testData.devicePyLastUpdated | date : 'HH:mm'  }}) </b>
                        </label>
                        <label class="col-9" *ngIf="!testData.devicePyVersion && !testData.devicePyLastUpdated">: <b>No Data </b></label>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button class="btn btn-info" type="button" data-dismiss="modal">
                                    Close
                                </button>
                    </div>

                </div>
            </div>
        </div>
    </div> -->
