.eh-card {
    border-radius: 0rem;
    border: 0px solid  rgba(36, 36, 36, 0.86);
    .card-body .side-line {
        top: 45px !important;
    }
    box-shadow: 0 4px 10px 0 rgba(54, 163, 247, 0.45);
}

.eh-card-row-wrap {
    flex-flow: row wrap;
}