<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <!--<div class="m-portlet m-portlet--mobile">
         <div class="m-portlet__head"
            style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption"
                style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
						<i class="flaticon-list-2"></i>
					</span> 
                    
                </div>
            </div>
        </div> -->

    <!--begin:: Widgets/Best Sellers-->
    <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <span class="side-line"></span>
                    <h3 class="m-portlet__head-text">
                        {{"IPAN_VISIT_DETAILS" | translate}}
                        <small></small>
                    </h3>
                </div>
                <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                        <button class="btn m-btn--square m-portlet__nav-link btn-outline-brand btn-sm" [routerLink]="['/ipan/reports']" style="display: inline;position: absolute;top: 120px;right: 50px;">Back </button>	
                                    </li>
                            </ul>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-section">
                <h5 class="m-form__heading-title">Visit Details</h5>
                <div class="m-section__sub">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-12">
                                    <label for="Customer">Center: &nbsp;&nbsp;&nbsp;</label>
                                      <b>  {{visit.centerName}}</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-12">
                                    <label for="Customer">Visit Time: &nbsp;&nbsp;&nbsp; </label>
                                    <i class="fa fa-calendar"></i>
                                    <b>{{visit.createTime | date: 'medium'}}</b>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="m-section">
                <h5 class="m-form__heading-title">Tests Details</h5>
                    <!-- <div class="m-section__sub"> -->
                        <div class="col-12">
                            <div class="eh-card-row-wrap row ">
                                <div class="card eh-card mb-2 flex-row col-md-4 col-sm-6 col-xs-12 col-xl-4" *ngFor="let test of visit.tests">
                                    <div class="card-body">
                                        <span class="side-line"></span>
                                        <div class="card-title" style="padding: 30px 0 15px 25px;">
                                            <h4>{{test.name | translate}}</h4>
                                        </div>
                                        <div class="card-text">
                                            <h6>Test Result: </h6>
                                            <div *ngIf="test.type == 'WHOLE_BLOOD_RDT'">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <label for="result">Result: </label>
                                                            <b>{{test.result}}</b>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <label for="result">Result image: </label>
                                                            <img src="{{test.imageUrl}}" width=""
                                                                alt="Result Image">
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <div *ngIf="test.name == 'BLOOD_GLUCOSE'">
                                                    <div class="col-lg-12">
                                                    <label for="result">Result: </label>
                                                    <b>{{test.result}} / {{test.unit}}</b>
                                                    </div>
                                                </div>
            
                                                <div *ngIf="test.name == 'BLOOD_GROUPING'">
                                                    <div class="col-lg-12">
                                                    <label for="result">Result: </label>
                                                    <b>{{test.bloodGroupResult}}</b>
                                                    </div>
                                                </div>
                                                <div *ngIf="test.name == 'BMI'">
                                                    <div class="col-lg-12">
                                                    <label for="bmiValue">BMI value: </label>
                                                        <b>{{test.bmiValue}}</b>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <label for="Weight">Weight : </label>
                                                        <b>{{test.weightValue}} / {{test.weightUnit}}</b>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <label for="Height">Height : </label>
                                                        <b>{{test.heightValue}} / {{test.heightUnit}}</b>
                                                    </div>
                                                </div>
                                                <div *ngIf="test.name == 'TEMPERATURE'">
                                                    <div class="col-lg-12">
                                                        <label for="temperature">Temperature : </label>
                                                        <b>{{test.result}} / {{test.unit}}</b>
                                                    </div>
                                                </div>
                                                <div *ngIf="test.name == 'PULSE_OXIMETER'">
                                                    <div class="col-lg-12">
                                                        <label for="bmiValue">SPO : </label>
                                                        <b>{{test.spoValue}} / {{test.spoUnit}}</b>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <label for="bmiValue">Pulse : </label>
                                                        <b>{{test.pulseRate}} / {{test.pulseUnit}}</b>
                                                    </div>
                                                </div>
                                                <div *ngIf="test.name == 'URIC_ACID'">
                                                    <div class="col-lg-12">
                                                    <label for="temperature">Result : </label>
                                                    <b>{{test.result}} / {{test.unit}}</b>
                                                    </div>
                                                </div>
                                                <div *ngIf="test.name == 'URINE'">
                                                    <div class="col-lg-12">
                                                        <label for="temperature">Protein : </label>
                                                        <b>{{test.rdtResultProtein}}</b>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <label for="temperature">Gulcose : </label>
                                                        <b>{{test.rdtResultGulcose}}</b>
                                                    </div>
                                                </div>
                                                <div *ngIf="test.name == 'BLOOD_PRESSURE'">
                                                    <div class="col-lg-12">
                                                        <label for="temperature">Systolic : </label>
                                                        <b>{{test.sys}}</b>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <label for="temperature">Diastolic : </label>
                                                        <b>{{test.dia}}</b>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <label for="temperature">Heart Rate : </label>
                                                        <b>{{test.heartRate}} / {{test.unit}}</b>
                                                    </div>
                                                </div>
                                                <div *ngIf="test.name == 'HEIGHT' || test.name == 'WEIGHT' || test.name == 'ECG' || test.name == 'MID_ARM_CIRCUMFERENCE' || test.name == 'HEMOGLOBIN' || test.name == 'CHOLESTEROL' || test.name == 'URIC_ACID' || test.name == 'PREGNANCY'|| test.name == 'LEUKOCYTES' || test.name == 'UROBILINOGEN' || test.name == 'NITRITE' || test.name == 'PH'|| test.name == 'KETONE' || test.name == 'BLOOD'|| test.name == 'SPECIFIC_GRAVITY' || test.name == 'BILIRUBIN'">
                                                    <div class="col-lg-12">
                                                        <label for="temperature">Result : </label>
                                                        <b>{{test.result}} / {{test.unit}}</b>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
<!--             <div class="m-section">
            <div class="col-12" *ngIf="!visit.rejected">
                <form (ngSubmit)="rejectReport(f)" #f="ngForm">
                    <div class="m-section">
                        <label for="exampleTextarea"><b>Comment: </b></label>
                        <textarea class="form-control m-input"
                        id="exampleTextarea"
                        name="comment"
                        required
                        [(ngModel)]="comment"
                        rows="3"></textarea>
                    </div>
                    <div class="m-form__actions m-form__actions">
                        <button type="submit" [disabled]="!f.valid"
                        class="btn m-btn--square  btn-primary btn-sm m-btn m-btn--custom">Reject</button>
                    </div>
                </form>
            </div>
            </div> -->
                <!--end::Content-->
        </div>
        <!--end:: Widgets/Best Sellers-->
    </div>
</div>
<!-- </div> -->