<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon">
						<i class="flaticon-placeholder-1"></i>
					</span>
					<h3 class="m-portlet__head-text">
						{{"CONSUMABLES_MAP" | translate}} <span class="m-badge  m-badge--danger m-badge--wide">{{"NOT_WORKING" | translate}}</span>
						<small></small>
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Datatable -->
			<div style="max-height: 520px;overflow-y: auto;">
				<table id="test_list" class="table table-hover m-table m-table--head-bg-primary table-clickable-header" style="margin-top:15px; ">
					<thead>
						<tr>
							<th (click)="sortType = 'name'; sort = !sort">{{"NAME" | translate}}
								<span *ngIf="sortType == 'name' && !sort" class="fa fa-caret-down"></span>
								<span *ngIf="sortType == 'name' && sort" class="fa fa-caret-up"></span>
							</th>
							<th>{{"CONSUMABLES" | translate}}
								<span></span>
								<span></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let test of consumableTests | orderBy: sortType : sort">
							<th scope="row">{{ test.name | translate}}</th>
							<th scope="row">
								<!-- <div *ngFor="let consumable of test.consumables">{{ consumable.name }}: {{ consumables.count }} {{ consumables.unit }}</div> -->
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<!--end: Datatable -->
		</div>
	</div>
</div>