<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:25px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span> -->
                            <h3 class="m-portlet__head-text">
                                <!-- <span *ngIf="!device.id">Add </span> -->
                                <span>{{"VISITORS_LOG" | translate}} </span>
                            </h3>
                        </div>
                    </div>
                    <!-- tools -->
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-subheader" style="padding:0px;">
                                    <span class="m-subheader__daterange " id="m_analytics_visits_daterangepicker">
                                                    <span class="m-subheader__daterange-label">
                                                    <span class="m-subheader__daterange-title"></span>
                                    <span class="m-subheader__daterange-date m--font-brand"></span>
                                    </span>
                                    <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                        <i class="la la-angle-down"></i>
                                    </a>
                                    </span>
                                </div>
                            </li>
                            <li class="m-portlet__nav-item">
                                <a class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="applyFilter()">
                                    <span>
                                            <span>
                                                {{"APPLY" | translate}}
                                            </span>
                                    </span>
                                </a>
                            </li>
                            <li class="m-portlet__nav-item">
                                    <a class="btn m-btn--pill m-portlet__nav-link btn-outline-brand" [routerLink]="['/analytics/usercharts']" >
                                         <span>
                                                 <i class="fa fa-arrow-left"></i>
                                                 &nbsp;
                                                 <span>
                                                     {{"BACK" | translate}}
                                                 </span>
                                         </span>
                                     </a>
                         </li>
                        </ul>
                    </div>
                    <!-- End: tools -->
                </div>
                <p-growl [(value)]="alert"></p-growl>
                <!--begin::table-->

                <div class="m-portlet__body">
                    <div class="col-lg-12">
                        <div class="m-section">
                            <div class="m-section__sub">
                                <p><b>   {{'NOTE_VISITOR_LOG_LIST'| translate }}</b></p>
                                <small>* {{'SORTED_BASED_ON_PATIENT' | translate}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded text-center">
                                <p-dataTable [value]="revisitLog" styleClass="borderless" [responsive]="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,25,50,100]">
                                    <p-column [header]="'S.No' | translate" [style]="{'text-align': 'center'}">
                                        <ng-template let-col let-i="rowIndex" pTemplate="body">
                                            <span>{{i+1}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="displayName" [header]="'USERS' | translate" [style]="{'text-align': 'left'}">
                                        <ng-template let-col let-test="rowData" pTemplate="body">
                                            <strong>{{test.displayName || 'Not Specified' }}</strong>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="patientCount" [header]="'PATIENT_REGISTERED' | translate">
                                        <ng-template let-col let-test="rowData" pTemplate="body">
                                            <strong>{{test.patientCount}}</strong>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="visitCount" [header]="'VISIT_COUNT' | translate">
                                        <ng-template let-col let-test="rowData" pTemplate="body">
                                            <strong>{{test.visitCount}}</strong>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>
                                <div class="col-sm-12 text-right" style="margin:20px">
                                    <p>{{"Total_Records"|translate}}: <b>{{revisitLog.length}} </b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::table-->
            </div>

            <!--end::Portlet-->
        </div>

    </div>
</div>