<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon">
								<i class="flaticon-laptop"></i>
							</span> -->
                            <h3 class="m-portlet__head-text" style="font-weight:400">
                                <span *ngIf="!device.id">{{"ADD" | translate}} </span>
                                <span *ngIf="device.id">{{"UPDATE" | translate}} </span>
                                <span>{{"HUB" | translate}}</span>
                                <span class="label label-lg label-success arrowed-in arrowed-in-right" style="margin-left:10px;background-color:#34bfa3" *ngIf="device.deviceStatus == 'ACTIVE'">Active</span>
                                <span class="label label-lg label-pink arrowed-in arrowed-in-right" style="margin-left:10px" *ngIf="device.deviceStatus == 'INACTIVE'">Deactive</span>
                            </h3>

                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form (ngSubmit)="f.form.valid && save()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right" id="m_form_device" action="">
                    <div class="m-portlet__body">
                       <div class="col-lg-12" style="padding-top:20px">
                           <div class="row">
                               <div class="col-lg-6">
                                  <div class="form-group m-form__group row">
                                    <label class="col-lg-4 col-form-label">
											{{"HUB_SERIAL_NUMBER" | translate}} *
										</label>
                                    <div class="col-lg-8">
                                        <input id="device_serialnumber" type="text" name="serialNumber" class="form-control  m-input m-input--square m-input--solid" [(ngModel)]="device.serialNumber" #serialNumber="ngModel" readonly [disabled]="currentUserType && currentUserType !== 'Admin'"
                                            required>
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                            {{"HUB_TYPE" | translate}} *
                                        </label>
                                        <div class="col-lg-8">
                                            <select id="device_type" name="type" class="form-control m-input m-input--square" [(ngModel)]="device.deviceType" #type="ngModel" required>
                                                <option value="HC_SE">HC SE</option>
                                                <option value="HC_PRO">HC PRO</option>
                                                <option value="HC_PRO_PLUS">HC PRO PLUS</option>	
                                                <option value="HC_XL">HC XL</option>  										
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-4 col-form-label">
                                                    {{"ASSIGNED_DATES" | translate}}
                                            </label>
                                        <div class="col-lg-8">
                                            <input type='text' class="form-control" id="device_activationdate" [placeholder]="'SELECT_DATE' | translate" (change)="selectDate($event)" [disabled]="true" />
                                        </div>
                                    </div>
                               </div>
                               <div class="col-lg-6">
                                    <div class="form-group m-form__group row" *ngIf="currentUserType == 'Admin'">
                                        <label class="col-lg-4 col-form-label">
                                                {{"CUSTOMER" | translate}}
                                            </label>
                                        <div class="col-lg-6">                                       
                                            <app-fac-dropdown [value]="chosen" [id]="'hub-update-assign-customer'" [active]="disableCustomer" [FacilityId]="device.organizationId" (selected)="facilityChange($event)" [noLabel]="'type'"></app-fac-dropdown>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row" *ngIf="device.organizationId">
                                            <label class="col-lg-4 col-form-label">
                                                {{"CENTER" | translate}}
                                            </label>
                                            <div class="col-lg-6">
                                                <select id="device_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="device.centerId" #centerId="ngModel" *ngIf="centers">
                                                           <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                                </select>
                                                <span class="m-form__help text-danger" *ngIf="!centers">
                                                         {{"THIS_CUSTOMER_DOES_NOT_HAVE_CENTERS_CONFIGURED" | translate}}
                                                </span>
                                            </div>                                          
                                    </div>
                                   
                               </div>
                           </div>
                       </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row" *ngIf="msg">
                                <div class="col-lg-12">
                                    <div id="device_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-danger" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
													 <!-- {{"ERROR" | translate}}! -->
											</strong> {{msg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="hubActive">
                                <div class="col-lg-12">
                                    <div id="device_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-success" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-laptop"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                    Hub activated successfully
                                                </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <button id="device_submit" type="submit" class="btn btn-success m-btn--square" [disabled]="loading">
										 {{"SUBMIT" | translate}}
									</button>
                                    <button id="device_cancel" routerLink="/devices/list" class="btn btn-secondary m-btn--square">
										 {{"CANCEL" | translate}}
									</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>