<!-- BEGIN: Subheader -->
<div class="m-content">
    <div class="m-portlet  m-portlet--tab" style="margin-bottom:1rem!important">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
					<i class="flaticon-pie-chart"></i>
				</span> -->
                    <h3 class="m-portlet__head-text" style="font-weight:400">
                        {{"DIAGNOSTICS_REPORT" | translate}}
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <div class="input-group m-input-group" *ngIf="typeLabels">
                            <span class="input-group-addon" id="basic-addon1">
								{{"TYPE" | translate}}
                            </span>
                            <p-dropdown [options]="typeLabels" [style]="{'border-radius': '0px', 'width': '175px'}" [(ngModel)]="selectedType" [filter]="true" filterBy="label,value.name">
                            </p-dropdown>
                            <!--                             <select aria-describedby="basic-addon1" name="organisationId" id="select_type" class="form-control m-input m-input--square" (change)="onTypeChange($event)">
                                <option value="{{type.value}}" *ngFor="let type of types">{{type.label | translate}}</option>
							</select> -->
                        </div>
                    </li>
                   
                    <li class="m-portlet__nav-item" *ngIf="userType && userType == 'Admin'">
                            <!-- <div class="input-group m-input-group" *ngIf="facilities">
                                <span class="input-group-addon" id="basic-addon1">
                                    {{"CUSTOMER" | translate}}
                                </span>
                                <select aria-describedby="basic-addon1" name="organisationId" id="select_facility_filter" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
                                    <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                                </select>
                            </div>                         -->
                            <app-fac-dropdown [id]="'test-report-customer'" [value]="chosen" (selected)="facilityChange($event)"></app-fac-dropdown>
                            
                    </li>
                   
                    <li class="m-portlet__nav-item">
                        <div class="input-group m-input-group" *ngIf="centers">
                            <span class="input-group-addon" id="basic-addon2">
									{{"CENTER" | translate}}
                                </span>
                            <!-- <p-dropdown [options]="centers" [style]="{'border-radius': '0px','width':'175px'}" [(ngModel)]="selectedCenter" [filter]="true" filterBy="label,value.name"></p-dropdown> -->
                                <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" #centerId="ngModel">
								  <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
							    </select>
                        </div>
                    </li>
                    <!-- <li class="m-portlet__nav-item">
                        <div class="m-subheader" style="padding:0px;">
                            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
								<span class="m-subheader__daterange-label">
								<span class="m-subheader__daterange-title"></span>
                            <span class="m-subheader__daterange-date m--font-brand"></span>
                            </span>
                            <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                <i class="la la-angle-down"></i>
                            </a>
                            </span>
                        </div>
                    </li> -->
                    <li class="m-portlet__nav-item">
                        <button class="btn btn-success m-btn m-btn--custom m-btn--air btn-sm m-btn--pill yellow" style="color: #fff;" [disabled]="!something" (click)="getReportFilter()">
                            <span>
									<span>
										{{"FILTER" | translate}}
									</span>
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" *ngIf="msg" style="margin-top : 20px;">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div id="device_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-danger" role="alert">
                    <div class="m-alert__icon">
                        <i class="la la-warning"></i>
                    </div>
                    <div class="m-alert__text">
                        <strong>
                                {{"ERROR" | translate}}!
                        </strong> {{msg}}
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div *ngIf="showPiechart">
        <div class="row">
            <div class="col-lg-4 paddingRight" id="bloodGlucoseFastReport">
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Blood_Glucose(Fasting)"|translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <!-- <div class="sk-circle">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div> -->
                        <app-amchartcomponent [data]="BLOOD_GLUCOSE_FASTING_array" [id]="'pie_chart_blood_glucose_fast'" [title]="'Blood Glucose(Fasting)'" [height]="300" [type]="'pie'"></app-amchartcomponent>
                        <div class="text-center">
                            <h6>{{"DIABETIC" | translate}}: {{"TEST_RESULT" | translate}} >= {{fastingBloodGlucoseDiabetic}} {{bloodGluUnit}}</h6>
                            <h6>{{"NORMAL" | translate}}: {{"TEST_RESULT_BETWEEN" | translate}} {{fastingBloodGlucosePreDiabetic}} {{bloodGluUnit}} & {{fastingBloodGlucoseNormal}} {{bloodGluUnit}}</h6>
                            <h6>{{"PRE_DIABETIC" | translate}}: {{"TEST_RESULT_BETWEEN" | translate}} {{fastingBloodGlucoseNormal }} {{bloodGluUnit}} & {{fastingBloodGlucoseDiabetic}} {{bloodGluUnit}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 paddingRight" id="bloodGlucoseNonFastReport">
                <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{ "Blood_Glucose(Non Fasting)" |translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <app-amchartcomponent [data]="BLOOD_GLUCOSE_NON_FASTING_array" [id]="'pie_chart_blood_glucose_non_fast'" [title]="'Blood Glucose(Non Fasting)'" [height]="300" [type]="'pie'"></app-amchartcomponent>
                        <div class="text-center">
                            <h6>{{"DIABETIC" | translate}}: {{"TEST_RESULT" | translate}} >= {{nonfastingBloodGlucoseDiabetic}}  {{bloodGluUnit}}</h6>
                            <h6>{{"NORMAL" | translate}}: {{"TEST_RESULT_BETWEEN" | translate}} {{nonfastingBloodGlucosePreDiabetic}}  {{bloodGluUnit}}& {{nonfastingBloodGlucoseNormal}}  {{bloodGluUnit}}</h6>
                            <h6>{{"PRE_DIABETIC" | translate}}: {{"TEST_RESULT_BETWEEN" | translate}} {{nonfastingBloodGlucoseNormal }} {{bloodGluUnit}}& {{nonfastingBloodGlucoseDiabetic}}  {{bloodGluUnit}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 paddingRight" id="bloodPressureReport">
                <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Blood_Pressure" | translate}}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="m-portlet__body" style="padding-top:0px">
                        <app-amchartcomponent [data]="BLOOD_PRESSURE_array" [id]="'pie_chart_blood_pressure'" [title]="'Blood Pressure'" [height]="300" [type]="'pie'"></app-amchartcomponent>
                        <div class="text-center">
                            <h6>{{"HIGH_RANGE" | translate}}: sys&gt;={{systolichigh }} {{bloodPreUnit}} & dia&gt;={{diastolichigh }} {{bloodPreUnit}}</h6>
                            <h6>{{"NORMAL_RANGE" | translate}}: sys between {{systoliclow }} {{bloodPreUnit}} & {{systolichigh }} {{bloodPreUnit}} OR dia>= dia {{"BETWEEN" | translate}} {{diastoliclow }} {{bloodPreUnit}} & {{diastolichigh}} {{bloodPreUnit}}</h6>
                            <h6>{{"LOW_RANGE" | translate}}: sys &lt;= {{systoliclow }} {{bloodPreUnit}}OR dia &lt;= {{diastoliclow}} {{bloodPreUnit}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 paddingRight" id="cholesterolReport">
                <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Cholesterol" | translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <app-amchartcomponent [data]="CHOLESTEROL_array" [id]="'pie_chart_cholesterol'" [title]="'Cholestrol'" [height]="300" [type]="'pie'"></app-amchartcomponent>

                        <div class="text-center">
                            <h6>{{"HIGH_RANGE" | translate}}: {{"TEST_RESULT" | translate}} >= {{cholestrolhigh}} {{cholUnit}}</h6>
                            <h6>{{"NORMAL_RANGE" | translate}}: {{"TEST_RESULT_BETWEEN" | translate}} {{cholestrollow}} {{cholUnit}} & {{cholestrolhigh}} {{cholUnit}}</h6>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 paddingRight" id="hemoglobinReport">
                <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Hemoglobin" |translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <app-amchartcomponent [data]="HEMOGLOBIN_array" [id]="'pie_chart_hemoglobin'" [title]="'Hemoglobin'" [height]="300" [type]="'pie'"></app-amchartcomponent>

                        <div class="text-center">
                            <h6>{{"HIGH_RANGE" | translate}}: {{"TEST_RESULT" | translate}} >= {{hemoglobinhigh}} {{hemoUnit}}</h6>
                            <h6>{{"NORMAL_RANGE" | translate}}: {{"TEST_RESULT_BETWEEN" | translate}} {{hemoglobinlow || 11}} {{hemoUnit}} & {{hemoglobinhigh-1}} {{hemoUnit}}</h6>
                            <h6>{{"LOW_RANGE" | translate}}: {{"TEST_RESULT" | translate}}
                                <={{hemoglobinlow}} {{hemoUnit}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 paddingRight" id="temperatureReport">
                <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Temperature"| translate }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <app-amchartcomponent [data]="TEMPERATURE_array" [id]="'pie_chart_temperature'" [title]="'Temperature'" [height]="300" [type]="'pie'"></app-amchartcomponent>

                        <div class="text-center">
                            <h6>{{"HIGH_RANGE" | translate}}: {{"TEST_RESULT" | translate}} >= {{temphigh}} {{tempUnit}}</h6>
                            <h6>{{"NORMAL_RANGE" | translate}}: {{"TEST_RESULT" | translate}}
                                < {{temphigh}}  {{tempUnit}} {{ "AND" | translate}} {{ "TEST_RESULT" | translate}}> {{templow}}  {{tempUnit}}</h6>
                            <h6>{{"LOW_RANGE" | translate}}: {{"TEST_RESULT" | translate}}
                                <={{templow}}  {{tempUnit}}</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 paddingRight" id="malariaReport">
                <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Malaria"|translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <app-amchartcomponent [data]="MALARIA_array" [id]="'pie_chart_malaria'" [title]="'Malaria'" [height]="300" [type]="'pie'"></app-amchartcomponent>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 paddingRight" id="hepbReport">
                <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Hepatitis_B"|translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <app-amchartcomponent [data]="HEP_B_array" [id]="'pie_chart_hepb'" [title]="'Hep-B'" [height]="300" [type]="'pie'"></app-amchartcomponent>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 paddingRight" id="typhoidReport">
                <div class="m-portlet m-portlet--tab" style="margin-bottom:1rem!important">
                    <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                        <span class="side-line"></span>
                        <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                            <div class="m-portlet__head-title">
                                <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem">{{"Typhoid" |translate}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding-top:0px">
                        <app-amchartcomponent [data]="TYPHOID_array" [id]="'pie_chart_typoid'" [title]="'Typhoid'" [height]="300" [type]="'pie'"></app-amchartcomponent>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>