<div class="ui-g ui-fluid">
    <div class="ui-g-12" *ngIf="!typeOfSearch">
        <div class="ui-inputgroup" *ngIf="!noLabel">
            <span class="ui-inputgroup-addon"><b> {{"CUSTOMER" | translate}}</b></span>
        <p-autoComplete [id]="id" [suggestions]="facilities" class="m-input m-input--square" (onBlur)="onBlur($event.target.value)" [(ngModel)]="text" [emptyMessage]="'No Record'" [placeholder]="'SELECT_CUSTOMER'|translate" [dropdown]="true" (onSelect)="onSelected($event)" (completeMethod)="search($event)" (onBlur)="close()"  (click)="$event.target.select()">
            <ng-template let-value pTemplate="item">
                <div class="ui-helper-clearfix" >            
                    <div >{{value.name}}</div>
                </div>
            </ng-template> 
        </p-autoComplete>
        </div>
        <div class="ui-inputgroup" *ngIf="noLabel">
            <p-autoComplete [suggestions]="facilities" [id]="id" class="m-input m-input--square" [disabled]="active" (onBlur)="onBlur($event.target.value)"  [emptyMessage]="'No Record'" [placeholder]="'SELECT_CUSTOMER'|translate" [(ngModel)]="text" [dropdown]="true" (onSelect)="onSelected($event)" (completeMethod)="search($event)" (click)="$event.target.select()">
                <ng-template let-value pTemplate="item">
                    <div class="ui-helper-clearfix" >            
                        <div >{{value.name}}</div>
                    </div>
                </ng-template> 
            </p-autoComplete>   
        </div>
    </div>
    <div class="ui-g-12" *ngIf="typeOfSearch == 'test'">
        <p-autoComplete [suggestions]="testList" [id]="id" class="m-input m-input--square" (onBlur)="onBlur($event.target.value)"  [emptyMessage]="'No Record'" [placeholder]="'SELECT_TEST(S)'|translate" [(ngModel)]="test" [dropdown]="true" (onSelect)="onselectedTest($event)" (completeMethod)="searchTest($event)" (click)="$event.target.select()">
            <ng-template let-value pTemplate="item">
                <div class="ui-helper-clearfix" style="text-transform: uppercase">            
                    <div >{{humanize(value.testName) | translate}}</div>
                </div>
            </ng-template> 
        </p-autoComplete>      
    </div>
    <div class="ui-g-12" *ngIf="typeOfSearch == 'user'">
        <p-autoComplete [suggestions]="userList" [id]="id" class="m-input m-input--square" (onBlur)="onBlur($event.target.value)"  [emptyMessage]="'No Record'" [placeholder]="'SELECT_USER(S)'|translate" [(ngModel)]="user" [dropdown]="true" (onSelect)="onselectedUser($event)" (completeMethod)="searchUser($event)" (click)="$event.target.select()">
            <ng-template let-user pTemplate="item">
                <div class="ui-helper-clearfix" >            
                    <div >{{user.displayName}}</div>
                </div>
            </ng-template> 
        </p-autoComplete>      
    </div>

</div>
