<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
                                <i class="flaticon-laptop"></i>
                            </span> -->
                    <h3 class="m-portlet__head-text">
                        {{"HUBS_LIST" | translate}}
                        <small class="no-cap">{{"LIST_OF_HUBS" | translate}}. {{"SEARCH" | translate}}, {{"SORT_AND_CLICK_ON" | translate}}
                                 <i class="la la-pencil"></i> {{"TO_EDIT_IT" | translate}}. </small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="userType && userType == 'Admin'">
                        <!-- <div class="input-group m-input-group" *ngIf="facilities &&  !noClient">
                            <span class="input-group-addon" id="basic-addon1">
                                        {{"CUSTOMER" | translate}}
                                        </span>
                            <select aria-describedby="basic-addon1" name="organisationId" id="select_facility" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
                                        <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                                    </select>
                        </div> -->
                        <app-fac-dropdown [id]="'hub-filter-customer'" [value]="chosen" *ngIf="!noClient" (selected)="facilityChange($event)"></app-fac-dropdown>
                    </li>
                    <li class="m-portlet__nav-item">
                        <div class="input-group m-input-group" *ngIf="centers &&  !noClient">
                            <span class="input-group-addon" id="basic-addon2">
                                            {{"CENTER" | translate}}
                                        </span>
                            <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" #centerId="ngModel">
                                      <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                </select>
                        </div>
                    </li>
                    <!-- <li class="m-portlet__nav-item">
                                <div class="m-subheader" style="padding:0px;">
                                    <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                                        <span class="m-subheader__daterange-label">
                                        <span class="m-subheader__daterange-title"></span>
                                    <span class="m-subheader__daterange-date m--font-brand"></span>
                                    </span>
                                    <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                        <i class="la la-angle-down"></i>
                                    </a>
                                    </span>
                                </div>
                            </li> -->
                    <li class="m-portlet__nav-item" *ngIf="!hideFilter">
                        <a class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--pill yellow" style="color: #fff;" (click)="pageNo=1;onFilterClick()" *ngIf="!noClient">
                            <span>
                                            <span>
                                                {{"FILTER" | translate}}
                                            </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-left m--margin-top-10 m--margin-bottom-10" style="padding-left: 20px;">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label" for="example-text-input" style="text-align:left">
                                    {{"Search by Serial number" | translate}} 
                                    <br/>
                                    <span class="hintText">({{"MIN_3_CHARACTER" | translate}})</span>
                            </label>
                            <div class="col-4" id="m_form_search">
                                <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                    <input type="text" class="form-control m-input m-input--solid m-input m-input--pill" [(ngModel)]="searchString" [placeholder]="'SEARCH' | translate" (keyup)="pageOne('ASSIGNED');searchingHub($event.target.value,'ASSIGNED')">
                                    <span class="m-input-icon__icon m-input-icon__icon--left" id="search_icon">
                                        <span> 
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                        <span style="border:none;background: transparent" (click)="searchString='';pageOne('ASSIGNED');onFilterClick()">
                                            <i style='color:red;cursor:pointer' class="la la-remove"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-4" id="prime_search">
                                <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                    <input #gb type="text" class="form-control m-input m-input--solid m-input m-input--pill" pInputText size="50" [(ngModel)]="searchString" [placeholder]="'SEARCH' | translate" (keyup)="pageOne('UNASSIGNED');searchingHub($event.target.value,'UNASSIGNED')">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                                <i class="la la-search"></i>
                                        </span>
                                    </span>
                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                        <span style="border:none;background: transparent" (click)="searchString='';pageOne('UNASSIGNED');;onFilterClick()">
                                            <i style='color:red;cursor:pointer' class="la la-remove"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a routerLink="/devices/add" class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" *ngIf="userType !== 'Facility'">
                            <span>
                                            <i class="la la-plus"></i>
                                            <span>
                                               {{"NEW_HUB" | translate}}
                                            </span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <!--end: Datatable -->

            <ul class="nav nav-tabs  m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                <li class="nav-item m-tabs__item" id="unassign" (click)="tableSelectClick('unassign')" *ngIf="userType && userType == 'Admin'">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_1" role="tab" aria-expanded="false">
                        <!-- <i aria-hidden="true" class="fa fa-arrow-down"></i>  -->
                        {{"UNASSIGNED_HUBS" | translate}}
                    </a>
                </li>
                <li class="nav-item m-tabs__item" id="assign" (click)="tableSelectClick('assign')">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_3" role="tab" aria-expanded="true">
                        <!-- <i aria-hidden="true" class="fa fa-arrow-up"></i>  -->
                        {{"ASSIGNED_HUBS" | translate}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="m_tabs_6_1" role="tabpanel" aria-expanded="false">
                    <div class="col-lg-12" style="padding-bottom:20px">
                        <span class="m-portlet__head-icon" style="margin-left:-12px">
                    <i class="flaticon-laptop"></i>
                    </span> {{"LIST_OF_UNASSIGNED_HUBS" | translate}}. {{"CHOOSE_HUBS_AND_CLICK_ON_ASSIGN_HUBS_TO_ASSIGN_SELECTED_HUBS_TO_CLIENT_AND_CENTER" | translate}}.
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label" style="text-align : right"> {{"CUSTOMER" | translate}}</label>
                                <div class="col-lg-8">
                                    <!-- <select id="device_assign_facility" name="organisationId" class="form-control m-input m-input--square pull-right" [(ngModel)]="unAssignedFacilityid" (change)="onOrgUnAssignChange(unAssignedFacilityid)">
                                            <option value="null" hidden>{{"SELECT_A_CUSTOMER" | translate}}</option>
                                            <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                                        </select> -->
                                    <app-fac-dropdown [value]="chosen" [id]="'hub-assign-customer'" [active]="false" (selected)="onOrgUnAssignChange($event)" [noLabel]="'type'"></app-fac-dropdown>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-5" *ngIf="!device.organizationId && !centerSelect">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label" style="text-align : right"> {{"CENTER" | translate}}
                                    </label>
                                <div class="col-lg-8">
                                    <select id="device_assign_center" name="centerId" class="form-control m-input m-input--square pull-right" [(ngModel)]="unAssignedCenterid" *ngIf="unCenters">
                                                    <option value="" hidden>{{"SELECT_A_CENTER" | translate}}</option>            
                                                        <option value="{{center.id}}" *ngFor="let center of unCenters">{{center.name}}</option>
                                                        </select>

                                    <span class="m-form__help text-danger" *ngIf="!unCenters">
                                            {{"THIS_CUSTOMER_DOES_NOT_HAVE_CENTERS_CONFIGURED" | translate}}
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5" *ngIf="centerSelect"></div>
                        <div class="col-lg-2">
                            <button id="device_assign_submit" type="button" class="btn btn-success m-btn--pill yellow" style="margin-left : 21px" (click)="assignDevice(unAssignedFacilityid,unAssignedCenterid)"> {{"ASSIGN" | translate}}({{countNo}})
                                </button>
                        </div>
                    </div>
                    <div class="row" *ngIf="successAssignMsg" id="hubalert">
                        <div class="col-lg-12">
                            <div class="alert alert-warning text-left" role="alert"> {{successAssignMsg | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="successMsg">
                        <div class="col-lg-12">
                            <div class="alert alert-info text-left" role="alert"> {{successMsg | translate}}
                            </div>
                        </div>
                    </div>
                    <p-dataTable [value]="undevices" styleClass="borderless" [globalFilter]="gb" #dt [responsive]="true">
                        <p-column>
                            <ng-template pTemplate="header">
                                <!-- <label class="m-checkbox m-checkbox--air m-checkbox--success">
                                                    <input id="device_selectall_unassigned" type="checkbox" name="selected" [checked]="checkAll" (change)="oncheckAll()">
                                                    <span></span>
                                                </label> -->
                                Select
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : center">
                                    <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                            <input id="device_select_{{device.serialNumber}}" type="checkbox" name="selected" [checked]="device.selected" (change)="onDeviceCheck(device)">
                                            <span></span>
                                        </label>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="serialNumber" styleClass="text-left" [header]="'SERIAL_NUMBER' | translate">
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left;">
                                    <b> <span>{{device.serialNumber}}</span></b>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="deviceType" styleClass="text-left" [header]="'DEVICE_TYPE' | translate">
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left">
                                    <span>{{device.deviceType}}</span>
                                </div>
                            </ng-template>
                        </p-column>
                        <!-- <p-column field="deviceStatus" [sortable]="true" styleClass="text-left" header="Status">
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left;">
                                    <span>
                                               <b><i class="fa fa-remove" *ngIf="device.deviceStatus == 'INACTIVE'" style="font-size:1rem"></i></b>
                                                <i class="fa fa-check" *ngIf="device.deviceStatus == 'ACTIVE'"></i>
                                                <b>{{device.deviceStatus}}</b>
                                            </span>
                                </div>
                            </ng-template>
                        </p-column> -->
                        <p-column styleClass="text-right" [header]="'File Details' | translate">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b> <span>{{"FIRMWARE Version"|translate}}   </span><br/>                        
                                            <span>{{"Python Version" | translate}} </span>  <br/>                                         
                                            <span> {{"RDT lookup file" |translate}}  </span><br/>                                         
                                            <span> {{"Urine lookup file"|translate}} </span>                                           
                                                                                     
                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="text-left">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <b>
                                    <span *ngIf="device.firmwareVersionId">
                                            {{device.firmwareVersionId}}
                                        </span>
                                    <span *ngIf="!device.firmwareVersionId">{{'No Data' | translate}}</span><br/>
                                    <span *ngIf="device.urtTestScriptVersion">{{device.urtTestScriptVersion}}</span>
                                    <span *ngIf="!device.urtTestScriptVersion">{{'No Data' | translate}}</span><br/>
                                    <span *ngIf="device.rdtLookupFile">{{device.rdtLookupFile}}</span>
                                    <span *ngIf="!device.rdtLookupFile">{{'BTN_UPDATE_DEFAULT' | translate}}</span><br/>
                                    <span *ngIf="device.urineLookupFile">{{device.urineLookupFile}}</span>
                                    <span *ngIf="!device.urineLookupFile">{{'BTN_UPDATE_DEFAULT' | translate}}</span></b>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="text-left" [header]="'Introspection_Data' | translate">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                            <b>  <span *ngIf="device.introspectionUpdateTime"> <i class="fa fa-calendar" style="color:#45aaf8"></i> {{device.introspectionUpdateTime | date : 'dd-MM-y'}}</span>
                                                <span *ngIf="device.introspectionUpdateTime">({{device.introspectionUpdateTime | date :'HH:mm' }})</span>
                                                    <span *ngIf="!device.introspectionUpdateTime"><i class="fa fa-calendar" style="color:#45aaf8"></i> NA</span>
                                            </b><br/>
                                        <b> <span>
                                                <span *ngIf="device.bloodPressureIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">
                                                </span>
                                                <span *ngIf="device.bloodPressureIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">
                                                </span>
                                                <span *ngIf="!device.bloodPressureIntro" class="m-badge m-badge--warning m-badge--dot">                                                  
                                               </span> {{'Blood_Pressure' | translate}}                                            
                                                </span>                                            
                                                <br/>
                                                <span>
                                                    <span *ngIf="device.glucometerIntro== 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                    </span>   
                                                    <span *ngIf="device.glucometerIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                    </span>    
                                                    <span *ngIf="!device.glucometerIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                    </span>  {{'BLOOD GLUCOSE' | translate}}                                                                                          
                                                </span>                                            
                                                <br/>                                  
                                                
                                                <span>
                                                    <span *ngIf="device.pulseOxIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                    </span>   
                                                    <span *ngIf="device.pulseOxIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                    </span>    
                                                    <span *ngIf="!device.pulseOxIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                    </span>  {{'PULSE_OXIMETER' | translate}}
                                                       
                                                </span><br/>
                                                    <span> <span *ngIf="device.hbIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                        </span> 
                                                        <span *ngIf="device.hbIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                        </span>    
                                                        <span *ngIf="!device.hbIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                        </span>  {{'HEMOGLOBIN' | translate}}
                                                       
                                                </span><br/>
                                                
                                                <span> <span *ngIf="device.urtCam1Intro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                    </span> 
                                                    <span *ngIf="device.urtCam1Intro == 'INACTIVE' " class="m-badge m-badge--danger m-badge--dot">                                                           
                                                    </span>    
                                                    <span *ngIf="!device.urtCam1Intro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                    </span> {{'Urtcamera' | translate}}
                                                   
                                                </span><br/>
                                                <span>
                                                    <span *ngIf="device.cholUaIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                        </span>   
                                                        <span *ngIf="device.cholUaIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                        </span>    
                                                        <span *ngIf="!device.cholUaIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                        </span> {{'Cholestrol/Uric acid' | translate}}                                                    
                                                    </span><br/>
                                                   <span *ngIf="device.deviceType == 'HC_PRO'|| device.deviceType == 'HC_XL'">
                                                        <span>
                                                            <span *ngIf="device.ecgIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                                </span>    
                                                                <span *ngIf="device.ecgIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                                </span>    
                                                                <span *ngIf="!device.ecgIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                        </span> {{'ECG' | translate}}    
                                                    </span>                                              
                                                </span>
                                            </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <!-- <p-column styleClass="text-left" header="Introspection Time">
                                    <ng-template let-device="rowData" pTemplate = "body">
                                        <b>  <span *ngIf="device.introspectionUpdateTime"> <i class="fa fa-calendar"></i> {{device.introspectionUpdateTime | date : 'dd-MM-y'}}</span><br/>
                                            <span *ngIf="device.introspectionUpdateTime"> <i class="fa fa-clock-o"></i> {{device.introspectionUpdateTime | date :'h:mm:ss a'}}</span>
                                                <span *ngIf="!device.introspectionUpdateTime">NA</span>
                                        </b>
                                    </ng-template>
                            </p-column> -->
                        <p-column>
                            <ng-template pTemplate="header">
                               {{'ACTIVATE/DEACTIVATE' | translate}}
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : center">
                                    <span class="m-switch m-switch--icon">
                                            <label>
                                                <input [checked]="device.status" name="" type="checkbox" (change)="statusChange(device)">
                                                <span></span>
                                    </label>
                                    </span>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button">
                            <ng-template pTemplate="header">
                                {{"ACTION" | translate}}
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : center">
                                    <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'VIEW' | translate ">
                                            <i class="la la-eye" (click)="goToDeviceView(device.id)" style="color:#fff"></i>
                                        </a>
                                    <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only" [title]="'VIEW' | translate ">
                                        <i class="la la-pencil" (click)="goToDeviceEdit(device.id,'unassign')" style="color:#fff"></i>
                                    </a>
                                </div>
                            </ng-template>
                        </p-column>
                        <ng-template pTemplate="emptymessage">
                            <div style="text-align:center">{{"NO_RECORD_FOUND" | translate}}</div>
                        </ng-template>
                    </p-dataTable>
                    <!-- <div class="col-sm-12 text-right" style="margin:12px">
                        {{"Total_Records"|translate}}: <b>{{unDevicesCount}} </b>
                    </div> -->
                    <div style="position: relative;" *ngIf="visiblePaginationUnassigned">
                        <p-paginator [rows]="row" [totalRecords]="unDevicesCount"  (onPageChange)="paginateUnDevices($event)"></p-paginator>
                        <span style="position: absolute; top:3px; right:5px; margin: 5px;">
                                <p-dropdown [options]="ranges" [placeholder]="row"  [style]="{'width':'55px'}" (onChange)="selectUn($event)"></p-dropdown>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                              
                              <span> {{"Total_Records"|translate}}: <b>{{unDevicesCount}} </b> </span> 
                        </span>
                        <!-- <div class="drop" style="margin-top: -45px; margin-left: 120px;">
                            <label for="m_sorthby">{{"ITEMS_PER_PAGE" | translate}}</label>
                            <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>

                        </div> -->
                    </div>
                    <div id="noRecord" style="text-align:center"> {{"NO_RECORD_FOUND" | translate}}
                    </div>

                </div>
                <div class="tab-pane active" id="m_tabs_6_3" role="tabpanel" aria-expanded="true">
                    <p-dataTable [value]="assignedDevices" styleClass="borderless" [globalFilter]="gb" #dt [responsive]="true">
                        <p-column [style]="{'width':'50px'}" styleClass="text-center" [header]="'S.No' | translate" *ngIf="userType !='Center'">
                            <ng-template let-index="rowIndex" pTemplate="body">
                                <b>
                                        <span>{{((pageNo -1) * pageSize) + (index+1)}}</span>
                                    </b>
                            </ng-template>
                        </p-column>
                        <p-column  styleClass="text-center" [header]="'S.No' | translate" *ngIf="userType =='Center'">
                            <ng-template let-index="rowIndex" pTemplate="body">
                                <b>
                                        <span>{{((pageNo -1) * pageSize) + (index+1)}}</span>
                                    </b>
                            </ng-template>
                        </p-column>
                        <p-column field="organizationName" styleClass="text-left" *ngIf="userType == 'Admin'">
                            <ng-template pTemplate="header">
                                {{'CUSTOMER' | translate}}/<br/>{{'CENTER' | translate}}
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left">
                                    <b>  <span>{{device.organizationName}}</span><br/>
                                    <span *ngIf="device.centerName">{{device.centerName}}</span>
                                </b>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="centerName" styleClass="text-left" *ngIf="userType == 'Facility'">
                            <ng-template pTemplate="header">
                                {{'CENTER' | translate}}
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left">
                                    <b> 
                                        <span *ngIf="device.centerName">{{device.centerName}}</span>
                                    </b>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column *ngIf="userType =='Center'" [header]="'CENTER' | translate">
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left;">
                                    <b>{{device.centerName}}</b>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="serialNumber" styleClass="text-left">
                            <ng-template pTemplate="header">
                               {{'SERIAL_NUMBER' | translate}}/<br/>{{'DEVICE_TYPE' | translate}}
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left;">
                                    <b> <span>{{device.serialNumber}}</span><br/>
                                        <span>{{device.deviceType}}</span>                                      
                                    </b>
                                </div>
                            </ng-template>
                        </p-column>                        
                        <p-column styleClass="text-right" [header]="'File Details' | translate">
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left;">
                                    <b> <span>{{"FIRMWARE Version"|translate}}   </span><br/>                        
                                        <span>{{"Python Version" | translate}} </span>  <br/>                                         
                                        <span> {{"RDT lookup file" |translate}}  </span><br/>                                         
                                        <span> {{"Urine lookup file"|translate}} </span>                                           
                                                                                 
                                    </b>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="text-left">
                            <ng-template let-device="rowData" pTemplate="body">
                                <b> <span *ngIf="device.firmwareVersionId">
                                        {{device.firmwareVersionId}}
                                    </span>
                                <span *ngIf="!device.firmwareVersionId">{{'No Data' | translate}}</span><br/>
                                <span *ngIf="device.urtTestScriptVersion">{{device.urtTestScriptVersion}}</span>
                                <span *ngIf="!device.urtTestScriptVersion">{{'No Data' | translate}}</span><br/>
                                <span *ngIf="device.rdtLookupFile">{{device.rdtLookupFile}}</span>
                                <span *ngIf="!device.rdtLookupFile">{{'BTN_UPDATE_DEFAULT' | translate}}</span><br/>
                                <span *ngIf="device.urineLookupFile">{{device.urineLookupFile}}</span>
                                <span *ngIf="!device.urineLookupFile">{{'BTN_UPDATE_DEFAULT' | translate}}</span></b>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="text-left" [header]="'Introspection_Data' | translate">
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left;">
                                        <b>  <span *ngIf="device.introspectionUpdateTime"> <i class="fa fa-calendar" style="color:#45aaf8"></i> {{device.introspectionUpdateTime | date : 'dd-MM-y'}}</span>
                                            <span *ngIf="device.introspectionUpdateTime">({{device.introspectionUpdateTime | date :'HH:mm' }})</span>
                                                <span *ngIf="!device.introspectionUpdateTime"><i class="fa fa-calendar" style="color:#45aaf8"></i> NA</span>
                                        </b><br/>
                                    <b> <span>
                                            <span *ngIf="device.bloodPressureIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">
                                            </span>
                                            <span *ngIf="device.bloodPressureIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">
                                            </span>
                                            <span *ngIf="!device.bloodPressureIntro" class="m-badge m-badge--warning m-badge--dot">                                                  
                                           </span> {{'Blood_Pressure' | translate}}                                            
                                            </span>                                            
                                            <br/>
                                            <span>
                                                <span *ngIf="device.glucometerIntro== 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                </span>   
                                                <span *ngIf="device.glucometerIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                </span>    
                                                <span *ngIf="!device.glucometerIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                </span>  {{'BLOOD GLUCOSE' | translate}}                                                                                          
                                            </span>                                            
                                            <br/>                                  
                                            
                                            <span>
                                                <span *ngIf="device.pulseOxIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                </span>   
                                                <span *ngIf="device.pulseOxIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                </span>    
                                                <span *ngIf="!device.pulseOxIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                </span>  {{'PULSE_OXIMETER' | translate}}
                                                   
                                            </span><br/>
                                                <span> <span *ngIf="device.hbIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                    </span> 
                                                    <span *ngIf="device.hbIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                    </span>    
                                                    <span *ngIf="!device.hbIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                    </span>  {{'HEMOGLOBIN' | translate}}
                                                   
                                            </span><br/>
                                            
                                            <span> <span *ngIf="device.urtCam1Intro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                </span> 
                                                <span *ngIf="device.urtCam1Intro == 'INACTIVE' " class="m-badge m-badge--danger m-badge--dot">                                                           
                                                </span>    
                                                <span *ngIf="!device.urtCam1Intro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                </span> {{'Urtcamera' | translate}}
                                               
                                            </span><br/>
                                            <span>
                                                <span *ngIf="device.cholUaIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                    </span>   
                                                    <span *ngIf="device.cholUaIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                    </span>    
                                                    <span *ngIf="!device.cholUaIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                    </span> {{'Cholestrol/Uric acid' | translate}}                                                    
                                                </span><br/>
                                               <span *ngIf="device.deviceType == 'HC_PRO'|| device.deviceType == 'HC_XL'">
                                                    <span>
                                                        <span *ngIf="device.ecgIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                            </span>    
                                                            <span *ngIf="device.ecgIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                            </span>    
                                                            <span *ngIf="!device.ecgIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                    </span> {{'ECG' | translate}}    
                                                </span>                                              
                                            </span>
                                        </b>
                                </div>
                            </ng-template>
                        </p-column>
                        <!-- <p-column styleClass="text-left" header="Introspection Time">
                                <ng-template let-device="rowData" pTemplate = "body">
                                  <b>  <span *ngIf="device.introspectionUpdateTime"> <i class="fa fa-calendar"></i> {{device.introspectionUpdateTime | date : 'dd-MM-y'}}</span><br/>
                                     <span *ngIf="device.introspectionUpdateTime"> <i class="fa fa-clock-o"></i> {{device.introspectionUpdateTime | date :'h:mm:ss a'}}</span>
                                        <span *ngIf="!device.introspectionUpdateTime">NA</span>
                                   </b>
                                </ng-template>
                        </p-column> -->
                        <p-column *ngIf="userType !='Center'">
                            <ng-template pTemplate="header">
                                {{'LBL_ACTIVATE' | translate}}/<br/>{{'Deactivate' | translate}}
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : center">
                                    <span class="m-switch m-switch--icon">
                                        <label>
                                            <input [checked]="device.status" name="" type="checkbox" (change)="statusChange(device)">
                                            <span></span>
                                    </label>
                                    </span>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button">
                            <ng-template pTemplate="header">
                                {{"ACTION" | translate}}
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : center">
                                    <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'VIEW' | translate ">
                                        <i class="la la-eye" (click)="goToDeviceView(device.id)" style="color:#fff"></i>
                                    </a>
                                    <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only" [title]="'EDIT' | translate " *ngIf="userType !='Center'">
                                        <i class="la la-pencil" (click)="goToDeviceEdit(device.id,'assign')" style="color:#fff"></i>
                                    </a>
                                </div>
                            </ng-template>
                        </p-column>
                        <ng-template pTemplate="emptymessage">
                            <div style="text-align:center"> {{"NO_RECORD_FOUND" | translate}}</div>
                        </ng-template>
                    </p-dataTable>
                    <!-- <div class="col-sm-12 text-right" style="margin:12px">
                        {{"Total_Records" |translate}}: <b>{{devicesCount}} </b>
                    </div> -->
                    <div style="position: relative;" *ngIf="visiblePaginationAssigned">
                        <p-paginator [rows]="row" [totalRecords]="devicesCount" (onPageChange)="paginateDevices($event)"></p-paginator>
                        <span style="position: absolute; top:3px; right:5px; margin: 5px;">
                                <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                               
                              <span> {{"Total_Records"|translate}}: <b>{{devicesCount}} </b> </span> 
                        </span>
                        <!-- <div class="drop" style="margin-top: -45px; padding-left: 120px;">
                            <label for="m_sorthby">{{"ITEMS_PER_PAGE" | translate}}</label>
                            <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>

                        </div> -->
                    </div>
                </div>



            </div>
        </div>
    </div>
    <p-dialog modal="modal" [draggable]="false" [(visible)]="showDialog" [width]="500" [closable]="false">
        <p-header>
            <i class="flaticon-laptop" style="font-size:1.7rem;"></i>
            <span *ngIf="statusDev == 'Deactivate'">{{'DEACTIVATE_HUB' | translate}}</span>
            <span *ngIf="statusDev == 'Activate'">{{'ACTIVATE_HUB' | translate}}</span>
        </p-header>
        <div class="m-portlet__body">
            <div class="text-center">
                <i class="fa fa-check-square-o" *ngIf="statusDev == 'Activate'" style="font-size:3.3rem; color:#34bfa3 !important"></i>

                <i class="flaticon-danger" *ngIf="statusDev == 'Deactivate'" style="font-size:3.3rem;color:#ffb822 !important"></i>
                <br/><br/>
                <h4 *ngIf="statusDev == 'Deactivate'">{{'ARE YOU SURE TO DEACTIVATE' | translate}}</h4>
                <h4 *ngIf="statusDev == 'Activate'">{{'ARE YOU SURE TO ACTIVATE' | translate}}</h4>
                <b> {{device.serialNumber}}({{deviceType}}) </b><br/>
                <small *ngIf="statusDev == 'Deactivate'">
                        {{'Deactivate_alert' |translate}}
                </small>
                <small *ngIf="statusDev == 'Activate'">
                        {{'Activate_alert' |translate}}
                </small>
            </div>
            <br/><br/>
        </div>
        <p-footer>
            <div class="text-center">
                <button class="btn btn-secondary" (click)="close()">
                                                {{'CLOSE' | translate }}
                                        </button>
                <button class="btn btn-primary" type="button" (click)="conformStatus()">
                                    {{'CONFIRM' | translate}}
                                   </button>
            </div>
        </p-footer>
    </p-dialog>

</div>