<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">  
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head" style="padding-left:0px">
                        <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption"  style="padding-left:20px">
                        <div class="m-portlet__head-title">                          
                            <h3 class="m-portlet__head-text" style="font-weight:400">
                                <span>{{"UPDATE" | translate}} </span>
                                <span>{{"USER" | translate}}</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form (ngSubmit)="save()"
                    class="m-form m-form--fit m-form--label-align-right"
                    id="m_form_user">
                    <div class="m-portlet__body">
                        <div class="col-lg-12" style="padding-top:20px">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"FIRST_NAME" | translate}} *
                                                </label>
                                                <div class="col-lg-8">
                                                    <input type="text"
                                                        id="user_fname"
                                                        name="fName"
                                                        class="form-control m-input m-input--square"
                                                        [(ngModel)]="user.user.firstName"
                                                        #fName="ngModel"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"LAST_NAME" | translate}} *
                                                </label>
                                                <div class="col-lg-8">
                                                    <input type="text"
                                                        id="user_lName"
                                                        name="lName"
                                                        class="form-control m-input m-input--square"
                                                        [(ngModel)]="user.user.lastName"
                                                        #lName="ngModel"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"GENDER" | translate}}
                                                </label>
                                                <div class="col-lg-8">
                                                    <select id="user_gender"
                                                        name="gender"
                                                        class="form-control m-input m-input--square"
                                                        [(ngModel)]="user.user.gender"
                                                        #gender="ngModel">
                                                        <option value="MALE">{{"MALE" | translate}}</option>
                                                        <option value="FEMALE">{{"FEMALE" | translate}}</option>
                                                        <option value="OTHER">{{"OTHER" | translate}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"EMAIL" | translate}} *
                                                </label>
                                                <div class="col-lg-5">
                                                    <input type="text"
                                                        id="user_email"
                                                        class="form-control m-input m-input--square m-input--solid"
                                                        autocomplete="off"
                                                        readonly
                                                        name="email"
                                                        [(ngModel)]="user.user.email"
                                                        #email="ngModel"
                                                        required>
                                                </div>
                                                <div class="col-lg-3"
                                                    style="padding: 0; margin-top: 9px">
                                                    <a (click)="changePassword()"
                                                        href="#">{{"CHANGE_PASSWORD" | translate}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"COUNTRY" | translate}}
                                                </label>
                                                <div class="col-lg-8">
                                                    <select name="country"
                                                        id="user_country"
                                                        class="form-control m-input m-input--square"
                                                        name="country"
                                                        [(ngModel)]="user.user.addressInfo.country"
                                                        #country="ngModel"
                                                        (change)="countrySelect($event)">
                                                        <option value="{{country.name}}"
                                                            *ngFor="let country of countires">{{country.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"PHONE" | translate}} *
                                                </label>
                                                <div class="col-lg-8">
                                                    <div class="input-group">
                                                        <button class="flag_btn">
                                                            <span class="flag_cls flag_{{country_code.toLowerCase()}}"></span>
                                                            <span id="basic-addon1">{{user.user.dial_code}}</span>
                                                        </button>
                                                        <input type="text"
                                                            id="user_phone"
                                                            name="phone"
                                                            class="form-control m-input m-input--square"
                                                            (keyup)="valPhone()"
                                                            [(ngModel)]="user.user.phone"
                                                            #phone="ngModel"
                                                            (change)="numberChange(user.user.phone)"
                                                            required>
                                                    </div>
                                                    <span class="text-danger"
                                                        *ngIf="errorPhone">{{errorPhone | translate}}</span>
                                                    <!-- <span class="text-danger" *ngIf="digitLength">{{digitLength}}</span> -->
                                                    <label></label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"QUALIFICATION" | translate}}
                                                </label>
                                                <div class="col-lg-8">
                                                    <input type="text"
                                                        id="user_qualification"
                                                        name="qualification"
                                                        class="form-control m-input m-input--square"
                                                
                                                        [(ngModel)]="user.user.qualification"
                                                
                                                        #qualification="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"AGE" | translate}}
                                                </label>
                                                <div class="col-lg-8">
                                                    <input type="number"
                                                        id="user_age"
                                                        name="age"
                                                        class="form-control m-input m-input--square"
                                                
                                                        [(ngModel)]="user.user.age"
                                                        #age="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"ADDRESS" | translate}}
                                                </label>
                                                <div class="col-lg-8">
                                                    <input type="text"
                                                        id="user_address"
                                                        class="form-control m-input m-input--square"
                                                
                                                        name="address"
                                                        [(ngModel)]="user.user.addressInfo.address"
                                                
                                                        #address="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"CITY" | translate}}
                                                </label>
                                                <div class="col-lg-8">
                                                    <input type="text"
                                                        id="user_city"
                                                        class="form-control m-input m-input--square"
                                                
                                                        name="city"
                                                        [(ngModel)]="user.user.addressInfo.city"
                                                
                                                        #city="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"STATE" | translate}}
                                                </label>
                                                <div class="col-lg-8">
                                                    <input type="text"
                                                        id="user_state"
                                                        class="form-control m-input m-input--square"
                                                
                                                        name="state"
                                                        [(ngModel)]="user.user.addressInfo.state"
                                                
                                                        #state="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row"
                                        style="margin-top: 15px;">
                                        <div class="col-lg-12">
                                            <div class="form-group m-form__group row">
                                                <label class="col-lg-4 col-form-label">
                                                    {{"POSTAL_CODE" | translate}}
                                                </label>
                                                <div class="col-lg-8">
                                                    <input type="text"
                                                        id="user_postcode"
                                                        class="form-control m-input m-input--square"
                                                
                                                        name="postcode"
                                                        [(ngModel)]="user.user.addressInfo.postcode"
                                                
                                                        #postcode="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">                                   
                                        <div class="text">
                                             {{"UPLOAD_PROFILE_PICTURE" | translate}}
                                        </div>
                                        <br/>
                                        <br/>
                                        <ng4-files-drop (filesSelect)="filesSelect($event)"
                                            style="width: 100%;text-align: center;">
                                            <ng4-files-click (filesSelect)="filesSelect($event)"
                                                style="width: 100%">
                                                <div class="m-card-profile"
                                                    style="margin-top: -36px; cursor:pointer"
                                            
                                                    [title]="'UPLOAD_PROFILE_PICTURE' | translate">
                                                    <div class="m-card-profile__pic"
                                                        style="text-align: left">
                                                        <div class="m-card-profile__pic-wrapper"
                                                            style="border-radius:0%">
                                                            <img *ngIf="user.user.profilePictureUrl"
                                                                style="border-radius:0%;height:130px"
                                                        
                                                                alt=""
                                                                [src]="user.user.profilePictureUrl">
                                                            <img *ngIf="!user.user.profilePictureUrl"
                                                                style="border-radius:0%"
                                                        
                                                                alt=""
                                                                src="./assets/app/media/img/users/user-avatar.png">
                                                            <!-- <div *ngIf="imgLoad" style="height: 130px;width: 130px;background-color: gainsboro;">
                                                                <div class="m-loader m-loader--success" style="width: 109px; display: inline-block;height:109px"></div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng4-files-click>
                                        </ng4-files-drop>
                                    
                                    <!-- *ngIf="userInfo.facilityCode === 'IAP'" -->
                                    <div class="row" *ngIf="isPathologist">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-success m-btn--square" (click)="pathologistSignature()">Upload Signature</button>
                                            <!-- <button type="button" class="btn m-btn btn-sm"><i class="fa fa-question-circle"></i></button> -->
                                        </div>
                                        <div class="col-12">
                                            <p-messages [(value)]="signaturemsg"></p-messages>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">

                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <button id="user_submit"
                                        type="submit"
                                        class="btn btn-success m-btn--square">
                                        {{"SUBMIT" | translate}}
                                    </button>

                                    <button id="user_cancel"
                                        routerLink="/users/list"
                                        class="btn btn-secondary m-btn--square">
                                        {{"CANCEL" | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    


    <p-dialog [header]="'CHANGE_PASSWORD' | translate"
        [(visible)]="showChangePassword"
        (onHide)="emptyPasswords()"
        [contentStyle]="{'overflow':'hidden'}"
        modal="modal"
        width="500"
        [dismissableMask]="true"
        [responsive]="true">
        <form (ngSubmit)="changeUserPassword(password)"
            #f="ngForm"
            class="m-form m-form--fit m-form--label-align-right"
            id="change_password_form_user"
            action="">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group m-form__group row">
                                    <label style="text-align: left"
                                        class="col-lg-5 col-form-label">
                                        {{"CURRENT_PASSWORD" | translate}} *
                                    </label>
                                    <div class="col-lg-7">
                                        <input type="password"
                                            id="change_password_current"
                                            name="currP"
                                            class="form-control m-input m-input--square"
                                    
                                            [(ngModel)]="password.oldPassword"
                                            #currP="ngModel"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"
                            style="margin-top: 15px;">
                            <div class="col-lg-12">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-5 col-form-label"
                                        style="text-align: left">
                                        {{"NEW_PASSWORD" | translate}} *
                                    </label>
                                    <div class="col-lg-7">
                                        <input type="password"
                                            id="change_password_new"
                                            name="oldP"
                                            class="form-control m-input m-input--square"
                                    
                                            [(ngModel)]="password.newPassword"
                                            #oldP="ngModel"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row"
                            style="margin-top: 15px;">
                            <div class="col-lg-12">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-5 col-form-label"
                                        style="text-align: left">
                                        {{"CONFIRM_PASSWORD" | translate}} *
                                    </label>
                                    <div class="col-lg-7">
                                        <input type="password"
                                            id="change_password_confirm"
                                            class="form-control m-input m-input--square"
                                    
                                            name="cp"
                                            [(ngModel)]="confirmPassword"
                                            #cp="ngModel"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div style="margin-top: 15px;">
                <div class="row">
                    <div class="col-lg-12"
                        *ngIf="samePassword">
                        <div id="user_warning"
                            class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-danger"
                    
                            role="alert">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                <strong>
                                    <!-- {{"ERROR" | translate}}! -->
                                </strong> {{"SAME_PASSWORD" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12"
                        *ngIf="wrongPassword">
                        <div id="user_warning"
                            class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-warning"
                    
                            role="alert">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                <strong>
                                    <!-- {{"WARNING" | translate}}! -->
                                </strong> {{"WRONG_PASSWORD" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12"
                        *ngIf="cidaasPassword">
                        <div id="user_warning"
                            class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-warning"
                    
                            role="alert">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                <strong>
                                    <!-- {{"WARNING" | translate}}! -->
                                </strong> {{"WRONG_CIDAAS_PASSWORD" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12"
                        *ngIf="invalidFrom">
                        <div id="user_warning"
                            class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-warning"
                    
                            role="alert">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                <strong>
                                    <!-- {{"WARNING" | translate}}! -->
                                </strong> {{"WARNING_INVALID_FORM" | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-4">
                        <button style="margin-left: 6px;margin-top: 10px; width: 115px;"
                            id="change_password_submit"
                            type="submit"
                            class="btn btn-success m-btn--square">
                            {{"SAVE" | translate}}
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </p-dialog>


    <p-dialog [header]="'Upload Signature'" [(visible)]="showSignatureUpload" modal="modal" width="500" [responsive]="true">
        <form (ngSubmit)="submitSignature(f)" #f="ngForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div>
                            <ng4-files-click (filesSelect)="signatureUpload($event)"  [configId]="'sign-config'">
                                <span class="btn btn-primary m-btn--square upload-signature" style="cursor: pointer;">
                                    <i class="fa fa-upload"></i> Select Signature </span> <span *ngIf="isSignatureUpload"><i class="fa fa-check" style="color: green"></i></span> <span *ngIf="!isSignatureUpload"><i class="fa fa-times" style="color: brown"></i></span>
                            </ng4-files-click>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group m-form__group">
                            <label for="passcode">Passcode: * </label>
                            <input type="password"
                                class="form-control m-input m-input--square"
                                name="pathologistpasscode"
                                [(ngModel)]="passcode"
                                id="passcode"
                                #pathologistpasscode="ngModel"
                                pattern="[0-9]{6}" 
                                required>
                            <span class="m-form__help text-danger"
                                *ngIf="!pathologistpasscode.valid && pathologistpasscode.touched">Invalid passcode. Passcode should be numeric and 6 digit.</span>
                               
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group m-form__group">
                            <label for="confirm-passcode">Confirm Passcode: * </label>
                            <input type="text"
                            class="form-control m-input m-input--square"
                            name="pathologistcfpasscode"
                            [(ngModel)]="cfpasscode"
                            #pathologistcfpasscode = "ngModel"
                            id="confirm-passcode" required>
                            <span class="m-form__help text-danger"
                            *ngIf="passcode !== cfpasscode && pathologistcfpasscode.touched">Confirm passcode does not match.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-btn--square" (click)="showSignatureUpload = false">Close</button>
                <button type="submit" class="btn btn-success m-btn--square" [disabled]="passcode !== cfpasscode || !isSignatureUpload || f.form.invalid">Upload Signature</button>
            </div>
        </form>
    </p-dialog>
</div>
