<div class="m-content" id="dashboard">
    <div class="row" *ngIf="userType && userType == 'Admin'">
        <div class="col-xl-2 col-sm-6 paddingdiv" *ngIf="facilityCount || facilityCount === 0">
            <div class="m-portlet  m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card" routerLink="/facilities/list">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"CUSTOMERS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/client.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
									<span class="m-widget1__number num-re-css" *ngIf="facilityCount || facilityCount === 0">
									{{facilityCount}}
									</span>
                                <span class="m-widget1__number num-re-css" *ngIf="!facilityCount && facilityCount !== 0">
										<div class="m-loader" style="width: 30px; display: inline-block;"></div>
									</span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_CUSTOMER" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-6 paddingdiv" *ngIf="devicesTotalCount || devicesTotalCount === 0">
            <div class="m-portlet  m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card" routerLink="/devices/list">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"HUBS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/hub.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
									<span class="m-widget1__number num-re-css" *ngIf="devicesTotalCount || devicesTotalCount === 0">
									{{devicesTotalCount}}
									</span>
                                <span class="m-widget1__number num-re-css" *ngIf="!devicesTotalCount && devicesTotalCount !== 0">
										<div class="m-loader" style="width: 30px; display: inline-block;"></div>
									</span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_HUBS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-6 paddingdiv" *ngIf="usersTotal || usersTotal === 0">
            <div class="m-portlet m-portlet--bordered-semi  m-portlet--full-height m-portlet--count-card" routerLink="/users/list">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"USERS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/user-recovered.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
										<span class="m-widget1__number num-re-css" *ngIf="usersTotal || usersTotal === 0">
										{{usersTotal}}
										</span>
                                <span class="m-widget1__number num-re-css" *ngIf="!usersTotal && usersTotal !== 0">
											<div class="m-loader" style="width: 30px; display: inline-block;"></div>
										</span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_USERS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-6 paddingdiv" *ngIf="patientsTotalCount || patientsTotalCount === 0">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card csr-hand" [routerLink]="['/patients/statistics']">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"PATIENTS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-bottom:25px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/patient.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
									<span class="m-widget1__number num-re-css" *ngIf="patientsTotalCount || patientsTotalCount === 0">
									{{patientsTotalCount}}
									</span>
                                <span class="m-widget1__number num-re-css" *ngIf="!patientsTotalCount && patientsTotalCount !== 0">
										<div class="m-loader" style="width: 30px; display: inline-block;"></div>
									</span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_PATIENTS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-6 paddingdiv" *ngIf="testCountTotal || testCountTotal === 0">
            <div class="m-portlet  m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card" routerLink="/visits/list">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"DIAGNOSTICS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-bottom:25px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/diagnostics.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
									<span class="m-widget1__number num-re-css" *ngIf="testCountTotal || testCountTotal === 0">
									{{testCountTotal}}
									</span>
                                <span class="m-widget1__number num-re-css" *ngIf="!testCountTotal && testCountTotal !== 0">
										<div class="m-loader" style="width: 30px; display: inline-block;"></div>
									</span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"DIAGNOSTICS_DONE" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-6 paddingdiv" *ngIf="visitCountTotal || visitCountTotal === 0">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card" style="cursor:auto;">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"VISITS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/test.png" class="responsive-small" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
									<span class="m-widget1__number num-re-css" *ngIf="visitCountTotal || visitCountTotal === 0">
										{{visitCountTotal}}
									</span>
                                <span class="m-widget1__number num-re-css" *ngIf="!visitCountTotal && visitCountTotal !== 0">
										<div class="m-loader" style="width: 30px; display: inline-block;"></div>
									</span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"VISITS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="userType && userType != 'Admin'">
        <div class="col-xl-3 col-sm-6 paddingdiv" *ngIf="userType != 'User'">
            <div class="m-portlet  m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card" routerLink="/devices/list">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"HUBS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-bottom:25px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/hub.png" class="responsive" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                    <span class="m-widget1__number num-css" *ngIf="devicesTotalCount || devicesTotalCount === 0">
                                       {{devicesTotalCount}}
                                    </span>
                                    <span class="m-widget1__number num-css" *ngIf="!devicesTotalCount && devicesTotalCount !== 0">
                                        <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_HUBS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 paddingdiv" *ngIf="userType == 'User'">
            <div class="m-portlet  m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card" style="cursor:auto">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"Test Map" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;padding-bottom:25px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/hub.png" class="responsive" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                    <span class="m-widget1__number num-css" *ngIf="testMapCount || testMapCount === 0">
                                       {{testMapCount}}
                                    </span>
                                    <span class="m-widget1__number num-css" *ngIf="!testMapCount && testMapCount !== 0">
                                        <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"Test mapped" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 paddingdiv">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card csr-hand" [routerLink]="['/patients/statistics']">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"PATIENTS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/patient.png" class="responsive" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                        <span class="m-widget1__number num-css" *ngIf="patientsTotalCount || patientsTotalCount === 0">
                                        {{patientsTotalCount}}
                                        </span>
                                <span class="m-widget1__number num-css" *ngIf="!patientsTotalCount && patientsTotalCount !== 0">
                                            <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                        </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"ENROLLED_PATIENTS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 paddingdiv">
            <div class="m-portlet  m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card" routerLink="/visits/list">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"DIAGNOSTICS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/diagnostics.png" class="responsive" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                        <span class="m-widget1__number num-css" *ngIf="testCountTotal || testCountTotal === 0">
                                        {{testCountTotal}}
                                        </span>
                                <span class="m-widget1__number num-css" *ngIf="!testCountTotal && testCountTotal !== 0">
                                            <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                        </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"DIAGNOSTICS_DONE" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 paddingdiv">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--count-card" style="cursor:auto;">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"VISITS" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px">
                    <div class="m-widget7">
                        <div class="m-widget7__user">
                            <div class="m-widget7__user-img">
                                <img src="./assets/app/media/img/dashboard/test.png" class="responsive" alt="" />
                            </div>
                            <div class="m-widget7__info">
                                <span class="m-widget7__username">
                                            <span class="m-widget1__number num-css" *ngIf="visitCountTotal || visitCountTotal === 0">
                                                {{visitCountTotal}}
                                            </span>
                                <span class="m-widget1__number num-css" *ngIf="!visitCountTotal && visitCountTotal !== 0">
                                                <div class="m-loader" style="width: 30px; display: inline-block;"></div>
                                            </span>
                                </span>
                            </div>
                        </div>
                        <div class="grad-title">
                            {{"VISITS" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 paddingdiv" id="patient_chart_bydashboard">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"Patient_registartion_(Last three month)" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;height:400px">
                    <div class="progress" [hidden]="!showPatLoad">
                        <span></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                    </div>
                    <app-amchartcomponent [hidden]="showPatLoad"  [data]="patientChart" [id]="'patients_chart_center'" [title]="patient_week" [height]="350" [type]="'dashboardpatient'"></app-amchartcomponent>
                </div>
            </div>
        </div>
        <div class="col-lg-6 paddingdiv" id="dignostic_charts_bydashboard">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head" style="border-bottom:none;height:3rem;padding-left:0px">
                    <span class="side-line"></span>
                    <div class="m-portlet__head-caption" style="padding: 30px 0 15px 25px;">
                        <div class="m-portlet__head-title">
                            <h6 class="m-portlet__head-text" style="text-align:center;text-transform:uppercase;font-size: 1.0rem"> {{"Diagnostic_done_(Last three month)" | translate}}</h6>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding-top:0px;height:400px">
                    <div class="progress" [hidden]="!showDigLoad">
                        <span></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                        <span class="spin-space"></span>
                    </div>  
                    <app-amchartcomponent [hidden]="showDigLoad"  [data]="testChartValue" [graphData]="graphValues" [id]="'tests_chart_filter'" [title]="test" [height]="350" [type]="'dashboardserial'"></app-amchartcomponent>
                </div>
            </div>
        </div>
    </div>



    <ul class="m-nav-sticky" style="margin-top: 30px;cursor: pointer" routerLink="/filters/all">
        <li class="m-nav-sticky__item" [title]="'MY_FILTER' | translate">
            <a id="sticky_filter">
                <i class="fa fa-filter"></i>
            </a>
        </li>
    </ul>



</div>