<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                <!-- <span *ngIf="!device.id">Add </span> -->
                                <span>{{"UPDATE_RDT_LOOKUP" | translate}} </span>
                            </h3>
                        </div>
                    </div>
                    <!-- tools -->
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <button class="btn btn-warning m-btn m-btn--custom m-btn--air m-btn--pill m--pull-right" [routerLink]="['/rdt/list']" [queryParams]="{type:'RL'}">
                                   {{"BTN_RDT_LOOKUP_LIST" | translate}}
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- End: tools -->
                </div>
                <!--begin::Form-->
                <!--  <form (ngSubmit)="f.form.valid && save()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right" 
                    id="m_form_device" action=""> -->
                <div class="m-portlet__body">
                    <!--                     <div class="row">
                        span{update the table with reason, }
                    </div> -->
                    <div class="m-section">
                        <div class="m-section__sub">
                            {{"INFO_LABEL_RDT_EDIT" | translate}}.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                    {{"FILE_NAME" | translate}}:
                                </label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control m-input m-input--square" readonly pInputText [(ngModel)]="rdtJson.fileName">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label">
                                            {{"REASON_FOR_UPDATE" | translate}}: *
                                        </label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control m-input m-input--square" pInputText [(ngModel)]="rdtJson.reason">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-success m-btn--square" (click)="updateRdt()" [disabled]="!rdtJson.reason">
                                                {{"BTN_SAVE" | translate}}
                                            </button>
                            <!--                                             <a id="device_cancel"
                                                (click)="goToList()"
                                                class="btn btn-secondary m-btn--square">
                                                {{"CANCEL" | translate}}
                                            </a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                                <p-dataTable [value]="rdtJson.rdtLookups" [editable]="true">
                                    <p-column [header]="'S.No' | translate" [style]="{'width':'60px'}">
                                        <ng-template let-col let-i="rowIndex" pTemplate="body">
                                            <span>{{i + 1}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="name" [header]="'NAME' | translate" [style]="{'width':'320px'}">
                                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                                            <strong>{{rdt.testName}}</strong>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="l1Position" [header]="'L1_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                        <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                            <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                        </ng-template>
                                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                                            <strong>{{rdt.l1Position}}</strong>
                                            <br>
                                            <small>{{rdt.l1Position - rdt.l1Range}} - {{rdt.l1Position
                                            + rdt.l1Range}}</small>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="l1Range" [header]="'L1_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                                            <span>+/- {{rdt.l1Range}}</span>
                                        </ng-template>
                                        <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                            <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="l2Position" [header]="'L2_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                        <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                            <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                        </ng-template>
                                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                                            <strong>{{rdt.l2Position}}</strong>
                                            <br>
                                            <small>{{(rdt.l2Position - rdt.l2Range)}} - {{(rdt.l2Position
                                            + rdt.l2Range)}}</small>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="l2Range" [header]="'L2_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                                            <span>+/- {{rdt.l2Range}}</span>
                                        </ng-template>
                                        <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                            <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                        </ng-template>
                                    </p-column>
                                    <p-column field="l3Position" [header]="'L3_POSITION' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                        <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                            <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                        </ng-template>
                                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                                            <strong>{{rdt.l3Position}}</strong>
                                            <br>
                                            <small>{{(rdt.l3Position - rdt.l3Range)}} - {{(rdt.l3Position
                                            + rdt.l3Range)}}</small>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="l3Range" [header]="'L3_RANGE' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                        <ng-template let-col let-rdt="rowData" pTemplate="body">
                                            <span>+/- {{rdt.l3Range}}</span>
                                        </ng-template>
                                        <ng-template let-col let-rdt="rowData" pTemplate="editor">
                                            <input type="number" pInputText [(ngModel)]="rdt[col.field]" appendTo="body" />
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </form> -->
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>

    </div>
</div>