<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div>
        <div>
            <!--begin::Portlet-->
            <div class="m-portlet" *ngIf="!assignHub">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon">
                                    <i class="flaticon-laptop"></i>
                                </span> -->
                            <h3 class="m-portlet__head-text">
                                <span>{{"ADD_HUB" | translate}}</span>
                                <small style="text-transform:none">{{"ADD_HUB_ON_LEFT_AND_ALL_UNASSIGNED_HUBS_WILL_BE_LISTED_ON_RIGHT_SIDE" | translate}}.{{"SELECT_MULTIPLE_HUBS_TO_ASSIGN_THEM_TO_CUSTOMER_AND_CENTER" | translate}}. </small>
                            </h3>
                            <!-- <div class="pull-right">
                                    <a routerLink="/devices/list" class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                                        <span> <i class="flaticon-laptop"></i>
                                            <span> {{"HUBS_LIST" | translate}}
                                                      </span>
                                        </span>
                                    </a>
                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
               
                    <div class="m-portlet__body" style="padding:15px">
                            <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--primary" role="tablist">
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#single" role="tab">Single Add Hub</a>
                                    </li>
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#bulk" role="tab">Bulk Add Hub</a>
                                    </li>
                            </ul>
                            <div class="tab-content">
                                    <div  class="tab-pane active" id="single" role="tabpanel">
                                            <form (ngSubmit)="f.form.valid && save()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right" id="m_form_device" action="">
                                                    <div class="col-lg-12" style="padding-top:20px">
                                                            <div class="row">
                                                                <div class="col-lg-5">
                                                                    <div class="form-group m-form__group row">
                                                                        <label class="col-lg-4 col-form-label">
                                                                                {{"HUB_SERIAL_NUMBER" | translate}} *
                                                                                </label>
                                                                        <div class="col-lg-8">
                                                                            <div class="m-input-icon m-input-icon--right">
                                                                                <input id="device_serialnumber_add" type="text" name="serialNumber" class="form-control m-input m-input--square" (keypress)="charCheck($event)" (change)="getDevicebySerial(device.serialNumber)" (keyup)="showError = false" [(ngModel)]="device.serialNumber"
                                                                                    #serialNumber="ngModel" required>
                                                                                <span class="m-input-icon__icon m-input-icon__icon--right" id="add_icon" style="display:none">
                                                                                    <span>
                                                                                            <div class="m-loader m-loader--brand" style="width: 30px; display: inline-block;"></div>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                            <span class="text-danger" *ngIf="showError"> {{"SERIAL_NUMBER_ALREADY_EXISTS" | translate}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-5">
                                                                    <div class="form-group m-form__group row">
                                                                        <label class="col-lg-4 col-form-label">
                                                                                    {{"HUB_TYPE" | translate}} *
                                                                                </label>
                                                                        <div class="col-lg-8">
                                                                            <select id="device_type" name="type" class="form-control m-input m-input--square" [(ngModel)]="device.deviceType" #type="ngModel" required>
                                                                                    <option value="HC_SE">HC SE</option>       
                                                                                    <option value="HC_PRO">HC PRO</option>
                                                                                    <option value="HC_PRO_PLUS">HC PRO PLUS</option>
                                                                                    <option value="HC_XL">HC XL</option>                                                    
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2 text-center">
                                                                    <button id="device_submit" type="submit" class="btn btn-success m-btn--square blue" [disabled]="loading">
                                                                        {{"ADD_HUB" | translate}}
                                                                        </button>
                                                                </div>
                                                            </div>
                                                    </div>                                                   
                                            </form>
                                    </div>
                                    <div class="tab-pane" id="bulk" role="tabpanel">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                            You can able to do bulk adding of hub by uploading csv file
                                                    </div>
                                                    <div class="col-lg-4" style="text-align:right">
                                                        <button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="uploadHub()" *ngIf="fileName">
                                                            <span> 
                                                                <i class="flaticon-laptop" style="color:white"></i>
                                                                <span style="color:white"> {{"UPLOAD" | translate}}
                                                                            </span>
                                                            </span>
                                                        </button>
                                                        <div class="m-separator m-separator--dashed d-xl-none"></div> 
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-lg-12" style="padding-top:15px">
                                                    <div class="row">
                                                        <div class="col-lg-4"></div>
                                                        <div class="col-lg-4">
                                                            <ng4-files-drop (filesSelect)="filesSelect($event)" style="width: 100%;text-align: center;">
                                                                <div class="upload_div" style="cursor:pointer;height:200px!important">
                                                                    <ng4-files-click (filesSelect)="filesSelect($event)" style="width: 100%;cursor:pointer">
                                                                        <div style="padding: 40px;cursor:pointer" *ngIf="!fileName">
                                                                            <img src="./assets/app/media/img/files/cloud-upload.svg" alt="upload img" height="50px">
                                                                            <br/>
                                                                            <b><span>Drag file here</span>
                                                                                <span>OR</span>
                                                                                <span>Select a file from your computer</span>
                                                                            </b>
                                                                        </div>
                                                                        <div style="padding: 40px;cursor:pointer" *ngIf="fileName">
                                                                            <img alt="" height="50px" src="./assets/app/media/img/files/xls.png"><br/>
                                                                            <span class="m--font-boldest">{{fileName}}</span>
                                                                        </div>
                                                                    </ng4-files-click>
                                                                </div>
                                                            </ng4-files-drop>
                                                        </div>                                                        
                                                    </div> 
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row" *ngIf="msg" style="padding-top:10px;padding-bottom:10px">
                                            <div class="col-lg-12">
                                                <div id="device_warning" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-danger" role="alert">
                                                    <div class="m-alert__icon">
                                                        <i class="la la-warning"></i>
                                                    </div>
                                                    <div class="m-alert__text">
                                                        <strong>
                                                                    {{"ERROR" | translate}}!
                                                            </strong> {{msg}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row" *ngIf="successMsg" style="padding-top:10px">
                                        <div class="col-lg-12">
                                            <div class="alert alert-info text-left" role="alert"> {{successMsg | translate}}
                                            </div>
                                        </div>
                                    </div>
                            </div>
                   
                   
                
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
        
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon">
                                    <i class="flaticon-download"></i>
                                </span> -->
                            <h3 class="m-portlet__head-text" style="font-weight:400">
                                <span>{{"ASSIGN_HUBS" | translate}}</span>
                                <small style="text-transform:none">{{"LIST_OF_UNASSIGNED_HUBS" | translate}}.{{"CHOOSE_HUBS_AND_CLICK_ON_ASSIGN_HUBS_TO_ASSIGN_SELECTED_HUBS_TO_CLIENT_AND_CENTER" | translate}}.</small>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <!--begin: Search Form -->
                    <!-- <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                <div class="row align-items-center">
                                    <div class="col-xl-8 order-2 order-xl-1">
                                        <div class="form-group m-form__group row align-items-center">
                                            <div class="col-md-4">
                                                <div class="m-input-icon m-input-icon--left">
                                                    <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="m_form_search">
                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                    <!--end: Search Form -->
                    <!--begin: Datatable -->
                    <!-- <div class="m_datatable" id="local_data"></div> -->
                    <!-- <div class="row">
                            <div class="col-lg-6">
                                <h5>Choose devices</h5>
                            </div>
                        </div> -->

                    <!-- <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6 text-right" *ngIf="!showOrgCenter">
                                <button id="device_assign_open" type="button" class="btn btn-success m-btn--square" (click)="showOrgCenter =! showOrgCenter">
                                        Assign Devices
                                    </button>
                            </div> -->

                    <div class="row" style="padding-top:20px">
                        <div class="col-lg-5">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label" style="text-align : right">
                                     {{"CUSTOMER" | translate}}
                                                </label>
                                <div class="col-lg-8">
                                    <!-- <select id="device_assign_facility" name="organisationId" class="form-control m-input m-input--square pull-right" [(ngModel)]="selectedFacilityid" (change)="onOrgChange(selectedFacilityid)">
                                        <option value="" hidden>{{"SELECT_A_CUSTOMER" | translate}}</option>
                                        <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                                    </select> -->
                                    <app-fac-dropdown [value]="chosen" [id]="'hub-add-assign-customer'" [active]="false" [FacilityId]="device.organizationId" (selected)="facilityChange($event)" [noLabel]="'type'"></app-fac-dropdown>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-lg-5" *ngIf="!centerSelect">
                            <div class="form-group m-form__group row">
                                <label class="col-lg-4 col-form-label" style="text-align : right">
                                                   {{"CENTER" | translate}}
                                                </label>
                                <div class="col-lg-8">
                                    <select id="device_assign_center" name="centerId" class="form-control m-input m-input--square pull-right" [(ngModel)]="selectedCenterid" *ngIf="centers">
                                            <option value="" hidden>{{"SELECT_A_CENTER" | translate}}</option>            
                                                <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                                </select>

                                    <span class="m-form__help text-danger" *ngIf="!centers">
                                                     {{"THIS_CUSTOMER_DOES_NOT_HAVE_CENTERS_CONFIGURED" | translate}}
                                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5" *ngIf="centerSelect"></div>
                        <div class="col-lg-2">
                            <button id="device_assign_submit" type="button" class="btn btn-success m-btn--square blue" style="margin-left : 21px" (click)="assignDevice(selectedFacilityid,selectedCenterid)">
                                           {{"ASSIGN" | translate}}({{countNo}})
                                        </button>
                        </div>
                    </div>
                    <div class="row" *ngIf="successAssignMsg">
                        <div class="col-lg-12">
                            <div class="alert alert-warning text-left" role="alert"> {{successAssignMsg | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="successHubAssign">
                        <div class="col-lg-12">
                            <div class="alert alert-info text-left" role="alert"> {{successHubAssign | translate}}
                            </div>
                        </div>
                    </div>

                    <!-- <table id="device_list" class="table table-hover m-table m-table--head-bg-primary table-clickable-header" style="margin-top:15px; ">
                            <thead>
                                <tr>
                                    <th class="text-center ">
                                        <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                    <input id="device_selectall" type="checkbox" name="selected" [checked]="checkAll" (change)="oncheckAll()">
                                                    <span></span>
                                                </label>
                                    </th>
                                    <th (click)="sortType = 'serialNumber'; sort = !sort">Serial Number
                                        <span *ngIf="sortType == 'serialNumber' && !sort" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortType == 'serialNumber' && sort" class="fa fa-caret-up"></span>
                                    </th>
                                    <th (click)="sortType = 'deviceType'; sort = !sort">Type
                                        <span *ngIf="sortType == 'deviceType' && !sort" class="fa fa-caret-down"></span>
                                        <span *ngIf="sortType == 'deviceType' && sort" class="fa fa-caret-up"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let device of undevices | orderBy: sortType : sort" [ngClass]="{'row-selected': device.selected}" (click)="onDeviceRowclick(device)">
                                    <td class="text-center">
                                        <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                                    <input id="device_select_{{device.serialNumber}}" type="checkbox" name="selected" [checked]="device.selected" (change)="onDeviceCheck(device)">
                                                    
                                                    <span></span>
                                                </label>
                                    </td>
                                    <th scope="row ">{{ device.serialNumber }}</th>
                                    <td>{{ device.deviceType }}</td>
                                </tr>
                            </tbody>
                        </table> -->
                    <p-dataTable [value]="undevices" styleClass="borderless" sortMode="multiple" [responsive]="true">
                        <p-column>
                            <ng-template pTemplate="header">
                                <!-- <label class="m-checkbox m-checkbox--air m-checkbox--success">
                                                <input id="device_selectall_unassigned" type="checkbox" name="selected" [checked]="checkAll" (change)="oncheckAll()">
                                                <span></span>
                                            </label> -->
                                Select
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : center">
                                    <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                        <input id="device_select_{{device.serialNumber}}" type="checkbox" name="selected" [checked]="device.selected" (change)="onDeviceCheck(device)">
                                        <span></span>
                                    </label>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="serialNumber" [sortable]="true" styleClass="text-left" [header]="'SERIAL_NUMBER' | translate">
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left;">
                                    <b> <span>{{device.serialNumber}}</span></b>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="deviceType" styleClass="text-left" [header]="'HUB_TYPE' | translate">
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : left">
                                    <span>{{device.deviceType}}</span>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="text-right" [header]="'File Details' | translate">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b> <span>{{"FIRMWARE Version"|translate}}   </span><br/>                        
                                            <span>{{"Python Version" | translate}} </span>  <br/>                                         
                                            <span> {{"RDT lookup file" |translate}}  </span><br/>                                         
                                            <span> {{"Urine lookup file"|translate}} </span>                                           
                                                                                     
                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="text-left">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <b>
                                    <span *ngIf="device.firmwareVersionId">
                                            {{device.firmwareVersionId}}
                                        </span>
                                    <span *ngIf="!device.firmwareVersionId">{{'No Data' | translate}}</span><br/>
                                    <span *ngIf="device.urtTestScriptVersion">{{device.urtTestScriptVersion}}</span>
                                    <span *ngIf="!device.urtTestScriptVersion">{{'No Data' | translate}}</span><br/>
                                    <span *ngIf="device.rdtLookupFile">{{device.rdtLookupFile}}</span>
                                    <span *ngIf="!device.rdtLookupFile">{{'BTN_UPDATE_DEFAULT' | translate}}</span><br/>
                                    <span *ngIf="device.urineLookupFile">{{device.urineLookupFile}}</span>
                                    <span *ngIf="!device.urineLookupFile">{{'BTN_UPDATE_DEFAULT' | translate}}</span></b>
                                </ng-template>
                            </p-column>
                            <p-column styleClass="text-left" [header]="'Introspection_Data' | translate">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                            <b>  <span *ngIf="device.introspectionUpdateTime"> <i class="fa fa-calendar" style="color:#45aaf8"></i> {{device.introspectionUpdateTime | date : 'dd-MM-y'}}</span>
                                                <span *ngIf="device.introspectionUpdateTime">({{device.introspectionUpdateTime | date :'HH:mm' }})</span>
                                                    <span *ngIf="!device.introspectionUpdateTime"><i class="fa fa-calendar" style="color:#45aaf8"></i> NA</span>
                                            </b><br/>
                                        <b> <span>
                                                <span *ngIf="device.bloodPressureIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">
                                                </span>
                                                <span *ngIf="device.bloodPressureIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">
                                                </span>
                                                <span *ngIf="!device.bloodPressureIntro" class="m-badge m-badge--warning m-badge--dot">                                                  
                                               </span> {{'Blood_Pressure' | translate}}                                            
                                                </span>                                            
                                                <br/>
                                                <span>
                                                    <span *ngIf="device.glucometerIntro== 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                    </span>   
                                                    <span *ngIf="device.glucometerIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                    </span>    
                                                    <span *ngIf="!device.glucometerIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                    </span>  {{'BLOOD GLUCOSE' | translate}}                                                                                          
                                                </span>                                            
                                                <br/>                                  
                                                
                                                <span>
                                                    <span *ngIf="device.pulseOxIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                    </span>   
                                                    <span *ngIf="device.pulseOxIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                    </span>    
                                                    <span *ngIf="!device.pulseOxIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                    </span>  {{'PULSE_OXIMETER' | translate}}
                                                       
                                                </span><br/>
                                                    <span> <span *ngIf="device.hbIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                        </span> 
                                                        <span *ngIf="device.hbIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                        </span>    
                                                        <span *ngIf="!device.hbIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                        </span>  {{'HEMOGLOBIN' | translate}}
                                                       
                                                </span><br/>
                                                
                                                <span> <span *ngIf="device.urtCam1Intro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                    </span> 
                                                    <span *ngIf="device.urtCam1Intro == 'INACTIVE' " class="m-badge m-badge--danger m-badge--dot">                                                           
                                                    </span>    
                                                    <span *ngIf="!device.urtCam1Intro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                    </span> {{'Urtcamera' | translate}}
                                                   
                                                </span><br/>
                                                <span>
                                                    <span *ngIf="device.cholUaIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                        </span>   
                                                        <span *ngIf="device.cholUaIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                        </span>    
                                                        <span *ngIf="!device.cholUaIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                        </span> {{'Cholestrol/Uric acid' | translate}}                                                    
                                                    </span><br/>
                                                   <span *ngIf="device.deviceType == 'HC_PRO'|| device.deviceType == 'HC_XL'">
                                                        <span>
                                                            <span *ngIf="device.ecgIntro == 'ACTIVE'" class="m-badge m-badge--success m-badge--dot">                                                           
                                                                </span>    
                                                                <span *ngIf="device.ecgIntro == 'INACTIVE'" class="m-badge m-badge--danger m-badge--dot">                                                           
                                                                </span>    
                                                                <span *ngIf="!device.ecgIntro" class="m-badge m-badge--warning m-badge--dot">                                                           
                                                        </span> {{'ECG' | translate}}    
                                                    </span>                                              
                                                </span>
                                            </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <!-- <p-column styleClass="text-left" header="Introspection Time">
                                    <ng-template let-device="rowData" pTemplate = "body">
                                        <b>  <span *ngIf="device.introspectionUpdateTime"> <i class="fa fa-calendar"></i> {{device.introspectionUpdateTime | date : 'dd-MM-y'}}</span><br/>
                                            <span *ngIf="device.introspectionUpdateTime"> <i class="fa fa-clock-o"></i> {{device.introspectionUpdateTime | date :'h:mm:ss a'}}</span>
                                                <span *ngIf="!device.introspectionUpdateTime">NA</span>
                                        </b>
                                    </ng-template>
                            </p-column> -->
                        <p-column>
                            <ng-template pTemplate="header">
                                Activate/Deactivate
                            </ng-template>
                            <ng-template let-device="rowData" pTemplate="body">
                                <div style="text-align : center">
                                    <span class="m-switch m-switch--icon">
                                                <label>
                                                    <input [checked]="device.status" name="" type="checkbox" (change)="statusChange(device)">
                                                    <span></span>
                                    </label>
                                    </span>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button">
                                <ng-template pTemplate="header">
                                    {{"ACTION" | translate}}
                                </ng-template>
                                <ng-template let-device="rowData" pTemplate="body">
                                    <div style="text-align : center">
                                        <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'VIEW' | translate ">
                                                <i class="la la-eye" (click)="goToDeviceView(device.id)" style="color:#fff"></i>
                                        </a>                                     
                                    </div>
                                </ng-template>
                        </p-column>
                        <ng-template pTemplate="emptymessage">
                            <div style="text-align:center">{{"NO_RECORD_FOUND" | translate}}</div>
                        </ng-template>
                    </p-dataTable>
                    <p-paginator rows="10" [totalRecords]="unDevicesCount" [rowsPerPageOptions]="[10, 25, 50, 100]" (onPageChange)="paginateUnDevices($event)"></p-paginator>

                    <!--end: Datatable -->
                    <div class="m-form__help text-center" *ngIf="undevices && undevices.length === 0">
                        {{"ADD_HUBS_ON_LEFT_AND_ASSIGN_AFTERWARDS" | translate}}
                    </div>
                </div>


            </div>
        
    </div>
    <p-dialog modal="modal" [draggable]="false" [(visible)]="showpop" [width]="800" [closable]="true">
            <p-header>
               <span>Bulk status</span>              
            </p-header>
            <div class="m-portlet__body">
                    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#insert" role="tab">Inserted Hub 
                                        <span class="m-badge m-badge--success">
                                                {{insertedCount}}
                                        </span> 
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#skip" role="tab">Skipped Hub
                                        <span class="m-badge m-badge--warning">
                                                {{skippedCount}}
                                        </span>                                   
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#error" role="tab">Invalid Hub
                                            <span class="m-badge m-badge--danger">
                                                    {{errorCount}}
                                            </span>                                   
                                    </a>
                            </li>
                    </ul>
                    <div class="tab-content">
                        <div  class="tab-pane active" id="insert" role="tabpanel">
                                <p-dataTable [value]="resultArray" styleClass="borderless"  [rows]="10" [paginator]="true"  sortMode="multiple" [responsive]="true">
                                        <p-column  styleClass="text-left" header="S.No">
                                                <ng-template let-col let-device="rowData" let-ri="rowIndex" pTemplate="body">
                                                        <div style="text-align : left;">
                                                                <span>{{ri+1}}</span>
                                                        </div>
                                                </ng-template>
                                        </p-column>
                                        <p-column styleClass="text-left" header="Serial Number">
                                            <ng-template let-device="rowData" pTemplate="body">
                                                    <div style="text-align : left;">
                                                        <b> <span>{{device.serialNumber}}</span></b>
                                                    </div>
                                            </ng-template>
                                        </p-column>
                                        <p-column styleClass="text-left" header="Device Type">
                                            <ng-template let-device="rowData" pTemplate="body">
                                                    <div style="text-align : left;">
                                                        <b> <span>{{device.deviceType}}</span></b>
                                                    </div>
                                            </ng-template>
                                        </p-column>                          
                                        <p-column styleClass="text-left" header="Customer Code">
                                                <ng-template let-device="rowData" pTemplate="body">
                                                        <div style="text-align : left;">
                                                            <b> <span *ngIf="device.customerCode !='undefined'">{{device.customerCode}}</span>
                                                                <span *ngIf="device.customerCode=='undefined'">-</span>
                                                            </b>
                                                        </div>
                                                </ng-template>
                                        </p-column>
                                        <p-column styleClass="text-left" header="Center Code">
                                                <ng-template let-device="rowData" pTemplate="body">
                                                        <div style="text-align : left;">
                                                            <b> <span *ngIf="device.centerCode !='undefined'">{{device.centerCode}}</span>
                                                                <span *ngIf="device.centerCode=='undefined'">-</span>
                                                            </b>
                                                        </div>
                                                </ng-template>
                                        </p-column>  
                                        <p-column styleClass="text-left" header="Status">
                                                <ng-template let-device="rowData" pTemplate="body">
                                                        <div style="text-align : left;">
                                                            <b> <span *ngIf="device.centerCode !='undefined' && device.customerCode !='undefined'">
                                                                    <span class="m-badge m-badge--success m-badge--wide">
                                                                            {{"Assigned"|translate}}
                                                                        </span>
                                                            </span>
                                                                <span *ngIf="device.centerCode=='undefined' && device.customerCode=='undefined'">
                                                                        <span class="m-badge m-badge--warning m-badge--wide">
                                                                                {{"Unassigned"|translate}}
                                                                        </span>
                                                                </span>
                                                            </b>
                                                        </div>
                                                </ng-template>
                                        </p-column>                          
                                </p-dataTable>
                        </div>
                        <div  class="tab-pane" id="skip" role="tabpanel">
                            <p-dataTable [value]="skippedArray" styleClass="borderless"  [rows]="10" [paginator]="true" sortMode="multiple" [responsive]="true">
                                    <p-column  styleClass="text-left" header="S.No">
                                            <ng-template let-col let-device="rowData" let-ri="rowIndex" pTemplate="body">
                                                    <div style="text-align : left;">
                                                            <span>{{ri+1}}</span>
                                                    </div>
                                            </ng-template>
                                    </p-column>
                                    <p-column styleClass="text-left" header="Serial Number">
                                        <ng-template let-device="rowData" pTemplate="body">
                                                <div style="text-align : left;">
                                                    <b> <span>{{device.serialNumber}}</span></b>
                                                </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column styleClass="text-left" header="Device Type">
                                        <ng-template let-device="rowData" pTemplate="body">
                                                <div style="text-align : left;">
                                                    <b> <span>{{device.deviceType}}</span></b>
                                                </div>
                                        </ng-template>
                                    </p-column>                          
                                    <p-column styleClass="text-left" header="Customer Code">
                                            <ng-template let-device="rowData" pTemplate="body">
                                                    <div style="text-align : left;">
                                                        <b> <span *ngIf="device.customerCode !='undefined'">{{device.customerCode}}</span>
                                                            <span *ngIf="device.customerCode=='undefined'">-</span>
                                                        </b>
                                                    </div>
                                            </ng-template>
                                    </p-column>
                                    <p-column styleClass="text-left" header="Center Code">
                                            <ng-template let-device="rowData" pTemplate="body">
                                                    <div style="text-align : left;">
                                                        <b> <span *ngIf="device.centerCode !='undefined'">{{device.centerCode}}</span>
                                                            <span *ngIf="device.centerCode=='undefined'">-</span>
                                                        </b>
                                                    </div>
                                            </ng-template>
                                    </p-column>                                                             
                            </p-dataTable>
                        </div>
                        <div  class="tab-pane" id="error" role="tabpanel">
                            <p-dataTable [value]="errorArray" styleClass="borderless"  [rows]="10" [paginator]="true" sortMode="multiple" [responsive]="true">
                                    <p-column  styleClass="text-left" header="S.No">
                                            <ng-template let-col let-device="rowData" let-ri="rowIndex" pTemplate="body">
                                                    <div style="text-align : left;">
                                                            <span>{{ri+1}}</span>
                                                    </div>
                                            </ng-template>
                                    </p-column>
                                    <p-column styleClass="text-left" header="Serial Number">
                                        <ng-template let-device="rowData" pTemplate="body">
                                                <div style="text-align : left;">
                                                    <b> <span>{{device.serialNumber}}</span></b>
                                                </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column styleClass="text-left" header="Device Type">
                                        <ng-template let-device="rowData" pTemplate="body">
                                                <div style="text-align : left;">
                                                    <b> <span>{{device.deviceType}}</span></b>
                                                </div>
                                        </ng-template>
                                    </p-column>                          
                                    <p-column styleClass="text-left" header="Customer Code">
                                            <ng-template let-device="rowData" pTemplate="body">
                                                    <div style="text-align : left;">
                                                        <b> <span *ngIf="device.customerCode !='undefined'">{{device.customerCode}}</span>
                                                            <span *ngIf="device.customerCode=='undefined'">-</span>
                                                        </b>
                                                    </div>
                                            </ng-template>
                                    </p-column>
                                    <p-column styleClass="text-left" header="Center Code">
                                            <ng-template let-device="rowData" pTemplate="body">
                                                    <div style="text-align : left;">
                                                        <b> <span *ngIf="device.centerCode !='undefined'">{{device.centerCode}}</span>
                                                            <span *ngIf="device.centerCode=='undefined'">-</span>
                                                        </b>
                                                    </div>
                                            </ng-template>
                                    </p-column>                                                             
                            </p-dataTable>
                        </div>
                    </div>               
                        
            </div>
            <p-footer>
                <div class="text-right">
                    <button class="btn btn-info" (click)="closePop()">
                            {{'OK' | translate}}
                    </button>                   
                </div>
            </p-footer>
        </p-dialog>
    <p-dialog modal="modal" [draggable]="false" [(visible)]="showDialog" [width]="500" [closable]="false">
        <p-header>
            <i class="flaticon-laptop" style="font-size:1.7rem;"></i>
            <span *ngIf="statusDev == 'Deactivate'">{{'DEACTIVATE_HUB' | translate}}</span>
            <span *ngIf="statusDev == 'Activate'">{{'ACTIVATE_HUB' | translate}}</span>
        </p-header>
        <div class="m-portlet__body">
            <div class="text-center">
                <i class="fa fa-check-square-o" *ngIf="statusDev == 'Activate'" style="font-size:3.3rem; color:#34bfa3 !important"></i>

                <i class="flaticon-danger" *ngIf="statusDev == 'Deactivate'" style="font-size:3.3rem;color:#ffb822 !important"></i>
                <br/><br/>
                <h4 *ngIf="statusDev == 'Deactivate'">{{'ARE YOU SURE TO DEACTIVATE' | translate}}</h4>
                <h4 *ngIf="statusDev == 'Activate'">{{'ARE YOU SURE TO ACTIVATE' | translate}}</h4>
                <b> {{device.serialNumber}}({{deviceType}}) </b><br/>
                <small *ngIf="statusDev == 'Deactivate'">
                        {{'Deactivate_alert' |translate}}
                </small>
                <small *ngIf="statusDev == 'Activate'">
                        {{'Activate_alert' |translate}}
                </small>
            </div>
            <br/><br/>
        </div>
        <p-footer>
            <div class="text-center">
                <button class="btn btn-secondary" (click)="close()">
                                                    {{'CLOSE' | translate}}
                                            </button>
                <button class="btn btn-primary" type="button" (click)="conformStatus()">
                        {{'CONFIRM' | translate}}
                                       </button>
            </div>
        </p-footer>
    </p-dialog>
</div>