<div class="m-content">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="m-portlet m-portlet--full-height">
                    <div class="m-portlet__body">
                        <div class="m-card-profile" *ngIf="user">
                            <div class="m-card-profile__title m--hide">
                                Your Profile
                            </div>
                            <div class="m-card-profile__pic">
                                <div class="m-card-profile__pic-wrapper">
                                    <img alt="" *ngIf="user.profilePictureUrl" style="border-radius:100%;" height="80px" width="80px" class="m-widget3__img" [src]="user.profilePictureUrl">
                                    <img alt="" *ngIf="!user.profilePictureUrl" class="m-widget3__img" height="80px" width="80px" src="./assets/app/media/img/users/user-avatar.png">
                                </div>
                            </div>
                            <div class="m-card-profile__details" style="word-break: break-all">
                                <span class="m-card-profile__name">
                                                {{user.firstName}} {{user.lastName}}
                                            </span>
                                <!-- <a class="m-card-profile__email m-link" href="" ng-reflect-href="">
                                                {{user.email}} 
                                        </a><br/> -->
                                <span class="m-card-profile__email">
                                            <b>    {{user.dial_code}} {{user.phone}}</b>
                                </span><br/>
                                <b> <span>
                                    {{user.mrn}}
                                </span></b><br/>
                                <span class="label label-lg label-success arrowed-in arrowed-in-right" style="margin-top:10px;background-color: #34bfa3;">Patient</span>
                            </div>
                        </div>
                        <div class="m-portlet__body-separator"></div>
                        <div class="m-widget1 m-widget1--paddingless" *ngIf="user" style="margin-top:10px">
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">
                                           {{'Age & Gender' | translate}}
                                        </h3>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-brand" style="font-size:1.0rem" *ngIf="user.age">
                                              {{user.age}} & {{user.gender}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">
                                            {{'Date of Birth' | translate}}
                                        </h3>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-success" style="font-size:1.0rem">
                                                {{user.dateOfBirth | date : 'dd-MM-y'}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">
                                            {{'Diagnostic_Done' | translate}}
                                        </h3>
                                    </div>
                                    <div class="col m--align-right">
                                        <span class="m-widget1__number m--font-danger" style="font-size:1.0rem">
                                                    {{testCount}}
                                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8" style="padding:0px">
                <div class="m-portlet" style="min-height:735px;">                       
                    <div class="m-portlet__head" style="padding-left:0px">
                            <span class="side-line-header"></span>
                        <div class="m-portlet__head-caption" style="padding-left:20px">
                            <div class="pull-left">
                                <h5 class="m-portlet__head-text" style="font-weight:400">
                                    {{'Visit Details' | translate}}
                                </h5>
                            </div>                          
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                        <a id="facility_detail_list" routerLink="/patients/list" class="m-link m-link--state m-link--focus m--font-boldest" *ngIf="currentRole != 'Facility'">
                                            <span>
                                                <i class="fa fa-user"></i>
                                                <span>
                                                    {{"Patient List" | translate}}
                                                </span>
                                            </span>
                                        </a>                                      
                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body" >
                        <div class="col-sm-12"  style="padding-left:0px;padding-right:0px;padding-top: 20px">                          
                            <div *ngFor="let visit of visits let i= index">
                                <div class="m-portlet m-portlet--head-sm m-portlet--collapse" data-portlet="true" id="m_portlet_tools_7">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                                <div class="col-lg-12" style="font-size:1.0rem;font-weight:400;">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <i class="la la-calendar-check-o" style="color:blueviolet"></i> {{'Visit on' | translate}} : {{visit.createTime | date : 'dd-MM-y'}}
                                                        </div>                                                        
                                                        <div class="col-lg-4">
                                                            <i class="fa fa-stethoscope" style="color:#36a3f7"></i> {{'Diagnostic_Done' | translate}}:
                                                            <span *ngIf="visit.tests">{{visit.tests.length}}</span>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <i class="fa fa-hospital-o m--font-danger" ></i> {{'CENTER' | translate}}:
                                                            <span>{{visit.centerName || 'NA'}}</span>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="m-portlet__head-tools">
                                            <ul class="m-portlet__nav">
                                                <li class="m-portlet__nav-item">
                                                    <a class="m-portlet__nav-link m-portlet__nav-link--icon" id="exicon{{i}}" (click)="expand(i)" data-portlet-tool="fullscreen" href="" title="" data-original-title="Fullscreen" ng-reflect-href="">
                                                        <i class="la la-chevron-down"></i>
                                                    </a>
                                                    <a class="m-portlet__nav-link m-portlet__nav-link--icon" style="display:none" id="compicon{{i}}" (click)="compress(i)" data-portlet-tool="fullscreen" href="" title="" data-original-title="Fullscreen" ng-reflect-href="">
                                                        <i class="la la-chevron-up"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
    
                                    <div class="m-portlet__body" id="visit{{i}}" style="display: none;">
                                        <div class="col-sm-12" style="padding:0px;padding-top: 10px">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-6 col-sm-12 col-xs-12" *ngFor="let test of visit.tests">
                                                    <div class="m-alert m-alert--icon m-alert--air alert alert-dismissible fade show" style="cursor:auto" id="{{test.name}}">
                                                        <div class="m-alert__icon">
                                                            <i class="la la-warning" *ngIf="!test.testIconUrl"></i>
                                                            <img *ngIf="test.testIconUrl" [src]="test.testIconUrl" alt="" style="height:auto" width="40px">
                                                        </div>
                                                        <div class="m-alert__text" *ngIf="test">    
                                                            <!-- <small>{{test.name}}<br/>{{test.diaResults}}</small> -->
                                                            <span>{{test.name | translate }}</span><br/>
                                                            <span innerHTML="{{test.diaResults}}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-sm-12" *ngIf="testCount==0" style="padding-top: 20px">
                            <div class="m-demo">
                                <div class="m-demo__preview">
                                    <b>  <i class="flaticon-warning-2"></i> No visit</b>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
