<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
						<i class="flaticon-list"></i>
					</span> -->
                    <h3 class="m-portlet__head-text" style="font-weight:400">
                        {{"PATIENTS" | translate}}
                        <small class="no-cap">{{"LIST_OF_PATIENTS" | translate}}. {{"SEARCH" | translate}}, {{"SORT" | translate}}</small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="userType && userType == 'Admin'">
                        <!-- <div class="input-group m-input-group" *ngIf="facilitiesLabel">
                            <span class="input-group-addon" id="basic-addon1">
									 {{"CUSTOMER" | translate}}
								</span>
                                <p-dropdown [options]="facilitiesLabel" [style]="{'border-radius': '0px'}" [(ngModel)]="selectedFacility" [filter]="true" filterBy="label,value.name" (onChange)="onFacilityChange()"></p-dropdown>
                        </div> -->
                        <!-- <div class="input-group m-input-group" *ngIf="facilities">
                            <span class="input-group-addon" id="basic-addon1">
									 {{"CUSTOMER" | translate}}
								</span>
                            <select aria-describedby="basic-addon1" name="organisationId" id="select_facility" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
													  <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
												  </select>
                        </div> -->
                        <app-fac-dropdown [value]="chosen" [id]="'patient-filter-customer'" (selected)="facilityChange($event)"></app-fac-dropdown>
                    </li>
                    <li class="m-portlet__nav-item">
                        <!-- <div class="input-group m-input-group" *ngIf="centersLabel">
                            <span class="input-group-addon" id="basic-addon2">
								 {{"CENTER" | translate}}
								</span>
                                <p-dropdown [options]="centersLabel" [style]="{'border-radius': '0px','width':'250px'}" [(ngModel)]="selectedCenter" [filter]="true" filterBy="label,value.name"></p-dropdown>
                        </div> -->
                        <div class="input-group m-input-group" *ngIf="centers">
                                <span class="input-group-addon" id="basic-addon2">
                                        {{"CENTER" | translate}}
                                    </span>
                                <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" #centerId="ngModel">
                                                      <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                </select>
                        </div>
                    </li>
                    <li class="m-portlet__nav-item" *ngIf="!hideFilter">
                        <a class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--pill yellow" style="color: #fff;" (click)="onFilterClickchanged()">
                            <span>
									<span>
										 {{"FILTER" | translate}}
									</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="col-xl-12" style="padding-top:20px">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group m-form__group row">
                                    <label class="col-form-label" style="text-align:right">{{"SEARCH_BY" | translate}}  </label>                                       
                                              
                                    <div class="col-6">
                                        <select [(ngModel)]="selectedSearchBy" (change)="onChangeSeachBy(selectedSearchBy)" style="padding-left: 1rem" class="form-control m-input m-input--square">
                                            <option *ngFor="let c of SearchBylist" [ngValue]="c">{{c.name | translate}}</option>
                                        </select>
                                    </div>
                            </div>
                        </div>
                        <div class="col-xl-3" *ngIf="showType">
                            <div class="m-input-icon m-input-icon--left form-group" style="margin-bottom: 0px;">
                                    <input type="text" class="form-control m-input m-input--solid m-input m-input--pill" [(ngModel)]="searchKey" [placeholder]="'SEARCH' | translate" id="m_form_search" (keyup)="pageOne('MRN');onKeyupPatientSearch($event)">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                        <span style="border:none;background: transparent" (click)="searchKey='';pageNo=1;patientsListRefresh()">
                                        <i style='color:red' class="la la-remove"></i>
                                    </span>
                                    </span>
                            </div>
                            <span class="hintText">({{"MIN_3_CHARACTER" | translate}})</span>
                        </div>
                        <div class="col-xl-3" *ngIf="showUser">
                        <app-fac-dropdown [typeOfSearch]="'user'" (selectedUser)="pageOne('User');userChange($event)" [clearText]="!isFilter" [selectedFacilityId]="selectedFacility.id" [selectedCenterId]="selectedCenter.id" [id]="'user-search-patient'"></app-fac-dropdown>
                        </div>
                        <div class="col-xl-3" *ngIf="!showUser && !showType"></div>
                        <div class="col-xl-2"></div>
                        <div class="col-xl-3">
                                <a class="btn btn-warning m-btn m-btn--custom m-btn--air m-btn--pill m--pull-right" disabled="idList.length==0?false:true"  (click)="downloadPDF()">
                                    <span>
                                        {{"GENERATE_CARDS" | translate}} ({{idList.length}})
                                    </span>
                                </a>
                        </div>
                    </div>
            </div>  
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-20" *ngIf="errMsgLimitCard">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <span class="text-danger">{{"WARNING: PLEASE_SELECT_PATIENT(S)_TO_GENERATE_HEALTH_CARDS" | translate}}.</span>
                    </div>
                </div>            
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                <p-dataTable [value]="patients" styleClass="borderless" [responsive]="true" >
                    <p-column styleClass="text-center" [header]="'S.No' | translate" [style]="{'width': '5%'}">
                        <ng-template let-patient="rowData" let-index="rowIndex" pTemplate="body">
                            <div style="text-align : center;cursor:pointer">
                                <b>
							<span>{{((pageNo -1) * limit) + (index+1)}}</span>
                        </b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column field="mrn" [sortable]="true" styleClass="text-left" [header]="'MRN' | translate">
                        <ng-template let-patient="rowData" pTemplate="body">
                            <div style="text-align : left;cursor:pointer">
                                <b>
								<span>{{patient.mrn}}</span>
							</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="text-left" [header]="'NAME' | translate">
                        <ng-template let-patient="rowData" pTemplate="body">
                            <div style="text-align : left;cursor:pointer">
                                <b>
                                    <div style="word-break: break-all">{{patient.firstName}} {{patient.lastName}}</div>
							</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column field="age" styleClass="text-left" [header]="'AGE' | translate">
                        <ng-template let-patient="rowData" pTemplate="body">
                            <div style="text-align : left;cursor:pointer">
                                <b>
								<span>{{patient.age}}</span>
							</b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column field="printHistory" styleClass="text-left" [header]="'CARD_GENERATED' | translate">
                        <ng-template let-patient="rowData" pTemplate="body">
                            <div style="text-align : left;cursor:pointer">
                                <b>
                                    <div *ngIf="patient.printHistory">
                                    <span> <i class="fa fa-calendar"></i> {{patient.printHistory | date : 'dd-MM-y' }}</span><br/>
                                    <span> <i class="fa fa-clock-o"></i> {{patient.printHistory | date : 'HH:mm' }}</span>
                                </div>
                                <div *ngIf="!patient.printHistory">
                                    N/A
                                </div>
                            </b>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column [header]="'Print ID' | translate" styleClass="text-left">
                        <ng-template let-patient="rowData" pTemplate="body">
                                <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                    <input id="patient_select_{{patient.id}}" type="checkbox" name="selected" [(ngModel)]="patient.selected" (change)="onCheck($event, patient)">
                                    {{(patient.printHistory !== null ? "REGENERATE" :  "GENERATE") | translate}}
                                    <span></span>
                                </label>
                        </ng-template>
                    </p-column>
                    <p-column [header]="'ACTION' | translate" styleClass="text-left" [style]="{'width': '7%'}">
                        <ng-template let-patient="rowData" pTemplate="body">
                            <button class="btn btn-info m-btn m-btn--icon m-btn--icon-only" (click)="showPatientsVisitsLog(patient.id)" type="button" title="Visit Log">
                                <i class="la la-eye"></i>
                            </button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <!-- <div class="pull-right" style="margin:12px">
                    {{"Total_Records" |translate}}: <b>{{patientCount}} </b>
                </div> -->
                <div style="position: relative;" *ngIf="visiblepagination">
                    <p-paginator [rows]="row" [totalRecords]="patientCount" (onPageChange)="paginate($event)"></p-paginator>
                    <span style="position: absolute; top:3px; right:5px; margin: 5px;">
                            <p-dropdown [options]="ranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;                        
                          <span> {{"Total_Records"|translate}}: <b>{{patientCount}} </b> </span> 
                    </span>
                </div>
            </div>

            <p-dialog [header]="'HEALTH_CARDS' | translate" [(visible)]="showPdfModel" width="900" modal="true" [responsive]="true">

                <div class="col-md-12" *ngIf="objectURL" style="position:relative;height:600px;">
                    <pdf-viewer [src]="objectURL" [show-all]="true" [original-size]="true" [fit-to-page]="true" [render-text]="true" [stick-to-page]="true" style="height: 600px"></pdf-viewer>

                </div>
                <p-footer>
                    <button type="button" pButton icon="fa-download" (click)="downloadCopy()" [label]="'DOWNLOAD' | translate"></button>
                </p-footer>
            </p-dialog>

        </div>
    </div>
</div>