/* You can add global styles to this file, and also import other style files */
#m_header_nav{
    background: rgba(112,191,67,1);
    background: -moz-linear-gradient(left, rgba(112,191,67,1) 0%, rgba(0,170,204,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(112,191,67,1)), color-stop(100%, rgba(0,170,204,1)));
    background: -webkit-linear-gradient(left, rgba(112,191,67,1) 0%, rgba(0,170,204,1) 100%);
    background: -o-linear-gradient(left, rgba(112,191,67,1) 0%, rgba(0,170,204,1) 100%);
    background: -ms-linear-gradient(left, rgba(112,191,67,1) 0%, rgba(0,170,204,1) 100%);
    background: linear-gradient(to right, rgba(112,191,67,1) 0%, rgba(0,170,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70bf43', endColorstr='#00aacc', GradientType=1 );
}

.table-clickable-header th{
    cursor: pointer;
}

.table{
  font-size:13px;
}
html, body {
  font-family: Roboto,Segoe UI, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
body .ui-widget, body .ui-widget .ui-widget, body .ui-widget input, body .ui-widget select, body .ui-widget textarea, body .ui-widget button{
  font-family: Roboto,Segoe UI, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 13px !important;
}

.m-aside-left.m-aside-left--skin-light{
    background-color: white;
}

.m-aside-menu.m-aside-menu--skin-light {
    background: white;
}

.m-brand.m-brand--skin-light {
    background: #fff;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon{
    color: #5e6383;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text{
    color: #5e6383;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__ver-arrow, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__ver-arrow{
    color: #a7a7a7;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__section .m-menu__section-text{
    color:#a7a7a7;
}

.m-aside-menu.m-aside-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text{
    color:#a7a7a7;
}

.m-aside-menu.m-aside-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span, .m-aside-menu.m-aside-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span{
    background-color:#a7a7a7;
}

.m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link > .m-menu__link-icon{
    color:#a7a7a7;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__section .m-menu__section-icon{
    color:#e8e8e8; 
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon{
    color:#525252;
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text small{
    padding-left: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on 
 */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.m-menu__nav.m-menu__nav--dropdown-submenu-arrow{
    position: fixed;
    width: 300px;
}
.m-aside-menu .m-menu__nav {
    list-style: none;
    padding: 0px 20px 20px 20px;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link {
    background-color: #f8f8fb;
    border-radius: 20px;
    background: #70bf43;
    background: -webkit-gradient(left top, right top, color-stop(0%, #70bf43), color-stop(100%, #00aacc));
    background: linear-gradient(to right, #70bf43 0%, #00aacc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70bf43', endColorstr='#00aacc', GradientType=1 );
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #fff;
}
.row-selected{
    background-color: rgba(4, 4, 4, 0.17);
}

.m-portlet .m-portlet__head .m-portlet__head-text .m-portlet__head-desc, .m-portlet .m-portlet__head .m-portlet__head-text small{
    color: #545454;
}

.postion-top{
  top: 16px;
}

.user-role-sticky{
  padding: 2px 6px;
  background: #fff;
  position: relative;
  z-index: 110;
  left: 20px !important;
  top: 70px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
  border-radius: 0px 0px 8px 8px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  -moz-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  -moz-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}

.user-sticky{
  padding: 2px 6px;
  background: #fff;
  position: relative;
  z-index: 110;
  left: 220px !important; 
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
  border-radius: 0px 0px 8px 8px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  -moz-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  -moz-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);


}

.m-portlet--count-card{
    cursor: pointer;    
    background: #fff;    
}
.m-portlet--count-card:hover{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(52, 191, 163, 0.26);
    -moz-box-shadow: 0px 5px 10px 2px rgba(52, 191, 163, 0.26);
    box-shadow: 0px 5px 10px 2px rgba(52, 191, 163, 0.26);
}

.m-portlet--count-card .m-widget7 .m-widget7__desc{
    margin-top: 1em;
}
.m-portlet--count-card .m-widget7 .m-widget7__user{
    margin-bottom: 0;
}
.m-portlet--count-card .m-widget1__number{
    font-size: 2rem;
}
.m-portlet--count-card .m-menu__link-icon{
    font-size: 2em;
}
.m-widget7__more{
    text-align: center;
    margin-top: 2px;
}

.m-widget12__chart.m-portlet__chart--title{
    text-align: center;
    font-size: 17px;
}

#dashboard .m-portlet .m-portlet__head{
    height: 4.1rem;
}
#dashboard .m-widget1{
    padding: 1rem;
}
#dashboard .m-widget1 .m-widget1__item:first-child{
    padding-top: 0.4rem;
}
#dashboard .m-widget1 .m-widget1__item{
    padding: 0.4rem 0;
}

#dashboard .m-portlet.m-portlet--full-height{
    height: calc(100% - 1rem);
}
#dashboard .m-portlet {
    margin-bottom: 1em;
}
#dashboard .m-portlet .m-portlet__body{
    padding: 1rem 1rem;
}
.m-portlet--count-card .m-widget7 .m-widget7__desc{
    margin-top: 0.4em;
}
.input-group-addon{
    border-radius: 0;
}
.m-subheader .m-subheader__daterange{
    border-radius: 0;
    padding: 4px
}
.m-subheader .m-subheader__daterange > .btn{
    border-radius: 0;
}
@media (min-width: 993px){
.m-aside-left--minimize .m-aside-menu .m-menu__nav {
    width: 70px;
    z-index: 999999;
}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__hor-arrow{
    color: #e8e8e8;
}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text{
    color: #e8e8e8;
}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon{
    color: #e8e8e8;
}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-icon, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-icon{
    color: #f5f5f5;
}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-text, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-text{
    color: #f5f5f5;
}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link > .m-menu__hor-arrow, .m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link > .m-menu__hor-arrow{
    color: #f5f5f5;
}

}
.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.ui-datatable.borderless thead th {
    background-color: lightgray;
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-even {
    background-color: #FBFAFE;
}

.ui-datatable .ui-datatable-thead>tr>th {
    background-color: #F5F0FB !important;
}

body .ui-datatable thead th.ui-state-active {
    background-color: #F5F0FB !important;
    border-color: #F5F0FB !important;
    color: black;
}

body .ui-datatable thead th.ui-state-active :hover {
    background-color: #F5F0FB !important;
    border-color: #F5F0FB !important;
    color: black;
}
.flag_cls{
    background: url('./assets/app/media/img/flags.png') no-repeat;
    position: relative;
    top: 2px;
    height: 20px;
    width: 20px;
    display: inline-block;
}
.flag_btn{
  background: #fff;
  border: 1px solid #eee;
  border-right: 0px;
  pointer-events: none;
}

.flag_ac {
    height: 10px;
    background-position: 0px 0px; }
  .flag_ad {
    height: 14px;
    background-position: -22px 0px; }
  .flag_ae {
    height: 10px;
    background-position: -44px 0px; }
  .flag_af {
    height: 14px;
    background-position: -66px 0px; }
  .flag_ag {
    height: 14px;
    background-position: -88px 0px; }
  .flag_ai {
    height: 10px;
    background-position: -110px 0px; }
  .flag_al {
    height: 15px;
    background-position: -132px 0px; }
  .flag_am {
    height: 10px;
    background-position: -154px 0px; }
  .flag_ao {
    height: 14px;
    background-position: -176px 0px; }
  .flag_aq {
    height: 14px;
    background-position: -198px 0px; }
  .flag_ar {
    height: 13px;
    background-position: -220px 0px; }
  .flag_as {
    height: 10px;
    background-position: -242px 0px; }
  .flag_at {
    height: 14px;
    background-position: -264px 0px; }
  .flag_au {
    height: 10px;
    background-position: -286px 0px; }
  .flag_aw {
    height: 14px;
    background-position: -308px 0px; }
  .flag_ax {
    height: 13px;
    background-position: -330px 0px; }
  .flag_az {
    height: 10px;
    background-position: -352px 0px; }
  .flag_ba {
    height: 10px;
    background-position: -374px 0px; }
  .flag_bb {
    height: 14px;
    background-position: -396px 0px; }
  .flag_bd {
    height: 12px;
    background-position: -418px 0px; }
  .flag_be {
    height: 15px;
    background-position: -440px 0px; }
  .flag_bf {
    height: 14px;
    background-position: -460px 0px; }
  .flag_bg {
    height: 12px;
    background-position: -482px 0px; }
  .flag_bh {
    height: 12px;
    background-position: -504px 0px; }
  .flag_bi {
    height: 12px;
    background-position: -526px 0px; }
  .flag_bj {
    height: 14px;
    background-position: -548px 0px; }
  .flag_bl {
    height: 14px;
    background-position: -570px 0px; }
  .flag_bm {
    height: 10px;
    background-position: -592px 0px; }
  .flag_bn {
    height: 10px;
    background-position: -614px 0px; }
  .flag_bo {
    height: 14px;
    background-position: -636px 0px; }
  .flag_bq {
    height: 14px;
    background-position: -658px 0px; }
  .flag_br {
    height: 14px;
    background-position: -680px 0px; }
  .flag_bs {
    height: 10px;
    background-position: -702px 0px; }
  .flag_bt {
    height: 14px;
    background-position: -724px 0px; }
  .flag_bv {
    height: 15px;
    background-position: -746px 0px; }
  .flag_bw {
    height: 14px;
    background-position: -768px 0px; }
  .flag_by {
    height: 10px;
    background-position: -790px 0px; }
  .flag_bz {
    height: 14px;
    background-position: -812px 0px; }
  .flag_ca {
    height: 10px;
    background-position: -834px 0px; }
  .flag_cc {
    height: 10px;
    background-position: -856px 0px; }
  .flag_cd {
    height: 15px;
    background-position: -878px 0px; }
  .flag_cf {
    height: 14px;
    background-position: -900px 0px; }
  .flag_cg {
    height: 14px;
    background-position: -922px 0px; }
  .flag_ch {
    height: 15px;
    background-position: -944px 0px; }
  .flag_ci {
    height: 14px;
    background-position: -961px 0px; }
  .flag_ck {
    height: 10px;
    background-position: -983px 0px; }
  .flag_cl {
    height: 14px;
    background-position: -1005px 0px; }
  .flag_cm {
    height: 14px;
    background-position: -1027px 0px; }
  .flag_cn {
    height: 14px;
    background-position: -1049px 0px; }
  .flag_co {
    height: 14px;
    background-position: -1071px 0px; }
  .flag_cp {
    height: 14px;
    background-position: -1093px 0px; }
  .flag_cr {
    height: 12px;
    background-position: -1115px 0px; }
  .flag_cu {
    height: 10px;
    background-position: -1137px 0px; }
  .flag_cv {
    height: 12px;
    background-position: -1159px 0px; }
  .flag_cw {
    height: 14px;
    background-position: -1181px 0px; }
  .flag_cx {
    height: 10px;
    background-position: -1203px 0px; }
  .flag_cy {
    height: 13px;
    background-position: -1225px 0px; }
  .flag_cz {
    height: 14px;
    background-position: -1247px 0px; }
  .flag_de {
    height: 12px;
    background-position: -1269px 0px; }
  .flag_dg {
    height: 10px;
    background-position: -1291px 0px; }
  .flag_dj {
    height: 14px;
    background-position: -1313px 0px; }
  .flag_dk {
    height: 15px;
    background-position: -1335px 0px; }
  .flag_dm {
    height: 10px;
    background-position: -1357px 0px; }
  .flag_do {
    height: 13px;
    background-position: -1379px 0px; }
  .flag_dz {
    height: 14px;
    background-position: -1401px 0px; }
  .flag_ea {
    height: 14px;
    background-position: -1423px 0px; }
  .flag_ec {
    height: 14px;
    background-position: -1445px 0px; }
  .flag_ee {
    height: 13px;
    background-position: -1467px 0px; }
  .flag_eg {
    height: 14px;
    background-position: -1489px 0px; }
  .flag_eh {
    height: 10px;
    background-position: -1511px 0px; }
  .flag_er {
    height: 10px;
    background-position: -1533px 0px; }
  .flag_es {
    height: 14px;
    background-position: -1555px 0px; }
  .flag_et {
    height: 10px;
    background-position: -1577px 0px; }
  .flag_eu {
    height: 14px;
    background-position: -1599px 0px; }
  .flag_fi {
    height: 12px;
    background-position: -1621px 0px; }
  .flag_fj {
    height: 10px;
    background-position: -1643px 0px; }
  .flag_fk {
    height: 10px;
    background-position: -1665px 0px; }
  .flag_fm {
    height: 11px;
    background-position: -1687px 0px; }
  .flag_fo {
    height: 15px;
    background-position: -1709px 0px; }
  .flag_fr {
    height: 14px;
    background-position: -1731px 0px; }
  .flag_ga {
    height: 15px;
    background-position: -1753px 0px; }
  .flag_gb {
    height: 15px;
    background-position: -1775px 2px; }
  .flag_gd {
    height: 12px;
    background-position: -1797px 0px; }
  .flag_ge {
    height: 14px;
    background-position: -1819px 0px; }
  .flag_gf {
    height: 14px;
    background-position: -1841px 0px; }
  .flag_gg {
    height: 14px;
    background-position: -1863px 0px; }
  .flag_gh {
    height: 14px;
    background-position: -1885px 0px; }
  .flag_gi {
    height: 10px;
    background-position: -1907px 0px; }
  .flag_gl {
    height: 14px;
    background-position: -1929px 0px; }
  .flag_gm {
    height: 14px;
    background-position: -1951px 0px; }
  .flag_gn {
    height: 14px;
    background-position: -1973px 0px; }
  .flag_gp {
    height: 14px;
    background-position: -1995px 0px; }
  .flag_gq {
    height: 14px;
    background-position: -2017px 0px; }
  .flag_gr {
    height: 14px;
    background-position: -2039px 0px; }
  .flag_gs {
    height: 10px;
    background-position: -2061px 0px; }
  .flag_gt {
    height: 13px;
    background-position: -2083px 0px; }
  .flag_gu {
    height: 11px;
    background-position: -2105px 0px; }
  .flag_gw {
    height: 10px;
    background-position: -2127px 0px; }
  .flag_gy {
    height: 12px;
    background-position: -2149px 0px; }
  .flag_hk {
    height: 14px;
    background-position: -2171px 0px; }
  .flag_hm {
    height: 10px;
    background-position: -2193px 0px; }
  .flag_hn {
    height: 10px;
    background-position: -2215px 0px; }
  .flag_hr {
    height: 10px;
    background-position: -2237px 0px; }
  .flag_ht {
    height: 12px;
    background-position: -2259px 0px; }
  .flag_hu {
    height: 10px;
    background-position: -2281px 0px; }
  .flag_ic {
    height: 14px;
    background-position: -2303px 0px; }
  .flag_id {
    height: 14px;
    background-position: -2325px 0px; }
  .flag_ie {
    height: 10px;
    background-position: -2347px 0px; }
  .flag_il {
    height: 15px;
    background-position: -2369px 0px; }
  .flag_im {
    height: 10px;
    background-position: -2391px 0px; }
  .flag_in {
    height: 14px;
    background-position: -2413px 0px; }
  .flag_io {
    height: 10px;
    background-position: -2435px 0px; }
  .flag_iq {
    height: 14px;
    background-position: -2457px 0px; }
  .flag_ir {
    height: 12px;
    background-position: -2479px 0px; }
  .flag_is {
    height: 15px;
    background-position: -2501px 0px; }
  .flag_it {
    height: 14px;
    background-position: -2523px 0px; }
  .flag_je {
    height: 12px;
    background-position: -2545px 0px; }
  .flag_jm {
    height: 10px;
    background-position: -2567px 0px; }
  .flag_jo {
    height: 10px;
    background-position: -2589px 0px; }
  .flag_jp {
    height: 14px;
    background-position: -2611px 0px; }
  .flag_ke {
    height: 14px;
    background-position: -2633px 0px; }
  .flag_kg {
    height: 12px;
    background-position: -2655px 0px; }
  .flag_kh {
    height: 13px;
    background-position: -2677px 0px; }
  .flag_ki {
    height: 10px;
    background-position: 0px 0px;
    }
  .flag_km {
    height: 12px;
    background-position: -2721px 0px; }
  .flag_kn {
    height: 14px;
    background-position: -2743px 0px; }
  .flag_kp {
    height: 10px;
    background-position: -2765px 0px; }
  .flag_kr {
    height: 14px;
    background-position: -2787px 0px; }
  .flag_kw {
    height: 10px;
    background-position: -2809px 0px; }
  .flag_ky {
    height: 10px;
    background-position: -2831px 0px; }
  .flag_kz {
    height: 10px;
    background-position: -2853px 0px; }
  .flag_la {
    height: 14px;
    background-position: -2875px 0px; }
  .flag_lb {
    height: 14px;
    background-position: -2897px 0px; }
  .flag_lc {
    height: 10px;
    background-position: -2919px 0px; }
  .flag_li {
    height: 12px;
    background-position: -2941px 0px; }
  .flag_lk {
    height: 10px;
    background-position: -2963px 0px; }
  .flag_lr {
    height: 11px;
    background-position: -2985px 0px; }
  .flag_ls {
    height: 14px;
    background-position: -3007px 0px; }
  .flag_lt {
    height: 12px;
    background-position: -3029px 0px; }
  .flag_lu {
    height: 12px;
    background-position: -3051px 0px; }
  .flag_lv {
    height: 10px;
    background-position: -3073px 0px; }
  .flag_ly {
    height: 10px;
    background-position: -3095px 0px; }
  .flag_ma {
    height: 14px;
    background-position: -3117px 0px; }
  .flag_mc {
    height: 15px;
    background-position: -3139px 0px; }
  .flag_md {
    height: 10px;
    background-position: -3160px 0px; }
  .flag_me {
    height: 10px;
    background-position: -3182px 0px; }
  .flag_mf {
    height: 14px;
    background-position: -3204px 0px; }
  .flag_mg {
    height: 14px;
    background-position: -3226px 0px; }
  .flag_mh {
    height: 11px;
    background-position: -3248px 0px; }
  .flag_mk {
    height: 10px;
    background-position: -3270px 0px; }
  .flag_ml {
    height: 14px;
    background-position: -3292px 0px; }
  .flag_mm {
    height: 14px;
    background-position: -3314px 0px; }
  .flag_mn {
    height: 10px;
    background-position: -3336px 0px; }
  .flag_mo {
    height: 14px;
    background-position: -3358px 0px; }
  .flag_mp {
    height: 10px;
    background-position: -3380px 0px; }
  .flag_mq {
    height: 14px;
    background-position: -3402px 0px; }
  .flag_mr {
    height: 14px;
    background-position: -3424px 0px; }
  .flag_ms {
    height: 10px;
    background-position: -3446px 0px; }
  .flag_mt {
    height: 14px;
    background-position: -3468px 0px; }
  .flag_mu {
    height: 14px;
    background-position: -3490px 0px; }
  .flag_mv {
    height: 14px;
    background-position: -3512px 0px; }
  .flag_mw {
    height: 14px;
    background-position: -3534px 0px; }
  .flag_mx {
    height: 12px;
    background-position: -3556px 0px; }
  .flag_my {
    height: 10px;
    background-position: -3578px 0px; }
  .flag_mz {
    height: 14px;
    background-position: -3600px 0px; }
  .flag_na {
    height: 14px;
    background-position: -3622px 0px; }
  .flag_nc {
    height: 10px;
    background-position: -3644px 0px; }
  .flag_ne {
    height: 15px;
    background-position: -3666px 0px; }
  .flag_nf {
    height: 10px;
    background-position: -3686px 0px; }
  .flag_ng {
    height: 10px;
    background-position: -3708px 0px; }
  .flag_ni {
    height: 12px;
    background-position: -3730px 0px; }
  .flag_nl {
    height: 14px;
    background-position: -3752px 0px; }
  .flag_no {
    height: 15px;
    background-position: -3774px 0px; }
  .flag_np {
    height: 15px;
    background-position: -3796px 0px; }
  .flag_nr {
    height: 10px;
    background-position: -3811px 0px; }
  .flag_nu {
    height: 10px;
    background-position: -3833px 0px; }
  .flag_nz {
    height: 10px;
    background-position: -3855px 0px; }
  .flag_om {
    height: 10px;
    background-position: -3877px 0px; }
  .flag_pa {
    height: 14px;
    background-position: -3899px 0px; }
  .flag_pe {
    height: 14px;
    background-position: -3921px 0px; }
  .flag_pf {
    height: 14px;
    background-position: -3943px 0px; }
  .flag_pg {
    height: 15px;
    background-position: -3965px 0px; }
  .flag_ph {
    height: 10px;
    background-position: -3987px 0px; }
  .flag_pk {
    height: 14px;
    background-position: -4009px 0px; }
  .flag_pl {
    height: 13px;
    background-position: -4031px 0px; }
  .flag_pm {
    height: 14px;
    background-position: -4053px 0px; }
  .flag_pn {
    height: 10px;
    background-position: -4075px 0px; }
  .flag_pr {
    height: 14px;
    background-position: -4097px 0px; }
  .flag_ps {
    height: 10px;
    background-position: -4119px 0px; }
  .flag_pt {
    height: 14px;
    background-position: -4141px 0px; }
  .flag_pw {
    height: 13px;
    background-position: -4163px 0px; }
  .flag_py {
    height: 11px;
    background-position: -4185px 0px; }
  .flag_qa {
    height: 8px;
    background-position: -4207px 0px; }
  .flag_re {
    height: 14px;
    background-position: -4229px 0px; }
  .flag_ro {
    height: 14px;
    background-position: -4251px 0px; }
  .flag_rs {
    height: 14px;
    background-position: -4273px 0px; }
  .flag_ru {
    height: 14px;
    background-position: -4295px 0px; }
  .flag_rw {
    height: 14px;
    background-position: -4317px 0px; }
  .flag_sa {
    height: 14px;
    background-position: -4339px 0px; }
  .flag_sb {
    height: 10px;
    background-position: -4361px 0px; }
  .flag_sc {
    height: 10px;
    background-position: -4383px 0px; }
  .flag_sd {
    height: 10px;
    background-position: -4405px 0px; }
  .flag_se {
    height: 13px;
    background-position: -4427px 0px; }
  .flag_sg {
    height: 14px;
    background-position: -4449px 0px; }
  .flag_sh {
    height: 10px;
    background-position: -4471px 0px; }
  .flag_si {
    height: 10px;
    background-position: -4493px 0px; }
  .flag_sj {
    height: 15px;
    background-position: -4515px 0px; }
  .flag_sk {
    height: 14px;
    background-position: -4537px 0px; }
  .flag_sl {
    height: 14px;
    background-position: -4559px 0px; }
  .flag_sm {
    height: 15px;
    background-position: -4581px 0px; }
  .flag_sn {
    height: 14px;
    background-position: -4603px 0px; }
  .flag_so {
    height: 14px;
    background-position: -4625px 0px; }
  .flag_sr {
    height: 14px;
    background-position: -4647px 0px; }
  .flag_ss {
    height: 10px;
    background-position: -4669px 0px; }
  .flag_st {
    height: 10px;
    background-position: -4691px 0px; }
  .flag_sv {
    height: 12px;
    background-position: -4713px 0px; }
  .flag_sx {
    height: 14px;
    background-position: -4735px 0px; }
  .flag_sy {
    height: 14px;
    background-position: -4757px 0px; }
  .flag_sz {
    height: 14px;
    background-position: -4779px 0px; }
  .flag_ta {
    height: 10px;
    background-position: -4801px 0px; }
  .flag_tc {
    height: 10px;
    background-position: -4823px 0px; }
  .flag_td {
    height: 14px;
    background-position: -4845px 0px; }
  .flag_tf {
    height: 14px;
    background-position: -4867px 0px; }
  .flag_tg {
    height: 13px;
    background-position: -4889px 0px; }
  .flag_th {
    height: 14px;
    background-position: -4911px 0px; }
  .flag_tj {
    height: 10px;
    background-position: -4933px 0px; }
  .flag_tk {
    height: 10px;
    background-position: -4955px 0px; }
  .flag_tl {
    height: 10px;
    background-position: -4977px 0px; }
  .flag_tm {
    height: 14px;
    background-position: -4999px 0px; }
  .flag_tn {
    height: 14px;
    background-position: -5021px 0px; }
  .flag_to {
    height: 10px;
    background-position: -5043px 0px; }
  .flag_tr {
    height: 14px;
    background-position: -5065px 0px; }
  .flag_tt {
    height: 12px;
    background-position: -5087px 0px; }
  .flag_tv {
    height: 10px;
    background-position: -5109px 0px; }
  .flag_tw {
    height: 14px;
    background-position: -5131px 0px; }
  .flag_tz {
    height: 14px;
    background-position: -5153px 0px; }
  .flag_ua {
    height: 14px;
    background-position: -5175px 0px; }
  .flag_ug {
    height: 14px;
    background-position: -5197px 0px; }
  .flag_um {
    height: 11px;
    background-position: -5219px 0px; }
  .flag_us {
    height: 11px;
    background-position: -5241px 0px; }
  .flag_uy {
    height: 14px;
    background-position: -5263px 0px; }
  .flag_uz {
    height: 10px;
    background-position: -5285px 0px; }
  .flag_va {
    height: 15px;
    background-position: -5307px 0px; }
  .flag_vc {
    height: 14px;
    background-position: -5324px 0px; }
  .flag_ve {
    height: 14px;
    background-position: -5346px 0px; }
  .flag_vg {
    height: 10px;
    background-position: -5368px 0px; }
  .flag_vi {
    height: 14px;
    background-position: -5390px 0px; }
  .flag_vn {
    height: 14px;
    background-position: -5412px 0px; }
  .flag_vu {
    height: 12px;
    background-position: -5434px 0px; }
  .flag_wf {
    height: 14px;
    background-position: -5456px 0px; }
  .flag_ws {
    height: 10px;
    background-position: -5478px 0px; }
  .flag_xk {
    height: 15px;
    background-position: -5500px 0px; }
  .flag_ye {
    height: 14px;
    background-position: -5522px 0px; }
  .flag_yt {
    height: 14px;
    background-position: -5544px 0px; }
  .flag_za {
    height: 14px;
    background-position: -5566px 0px; }
  .flag_zm {
    height: 14px;
    background-position: -5588px 0px; }
  .flag_zw {
    height: 10px;
    background-position: -5610px 0px; }
.upload_div{
  display: inline-block;
  height: 250px;
  width: 100%;
  border: 2px solid rgb(20, 56, 95);
  background-color: white;
  border-style: dashed;
}
.ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all{
  position:absolute;
  transform: translateX(-100%);
}


  .cursor_auto{
    cursor: auto !important;
  }
  
  .amcharts-chart-div a {
    display: none!important;
}
.hintText{
  font-size: 11px;
  color: #00c5dc;
}
.capitalizeString{
  text-transform: capitalize;
}
.boldText{
  font-weight: bold;
}

.nonEditableField{
  width: 70px;
  background: #9aa2e2;
  color: #ffffff;
}

.m-menu__nav.m-menu__nav--dropdown-submenu-arrow{
  height: calc(100% - 70px);
  overflow: auto;
}
.userDetails{  
  text-align: center;
  background: #f2f3f8;
  padding: 15px !important;
}
.userDetails .name{
  color:initial;
}
.userDetails .email{
  text-transform:initial;
}
.selectedRowClass{
  background: #ccc;
    font-weight: bold;
}
.padtp15{
  padding-top: 15px;
}
.imginUserDetails{
  width: 90px;
  height:90px;
  border-radius: 50%;
  border: solid 1px #ddd;
  margin-bottom: 10px;
}
.mt0{
  margin-top:0px !important;
}
.marginclassAside{
  margin: 0 !important;
  padding:0px !important;
}

.success {
  color: rgb(31, 248, 60);
  text-shadow: 1px 1px 1px rgb(31, 248, 60);
  font-size: 1.5em;
}
.error {
  color: rgb(235, 27, 27);
  text-shadow: 1px 1px 1px rgb(235, 27, 27);
  font-size: 1.5em;
}

body .clickable.ui-datatable .ui-datatable-data tr{
  cursor: pointer;
}


.csr-hand{
  cursor: pointer !important;
}

body .ui-corner-all{
  border-radius: 0px;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-topbar__userpic img{
  max-width: 50px !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover {
  background-color: #000000; 
  border-radius : 20px;  
}
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__heading .m-menu__link-text,
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-text {
    color: #fff; }
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__heading .m-menu__link-icon,
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-icon {
    color: #8c8ea4; }
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
    background-color: #8c8ea4; }
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--line > span,
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--line > span {
    background-color: #8c8ea4; }
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__heading .m-menu__ver-arrow,
  .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__ver-arrow {
    color: #8c8ea4; 
}
 .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link {
    background-color: #D3D3D3;    
    border-radius: 20px;
    line-height: 1.7em;    
}

.m-aside-menu .m-menu__nav > .m-menu__item {
    position: relative;
    margin-top: 5px;
}

//badge
.label {
    color: #FFF;
    display: inline-block;
}

.label[class*=col-][class*=arrow] {
    min-height: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .label:empty,
     ::safari-only {
        display: inline-block;
    }
    .badge:empty,
     ::safari-only {
        display: inline-block;
    }
}

.badge {
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 20px;
}

.badge.radius-1 {
    border-radius: 1px;
}

.badge.radius-2 {
    border-radius: 2px;
}

.badge.radius-3 {
    border-radius: 3px;
}

.badge.radius-4 {
    border-radius: 4px;
}

.badge.radius-5 {
    border-radius: 5px;
}

.badge.radius-6 {
    border-radius: 6px;
}

.badge-transparent,
.badge.badge-transparent,
.label-transparent,
.label.label-transparent {
    background-color: transparent;
}

.badge-grey,
.badge.badge-grey,
.label-grey,
.label.label-grey {
    background-color: #A0A0A0;
}

.badge-info,
.badge.badge-info,
.label-info,
.label.label-info {
    background-color: #3A87AD;
}

.badge-primary,
.badge.badge-primary,
.label-primary,
.label.label-primary {
    background-color: #428BCA;
}

.badge-success,
.badge.badge-success,
.label-success,
.label.label-success {
    background-color: #34bfa3;
}

.badge-danger,
.badge-important,
.badge.badge-danger,
.badge.badge-important,
.label-danger,
.label-important,
.label.label-danger,
.label.label-important {
    background-color: #f4516c;
}

.badge-inverse,
.badge.badge-inverse,
.label-inverse,
.label.label-inverse {
    background-color: #333;
}

.badge-warning,
.badge.badge-warning,
.label-warning,
.label.label-warning {
    background-color: #F89406;
}

.badge-pink,
.badge.badge-pink,
.label-pink,
.label.label-pink {
    background-color: #D6487E;
}

.badge-purple,
.badge.badge-purple,
.label-purple,
.label.label-purple {
    background-color: #9585BF;
}

.badge-yellow,
.badge.badge-yellow,
.label-yellow,
.label.label-yellow {
    background-color: #FEE188;
}

.badge-light,
.badge.badge-light,
.label-light,
.label.label-light {
    background-color: #E7E7E7;
}

.badge-yellow,
.label-yellow {
    color: #963;
    border-color: #FEE188;
}

.badge-light,
.label-light {
    color: #888;
}

.label.arrowed,
.label.arrowed-in {
    position: relative;
    z-index: 1;
}

.label.arrowed-in:before,
.label.arrowed:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    border: 1px solid transparent;
    border-right-color: #ABBAC3;
}

.label.arrowed-in:before {
    border-color: #ABBAC3 #ABBAC3 #ABBAC3 transparent;
}

.label.arrowed-in-right,
.label.arrowed-right {
    position: relative;
    z-index: 1;
}

.label.arrowed-in-right:after,
.label.arrowed-right:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    border: 1px solid transparent;
    border-left-color: #ABBAC3;
}

.label.arrowed-in-right:after {
    border-color: #ABBAC3 transparent #ABBAC3 #ABBAC3;
}

.label-info.arrowed:before {
    border-right-color: #3A87AD;
}

.label-info.arrowed-in:before {
    border-color: #3A87AD #3A87AD #3A87AD transparent;
}

.label-info.arrowed-right:after {
    border-left-color: #3A87AD;
}

.label-info.arrowed-in-right:after {
    border-color: #3A87AD transparent #3A87AD #3A87AD;
}

.label-primary.arrowed:before {
    border-right-color: #428BCA;
}

.label-primary.arrowed-in:before {
    border-color: #428BCA #428BCA #428BCA transparent;
}

.label-primary.arrowed-right:after {
    border-left-color: #428BCA;
}

.label-primary.arrowed-in-right:after {
    border-color: #428BCA transparent #428BCA #428BCA;
}

.label-success.arrowed:before {
    border-right-color: #34bfa3;
}

.label-success.arrowed-in:before {
    border-color: #34bfa3 #34bfa3 #34bfa3 transparent;
}

.label-success.arrowed-right:after {
    border-left-color: #34bfa3;
}

.label-success.arrowed-in-right:after {
    border-color: #34bfa3 transparent #34bfa3 #34bfa3;
}

.label-warning.arrowed:before {
    border-right-color: #F89406;
}

.label-danger.arrowed:before,
.label-important.arrowed:before {
    border-right-color: #f4516c;
}

.label-warning.arrowed-in:before {
    border-color: #F89406 #F89406 #F89406 transparent;
}

.label-warning.arrowed-right:after {
    border-left-color: #F89406;
}

.label-danger.arrowed-right:after,
.label-important.arrowed-right:after {
    border-left-color: #f4516c;
}

.label-warning.arrowed-in-right:after {
    border-color: #F89406 transparent #F89406 #F89406;
}

.label-important.arrowed-in:before {
    border-color: #f4516c #f4516c #f4516c transparent;
}

.label-important.arrowed-in-right:after {
    border-color: #f4516c transparent #f4516c #f4516c;
}

.label-danger.arrowed-in:before {
    border-color: #f4516c #f4516c #f4516c transparent;
}

.label-danger.arrowed-in-right:after {
    border-color: #D15B47 transparent #f4516c #f4516c;
}

.label-inverse.arrowed:before {
    border-right-color: #333;
}

.label-inverse.arrowed-in:before {
    border-color: #333 #333 #333 transparent;
}

.label-inverse.arrowed-right:after {
    border-left-color: #333;
}

.label-inverse.arrowed-in-right:after {
    border-color: #333 transparent #333 #333;
}

.label-pink.arrowed:before {
    border-right-color: #D6487E;
}

.label-pink.arrowed-in:before {
    border-color: #D6487E #D6487E #D6487E transparent;
}

.label-pink.arrowed-right:after {
    border-left-color: #D6487E;
}

.label-pink.arrowed-in-right:after {
    border-color: #D6487E transparent #D6487E #D6487E;
}

.label-purple.arrowed:before {
    border-right-color: #9585BF;
}

.label-purple.arrowed-in:before {
    border-color: #9585BF #9585BF #9585BF transparent;
}

.label-purple.arrowed-right:after {
    border-left-color: #9585BF;
}

.label-purple.arrowed-in-right:after {
    border-color: #9585BF transparent #9585BF #9585BF;
}

.label-yellow.arrowed:before {
    border-right-color: #FEE188;
}

.label-yellow.arrowed-in:before {
    border-color: #FEE188 #FEE188 #FEE188 transparent;
}

.label-yellow.arrowed-right:after {
    border-left-color: #FEE188;
}

.label-yellow.arrowed-in-right:after {
    border-color: #FEE188 transparent #FEE188 #FEE188;
}

.label-light.arrowed:before {
    border-right-color: #E7E7E7;
}

.label-light.arrowed-in:before {
    border-color: #E7E7E7 #E7E7E7 #E7E7E7 transparent;
}

.label-light.arrowed-right:after {
    border-left-color: #E7E7E7;
}

.label-light.arrowed-in-right:after {
    border-color: #E7E7E7 transparent #E7E7E7 #E7E7E7;
}

.label-grey.arrowed:before {
    border-right-color: #A0A0A0;
}

.label-grey.arrowed-in:before {
    border-color: #A0A0A0 #A0A0A0 #A0A0A0 transparent;
}

.label-grey.arrowed-right:after {
    border-left-color: #A0A0A0;
}

.label-grey.arrowed-in-right:after {
    border-color: #A0A0A0 transparent #A0A0A0 #A0A0A0;
}

.label {
    line-height: 1.15;
    height: 20px;
}

.label.arrowed:before {
    left: -10px;
    border-width: 10px 5px;
}

.label-lg.arrowed,
.label-lg.arrowed-in {
    margin-left: 6px;
}

.label.arrowed-in:before {
    left: -5px;
    border-width: 10px 5px;
}

.label.arrowed-right:after {
    right: -10px;
    border-width: 10px 5px;
}

.label-lg.arrowed-in-right,
.label-lg.arrowed-right {
    margin-right: 6px;
}

.label.arrowed-in-right:after {
    right: -5px;
    border-width: 10px 5px;
}

.label-lg {
    padding: .3em .6em .4em;
    font-size: 13px;
    line-height: 1.1;
    height: 24px;
}

.label-lg.arrowed:before {
    left: -12px;
    border-width: 12px 6px;
}

.label-xlg.arrowed,
.label-xlg.arrowed-in {
    margin-left: 7px;
}

.label-lg.arrowed-in:before {
    left: -6px;
    border-width: 12px 6px;
}

.label-lg.arrowed-right:after {
    right: -12px;
    border-width: 12px 6px;
}

.label-xlg.arrowed-in-right,
.label-xlg.arrowed-right {
    margin-right: 7px;
}

.label-lg.arrowed-in-right:after {
    right: -6px;
    border-width: 12px 6px;
}

.label-xlg {
    padding: .3em .7em .4em;
    font-size: 14px;
    line-height: 1.3;
    height: 28px;
}

.label-xlg.arrowed:before {
    left: -14px;
    border-width: 14px 7px;
}

.label-sm.arrowed,
.label-sm.arrowed-in {
    margin-left: 4px;
}

.label-xlg.arrowed-in:before {
    left: -7px;
    border-width: 14px 7px;
}

.label-xlg.arrowed-right:after {
    right: -14px;
    border-width: 14px 7px;
}

.label-sm.arrowed-in-right,
.label-sm.arrowed-right {
    margin-right: 4px;
}

.label-xlg.arrowed-in-right:after {
    right: -7px;
    border-width: 14px 7px;
}

.label-sm {
    padding: .2em .4em .3em;
    font-size: 11px;
    line-height: 1;
    height: 18px;
}

.label-sm.arrowed:before {
    left: -8px;
    border-width: 9px 4px;
}

.label-sm.arrowed-in:before {
    left: -4px;
    border-width: 9px 4px;
}

.label-sm.arrowed-right:after {
    right: -8px;
    border-width: 9px 4px;
}

.label-sm.arrowed-in-right:after {
    right: -4px;
    border-width: 9px 4px;
}

.label>.ace-icon,
.label>span {
    line-height: 1;
    vertical-align: bottom;
}

.label.label-white {
    color: #879da9;
    border: 1px solid #ABBAC3;
    background-color: #f2f5f6;
    border-right-width: 1px;
    border-left-width: 2px;
}

.label-white.label-success {
    color: #7b9e6c;
    border-color: #9fbf92;
    background-color: #edf3ea;
}

.label-white.label-warning {
    color: #d9993e;
    border-color: #e4ae62;
    background-color: #fef6eb;
}

.label-white.label-primary {
    color: #6688a6;
    border-color: #8aafce;
    background-color: #eaf2f8;
}

.label-white.label-danger {
    color: #f4516c;
    border-color: #f4516c;
    background-color: #fcf4f2;
}

.label-white.label-info {
    color: #4e7a8f;
    border-color: #7aa1b4;
    background-color: #eaf3f7;
}

.label-white.label-inverse {
    color: #404040;
    border-color: #737373;
    background-color: #ededed;
}

.label-white.label-pink {
    color: #af6f87;
    border-color: #d299ae;
    background-color: #fbeff4;
}

.label-white.label-purple {
    color: #7d6fa2;
    border-color: #b7b1c6;
    background-color: #efedf5;
}

.label-white.label-yellow {
    color: #cfa114;
    border-color: #ecd181;
    background-color: #fdf7e4;
}

.label-white.label-grey {
    color: #878787;
    border-color: #cecece;
    background-color: #ededed;
}

@media screen and (-webkit-min-device-pixel-ratio:1.08) and (-webkit-max-device-pixel-ratio:1.15),
screen and (min--moz-device-pixel-ratio:1.08) and (max--moz-device-pixel-ratio:1.15) {
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
        border-width: 10.5px 6px 11px;
        left: -11px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
        border-width: 10.5px 6px 11px;
        right: -11px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in:before {
        border-width: 10.5px 5px 11px;
        left: -6px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in-right:after {
        border-width: 10.5px 5px 11px;
        right: -6px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.2) and (-webkit-max-device-pixel-ratio:1.45),
screen and (min--moz-device-pixel-ratio:1.2) and (max--moz-device-pixel-ratio:1.45),
screen and (-webkit-min-device-pixel-ratio:1.6) and (-webkit-max-device-pixel-ratio:1.9),
screen and (min--moz-device-pixel-ratio:1.6) and (max--moz-device-pixel-ratio:1.9) {
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
        border-width: 10.5px 6px;
        left: -11px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
        border-width: 10.5px 6px;
        right: -11px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in:before {
        border-width: 10.5px 5px 10px;
        left: -6px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in-right:after {
        border-width: 10.5px 5px 10px;
        right: -6px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.5) and (-webkit-max-device-pixel-ratio:1.6),
screen and (min--moz-device-pixel-ratio:1.5) and (max--moz-device-pixel-ratio:1.6) {
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
        border-width: 10px 6px;
        left: -12px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
        border-width: 10px 6px;
        right: -12px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.7) and (-webkit-max-device-pixel-ratio:1.8),
screen and (min--moz-device-pixel-ratio:1.7) and (max--moz-device-pixel-ratio:1.8) {
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
        border-width: 10px 6px;
        left: -11.5px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
        border-width: 10px 6px;
        right: -11.5px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in:before {
        border-width: 10px 5px;
        left: -6px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in-right:after {
        border-width: 10px 5px;
        right: -6px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0.8) and (-webkit-max-device-pixel-ratio:0.9),
screen and (min--moz-device-pixel-ratio:0.8) and (max--moz-device-pixel-ratio:0.9) {
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
        border-width: 11px 6px;
        left: -11.5px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
        border-width: 11px 6px;
        right: -11.5px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in:before {
        border-width: 11px 5px;
        left: -6px;
    }
    .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in-right:after {
        border-width: 11px 5px;
        right: -6px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.08) and (-webkit-max-device-pixel-ratio:1.15),
screen and (min--moz-device-pixel-ratio:1.08) and (max--moz-device-pixel-ratio:1.15) {
    .label-lg.arrowed:before {
        left: -11px;
    }
    .label-lg.arrowed-right:after {
        right: -11px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.7) and (-webkit-max-device-pixel-ratio:1.8),
screen and (min--moz-device-pixel-ratio:1.7) and (max--moz-device-pixel-ratio:1.8) {
    .label-lg.arrowed:before {
        left: -11.5px;
    }
    .label-lg.arrowed-right:after {
        right: -11.5px;
    }
    .label-lg.arrowed-in:before {
        border-width: 12.5px 6px 12px;
        left: -6px;
    }
    .label-lg.arrowed-in-right:after {
        border-width: 12.5px 6px 12px;
        right: -6px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.08) and (-webkit-max-device-pixel-ratio:1.15),
screen and (min--moz-device-pixel-ratio:1.08) and (max--moz-device-pixel-ratio:1.15) {
    .label-xlg.arrowed:before {
        left: -13px;
    }
    .label-xlg.arrowed-right:after {
        right: -13px;
    }
    .label-xlg.arrowed-in-right:after,
    .label-xlg.arrowed-in:before {
        border-width: 14px 7px 14.5px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.2) and (-webkit-max-device-pixel-ratio:1.3),
screen and (min--moz-device-pixel-ratio:1.2) and (max--moz-device-pixel-ratio:1.3) {
    .label-xlg.arrowed:before {
        border-width: 14.5px 7px;
        left: -13.5px;
    }
    .label-xlg.arrowed-right:after {
        border-width: 14.5px 7px;
        right: -13.5px;
    }
    .label-xlg.arrowed-in-right:after,
    .label-xlg.arrowed-in:before {
        border-width: 14.5px 7px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.3) and (-webkit-max-device-pixel-ratio:1.4),
screen and (-webkit-min-device-pixel-ratio:1.5) and (-webkit-max-device-pixel-ratio:1.6),
screen and (min--moz-device-pixel-ratio:1.3) and (max--moz-device-pixel-ratio:1.4),
screen and (min--moz-device-pixel-ratio:1.5) and (max--moz-device-pixel-ratio:1.6) {
    .label-xlg.arrowed:before {
        border-width: 14.5px 7.5px;
        left: -14.5px;
    }
    .label-xlg.arrowed-right:after {
        border-width: 14.5px 7.5px;
        right: -14.5px;
    }
    .label-xlg.arrowed-in-right:after,
    .label-xlg.arrowed-in:before {
        border-width: 14.5px 7px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.08) and (-webkit-max-device-pixel-ratio:1.15),
screen and (min--moz-device-pixel-ratio:1.08) and (max--moz-device-pixel-ratio:1.15) {
    .label-sm.arrowed:before {
        border-width: 9px 5px;
        left: -9px;
    }
    .label-sm.arrowed-right:after {
        border-width: 9px 5px;
        right: -9px;
    }
    .label-sm.arrowed-in-right:after,
    .label-sm.arrowed-in:before {
        border-width: 10px 4px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:1.2) and (-webkit-max-device-pixel-ratio:1.3),
screen and (min--moz-device-pixel-ratio:1.2) and (max--moz-device-pixel-ratio:1.3) {
    .label-sm.arrowed:before {
        border-width: 9.5px 5px;
        left: -10px;
    }
    .label-sm.arrowed-right:after {
        border-width: 9.5px 5px;
        right: -10px;
    }
    .label-sm.arrowed-in-right:after,
    .label-sm.arrowed-in:before {
        border-width: 9.5px 4px;
    }
}


.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    font-weight: 400;
    font-size: 1.02rem;
    text-transform: uppercase;
}

.m-aside-menu.m-aside-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #716aca;
    text-transform: uppercase;
}

.m-aside-menu.m-aside-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text {
    color: #a7a7a7;
    text-transform: uppercase;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
}

.m-portlet .m-portlet__head .m-portlet__head-text {
    color: #575962;
    text-transform: uppercase!important;
}

.m-aside-menu.m-aside-menu--skin-light {
    background: white;
    
}
.m-aside-left.m-aside-left--skin-light{
  box-shadow: 0px 0px 10px #ccc;
}

.m-portlet {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.08);
    -moz-box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.08);
    /* box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.08); */
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #ccc;
}


.side-line{
    background: #36a3f7;
    width: 4px;
    position: absolute;
    height: 25px;
    top: 22px;
}

.side-head{
   border-bottom:none;
   height:3rem;
   padding-left:0px
}

.side-line-header{
    background: #36a3f7;
    width: 4px;
    position: absolute;
    height: 25px;   
    margin-top: 20px;
}

.no-cap{
   text-transform:none;
}

.grad-text{
  font-size: 30px;
  font-weight: 400;
  background: -webkit-linear-gradient( #70bf43, #00aacc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
}

.grad-title{
    color: gray;
    font-weight: 400; 
    text-align: right;
    font-size : 13px;
}


.m-widget7 .m-widget7__user {   
    display: table;
    margin-top: 0.35rem;
    margin-bottom: 5rem;
    padding-left: 0px;
    margin : 0;
    width : 100%;
}

.img-width{
  width : 100px;
}

.responsive {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.responsive-small {
    width: 100%;
    max-width: 89px;
    height: auto;
}


.m-widget1__number {
    font-size: 2rem;   
}

.m-widget7__more {
    text-align: right!important;
}


.num-css{
   float: right;
   font-size: 3rem!important; 
    background: -webkit-linear-gradient( #70bf43, #00aacc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  margin-top : -20px
}

.num-re-css{
  float: right;
   font-size: 2rem!important; 
    background: -webkit-linear-gradient( #70bf43, #00aacc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  margin-top : -20px
}
.port-css{
    padding-left: 0px;
    height:calc(100% - 2.2rem)
}

.side-line-small{
    background: #36a3f7;
    width: 4px;
    position: absolute;
    height: 25px;
    top: 17px;
}

.side-line-div{
    background: #36a3f7;
    width: 4px;
    position: absolute;
    height: 25px;  
   margin-top:20px 
}


.paddingdiv{
  padding-left : 5px;
  padding-right : 5px;
}

.paddingRight{
  padding-right : 5px;
}

.m-table.m-table--head-bg-brand thead th {
    background: #8794fb !important;
    color: #ffffff;
    border-bottom: 0;
    border-top: 0;
}


.table th {
    font-weight: 400;
}

.div-top{
   margin-top:-25px;
}

.responsive-test {
    width: 100%;   
    max-width: 175px;
    height: auto;
}



.progress{
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 5px 5px -50px;
  overflow: inherit;
  font-size: 0.75rem;
  background : none!important;
}
.progress span{
  transition: all 500ms ease;
  background: #4A72DA;
  box-shadow: 1px 2px 3px #999;
  height: 13px;
  width: 13px;  
  display: inline-block;
  border-radius: 10px;
  animation: wave 2s ease  infinite;
}  

.progress span:nth-child(1){  animation-delay: 0; }
.progress span:nth-child(2){  animation-delay: 100ms; }
.progress span:nth-child(3){  animation-delay: 200ms; }
.progress span:nth-child(4){  animation-delay: 300ms; }
.progress span:nth-child(5){  animation-delay: 400ms; }
.progress span:nth-child(6){  animation-delay: 500ms; }
.progress span:nth-child(7){  animation-delay: 600ms; }
.progress span:nth-child(8){  animation-delay: 700ms; }

@keyframes wave{
  0%, 40%, 100% { 
    transform: translate(0, 0);
    background-color: #70bf43;    
  }
  10% { 
    transform: translate(0, -15px); 
    background-color: #00aacc;    
  }  
}

.spin-space{
  margin-left: 3px;
}


.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #00aacc;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}

.ui-inputgroup .ui-inputtext:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
    line-height: 22.5px;
}

.ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: none;
    border-right-color: #EEEDF3;
}


.ui-button-icon-only .fa {
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.6em;
    color: #886b6b;
}


.ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all:hover {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: none;
    border-right-color: #EEEDF3;
}


.ui-g-12 {
    width: 100%;
}


.ui-inputgroup .ui-inputgroup-addon {
    display: inline-block;
    text-align: center;
    min-width: 1.5em;
    padding: .25em;
    border-width: 1px;
    border-style: solid;
}

.ui-fluid .ui-inputgroup .ui-inputtext {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.ui-inputgroup .ui-inputtext:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 none;
}

.ui-inputgroup .ui-inputtext {
    padding-left: .5em;
}

ui-fluid .ui-inputtext {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body .ui-inputtext {
    background: #ffffff;
    padding: 0.5em 0.75em;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
    font-size: 1em;
    color: #55595c;
    line-height: 1.25;
}

body .ui-inputgroup .ui-inputgroup-addon {
    border-color: rgba(0, 0, 0, 0.15);
    background-color: #eceeef;
    color: #55595c;    
    padding-right: 1.8em!important;
}

.ui-fluid .ui-autocomplete.ui-autocomplete-dd .ui-autocomplete-input{
        width: calc(100% - 0em)!important;
}

.ui-fluid .ui-dropdown {
    width: 150%!important;
}


.res-testmap {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.test-imgs{
   width: 100%;
    max-width: 55px;
    height: auto;
}

.ui-autocomplete-items .ui-state-highlight {
    background-color: #eceeef!important;
    color: #55595c!important;
}

.padlr5{
  padding-left: 5px;
  padding-right: 5px;
}

body .ui-widget-overlay{
  z-index: 1011 !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow{
  z-index: 1012 !important;
}
@media(min-width: 993px){
  .m-header--fixed .m-header{
    z-index: 1010;
  }
}

.m-portlet__body{
   padding-top:0px!important; 
}


.m-form .m-form__group {
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 15px;
}

.m-form .m-form__actions {
    padding: 10px;
}
.pad0{
  padding: 0px;
}
.divider{
  width: 100%;
  border: dashed 1px #CCC;
  margin-bottom: 15px;
}
// .m-footer{
//   background: none;
//   box-shadow:none;
//   -webkit-box-shadow:none;
// }

.mtb15{
  margin:15px 0px;
}
.m-aside-menu .m-menu__nav > .m-menu__section {
    margin: 0px 0 0 0;
    height: 30px;
}

.m-body .m-content {
  padding-bottom: 40px ;
}

.pointer{
  cursor: pointer;
}

.alert.m-alert--icon {
  display: block !important;
  padding: 0;
}

.m-badge.m-badge--warning {
  background-color: #FF7F50 !important;
  color: #111111;
}





