<!-- <!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                {{"USER_TEST_MAPPING" | translate}}
            </h3>
        </div>
    </div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head" style="padding-left:0px">
                <span class="side-line-header"></span>
                <div class="m-portlet__head-caption" style="padding-left:20px">
                    <div class="pull-left">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon">
                                            <i class="flaticon-users"></i>
                                        </span> -->
                            <h3 class="m-portlet__head-text">
                                {{"SKIN CONFIGURATION" | translate}} <br/>
                            </h3>
                        </div>
                    </div>
                    <div class="row pull-right" style="padding-top: 10px;">
                            <a id="facility_detail_details" routerLink = "/skin/list" class="m-link m-link--state m-link--focus m--font-boldest" style="cursor:pointer">
                                <span>
                                    <i class="la la-gear m--font-primary"></i>
                                    <span class="m--font-primary">
                                        {{"AVAILABLE CONFIGURATIONS" | translate}}
                                    </span>
                                </span>
                            </a>
                    </div>
                </div>
            </div>
            
            <div class="m-portlet__body" style="min-height:600px">
                    <ul class="progress-tracker" style="padding-top:25px;padding-bottom:20px">
                        <li class="complete">
                            <div  class="step" id="step_one" style="background-color:#ffb822" >
                                <i class=" flaticon-placeholder-1" style="color:white"></i>
                            </div>
                            <div class="m--font-bold">Select Language & Customer</div>
                        </li>
                        <li class="complete">
                            <div class="step" id="step_two" >
                                <i class=" la la-check-square-o" style="color:white"></i>
                            </div>
                            <div class="m--font-bold">{{"SELECT_TEST(S)" | translate}}
                            </div>
                        </li>
                        <li class="complete">
                            <div class="step" id="step_three">
                                <i class="flaticon-list" style="color:white"></i>
                            </div>
                            <div class="m--font-bold">{{"Select Test(s) Unit" | translate}}
                                <!-- <br/>{{"MULTI_SELECT_OF_USER_WORKS_WHEN_NO_TESTS_ARE_CONFIGURED" | translate}} -->
                            </div>
                        </li>
                        <li class="complete">
                                <div class="step" id="step_four">
                                    <i class="fa fa-text-height" style="color:white"></i>
                                </div>
                                <div class="m--font-bold">{{"Select Test(s) Range" | translate}}
                            </div>
                        </li>
                        <li class="complete">
                                <div class="step" id="step_five">
                                    <i class="la la-asterisk" style="color:white"></i>
                                </div>
                                <div class="m--font-bold">{{"Choose mandatory" | translate}}
                                    <br>fields and labels
                            </div>
                        </li>
                        <!-- <li class="complete">
                            <div class="step" id="step_four">
                                <i class="flaticon-user-ok" style="color:white"></i>
                            </div>
                            <div class="label m--font-bold">{{"SAVE_MAPPED_TEST_TO_USER" | translate}}</div>
                        </li> -->
                    </ul>
                    <div class="col-lg-12  m--margin-top-10" id="checksum_id">
                        <div class="row" >
                              <!--show all tests (Step 1)-->
                              <div class="col-sm-12" *ngIf="showlang">
                                <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group m-form__group row">
                                            <div class="col-form-label">
                                                <b>  {{"LANGUAGE" | translate}} </b>
                                            </div>
                                            <div class="col-lg-8">
                                                    <select id="language" name="language" class="form-control m-input m-input--square" [(ngModel)]="config.language" #language="ngModel" required>
                                                            <option value="BANGLA">{{"BANGLA" | translate}}</option>
                                                            <option value="ENGLISH">{{"ENGLISH" | translate}}</option>
                                                                <option value="PORTUGESE">{{"PORTUGESE" | translate}}</option>
                                                            <option value="SPANISH">{{"SPANISH" | translate}}</option>
                                                        </select>
                                            </div>                     
                                    </div>                       
                                </div>
                                <div class="col-lg-5">
                                        <div class="form-group m-form__group row">
                                                <div class="col-form-label">
                                                    <b>  {{"CUSTOMER" | translate}} </b>
                                              </div>
                                             <div class="col-lg-8">
                                                <app-fac-dropdown [value]="chosen" [id]="'skin-assign-customer'" [FacilityName]="config.facilityName"  
                                                [hideCus]="true" (selected)="facilityChange($event)" [active]="disableCustomer" [noLabel]="'type'"></app-fac-dropdown>
                                            </div> 
                                        </div>
                                </div> 
                                                  
                                <div class="col-lg-2 text-right">
                                        <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" type="button" [disabled]="noCustomer"  (click)="nextToTest(config.language)">
                                                <span style="color:white"> {{"NEXT" | translate}}</span>   
                                        </button>
                                </div>
                            </div>  
                            <div class="col-lg-12 text-center" *ngIf="noUser" style="padding-top:40px">
                                    <i class="fa fa-exclamation-triangle" style="color:#36a3f7;font-size:45px"></i><br/><br/>
                                    <span class="text-info">
                                       <h4>   No user available for the customer </h4>
                                    </span>
                                    <span class="text-info">
                                         <h4>    select other customer to proceed </h4>
                                    </span>
                                </div>
                                <div class="col-lg-12 text-center" style="padding-top: 40px;">
                                        <img alt="" class="res-testmap" src="./assets/app/media/img/users/skinconfig.png"  *ngIf="!showtests && !noUser">
                                </div>
                            </div>
                            <!--show all tests (Step 2)-->
                            <div class="col-sm-12" style="padding: 0" *ngIf="showtests">                                        
                            
                                        <div class="col-xl-12" >
                                            <div class="row">
                                                <div class="col-xl-3">
                                                    <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="backToLang()">
                                                        <span>
                                                        <span>
                                                            {{"BACK" | translate}}
                                                        </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="col-xl-6" style="text-align:center" >                                                        
                                                        <span class="text-danger">WARNING: This will overwrite all existing user under this customer</span>
                                                </div>
                                                <div class="col-xl-3  m--align-right">                                                    
                                                    <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" type="button" [disabled]="isEditable"   (click)="nextToUnit()">
                                                            <span style="color:white"> {{"NEXT" | translate}}</span>   
                                                    </button>
                                                </div>
                                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                                            </div>
                                        </div>
                            
                                        <div class="col-xl-12 m--margin-top-10" >
                                                <div class="col-xl-4"></div>
                                            <div class="col-xl-8" style="text-align:left">
                                                <span>
                                                        <b>Select/Deselect all tests for customer</b>
                                                </span>
                                                <span class="m-switch m-switch--icon">
                                                    <label>
                                                        <input [checked]="checkAllTest" (change)="oncheckAllTest($event)" name="" type="checkbox">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </div>                                            
                                        </div>
                            
                                        <div class="col-sm-12 m--margin-top-10 pad0" >
                                            <div class="row">
                                            <div class="row" *ngIf="newtests.length !=0">
                                                <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12" *ngFor="let test of newtests">
                                                    <div class="m-alert m-alert--icon m-alert--air alert alert-dismissible fade show" style="cursor:pointer" (click)="sTest(test)" id="{{test.testName}}">
                                                        <div class="m-alert__icon">
                                                            <i class="la la-warning" *ngIf="test.testIconUrl==null"></i>
                                                            <img *ngIf="test.testIconUrl!=null" [src]="test.testIconUrl" alt="" style="height:auto;" width="70px">
                                                        </div>
                                                        <div class="m-alert__text" *ngIf="test">
                                                            <strong>
                                                                {{test.testName}}
                                                            </strong> <br/>{{test.testType}}
                                                        </div>
                                                        <div class="m-alert__actions">
                                                            <label class="m-checkbox m-checkbox--air m-checkbox--state-success ">
                                                                <input id="test_select_{{test.id}}" type="checkbox" [checked]="test.selected" (change)="sTest(test)">
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            
                                        </div>
                                    </div>
                            <!--show all tests (Step 3)-->
                                <div class="table-responsive" *ngIf="showunit">
                                        <div class="col-xl-12" >
                                                <div class="row">
                                                    <div class="col-xl-3">
                                                        <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="backToTest()">
                                                            <span>
                                                            <span>
                                                                {{"BACK" | translate}}
                                                            </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="col-xl-6" style="text-align:center" >
                                                       Click on the fields to edit UOM (Unit of measurement)
                                                    </div>
                                                    <div class="col-xl-3  m--align-right">
                                                        <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="nextToRange(testRangeArray)" >
                                                            <span>
                                                        <span>
                                                            {{"NEXT" | translate}}
                                                        </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                                                </div>
                                            </div>
                                        <div class="m--margin-top-10">
                                            <p-dataTable  [value]="testRangeArray"  [responsive]="true" [editable]="true" >
                                                <p-column styleClass="text-center" [header]="'S.No' | translate">
                                                    <ng-template let-index="rowIndex" pTemplate="body">
                                                        <div class="text-center">
                                                            <b>
                                                                        <span>{{index+1}}</span>
                                                                    </b>
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="testName"  styleClass="text-center" [header]="'TEST' | translate">
                                                    <ng-template let-test="rowData" pTemplate="body">
                                                        <div class="text-left">
                                                            <b>
                                                                <span>
                                                                    <strong>
                                                                            {{test.testName}}
                                                                        </strong> <br/>{{test.testType}}
                                                                   
                                                                </span>                                           
                                                            </b>
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="unit"  styleClass="text-center pointer" [header]="'Unit' | translate" [editable]="true">
                                                        <ng-template  let-test="rowData" pTemplate="editor" >
                                                                <div *ngIf="test.testName=='HEIGHT'">
                                                                
                                                                        <p-dropdown [options]="heightoption" [(ngModel)]="test.unit" [style]="{'width':'100%'}" [autoWidth]="false"  appendTo="body"></p-dropdown>
                                                                       
                                                                </div>
                                                                    <div *ngIf="test.testName=='WEIGHT'">
                                                                        
                                                                        <p-dropdown [options]="weightoption" [(ngModel)]="test.unit"  [style]="{'width':'100%'}" [autoWidth]="false"  appendTo="body"></p-dropdown>
                                                                            
                                                                    </div>
                                                                    <div *ngIf="test.testName!='WEIGHT' && test.testName!='HEIGHT'">
                                                                        
                                                                            <input type="text" pInputText placeholder="Enter Unit of Measurement" [(ngModel)]="test.unit">  
                                                                                
                                                                    </div>
                                                                  
                                                        </ng-template>
                                                        
                                                                <ng-template let-test="rowData" pTemplate="body">
                                                                        <div >                                                                               
                                                                                <b>{{test.unit}}</b>
                                                                                <span class="m--margin-left-5 pull-right">
                                                                                    <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
                                                                                            <i class="la la-pencil" style="color:#fff"></i>
                                                                                    </a>
                                                                                </span>
                                                                            </div>
                                                                </ng-template>
                                                    </p-column> 
                                                <p-column field="conversionFactor"  styleClass="text-center pointer" [header]="'Conversion Factor' | translate" [editable]="true">
                                                        <ng-template let-test="rowData" pTemplate="body">
                                                            <div >
                                                                <b>
                                                                        <span>{{test.conversionFactor}}</span>
                                                                    </b>
                                                                    <span class="m--margin-left-5 pull-right">
                                                                        <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
                                                                                <i class="la la-pencil" style="color:#fff"></i>
                                                                        </a>
                                                                    </span>
                                                            </div>
                                                        </ng-template>
                                                    </p-column> 
                            
                                            </p-dataTable>
                                        </div>
                                </div>

                            <!--show all tests ranges (Step 4)-->
                            <div class="table-responsive" *ngIf="showUpperAndLowerLimit">
                                    <div class="col-xl-12" >
                                            <div class="row">
                                                <div class="col-xl-3">
                                                    <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="backToUnit()">
                                                        <span>
                                                        <span>
                                                            {{"BACK" | translate}}
                                                        </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="col-xl-6" style="text-align:center" >
                                                   
                                                </div>
                                                <div class="col-xl-3  m--align-right">
                                                    <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="showMandatory()" >
                                                        <span>
                                                    <span>
                                                        {{"NEXT" | translate}}
                                                    </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                                            </div>
                                        </div>
                                    <div class="m--margin-top-10">
                                        <p-dataTable  [value]="testRangeArray"  [responsive]="true" [editable]="true" >
                                            <p-column styleClass="text-center" [header]="'S.No' | translate">
                                                <ng-template let-index="rowIndex" pTemplate="body">
                                                    <div class="text-center">
                                                        <b>
                                                                    <span>{{index+1}}</span>
                                                                </b>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="testName"  styleClass="text-center" [header]="'TEST' | translate">
                                                <ng-template let-test="rowData" pTemplate="body">
                                                    <div class="text-left">
                                                        <b>
                                                            <span>
                                                                <strong>
                                                                        {{test.testName}}
                                                                    </strong> <br/>{{test.testType}}
                                                               
                                                            </span>                                           
                                                        </b>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column  styleClass="text-center" [header]="'Range' | translate">
                                                <ng-template let-test="rowData" pTemplate="body">
                                                    <button (click)="setRangeforTest(test)" class="btn btn-accent">Set Range</button>
                                                </ng-template>
                                            </p-column> 
                        
                                        </p-dataTable>
                                    </div>
                            </div>

                        </div>
                        
                            <!-- step 5 choose mandatory fields and labels -->
                            <div class="row" *ngIf="showMandatoryFields">
                                    <div class="col-xl-12" >
                                            <div class="row">
                                                <div class="col-xl-3">
                                                    <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="backToRange()">
                                                        <span>
                                                        <span>
                                                            {{"BACK" | translate}}
                                                        </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="col-xl-6" style="text-align:center" >
                                                    <p>Choose the mandatory fields in patient registration form and also choose the field labels to display in address</p>
                                                    
                                                </div>
                                                <div class="col-xl-3  m--align-right">
                                                    <a id="test_map" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square" style="color:#fff;" (click)="pushToServer()" >
                                                        <span>
                                                    <span>
                                                        {{"SUBMIT" | translate}}
                                                    </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                                            </div>
                                        </div>
                                    <div class="m--margin-top-10">
                                            <div class="row">
                                                    <div class="col-md-6">
                                                            <div class="m-section__content">
                                                                    <div class="m-demo" >
                                                                        <div class="m-demo__preview">
                                                                            
                                                                            <form class="m-form">
                                                                                
                                                                                <div class="m-form__group form-group row">
                                                                                    <label class="col-12 col-form-label">
                                                                                        Mandate fields
                                                                                    </label>
                                                                                    <div class="col-9">
                                                                                        <div class="m-checkbox-list">
                                                                                            <!-- <label class="m-checkbox m-checkbox--brand" (change)="changedMandateValue('FIRST_NAME')" >
                                                                                                <input type="checkbox">
                                                                                                    First name
                                                                                                <span></span>
                                                                                            </label>
                                                                                            <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('LAST_NAME')">
                                                                                                <input type="checkbox">
                                                                                               Last name
                                                                                                <span></span>
                                                                                            </label> -->
                                                                                            <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('AADHAR_CARD')">
                                                                                                    <input type="checkbox" [checked]="mandate.AADHAR_CARD">
                                                                                                   Aadhar card
                                                                                                    <span></span>
                                                                                                </label>
                                                                                            <!-- <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('MOBILE_NUMBER')">
                                                                                                <input type="checkbox">
                                                                                                    Mobile number
                                                                                                <span></span>
                                                                                            </label> 
                                                                                            <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('DATE_OF_BIRTH')">
                                                                                                <input type="checkbox"[checked]="mandate.DATE_OF_BIRTH">
                                                                                                    Date of Birth
                                                                                                <span></span>
                                                                                            </label>
                                                                                             <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('AGE')">
                                                                                                    <input type="checkbox">
                                                                                                       Age
                                                                                                    <span></span>
                                                                                                </label> -->
                                                                                                <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('CITY_OR_VILLAGE')">
                                                                                                    <input type="checkbox" [checked]="mandate.CITY_OR_VILLAGE">
                                                                                                       City OR Village
                                                                                                    <span></span>
                                                                                                </label>
                                                                                    
                                                                                                <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('POSTAL_CODE')">
                                                                                                        <input type="checkbox" [checked]="mandate.POSTAL_CODE">
                                                                                                           Postal Code
                                                                                                        <span></span>
                                                                                                    </label>
                                                                                                <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('EMAIL')">
                                                                                                            <input type="checkbox" [checked]="mandate.EMAIL">
                                                                                                              Email
                                                                                                            <span></span>
                                                                                                        </label>
                                                                                                    <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('ADDRESS')">
                                                                                                        <input type="checkbox" [checked]="mandate.ADDRESS">
                                                                                                           Address
                                                                                                        <span></span>
                                                                                                    </label>
                                                                                                    <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('STATE')">
                                                                                                            <input type="checkbox" [checked]="mandate.STATE">
                                                                                                               State
                                                                                                            <span></span>
                                                                                                        </label>
                                                                                                        <label class="m-checkbox m-checkbox--primary" (change)="changedMandateValue('COUNTRY')">
                                                                                                            <input type="checkbox" [checked]="mandate.COUNTRY" >
                                                                                                               Country
                                                                                                            <span></span>
                                                                                                        </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                            </form>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <div class="m-section__content">
                                                                    <div class="m-demo" >
                                                                        <div class="m-demo__preview">
                                                                               
                                                                                <div class="m-form__group form-group row">
                                                                                    <label class="col-12 col-form-label">
                                                                                       Rename registration field labels to 
                                                                                    </label>
                                                                                    <div class="col-12">
                                                                                        <div >
                                                                                            <label class="">
                                                                                                State
                                                                                                <input type="text" class="form-control" placeholder="Enter label value" [(ngModel)]="fieldLabels.STATE">
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                            <div >
                                                                                                <label class="">
                                                                                                    City Or Village
                                                                                                    <input type="text" class="form-control" placeholder="Enter label value" [(ngModel)]="fieldLabels.CITY_OR_VILLAGE">
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                </div>
                                                                            
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </div>
                                            </div>
                                            
                                            
                                            
                                     </div>
                            </div>
                    </div>
                   
                </div>
           
                 <p-dialog modal="modal"  [draggable]="false" [width]="800" [(visible)]="displayDialog" responsive="true"  [showHeader]="false" [closable]="true"> 
                        <div class="ccd-header">
                            <h5 class="header-text">{{'SET UPPER AND LOWER LIMIT FOR '+testData.testName | translate }}</h5>
                        </div>
                        <div class="ccd-body panel" *ngIf="testData.testName!=undefined">
                                <div class="ccd-body-text" *ngIf="testData.testName!='BLOOD PRESSURE' && testData.testName!='BLOOD GLUCOSE' && testData.testName!='URIC ACID' && testData.testName!='HEMOGLOBIN'">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <strong>Lower limit</strong>
                                                    <input type="number" class="form-control mtb15" placeholder="Enter Lower Limit" [(ngModel)]="gen.lowerlimit">
                                                </div>
                                                <div class="col-sm-6">
                                                        <strong>Upper limit</strong>
                                                        <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="gen.upperlimit">
                                                    </div>
                                            </div>
                                        </div>                                
                                </div>
                                <div class="ccd-body-text" *ngIf="testData.testName=='URIC ACID' || testData.testName=='HEMOGLOBIN'">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h6>MEN</h6>
                                            </div>
                                                <div class="col-sm-6">
                                                    <strong>Lower limit</strong>
                                                    <input type="number" class="form-control mtb15" placeholder="Enter Lower Limit" [(ngModel)]="gen.men.lowerlimit">
                                                </div>
                                                <div class="col-sm-6">
                                                        <strong>Upper limit</strong>
                                                        <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="gen.men.upperlimit">
                                                    </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-sm-12">
                                                <h6>WOMEN</h6>
                                            </div>
                                                    <div class="col-sm-6">
                                                        <strong>Lower limit</strong>
                                                        <input type="number" class="form-control mtb15" placeholder="Enter Lower Limit" [(ngModel)]="gen.women.lowerlimit">
                                                    </div>
                                                    <div class="col-sm-6">
                                                            <strong>Upper limit</strong>
                                                            <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="gen.women.upperlimit">
                                                        </div>
                                        </div>                                
                                </div>
                                
                                <div class="ccd-body-text" *ngIf="testData.testName=='BLOOD PRESSURE'">
                                    <div class="row">
                                        <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <strong>Systolic</strong><br/>
                                                <label>Enter Lower Limit</label>                                                
                                                <input type="number" class="form-control mtb15" placeholder="Enter Lower Limit" [(ngModel)]="bpranges.systolicLower">
                                                <label>Enter Upper Limit</label> 
                                                <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="bpranges.systolicUpper">
                                            </div>
                                            <div class="col-sm-6">
                                                    <strong>Diastolic</strong><br/>
                                                    <label>Enter Lower Limit</label>                                                    
                                                    <input type="number" class="form-control mtb15" placeholder="Enter Lower Limit" [(ngModel)]="bpranges.diastolicLower">
                                                    <label>Enter Upper Limit</label> 
                                                    <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="bpranges.diastolicUpper">
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                
                            </div>
                            <div class="ccd-body-text" *ngIf="testData.testName=='BLOOD GLUCOSE'">
                                    <div class="row"> 
                                            <div class="col-sm-12">
                                            <strong>Fasting</strong>   
                                            </div>                                        
                                            <div class="col-sm-6">
                                                <label class="lb">Enter Normal Limit</label>
                                                <input type="number" class="form-control mtb15" placeholder="Enter Lower Limit" [(ngModel)]="bloodGlucoseRanges.fastingnormallower">
                                                <label class="lb">Enter Pre-Diabetic Limit</label>
                                                <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="bloodGlucoseRanges.fastingnormalupper">
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="lb">Enter Diabetic Limit</label>
                                                <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="bloodGlucoseRanges.fastingDiabeticupper">
                                            </div>                                             
                                            
                                            <div class="col-sm-12">
                                                    <div class="m-separator m-separator--dashed" style="margin-top:0px!important"></div>
                                                    <strong>Post Prandial</strong>   
                                            </div>   
                                
                                            <div class="col-sm-6">
                                                <label class="lb">Enter Normal Limit</label>
                                                <input type="number" class="form-control mtb15" placeholder="Enter Lower Limit" [(ngModel)]="bloodGlucoseRanges.postprandialnormallower">
                                                <label class="lb">Enter Pre-Diabetic Limit</label>
                                                <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="bloodGlucoseRanges.postprandialnormalupper">
                                            </div>
                                            <div class="col-sm-6">
                                                    <label class="lb">Enter Diabetic Limit</label>
                                                    <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="bloodGlucoseRanges.postprandialDiabeticupper">
                                            </div> 
                                          
                                            <div class="col-sm-12">
                                                    <div class="m-separator m-separator--dashed" style="margin-top:0px!important"></div>
                                                    <strong>Random</strong>   
                                            </div>                                                  
                                            <div class="col-sm-6">
                                                    <label class="lb">Enter Normal Limit</label>
                                                    <input type="number" class="form-control mtb15" placeholder="Enter Lower Limit" [(ngModel)]="bloodGlucoseRanges.randomnormallower">
                                                    <label class="lb">Enter Pre-Diabetic Limit</label>
                                                    <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="bloodGlucoseRanges.randomnormalupper">
                                                </div>
                                            <div class="col-sm-6">
                                                    <label class="lb">Enter Diabetic Limit</label>
                                                    <input type="number" class="form-control mtb15" placeholder="Enter Upper Limit" [(ngModel)]="bloodGlucoseRanges.randomDiabeticupper">
                                            </div>
                                    </div>                                
                            </div>
                           
                        </div>
                        <p-footer>
                            <div class="ccd-footer">
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3">
                                        <button class="btn m-btn--square btn-accent btn-block btn-sm" (click)="setRange()"> SUBMIT</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn m-btn--square btn-block btn-secondary btn-sm" (click)="cancel()"><i class="fa fa-times"></i> Cancel </button>
                                    </div>
                                </div>
                            </div>
                        </p-footer>
                
                    </p-dialog>    
<<<<<<< HEAD
       
       
                </div>
        
=======
        </div>       
>>>>>>> 66ea38dfdf2eb860f89f2119f5440eab09c21f9e


