<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span> -->
                            <h3 class="m-portlet__head-text" style="font-weight:400">
                                <!-- <span *ngIf="!device.id">Add </span> -->
                                <span>{{"HD_MASTER_DATA" | translate}} </span>
                            </h3>
                        </div>
                    </div>
                    <!-- tools -->

                    <!-- End: tools -->
                </div>
                <p-growl [(value)]="alert"></p-growl>
                <!--begin::Form-->
                <!--  <form (ngSubmit)="f.form.valid && save()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right" 
                    id="m_form_device" action=""> -->
                <div class="m-portlet__body">
                    <div class="col-lg-12" style="padding-top:10px">                        
                        {{'NOTE_MASTER_TEST_LIST'| translate }}                          
                    </div>
                  
                    <div class="col-lg-12" style="padding-top:10px">
                        <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                            <p-dataTable [value]="tests" styleClass="borderless" [editable]="true" [responsive]="true">
                                <p-column [header]="'S.No' | translate" [style]="{'text-align': 'center'}">
                                    <ng-template let-col let-i="rowIndex" pTemplate="body">
                                        <span>{{i + 1}}</span>
                                    </ng-template>
                                </p-column>
                                <p-column field="testType" styleClass="text-left" [header]="'TEST_TYPE' | translate" [sortable]="true">
                                    <ng-template let-col let-test="rowData" pTemplate="body">
                                        <strong>{{test.testType}}</strong>
                                    </ng-template>
                                </p-column>
                                <p-column field="testName" styleClass="text-left" [header]="'TEST_NAME' | translate" [sortable]="true">
                                    <ng-template let-col let-test="rowData" pTemplate="body">
                                        <strong>{{test.testName}}</strong>
                                    </ng-template>
                                </p-column>
                                <p-column field="label" styleClass="text-left" [header]="'TEST_LABEL' | translate" [editable]="true">
                                    <ng-template let-col let-test="rowData" pTemplate="body">
                                        <span class=""><b>{{test.label}}</b> <span class="m--margin-left-10 pull-right">
                                                <a class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
                                                        <i class="la la-pencil" style="color:#fff"></i>
                                                </a>
                                        </span>
                                        </span>
                                    </ng-template>
                                    <ng-template let-col let-test="rowData" pTemplate="editor">
                                        <input type="text" pInputText [(ngModel)]="test[col.field]" appendTo="body" />
                                    </ng-template>
                                </p-column>
                                <!-- <p-column field="label" [header]="'TEST_LABEL' | translate" [editable]="true" [style]="{'text-align': 'center'}">
                                    <ng-template let-col let-test="rowData" pTemplate="body">
                                        <span>{{test.label}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-pencil"></i>
                                    </ng-template>
                                    <ng-template let-col let-test="rowData" pTemplate="editor">
                                        <input type="text" pInputText [(ngModel)]="test[col.field]" appendTo="body" [style]="{'text-align': 'center'}" />
                                    </ng-template>
                                </p-column> -->
                                <p-column field="active" [header]="'ACTIVE' | translate" [style]="{'text-align': 'left', 'width':'100px'}">
                                    <div class="col-3">
                                        <ng-template let-col let-test="rowData" pTemplate="body">
                                            <span class="m-switch m-switch--sm m-switch--icon">
                                                <label>
                                                    <input type="checkbox" [(ngModel)]="test.active">
                                                    <span></span>
                                                </label>
                                            </span>
                                        </ng-template>
                                    </div>
                                </p-column>
                                <p-column styleClass="col-button" [style]="{'width':'15%'}">
                                    <ng-template pTemplate="header">
                                        {{"UPDATE" | translate}}
                                    </ng-template>
                                    <ng-template let-test="rowData" pTemplate="body">
                                        <div style="text-align : center">
                                            <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'UPDATE' | translate">
                                                <i class="fa fa-save" (click)="updateTest(test)" style="color:#fff"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                            <div class="pull-right" style="margin:12px">
                                {{"Total_Records"|translate}}: <b>{{testCount}} </b>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- </form> -->
                <!--end::Form-->
            </div>

            <!--end::Portlet-->
        </div>

    </div>
</div>