<div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head" style="padding-left:0px">
                        <span class="side-line-header"></span>
                        <div class="m-portlet__head-caption" style="padding-left:25px">
                            <div class="m-portlet__head-title">
                                <!-- <span class="m-portlet__head-icon">
                                    <i class="la la-gear"></i>
                                </span>  -->
                                <h3 class="m-portlet__head-text">
                                    <!-- <span *ngIf="!device.id">Add </span> -->
                                    <span>{{"AVAILABLE CONFIGURATIONS" | translate}} </span>
                                </h3>
                            </div>
                        </div>
                        <!-- tools -->
                        <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                   <li class="m-portlet__nav-item">
                                            <a class="btn btn-accent m-btn m-btn--custom m-btn--air m-btn--pill" [routerLink]="['/skinconfig']" >
                                                 <span>
                                                         <i class="la la-plus"></i>
                                                         &nbsp;
                                                         <span>
                                                             {{"New Configuration" | translate}}
                                                         </span>
                                                 </span>
                                             </a>
                                 </li>
                                </ul>
                            </div> 
                        <!-- End: tools -->
                    </div>
                    
                    <!--begin::table-->
    
                    <div class="m-portlet__body">
                        <div class="col-lg-12">
                            <div class="m-section">
                                <div class="m-section__sub">
                                    <!-- <p><b>   {{'This page is to administer data of '+selectedoption+' made per device'| translate }}</b></p> -->
                                    <!-- <small>* Sorted based on patient registration</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded text-center" >
                                   <div class="table-responsive" >
                                        <p-dataTable  [value]="listofconfig"  [responsive]="true" styleClass="borderless" >
                                                <p-column styleClass="text-center" [header]="'S.No' | translate">
                                                    <ng-template let-index="rowIndex" pTemplate="body">
                                                        <div class="text-center">
                                                            <b>
                                                                        <span> {{(page -1) * limit + (index+1)}}</span>
                                                                    </b>
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column styleClass="text-center" [header]="'CUSTOMER' | translate">
                                                    <ng-template let-config="rowData" pTemplate="body">
                                                        <div class="text-center">
                                                            <span *ngIf="config.facilityName">
                                                               <b> {{config.facilityName}} </b>
                                                            </span>                                                            
                                                            <span class="label label-lg label-warning arrowed-in arrowed-in-right" style="margin-top:10px" *ngIf="!config.facilityName && config.configType!='DEFAULT'">
                                                                Un Assigned
                                                            </span>
                                                            <span class="label label-lg label-success arrowed-in arrowed-in-right" style="margin-top:10px;background-color:#34bfa3" *ngIf="config.configType =='DEFAULT'">
                                                                Default File
                                                            </span>
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column styleClass="text-center" [header]="'TYPE' | translate">
                                                    <ng-template let-config="rowData" pTemplate="body">
                                                        <div class="text-center">
                                                            <span>
                                                               <b>{{config.configType}}</b> 
                                                            </span>
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                <p-column field="language"  styleClass="text-center" [header]="'Language' | translate">
                                                        <ng-template let-config="rowData" pTemplate="body">
                                                            <div >
                                                                <b>
                                                                    <span>
                                                                        {{config.language}}
                                                                    </span>                                           
                                                                </b>
                                                            </div>
                                                        </ng-template>
                                                    </p-column>
                                                    <p-column field="updateTime"  styleClass="text-center" [header]="'LAST_UPDATED' | translate">
                                                    <ng-template let-config="rowData" pTemplate="body">
                                                        <div class="text-left">
                                                            <b>
                                                                <span>
                                                                    <i class="fa fa-calendar"> </i> {{config.updateTime | date:'yMd'}}
                                                                    <br/>
                                                                    <i class="fa fa-clock-o"> </i> {{config.updateTime | date:'jm'}}                                                                      
                                                                </span>                                           
                                                            </b>
                                                        </div>
                                                    </ng-template>
                                                </p-column>
                                                
                                                <p-column  styleClass="text-center" [header]="'ACTIONS' | translate">
                                                    <ng-template let-config="rowData" pTemplate="body">
                                                            <a class="btn btn-success m-btn m-btn--icon m-btn--icon-only" [title]="'VIEW' | translate" [routerLink]="['/skin/details']" [queryParams]="{confId:config.id}">
                                                                    <i class="la la-eye"  style="color:#fff"></i>
                                                            </a>
                                                            <a *ngIf="config.configType!='DEFAULT'" class="btn btn-info m-btn m-btn--icon m-btn--icon-only" [title]="'EDIT' | translate" [routerLink]="['/skinconfig']" [queryParams]="{confId:config.id}">
                                                                <i class="la la-pencil"  style="color:#fff"></i>
                                                            </a>
                                                            <!-- <a class="btn btn-warning m-btn m-btn--icon m-btn--icon-only" *ngIf="!config.facilityName && !config.facilityId && config.configType!='DEFAULT'"  [title]="'ASSIGN' | translate">
                                                                <i class="fa fa-check"  style="color:#fff"></i>
                                                            </a> -->
                                                    </ng-template>
                                                </p-column> 
                            
                                            </p-dataTable>
                                    </div>
                                    
                                     <div *ngIf="visiblepagination">
                                        <p-paginator [rows]="row" [totalRecords]="totalcount" (onPageChange)="paginate($event)"></p-paginator>
                                     </div> 
    
                                    <div class="col-sm-12" style="margin:20px">
                                        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12 pull-left text-left">
                                            <div class="drop">
                                                <label for="m_sorthby">{{"Items_per_Page" | translate}}</label>
                                                <p-dropdown [options]="pageranges" [placeholder]="row" (onChange)="select($event)"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12 pull-right text-right">
                                            <p>{{"Total_Records" | translate}}: <b>{{totalcount}} </b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::table-->
                </div>
    
                <!--end::Portlet-->
            </div>
    
        </div>
    </div>
