<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                <span *ngIf="!showPython"> {{"ASSIGN_RDT_LOOKUP" | translate}}</span>
                <span *ngIf="showPython"> Assign {{displayListName}} File</span>
            </h3>
        </div>
    </div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet" *ngIf="!assignHub">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:20px">
                        <div class="m-portlet__head-title">
                            <!-- <span class="m-portlet__head-icon">
                                <i class="flaticon-file-1"></i>
                            </span> -->
                            <h3 class="m-portlet__head-text" style="font-weight:400">
                                <br/>
                                <h5> {{filename}} </h5>
                                <!-- <small><span class="m--font-brand"><i class="fa fa-vimeo-square"></i></span> {{fileVersion}}  Version</small><br/> -->
                                <small><span class="m--font-danger"><i class="flaticon-laptop"></i></span> {{deviceNo}} Hubs assigned</small>
                                <!-- <small>Add hub on left and all unassigned hubs will be listed on right side. Select multiple hubs to assign them to customer and center. </small> -->
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a id="{{displayListName}}_detail_list" class="m-link m-link--state m-link--focus m--font-boldest" (click)="redirect(displayListName)">
                                    <span class="m--font-focus" style="cursor:pointer">
                                        <i class="flaticon-file-1"></i>
                                        <span>
                                                {{displayListName}} List
                                        </span>
                                    </span>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a id="{{displayListName}}_detail_list" class="m-link m-link--state m-link--focus m--font-boldest" *ngIf="deviceNo!=0" (click)="redirectAssign()">
                                    <span class="m--font-focus" style="cursor:pointer">
                                                <i class="fa fa-eye"></i>
                                                <span>
                                                        {{"Deployment_View"|translate}}
                                                </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="row pull-right" style="margin-top: 22px;margin-right:18px">

                            <!-- <a id="facility_detail_edit" class="m-link m-link--state m-link--success m--font-boldest" style="margin-left:10px" [routerLink]="['/facilities/update']" [queryParams]="{facilityId: facility.organizationCode}" *ngIf="currentRole != 'Facility' || hasTechnicianRole">
                                <span>
                                            <i class="flaticon-edit-1"></i>
                                            <span>
                                                {{"CUSTOMER_EDIT" | translate}}
                                            </span>
                                </span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="min-height:600px">
                    <div class="m-form m-form--label-align-right m--margin-top-5 m--margin-bottom-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div style="padding-top:10px">
                                    <div class="row">
                                            <h6>
                                                    <span *ngIf="!showPython"> {{"ASSIGN_RDT_LOOKUP" | translate}}</span>
                                                    <span *ngIf="showPython"> Assign {{displayListName}} File</span>
                                            </h6>
                                        <div class="" style="padding-left:15px">
                                            {{"LBL_INSTRUCTION_MSG" | translate }}
                                        </div>
                                    </div>                                   
                                    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-success alert-dismissible fade show" *ngIf="isSuccessAssgined" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            {{filename}} assigned successfully.
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            </button>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12" style="padding-top:10px">
                        <div class="row">
                            <div class="col-lg-3">
                                <!-- <div class="input-group m-input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        {{"CUSTOMER" | translate}}
                                    </span>
                                    <p-dropdown [options]="facilitiesLabel" [style]="{'border-radius': '0px'}" [(ngModel)]="selectedFacility" [filter]="true" filterBy="label,value.name" (onChange)="onFacilityChange()"></p-dropdown>
                                </div> -->
                                <div class="form-group m-form__group">
                                    <div class="col-lg-2" style="padding-left: 7px">
                                        <b>  {{"CUSTOMER" | translate}} </b>
                                    </div>
                                    <div class="col-lg-10" style="padding-left:0px">
                                        <app-fac-dropdown [value]="chosen" [id]="'rdt-assign-customer'" *ngIf="show" [active]="false" (selected)="pageOne('change');facilityChange($event)" [noLabel]="'type'"></app-fac-dropdown>
                                    </div>                     
                                </div>                          

                            </div>
                            <div class="col-lg-3">
                                <!-- <div class="input-group m-input-group">
                                    <span class="input-group-addon" id="basic-addon2">
                                        {{"CENTER" | translate}}
                                    </span>
                                    <p-dropdown [options]="centersLabel" [style]="{'border-radius': '0px','width':'250px'}" [(ngModel)]="selectedCenter" [filter]="true" filterBy="label,value.name" (onChange)="onCenterChange()"></p-dropdown>
                                </div> -->
                                <div class="form-group m-form__group" *ngIf="selectedFacility.id">
                                        <div class="col-lg-2" style="padding-left: 7px">
                                          <b> {{"CENTER" | translate}} </b>
                                        </div>
                                    <div class="col-lg-10" style="padding-left:0px">
                                        <select id="device_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" (change)="pageOne('change');onCenterChange()"  #centerId="ngModel" *ngIf="centers">
                                                    <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                        </select>
                                        <span class="m-form__help text-danger" *ngIf="centers.length ==0">
                                                    {{"THIS_CUSTOMER_DOES_NOT_HAVE_CENTERS_CONFIGURED" | translate}}
                                        </span>
                                    </div>                   
                                </div>                                
                            </div> 
                           
                            <div class="col-lg-4">                                    
                                <div class="col-12" for="example-text-input" style="text-align:left">
                                    <b> {{"Search by Serial number" | translate}} </b>                                      
                                    <span class="hintText">({{"MIN_3_CHARACTER" | translate}})</span>
                                </div>
                                <div class="col-8" id="hub-assign_search">
                                    <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                        <input type="text" class="form-control m-input m-input--solid m-input m-input--pill" [(ngModel)]="searchString" [placeholder]="'SEARCH' | translate" (keyup)="pageOne('search');searchingHub($event.target.value,'ASSIGNED')">
                                        <span class="m-input-icon__icon m-input-icon__icon--left" id="search_icon">
                                            <span> 
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                        <span class="m-input-icon__icon m-input-icon__icon--right">
                                            <span style="border:none;background: transparent" (click)="searchString='';pageNo=1;clearClick()">
                                                <i style='color:red;cursor:pointer' class="la la-remove"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>                                    
                            </div>                            
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--pill yellow m--pull-right" [disabled]="countNo==0?true:false" (click)="check()">{{"ASSIGN" | translate}}({{countNo}})</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12" style="text-align:center;padding-top:50px" *ngIf="!showTable">
                            <img alt="" class="res-testmap" src="./assets/app/media/img/users/hubmap.png">
                    </div>

                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded" *ngIf="showTable">
                        <p-dataTable [value]="devices" styleClass="borderless">
                            <p-column [style]="{'width':'80px'}" styleClass="text-center" [header]="'S.No' | translate">
                                <ng-template let-index="rowIndex" pTemplate="body">
                                    <b>
                                        <span>{{((pageNo -1) * 10) + (index+1)}}</span>
                                    </b>
                                </ng-template>
                            </p-column>
                            <p-column [header]="'SELECT' | translate" styleClass="text-center">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <label class="m-checkbox m-checkbox--air m-checkbox--state-success" *ngIf="device.deviceStatus== 'ACTIVE'">
                                            <input id="dev_select_{{device.id}}" type="checkbox" name="selected" [checked]="device.selected" (change)="onDeviceCheck(device)">
                                            <span></span>
                                    </label>
                                    <label class="m-checkbox m-checkbox--solid" *ngIf="device.deviceStatus== 'INACTIVE'">
                                            <input id="dev_select_{{device.id}}" type="checkbox" name="selected" disabled [checked]="device.selected" (change)="onDeviceCheck(device)">
                                            <span></span>
                                    </label>
                                </ng-template>
                            </p-column>
                            <p-column field="serialNumber" styleClass="text-left" [header]="'SERIAL_NUMBER' | translate">
                                <ng-template let-col let-device="rowData" pTemplate="body">
                                    <strong>{{device.serialNumber}}</strong>
                                </ng-template>
                            </p-column>
                            <p-column field="deviceType" styleClass="text-left" [header]="'DEVICE_TYPE' | translate">
                                <ng-template let-col let-device="rowData" pTemplate="body">
                                    <strong>{{device.deviceType}}</strong>
                                </ng-template>
                            </p-column>
                            <p-column field="deviceStatus" styleClass="text-left" [header]="'Hub Status' | translate">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <span *ngIf="device.deviceStatus== 'ACTIVE'">
                                                <span class="m-badge m-badge--success m-badge--wide">
                                                        {{'ACTIVE' | translate}}
                                                </span>
                                    </span>
                                    <span *ngIf="device.deviceStatus=='INACTIVE'">
                                                <span class="m-badge m-badge--danger m-badge--wide">
                                                        {{'Deactive' | translate}}
                                                </span>
                                    </span>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                        <div style="position: relative;" *ngIf="visiblePagination">
                          <p-paginator rows="10"  [totalRecords]="deviceCount" (onPageChange)="paginate($event)"></p-paginator>
                            <span style="position: absolute; top:3px; right:5px; margin: 5px;">                                                              
                                <span> {{"Total_Records"|translate}}: <b>{{deviceCount}} </b> </span> 
                            </span>
                        </div>
                     </div>
                    <div class="row m--margin-bottom-25">&nbsp;</div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>