<!-- BEGIN: Subheader -->
<!--<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title">
				Add Facility
			</h3>
		</div>
	</div>
</div>-->
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <ul class="progress-tracker">
                <li class="complete" *ngIf="userType && userType === 'Admin'">
                    <a routerLink="/consumables/add">
                        <div class="step" id="step_one" style="background-color: rgb(52, 191, 163);">
                            <i class="flaticon-add" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"ADD_CONSUMABLES_TO_MASTER_INVENTORY" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete" *ngIf="userType && userType === 'Admin'">
                    <a routerLink="/consumables/list">
                        <div class="step" id="step_two" style="background-color: rgb(52, 191, 163);">
                            <i class="fa fa-list" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"MASTER_INVENTORY_LIST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/reorder/add">
                        <div class="step" id="step_three" style="background-color: rgb(255, 184, 34);">
                            <i class="flaticon-placeholder-1" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"CREATE_REORDER_REQUEST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete" *ngIf="userType && userType === 'Admin'">
                    <a routerLink="/consumables/reorder">
                        <div class="step" id="step_four">
                            <i class="la la-check-square-o" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"REORDER_LIST_ALLOCATION" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete" *ngIf="userType && userType === 'Facility'">
                    <a routerLink="/consumables/reorder">
                        <div class="step" id="step_four">
                            <i class="la la-check-square-o" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            Reorder List
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
                <li class="complete">
                    <a routerLink="/consumables/center">
                        <div class="step" id="step_five">
                            <i class="flaticon-list" style="color:white"></i>
                        </div>
                        <div class="label m--font-bold">
                            {{"CENTER_WISE_INVENTORY_LIST" | translate}}
                        </div>
                    </a>
                    <div style="margin-top: 50px;">
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--head-solid-bg m-portlet--bordered m-portlet--brand">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="flaticon-list-3"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                <span>{{"ADD_REORDER_REQUEST" | translate}}</span>
                                <br>
                                <small>{{"SELECT_CENTER_AND_ADD_CONSUMABLE_DETAILS_TO_CREATE_REORDER_REQUEST" | translate}}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-xl-12">
                            <h5>{{"SELECT_CENTER" | translate}}</h5>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-5" *ngIf="userType && userType === 'Admin'">
                            <div class="input-group m-input-group" *ngIf="facilities">
                                <span class="input-group-addon" id="basic-addon1" style="border-color: transparent;background-color: transparent;">
                                    {{"CUSTOMER" | translate}}
                                </span>
                                <select aria-describedby="basic-addon1" name="organisationId" id="select_facility" class="form-control m-input m-input--square"
                                    [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
                                    <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-5">
                            <div class="input-group m-input-group" *ngIf="centers">
                                <span class="input-group-addon" id="basic-addon2" style="border-color: transparent;background-color: transparent;">
                                    {{"CENTER" | translate}}
                                </span>
                                <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id"
                                    (change)="onCenterChange(centerId.value)" #centerId="ngModel">
                                    <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-12">
                            <h5>{{"REQUIRED_CONSUMABLES_LIST" | translate}}</h5>
                        </div>
                    </div>
                    <br>
                    <!-- <div class="row">
                        <div class="col-xl-12">
                            <button id="open_consumable_modal" type="button" class="btn btn-accent m-btn--square" data-toggle="modal" data-target="#m_modal_consumable_add">
                                <i class="la la-plus"></i> {{"CONSUMABLE" | translate}}
                            </button>
                        </div>
                    </div>
                    <br> -->
                    <div class="row">
                        <div class="col-xl-12" *ngIf="consumableList">
                            <p-dataTable [value]="consumableList" styleClass="borderless" [globalFilter]="gb" #dt [responsive]="true">
                                <p-column [style]="{'width':'100px'}" styleClass="text-center" [header]="'S.No' | translate">
                                    <ng-template let-index="rowIndex" pTemplate="body">
                                        <b>
                                            <span>{{(index+1)}}</span>
                                        </b>
                                    </ng-template>
                                </p-column>
                                <p-column field="name" styleClass="text-left" [header]="'TEST' | translate">
                                    <ng-template let-cons="rowData" pTemplate="body">
                                        <div style="text-align : left">
                                            <span>{{cons.name | translate}}</span>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="consumableType" styleClass="text-left" [header]="'TYPE' | translate">
                                    <ng-template let-cons="rowData" pTemplate="body">
                                        <div style="text-align : left">
                                            <span>{{cons.consumableType}}</span>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="quantity" styleClass="text-left" [header]="'QUANTITY' | translate">
                                    <ng-template let-cons="rowData" pTemplate="body">
                                        <div style="text-align : left">
                                            <span>{{cons.quantity}} {{"PACKS" | translate}}</span>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column styleClass="col-button">
                                    <ng-template pTemplate="header">
                                        <div class="row">
                                            <!-- <div class="col-xl-8 text-right">
                                                {{"ACTION" | translate}}
                                            </div> -->
                                            <div class="col-xl-12 text-right">
                                                <button id="open_consumable_modal" type="button" class="btn btn-accent m-btn--square btn-sm" data-toggle="modal" data-target="#m_modal_consumable_add">
                                                    <i class="la la-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-cons="rowData" pTemplate="body">
                                        <div style="text-align : center">
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill edit-facility" [title]="'EDIT' | translate"
                                                (click)="editCosumable(cons)">
                                                <i class="la la-pencil"></i>
                                            </a>
                                            <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill edit-facility" [title]="'REMOVE' | translate"
                                                (click)="removeCosumable(cons)">
                                                <i class="la la-times"></i>
                                            </a>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <ng-template pTemplate="emptymessage">
                                    <div style="text-align:center">{{"NO_CONSUMABLES_ADDED_CLICK_ON_+_CONSUMABLE_BUTTON_TO_ADD" | translate}}. </div>
                                </ng-template>
                            </p-dataTable>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-6">
                            <h5>
                                {{"COMMENT" | translate}}
                            </h5>
                            <textarea id="reorder_comment" type="text" name="comment" class="form-control m-input m-input--square" [(ngModel)]="comment"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <button id="reorder_submit" type="button" class="btn btn-success m-btn--square" (click)="createRequest()" *ngIf="consumableList.length>0">
                                {{"CREATE_REQUEST" | translate}}
                            </button>
                            <button id="reorder_cancel" routerLink="/consumables/reorder" class="btn btn-secondary m-btn--square">
                                {{"CANCEL" | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
    <!--begin::Modal-->
    <div class="modal fade" id="m_modal_consumable_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{"ENTER_CONSUMABLE_DETAILS" | translate}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeConsumableModal()">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <form (ngSubmit)="f1.form.valid && addCosumable()" #f1="ngForm" id="consumable_form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">
                                {{"TEST" | translate}} *
                            </label>
                            <select aria-describedby="basic-addon1" name="test" id="consumable_test" class="form-control m-input m-input--square" [(ngModel)]="consumableToAdd.testName"
                                #test="ngModel" (change)="onTestChange()" required>
                                <option value="{{test.testName}}" *ngFor="let test of tests">{{ test.testName | translate }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">
                                {{"TYPE" | translate}} *
                            </label>
                            <input id="consumable_name" type="text" name="name" class="form-control m-input m-input--square" [(ngModel)]="consumableToAdd.consumableType"
                                #name="ngModel" disabled>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">
                                {{"TOTAL_QUANTITY_REQUIRED_IN_PACKS" | translate}} *
                            </label>
                            <input id="consumable_quantity" type="number" name="quantity" class="form-control m-input m-input--square" [(ngModel)]="consumableToAdd.quantity"  min="1"
                                #quantity="ngModel" (change)="onQuantityChange()"  required>
                            <span class="m-form__help">
                                {{"NOTE: PACKS_CAN_BE_PACKAGINGS_LIKE_BOXES_OR_BOTTLES"| translate}} .
                            </span>
                        </div>
<!--                         <div class="col-md-12">
                            {{f1.form | json}}
                        </div> -->
                        <div class="col-md-12">
                            <p-messages [(value)]="msgComsumableAdd"></p-messages>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="consumable_submit" type="submit" class="btn btn-success m-btn--square">
                            {{"SUBMIT"| translate}}
                        </button>
                        <button id="close_consumable_modal" type="button" class="btn btn-secondary m-btn--square" data-dismiss="modal" (click)="closeConsumableModal()">
                            {{"CLOSE"| translate}}
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <!--end::Modal-->
</div>