<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				List Facilities
			</h3>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="padding-left:0px">
            <span class="side-line-header"></span>
            <div class="m-portlet__head-caption" style="padding-left:20px">
                <div class="m-portlet__head-title">
                    <!-- <span class="m-portlet__head-icon">
						<i class="flaticon-list"></i>
					</span> -->
                    <h3 class="m-portlet__head-text">
                        {{"PATIENTS_WEEKLY_REPORT" | translate}}
                        <small></small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <!-- <li class="m-portlet__nav-item" *ngIf="userType && userType == 'Admin'">
                        <div class="input-group m-input-group" *ngIf="facilities">
                            <span class="input-group-addon" id="basic-addon1">
									Client
								</span>
                            <select aria-describedby="basic-addon1" name="organisationId" id="select_facility" class="form-control m-input m-input--square" [(ngModel)]="selectedFacility.id" (change)="onOrgChange(organisationId.value)" #organisationId="ngModel">
													  <option value="{{facility.id}}" *ngFor="let facility of facilities">{{facility.name}}</option>
												  </select>
                        </div>
                    </li>
                    <li class="m-portlet__nav-item">
                        <div class="input-group m-input-group" *ngIf="centers">
                            <span class="input-group-addon" id="basic-addon2">
									Center
								</span>
                            <select aria-describedby="basic-addon2" id="select_center" name="centerId" class="form-control m-input m-input--square" [(ngModel)]="selectedCenter.id" #centerId="ngModel">
												  <option value="{{center.id}}" *ngFor="let center of centers">{{center.name}}</option>
											  </select>
                        </div>
                    </li> -->
                    <li class="m-portlet__nav-item">
                        <div class="m-subheader" style="padding:0px;">
                            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
								<span class="m-subheader__daterange-label">
								<span class="m-subheader__daterange-title"></span>
                            <span class="m-subheader__daterange-date m--font-brand"></span>
                            </span>
                            <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                <i class="la la-angle-down"></i>
                            </a>
                            </span>
                        </div>
                    </li>
                    <li class="m-portlet__nav-item">
                        <a class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--square" style="color: #fff;" (click)="onFilterClick()">
                            <span>
									<span>
										 {{"FILTER" | translate}}
									</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <!-- <div class="col-md-4">
								<div class="m-form__group m-form__group--inline">
									<div class="m-form__label">
										<label>
												Status:
											</label>
									</div>
									<div class="m-form__control">
										<select class="form-control m-bootstrap-select m-bootstrap-select--solid" id="m_form_status">
												<option value="">
													All
												</option>
												<option value="1">
													Pending
												</option>
												<option value="2">
													Delivered
												</option>
												<option value="3">
													Canceled
												</option>
											</select>
									</div>
								</div>
								<div class="d-md-none m--margin-bottom-10"></div>
							</div>
							<div class="col-md-4">
								<div class="m-form__group m-form__group--inline">
									<div class="m-form__label">
										<label class="m-label m-label--single">
												Type:
											</label>
									</div>
									<div class="m-form__control">
										<select class="form-control m-bootstrap-select m-bootstrap-select--solid" id="m_form_type">
												<option value="">
													All
												</option>
												<option value="1">
													Online
												</option>
												<option value="2">
													Retail
												</option>
												<option value="3">
													Direct
												</option>
											</select>
									</div>
								</div>
								<div class="d-md-none m--margin-bottom-10"></div>
							</div> -->
                            <div class="col-md-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" [placeholder]="'SEARCH' | translate" id="m_form_search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
											<span>
												<i class="la la-search"></i>
											</span>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a id="dashboard_route" routerLink="/index" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--square">
                            <span>
								<i class="la la-arrow-left"></i>
								<span>
									 {{"BACK" | translate}}
								</span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m_datatable" id="local_data"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>