<div class="m-content" id="file-details">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title" style="padding: 10px 0px;">
                            <span class="m-portlet__head-icon">
                                        <i class="flaticon-file-1"></i>
                                    </span>
                            <h3 class="m-portlet__head-text">
                                <span *ngIf="file.filename">{{file.filename}}</span><br/>
                                <small><span class="m--font-brand"><i class="fa fa-vimeo-square"></i></span> {{file.version}} Version</small><br/>
                                <small><span class="m--font-danger"><i class="fa fa-clock-o"></i></span> {{file.uploadTime}}</small>
                            </h3>
                        </div>
                    </div>
                    <div class="row pull-right" style="margin-top: 22px;margin-right:18px">
                        <a id="facility_detail_list" routerLink="/upload" class="m-link m-link--state m-link--focus m--font-boldest" *ngIf="currentRole != 'Facility'">
                            <span>
                                    <i class="la la-cloud-upload"></i>
                                    <span>
                                        Upload File List
                                    </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-3 col-xl-3" style="margin-top:-30px; padding-right: 2px;">
            <div class="m-portlet">
                <div class="m-portlet__body" style="height: 700px">
                    <div class="m-widget2" style="height: 650px;overflow:auto">
                        <div class="m-widget2__item m-widget2__item--primary" id="facDetails{{facility.centerId}}" *ngFor="let facility of facilityArray" (click)="showDetail(facility.facilityId,facility.centerId)">
                            <div class="m-widget2__checkbox">

                            </div>
                            <div class="m-widget2__desc">
                                <span class="m-widget2__text">
                                {{facility.facilityName}} ({{facility.facilityCode}})
                            </span>
                                <br>
                                <span class="m-widget2__user-name">
                                <a class="m-widget2__link" href="#" ng-reflect-href="#">
                                        {{facility.centerName}} ({{facility.centerCode}})
                                </a>
                            </span>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-9 col-xl-9" style="margin-top:-30px; padding-left:0px">
            <div class="m-portlet">
                <div class="m-portlet__body" style="height: 700px" *ngIf="!viewCustomer">
                    <span class="text-danger">Click some customer to view thier details</span>
                </div>
                <div class="m-portlet__body" style="height: 700px" *ngIf="viewCustomer">
                    <div class="row">
                        <div class="col-xl-4 col-sm-4">
                            <div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height m-portlet--count-card" style="cursor:auto">
                                <div class="m-portlet__body">
                                    <div class="m-widget3">
                                        <div class="m-widget3__item">
                                            <div class="m-widget3__header">
                                                <div class="m-widget3__user-img">
                                                    <!-- <img alt="" *ngIf="!selectedFacility.logo" class="m-widget3__img" src="./assets/app/media/img/users/user-avatar.png">
                                                    <img alt="" *ngIf="selectedFacility.logo" class="m-widget3__img" src="selectedFacility.logo"> -->
                                                    <i class="flaticon-placeholder-1" style="font-size: 2.3rem;"></i>
                                                </div>
                                                <div class="m-widget3__info" style="word-break: break-all">
                                                    <span class="m-widget3__username" style="font-size: 1.0rem;color:white">
                                                                {{selectedFacility.name}}
                                                                </span>
                                                    <br>
                                                    <!-- <span class="m-widget3__time" style="font-size: 1.0rem">
                                                               {{selectedFacility.organizationCode}}
                                                        </span> -->

                                                    <span class="m-widget3__time" style="font-size: 1.0rem">
                                                            {{selectedFacility.email}}
                                                        </span><br/>
                                                    <span class="m-widget3__time" style="font-size: 1.0rem">                                            
                                                               {{selectedFacility.mobile}} 
                                                        </span>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-4">
                            <div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height m-portlet--count-card" style="cursor:auto">
                                <div class="m-portlet__body">
                                    <div class="m-widget3">
                                        <div class="m-widget3__item">
                                            <div class="m-widget3__header">
                                                <div class="m-widget3__user-img">
                                                    <!-- <img alt="" *ngIf="!selectedFacility.logo" class="m-widget3__img" src="./assets/app/media/img/users/user-avatar.png">
                                                        <img alt="" *ngIf="selectedFacility.logo" class="m-widget3__img" src="selectedFacility.logo"> -->
                                                    <i class="la la-building" style="font-size: 2.3rem; color:00CEC7"></i>
                                                </div>
                                                <div class="m-widget3__info" style="word-break: break-all">
                                                    <span class="m-widget3__username" style="font-size: 1.0rem;color:white">
                                                                {{selectedCenter.name}}
                                                                </span>
                                                    <br>
                                                    <span class="m-widget3__time" style="font-size: 1.0rem">
                                                               {{selectedCenter.centerCode}}
                                                        </span>

                                                    <!-- <span class="m-widget3__time" style="font-size: 1.0rem">
                                                            {{selectedFacility.email}}
                                                        </span><br/>
                                                        <span class="m-widget3__time" style="font-size: 1.0rem">                                            
                                                               {{selectedFacility.mobile}} 
                                                        </span> -->
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-4">
                            <div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height m-portlet--count-card" style="cursor:auto">
                                <div class="m-portlet__body">
                                    <div class="m-widget3">
                                        <div class="m-widget3__item">
                                            <div class="m-widget3__header">
                                                <div class="m-widget3__user-img">
                                                    <!-- <img alt="" *ngIf="user.user.profilePictureUrl" style="border-radius:100%;" height="80px" width="80px" class="m-widget3__img" [src]="user.user.profilePictureUrl">
                                                    <img alt="" *ngIf="!user.user.profilePictureUrl" class="m-widget3__img" src="./assets/app/media/img/users/user-avatar.png"> -->
                                                    <i class="fa fa-user" style="font-size: 2.3rem; color:00CEC7"></i>
                                                </div>
                                                <div class="m-widget3__info" style="word-break: break-all">
                                                    <span class="m-widget3__time" style="font-size: 1.0rem;color:white">
                                                                {{user.user.firstName}} {{user.user.lastName}}
                                                                </span>
                                                    <br>
                                                    <span class="m-widget3__time" style="font-size: 1.0rem">
                                                                {{user.user.email}} 
                                                        </span>
                                                    <br>
                                                    <span class="m-widget3__time" style="font-size: 1.0rem" *ngIf="user.user.dial_code || user.user.phone">                                            
                                                                <span class="flag_cls flag_{{country_code.toLowerCase()}}"></span> {{user.user.dial_code}} {{user.user.phone}}
                                                    </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="m_datatable" id="script_hub_data" style="margin-top:8px;height:350px;overflow:auto">
                        <p-dataTable [value]="deviceList" *ngIf="deviceList" styleClass="borderless" [rows]="5" [paginator]="true">

                            <p-column field="deviceType" [style]="{'width':'110px'}" [sortable]="true" styleClass="text-left" header="Hub Type">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b>
                                                                            <span>{{device.deviceType}}</span>
                                                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="serialNumber" [style]="{'width':'140px'}" [sortable]="true" styleClass="text-left" header="Serial Number">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <b>
                                                                            <span>{{device.serialNumber}}</span> <br/>
                                                                            
                                                                        </b>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="synchronizedDate" [sortable]="true" [style]="{'width':'145px'}" styleClass="text-left" header="Last Update">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <span>{{device.synchronizedDate}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="updatedStatus" [sortable]="true" [style]="{'width':'145px'}" styleClass="text-left" header="Updated Status">
                                <ng-template let-device="rowData" pTemplate="body">
                                    <div style="text-align : left;">
                                        <span>{{device.updatedStatus}}</span>
                                    </div>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                    <!-- <span *ngIf="viewCustomer">{{selectedFacility.name}}</span> -->
                </div>
            </div>
        </div>


    </div>
</div>