<div class="m-content">
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__body">
                    <div class="m-card-profile" *ngIf="facility">
                        <div class="m-card-profile__title m--hide">
                            Your Profile
                        </div>
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                <img alt="" *ngIf="facility.logo" style="border-radius:100%;" height="80px" width="80px" class="m-widget3__img" [src]="facility.logo">
                                <img alt="" *ngIf="!facility.logo" class="m-widget3__img" height="80px" width="80px" src="./assets/app/media/img/users/customer.png">
                            </div>
                        </div>
                        <div class="m-card-profile__details" style="word-break: break-all" *ngIf="facility">
                            <span class="m-card-profile__name" *ngIf="facility.name">
                                                {{facility.name}} ({{facility.organizationCode}})
                                            </span>
                            <a class="m-card-profile__email m-link" href="" ng-reflect-href="">
                                    {{facility.email}}
                                        </a><br/>
                            <span class="m-card-profile__email">
                                    {{facility.mobile}}
                            </span>
                        </div>
                    </div>
                    <div class="m-portlet__body-separator"></div>
                    <div class="m-widget1 m-widget1--paddingless" style="margin-top:-20px">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        {{"PATIENTS" | translate}}
                                    </h3>
                                    <span class="m-widget1__desc">
                                                    {{"ENROLLED_PATIENTS" | translate}}
                                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand" *ngIf="patientCount">
                                                    {{patientCount}}
                                                    </span>
                                    <span class="m-widget1__number m--font-brand" *ngIf="!patientCount">
                                                    <div class="m-loader m-loader--brand" style="width: 30px; display: inline-block;"></div>             
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        {{"DIAGNOSTICS" | translate}}
                                    </h3>
                                    <span class="m-widget1__desc">
                                                    {{"DIAGNOSTICS_DONE" | translate}}
                                            </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-danger" *ngIf="testsCount">
                                                    {{testsCount}}
                                            </span>
                                    <span class="m-widget1__number m--font-danger" *ngIf="!testsCount">
                                                    <div class="m-loader m-loader--danger" style="width: 30px; display: inline-block;"></div>      
                                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item" (click)="tableSelectClick('user')" style="cursor:pointer">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        {{"USERS" | translate}}
                                    </h3>
                                    <span class="m-widget1__desc">
                                                    {{"ENROLLED_USERS" | translate}}
                                            </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-accent" *ngIf="userCount">
                                            {{userCount}}
                                            </span>
                                    <span class="m-widget1__number m--font-accent" *ngIf="!userCount">
                                        <div class="m-loader m-loader--accent" style="width: 30px; display: inline-block;"></div>      
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item" (click)="tableSelectClick('center')" style="cursor:pointer">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        {{"CENTERS" | translate}}
                                    </h3>
                                    <span class="m-widget1__desc">
                                       {{"Number_of_Center"|translate}}
                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-warning" *ngIf="centerscount">
                                            {{centerscount}}
                                                </span>
                                    <span class="m-widget1__number m--font-warning" *ngIf="!centerscount">
                                            <div class="m-loader m-loader--warning" style="width: 30px; display: inline-block;"></div>      
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item" (click)="tableSelectClick('hub')" style="cursor:pointer">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        {{"HUBS" | translate}}
                                    </h3>
                                    <span class="m-widget1__desc">
                                            {{"ENROLLED_HUBS" | translate}}
                                        </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success" *ngIf="deviceCount">
                                                {{deviceCount}}
                                                    </span>
                                    <span class="m-widget1__number m--font-success" *ngIf="!deviceCount">
                                       <div class="m-loader m-loader--success" style="width: 30px; display: inline-block;"></div>      
                                    </span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8" style="padding:0px">
            <div class="m-portlet" style="min-height:740px">
                <div class="m-portlet__head" style="padding-left:0px">
                    <span class="side-line-header"></span>
                    <div class="m-portlet__head-caption" style="padding-left:25px">
                        <div class="pull-left">
                            <h5 class="m-portlet__head-text">
                                {{"Customer_Details"|translate}}
                            </h5>
                        </div>
                        <div class="row pull-right">
                            <a id="facility_detail_list" routerLink="/facilities/list" class="m-link m-link--state m-link--focus m--font-boldest" *ngIf="currentRole != 'Facility'">
                                <span>
                                    <i class="flaticon-placeholder-1"></i>
                                    <span>
                                        {{"CUSTOMER_LIST" | translate}}
                                    </span>
                                </span>
                            </a>
                            <a id="facility_detail_edit" class="m-link m-link--state m-link--success m--font-boldest" style="margin-left:10px" [routerLink]="['/facilities/update']" [queryParams]="{facilityId: facility.organizationCode}" *ngIf="currentRole != 'Facility' || hasTechnicianRole">
                                <span>
                                    <i class="flaticon-edit-1"></i>
                                    <span>
                                        {{"CUSTOMER_EDIT" | translate}}
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" id="main_ui">
                    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--primary" role="tablist">
                        <li class="nav-item m-tabs__item" (click)="tableSelectClick('user')" style="cursor:pointer">
                            <a class="nav-link m-tabs__link active show" id="user_link" data-toggle="tab" href="#m_tabs_6_1" role="tab" ng-reflect-href="#m_tabs_6_1" aria-selected="true">
                                {{'USER_LIST' | translate}}
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item" (click)="tableSelectClick('center')" style="cursor:pointer">
                            <a class="nav-link m-tabs__link" id="center_link" data-toggle="tab" href="#m_tabs_6_3" role="tab" ng-reflect-href="#m_tabs_6_3" aria-selected="false">
                                                    {{'Center List' | translate}}
                                    </a>
                        </li>
                        <li class="nav-item m-tabs__item" (click)="tableSelectClick('hub')">
                            <a class="nav-link m-tabs__link" id="hub_link" data-toggle="tab" href="#m_tabs_6_4" role="tab" ng-reflect-href="#m_tabs_6_4" aria-selected="false">
                                              {{'HUB_LIST' | translate}}
                                        </a>
                        </li>
                        <li class="nav-item m-tabs__item" (click)="tableSelectClick('map')">
                            <a class="nav-link m-tabs__link" id="map_link" data-toggle="tab" href="#m_tabs_6_5" role="tab" ng-reflect-href="#m_tabs_6_4" aria-selected="false">
                                                  {{'Geolocation for Center' | translate}}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="m_tabs_6_1" role="tabpanel">
                            <p-dataTable [value]="users" styleClass="borderless" [globalFilter]="gb" #dt [responsive]="true">
                                <p-column styleClass="text-center" [header]="'S.No' | translate">
                                    <ng-template let-index="rowIndex" pTemplate="body">
                                        <div style="text-align : center;">
                                            <b>
                                                            <span>{{((pageNo -1) * userRowCount) + (index+1)}}</span>
                                                        </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="firstName" styleClass="text-left" [style]="{'width':'300px'}" [header]="'NAME' | translate">
                                    <ng-template let-user="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>
                                                <div>
                                                    <i class="la la-user" style="color: #656565;"></i>&nbsp;&nbsp;{{user.firstName}} {{user.lastName}}
                                                </div>
                                                <div>
                                                    <i class="fa fa-envelope-o" style="color: #656565; font-size: 14px"></i>&nbsp;&nbsp;{{user.email}}
                                                </div>
                                            </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="roleString" styleClass="text-left" [header]="'ROLE' | translate">
                                    <ng-template let-user="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>
                                                            <span>{{user.roleString}}</span>
                                                        </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="centerName" styleClass="text-left" [header]="'CENTER_NAME' | translate">
                                    <ng-template let-user="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b>
                                                            <span>{{user.centerName}}</span>
                                                        </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column styleClass="text-left" header="User Status">
                                    <ng-template let-user="rowData" pTemplate="body">
                                        <span *ngIf="user.active">
                                                    <span class="m-badge m-badge--success m-badge--wide">
                                                            {{'ACTIVE' | translate}}
                                                    </span>
                                        </span>
                                        <span *ngIf="!user.active">
                                                    <span class="m-badge m-badge--danger m-badge--wide">
                                                            {{'Deactive' | translate}}
                                                    </span>
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column styleClass="text-left" [header]="'VIEW' | translate">
                                    <ng-template let-user="rowData" pTemplate="body">
                                        <div style="text-align : center;">
                                            <span>
                                                <a (click)="userViewPublicFunc(user.id)" class="btn btn-info m-btn m-btn--icon m-btn--icon-only"
                                                    [title]="'VIEW' | translate">
                                                    <i class="la la-eye" style="color:#fff"></i>
                                                </a>                                                    
                                            </span>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <ng-template pTemplate="emptymessage">
                                    <div style="text-align:center">{{"NO_RECORD_FOUND" | translate}}</div>
                                </ng-template>
                            </p-dataTable>
                            <div class="pull-right" style="margin:12px">
                                {{"Total_Records"|translate}}: <b>{{userCount}} </b>
                            </div>
                            <p-paginator [rows]="userRowCount" [totalRecords]="userCount" (onPageChange)="paginate($event)"></p-paginator>

                        </div>
                        <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                            <p-dataTable [value]="centers" styleClass="borderless" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt [responsive]="true">
                                <p-column [style]="{'width':'100px'}" styleClass="text-center" [header]="'S.No' | translate">
                                    <ng-template let-index="rowIndex" pTemplate="body">
                                        <div style="text-align : center;">
                                            <b>
                                                            <span>{{index+1}}</span>
                                                        </b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="name" styleClass="text-left" [header]="'CENTER_NAME' | translate">
                                    <ng-template let-center="rowData" pTemplate="body">
                                        <div style="text-align : left;">
                                            <b> <span>{{center.name}}</span></b>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="deviceType" styleClass="text-left" [header]="'CENTER_CODE' | translate">
                                    <ng-template let-center="rowData" pTemplate="body">
                                        <div style="text-align : left">
                                            <span>{{center.centerCode}}</span>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column styleClass="text-center" [header]="'VIEW' | translate">
                                    <ng-template let-center="rowData" pTemplate="body">
                                        <div style="text-align : center;">
                                            <span>
                                                <a (click)="centerViewPublicFunc(center.id)" class="btn btn-success m-btn m-btn--icon m-btn--icon-only"
                                                    [title]="'VIEW' | translate">
                                                    <i class="la la-eye" style="color:#fff"></i>
                                                </a>                                                    
                                                            </span>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <ng-template pTemplate="emptymessage">
                                    <div style="text-align:center">{{"NO_RECORD_FOUND" | translate}}</div>
                                </ng-template>
                            </p-dataTable>
                            <div class="pull-right">
                                {{"Total_Records"|translate}}: <b>{{centerscount}} </b>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">
                            <div class="m_datatable" id="device_data">
                                <p-dataTable [value]="devices" styleClass="borderless" [globalFilter]="gb" #dt [responsive]="true">
                                    <p-column [style]="{'width':'100px'}" styleClass="text-center" [header]="'S.No' | translate">
                                        <ng-template let-index="rowIndex" pTemplate="body">
                                            <div style="text-align : center;">
                                                <b>
                                                    <span>{{((pageNoHub -1) * hubRowCount) + (index+1)}}</span>
                                                </b>
                                            </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="serialNumber" styleClass="text-left" [header]="'SERIAL_NUMBER' | translate">
                                        <ng-template let-device="rowData" pTemplate="body">
                                            <div style="text-align : left;">
                                                <b> <span>{{device.serialNumber}}</span></b>
                                            </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="deviceType" styleClass="text-left" [header]="'DEVICE_TYPE' | translate">
                                        <ng-template let-device="rowData" pTemplate="body">
                                            <div style="text-align : left">
                                                <b>   <span>{{device.deviceType}}</span> </b>
                                            </div>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="deviceStatus" styleClass="text-left" [header]="'Hub Status' | translate">
                                        <ng-template let-device="rowData" pTemplate="body">
                                            <span *ngIf="device.deviceStatus== 'ACTIVE'">
                                                    <span class="m-badge m-badge--success m-badge--wide">
                                                            {{'ACTIVE' | translate}}
                                                    </span>
                                            </span>
                                            <span *ngIf="device.deviceStatus=='INACTIVE'">
                                                    <span class="m-badge m-badge--danger m-badge--wide">
                                                            {{'Deactive' | translate}}
                                                    </span>
                                            </span>
                                        </ng-template>
                                    </p-column>
                                    <ng-template pTemplate="emptymessage">
                                        <div style="text-align:center">{{"NO_RECORD_FOUND" | translate}}</div>
                                    </ng-template>
                                </p-dataTable>
                                <div class="pull-right" style="margin:12px">
                                    {{"Total_Records"|translate}}: <b>{{deviceCount}} </b>
                                </div>
                                <p-paginator [rows]="hubRowCount" [totalRecords]="deviceCount" (onPageChange)="paginateUnDevices($event)"></p-paginator>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_6_5" role="tabpanel">
                            <div style="text-align:center" *ngIf="noGeo">
                                <span class="text-info m--font-boldest">
                                <i class="flaticon-placeholder"></i>{{'No Geolocation for center' | translate}}</span>
                            </div>
                            <p-gmap [options]="options" [style]="{'width':'100%','height':'600px'}" [overlays]="overlays" (onMapReady)="setMap($event)"></p-gmap>
                        </div>

                    </div>

                </div>
                <div class="m-portlet__body" id="patientchart" style="display:none">
                    <div class="pull-right">
                        <a class="btn btn-brand m-btn m-btn--icon" href="" ng-reflect-href="" (click)="patientClick('back')">
                            <span>
                                <i class="fa fa-chevron-left"></i> 
                                <span>
                                    {{'BACK' | translate}}
                                </span>
                            </span>
                        </a>

                    </div><br/>
                    <br/><br/>
                    <!-- <div class="row">
                        <div class="col-lg-12">
                            
                            <h6 style="text-align:center;text-transform:uppercase">Patient registartion based on customer</h6>

                            <app-amchartcomponent [data]="patientChart" [id]="'patients_chart_customer'" [title]="patient_week" [height]="450" [type]="'patient'"></app-amchartcomponent>
                        </div>
                    </div> -->
                </div>
                <div class="m-portlet__body" id="testchart">
                    <div class="pull-right">
                        <a class="btn btn-brand m-btn m-btn--icon" href="" ng-reflect-href="" (click)="diagnosticClick('back')">
                            <span>
                                <i class="fa fa-chevron-left"></i> 
                                <span>
                                    {{'BACK' | translate}}
                                </span>
                            </span>
                        </a>

                    </div><br/>
                    <br/><br/>
                    <div class="row">
                        <!-- <div class="col-lg-12">                            
                            <h6 style="text-align:center;text-transform:uppercase">Diagnostics done based on customer</h6>
                            <app-amchartcomponent [data]="testChartValue" [graphData]="graphValues" [id]="'tests_chart_week_faci'" [title]="test" [height]="450" [type]="'serial'"></app-amchartcomponent>

                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>